.header {
    margin: 20px 0 40px 0;
    h1 {
        color: #004494;
        font-weight: bold;
    }
    p {
        font-size: 16px;
    }
}

.back-button {
    margin-bottom: 30px;
}

.report {
    border-bottom: 1px solid #c1c1c1;
    padding: 15px 0 15px 0;

 .btn-flat-link {
    margin: 24px 0 0 0;
 }

 h5{
     font-weight: bold;
 }

.fa{
    padding-right: 8px;
    }

}