<custom-wizard-steps [isCustomContent]="true" *ngIf="!(successRegistration || failureRegistration)">
    <ux-wizard-step label="{{ 'beneficiaryRegistration.step1.title' | translate }}" [isCompleted]="completed[0]"
                    [isActive]="active[0]">
        <uxWizardStepCustomContent>
            <beneficiary-registration-step1 [country]="country" [countries]="countries" [(multipleMunicipalities)]="multipleMunicipalities" (countryChange)="selectCountry($event)"
                                            (onNext)="navigate(2)"></beneficiary-registration-step1>
        </uxWizardStepCustomContent>
    </ux-wizard-step>
    <ux-wizard-step label="{{ 'registration.beneficiary.title' | translate }}" [isCompleted]="completed[1]"
                    [isActive]="active[1]">
        <uxWizardStepCustomContent>
            <beneficiary-registration-step2 [country]="country" [laus]="laus" [multipleMunicipalities]="multipleMunicipalities" [(users)]="users" [(municipalities)]="municipalities" (onNext)="navigate(3)"
                                            (onBack)="navigate(1)"></beneficiary-registration-step2>
        </uxWizardStepCustomContent>
    </ux-wizard-step>
    <ux-wizard-step label="{{ 'registration.entity.title' | translate }}" [isCompleted]="completed[2]"
                    [isActive]="active[2]">
        <uxWizardStepCustomContent>
            <!--<beneficiary-registration-step3 [(initialUser)]="initialUser" [(users)]="users"-->
                                            <!--[(multipleMunicipalities)]="multipleMunicipalities" (onNext)="navigate(4)"-->
                                            <!--(onBack)="navigate(2)"></beneficiary-registration-step3>-->
        </uxWizardStepCustomContent>
    </ux-wizard-step>
    <ux-wizard-step label="{{ 'registration.review.title' | translate }}" [isCompleted]="completed[3]"
                    [isActive]="active[3]">
        <uxWizardStepCustomContent>
            <!--<beneficiary-registration-step4 [(municipalities)]="municipalities" (onNext)="submitRegistration()"-->
                                            <!--(onBack)="navigate(3)"-->
                                            <!--(onEdit)="navigate($event)"></beneficiary-registration-step4>-->
        </uxWizardStepCustomContent>
    </ux-wizard-step>
</custom-wizard-steps>
<success-component *ngIf="successRegistration"></success-component>
<failure-component *ngIf="failureRegistration"></failure-component>
