<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:context="http://www.springframework.org/schema/context"
           xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                                   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

        <context:component-scan base-package="wifi4eu.wifi4eu"/>
        <!--context:property-placeholder location="classpath:mail.properties" /-->
        <import resource="classpath:datasourceContext.xml" />        <!-- JNDI on ORACLE / WLS -->
        <!--import resource="classpath:spring-security.xml" /-->

        <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
                <property name="host" value="smtp.sendgrid.net" />
                <property name="port" value="587" />
                <property name="username" value="azure_efe0541f6fda2f126859caac07925571@azure.com" />
                <property name="password" value="BPkn4N7gOHcnUQTRyB35T7.A2W_nPriFG$M" />

                <property name="javaMailProperties">
                        <props>
                                <prop key="mail.transport.protocol">smtp</prop>
                                <prop key="mail.smtp.auth">true</prop>
                                <prop key="mail.smtp.starttls.enable">true</prop>
                                <prop key="mail.debug">false</prop>
                        </props>
                </property>
        </bean>
</beans>
