<!-- <div class="supplier"></div>
<div class="container">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="beneficiaryTitle">{{ 'dgConn.voucher.dashboard' | translate}}</div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="ui-g-6">
                <div class="ui-g-6"><i class="fa fa-paper-plane"></i> {{ 'dgConn.voucher.totalRequest' | translate}} <b>{{totalRequests}}</b>
                </div>
                <div class="ui-g-6"><i class="fa fa-globe"></i> {{ 'dgConn.voucher.totalMemberStates' | translate}} <b>{{countries.length}}</b>
                </div>
            </div>
        </div>
    </div>

    <div class="ui-g  panel-dg">
        <div class="ui-g-12">
            <div class="ui-g-2">
                <p>{{ 'shared.country.label' | translate }}</p>
                <select style="width: 100%" name="chosenCountry" [(ngModel)]="chosenCountry" (change)="chooseCountryApplicationsInfo()">
                    <option selected>-</option>
                    <option [value]="country.label" *ngFor="let country of countries">{{country.label}}</option>
                </select>
            </div>
            <div class="ui-g-2">
                <p>{{ 'dgConn.voucher.maximumVouchers' | translate }}</p>
                <input type="text" value="1000" disabled>
            </div>

            <div class="ui-g-2">
                <p>{{ 'dgConn.voucher.minimumVouchers' | translate }}</p>
                <input type="text" value="0" disabled>
            </div>
            <div class="ui-g-1"></div>
            <div class="ui-g-4">
                <button class="btn btn-primary voucherButtonsSimulate" (click)="displayInfo()">
                    {{ 'dgConn.voucher.simulate' | translate }}
                </button>
                <br>
                <button class="btn btn-primary voucherButtonsCancel">
                    {{ 'dgConn.voucher.cancelAssignment' | translate }}
                </button>

            </div>
        </div>
    </div>

    <hr class="beneficiaryHr">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="beneficiaryTitle">{{ 'dgConn.voucher.dashboard' | translate}}</div>
        </div>
    </div>
    <p-tabView class="white">
        <p-tabPanel *ngFor="let call of calls; let i=index" [header]="'Call '+(i+1)">
            <p-dataTable [value]="shownApplicationsInfo" [editable]="true" [responsive]="true" sortMode="multiple">
                <p-column [sortable]="true" field="countryName"
                          header="{{ 'shared.country.label' | translate}}"></p-column>
                <p-column [sortable]="true" field="municipalityName"
                          header="{{ 'shared.municipality.label' | translate}}"></p-column>
            </p-dataTable>
        </p-tabPanel>
    </p-tabView>
   

    <div class="container font">
        <div class="ui-g-1"></div>
        <p-dialog [(visible)]="displayMessage" [modal]="true" [responsive]="false"
                  [resizable]="false" [draggable]="false" [closeOnEscape]="true">
            <div class="beneficiaryTitle center hiddenScroll">
                {{ 'dgConn.voucher.confirmAssignment' | translate }}
            </div>
            <p class="voucherModal" [innerHTML]="'dgConn.voucher.confirmationAssignmentText' | translate"></p>
            <div class="voucherModal md4Dashboard">
                <button class="btn btn-primary voucherButtonsCancel">
                    {{ 'shared.no' | translate }}
                </button>

                <button class="btn btn-primary voucherButtonsSimulate" (click)="displayInfo()">
                    {{ 'shared.yes' | translate }}
                </button>
            </div>
        </p-dialog>
    </div>
</div>
 -->
<!--MODALS BELOW-->

<div class="voucher-dg-screen">
  <div class="container voucher__assignment">
    <div *ngIf="callsLoaded; else loading;" [@opacityTransition]>
      <div class="row">
        <div class="col-md-12">
          <div style="padding-bottom: 2rem;">
            <a routerLink="../">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
              <span style="padding-left: 5px;">Back</span>
            </a>
          </div>
          <div class="beneficiaryTitle" style="padding-bottom: 3.5rem;">{{ 'dgConn.voucher.dashboard' | translate}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p-tabView (onChange)="handleChange($event)" class="voucher_call_tabs">
            <p-tabPanel *ngFor="let call of calls; let i=index" [header]="'Call '+(i+1)" [@opacityTransition]>
              <div class="row" style="margin-top: 18px;">
                <div class="col-md-4 col-sm-12">
                  <h6>Status</h6>
                  <div style="height: 155px; width: 155px; display: flex; align-items: center; justify-content: center;" class="voucher-status simulation"
                    [class.simulation]="callVoucherAssignment?.status == 1 || callVoucherAssignment?.status == null" [class.pre-save]="callVoucherAssignment?.status == 2"
                    [class.saved]="callVoucherAssignment?.status == 3">
                    <div class="voucher-status-info" style="text-align: center; color: #fff;">
                      <span class="fa fa-info" style="font-size: 2.5rem;border: 2px solid #fff;
                                      width: 50px; height: 50px;padding-top: 7px;border-radius: 100%;
                                      margin: 0 auto;"></span>
                      <span style="font-size: 1.2rem;margin-top: 10px;">Simulation</span><!-- 
                      <span style="font-size: 1.2rem;margin-top: 10px;">Pre-selection <br> List Saved</span>
                      <span style="font-size: 1.2rem;margin-top: 10px;">Final List <br> saved</span> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <h6>Call {{i+1}} information: </h6>
                  <div>
                    <div>
                      <p>
                        <i class="fa fa-university" style="font-size: 20px;"></i>
                        <span>Total of valid applications for the call:
                          <b class="value-voucher-call">{{validApplications.length}}</b>
                        </span>
                      </p>
                    </div>
                    <div>
                      <p>
                        <i class="fa fa-suitcase" style="font-size: 20px;    padding-right: 3px;"></i>
                        <span>Total budget foreseen for the all in EUR:
                          <b class="value-voucher-call">{{call.budget | number}}</b>
                        </span>
                      </p>
                    </div>
                    <div>
                      <p>
                        <i class="fa fa-pie-chart" style="font-size: 20px;    padding-right: 3px;"></i>
                        <span>
                          The % of total budget as a maximum budgeted for each Country:
                          <b class="value-voucher-call">10%</b>
                        </span>
                      </p>
                    </div>
                    <div>
                      <p>
                        <i class="fa fa-ticket" style="font-size: 20px;    padding-right: 4px;"></i>
                        <span>Value of each voucher:
                          <b class="value-voucher-call"> {{call.budgetVoucher | number}}</b>
                        </span>
                      </p>
                    </div>
                    <div>
                      <div class="collection-ticket-icons" style="display: inline-block;padding-right: 25px; ">
                        <i class="fa fa-ticket fa-stroke-width ticket-1"></i>
                        <i class="fa fa-ticket ticket-1"></i>
                        <i class="fa fa-ticket fa-stroke-width ticket-2"></i>
                        <i class="fa fa-ticket ticket-2"></i>
                        <i class="fa fa-ticket fa-stroke-width ticket-3"></i>
                        <i class="fa fa-ticket ticket-3"></i>
                      </div>
                      <span>Total of vouchers foreseen for the call:
                        <b class="value-voucher-call">{{numVoucher[i] | number}}</b>
                      </span>
                    </div>
                    <div>
                      <p>
                        <i class="fa fa-lock" style="font-size: 20px; padding-left: 4px;padding-right: 8px;"></i>
                        <span>Maximum number of reserve vouchers per country:
                          <b class="value-voucher-call">{{calls[i]?.voucherManagements[0]?.reserve ? calls[i]?.voucherManagements[0]?.reserve : '0'}}</b>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 11px;">
                <div class="col-md-12">
                  <span style="font-size: 15px;">
                    Filter by country
                  </span> 
                </div>
              </div>
              <div class="row" style="margin-bottom: 5px;">
                <div class="col-md-6">
                  <select name="s" id="ds"></select>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-primary simulate-button" (click)="simulateVoucherAssignment()">
                    Simulate vouchers
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel-dg panel-dg-voucher panel-padding-no-margin panel-dg-header">
                    <div class="row">
                      <div class="col-md-6">
                        <span class="panel-dg-header-title">
                          Voucher assignment list
                        </span>
                      </div>
                      <div class="col-md-6">
                        <span class="download_pre-selection" [class.disabled]="callVoucherAssignment?.status != 2">
                          <a href="">
                            Download pre-selection list
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel-dg panel-dg-voucher">
                    <p-dataTable #tableVoucher [totalRecords]="2" [value]="callVoucherAssignment?.voucherSimulations" [lazy]="true" [responsive]="true" [paginator]="true"
                      [rowsPerPageOptions]="[20,22]" [totalRecords]="22" [rows]="12">
                      <p-column field="euRank" [sortable]="true" header="EU Rank" styleClass="text-center"></p-column>
                      <p-column field="countryRank" [sortable]="true" header="Country Ranking" styleClass="text-center" [style]="{'width':'18%'}"></p-column>
                      <p-column field="country" [sortable]="true" header="Country" styleClass="text-center"></p-column>
                      <p-column field="municipality.name" [sortable]="true" header="Municipality" styleClass="text-center"></p-column>
                      <p-column field="issues" [sortable]="true" header="Issues" styleClass="text-center"></p-column>
                      <p-column field="numApplications" [sortable]="true" header="Number of registrations" [style]="{'width':'20%'}" styleClass="text-center"></p-column>
                      <p-column header="Action" styleClass="text-center">
                        <ng-template let-rowData="rowData" pTemplate="body">
                          <a href="">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <span>View</span>
                          </a>
                          <a href="">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                            <span>Reject</span>
                          </a>
                        </ng-template>
                      </p-column>
                      <ng-template pTemplate="emptymessage">
                        Custom content goes here
                      </ng-template>
                    </p-dataTable>
                  </div>
                </div>
              </div>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div style="height: 70vh;position: relative;" [@opacityTransition]>
    <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true" style="position:absolute; top: 50%; left: calc(50% - 30px); font-size: 30px; "></i>
  </div>
</ng-template>