<div class="supplier"></div>
<div class="container">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="beneficiaryTitle">{{ 'dgConn.voucher.dashboard' | translate}}</div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="ui-g-6">
                <div class="ui-g-6"><i class="fa fa-paper-plane"></i> {{ 'dgConn.voucher.totalRequest' | translate}} <b>{{applications}}</b>
                </div>
                <div class="ui-g-6"><i class="fa fa-globe"></i> {{ 'dgConn.voucher.totalMemberStates' | translate}} <b>{{municipalities}}</b>
                </div>
            </div>
        </div>
    </div>

    <div class="ui-g  panel-dg">
        <div class="ui-g-12">
            <div class="ui-g-1"></div>
            <div class="ui-g-3">
                <p>{{ 'dgConn.voucher.maximumVouchers' | translate}}</p>
                <input type="text" value="1000" disabled>
            </div>

            <div class="ui-g-3">
                <p>{{ 'dgConn.voucher.minimumVouchers' | translate}}</p>
                <input type="text" value="0" disabled>
            </div>
            <div class="ui-g-1"></div>
            <div class="ui-g-4">
                <button class="btn btn-primary voucherButtonsSimulate">
                    {{ 'dgConn.voucher.simulate' | translate }}
                </button>
                <br>
                <button class="btn btn-primary voucherButtonsCancel">
                    {{ 'dgConn.voucher.cancelAssignment' | translate }}
                </button>

            </div>
        </div>
    </div>

    <hr class="beneficiaryHr">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="beneficiaryTitle">{{ 'dgConn.voucher.dashboard' | translate}}</div>
        </div>
    </div>
    <p-tabView class="white">
        <p-tabPanel *ngFor="let call of calls; let i=index" [header]="'Call '+(i+1)">
            <p-dataTable [value]="call.voucherManagements" [editable]="true" [responsive]="true"
                         sortMode="multiple">
                <p-column [sortable]="true" field="member_state"
                          header="{{ 'dgConn.helpdesk.memberState' | translate}}"></p-column>
                <p-column [sortable]="true" field="minimum"
                          header="{{ 'dgConn.voucher.maximum' | translate}}"></p-column>
                <p-column [sortable]="true" field="maximum"
                          header="{{ 'dgConn.voucher.minimum' | translate}}"></p-column>
                <p-column [sortable]="true" field=""
                          header="{{ 'dgConn.helpdesk.assigned' | translate}}"></p-column>
            </p-dataTable>
        </p-tabPanel>
    </p-tabView>
</div>