<div class="clearfix"></div>
<div class="container">
    <div class="center">
        <p class="beneficiaryTitle labelModal">{{ 'step1.supplier' | translate }}</p>
        <p>{{ 'company.info' | translate }}</p>

        <form #registrationForm="ngForm">
            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-6">
                    <div class="form-group">
                        <label class="label floatLeft" for="name">{{ 'company.name' | translate }}</label>
                        <input class="form-control paddingInput" type="text" [(ngModel)]="supplierDTO.name"
                               name="companyName"
                               ngcontrol="companyName"
                               #companyName="ngModel"
                               placeholder="Everis"
                               required>
                        <div class="alert alert-danger" [hidden]="companyName.valid || companyName.pristine">Company is
                            required
                        </div>
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>

            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-6">
                    <div class="form-group">
                        <label class="label floatLeft" for="address">{{ 'legal.address' | translate }}</label>
                        <input class="form-control paddingInput" type="text"
                               [(ngModel)]="supplierDTO.companyDTO.address"
                               name="legalAddress"
                               ngcontrol="legalAddress"
                               #legalAddress="ngModel"
                               placeholder="Diagonal, 605, 08022, Barcelona"
                               required>
                        <div class="alert alert-danger" [hidden]="legalAddress.valid || legalAddress.pristine">Address
                            is
                            required
                        </div>
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-6">
                    <div class="form-group">
                        <label class="label floatLeft" for="vat">{{ 'vat.label' | translate }}</label>
                        <input class="form-control paddingInput" type="text" [(ngModel)]="supplierDTO.companyDTO.vat"
                               name="vatNumber"
                               ngcontrol="vatNumber"
                               #vatNumber="ngModel"
                               placeholder="000000000"
                               required>
                        <div class="alert alert-danger" [hidden]="vatNumber.valid || vatNumber.pristine">VAT number
                            is
                            required
                        </div>
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-6">
                    <div class="form-group">
                        <label class="label floatLeft" for="bic">{{ 'bic.label' | translate }}</label>
                        <input class="form-control paddingInput" type="text" [(ngModel)]="supplierDTO.companyDTO.bic"
                               name="bic"
                               ngcontrol="bic"
                               #bic="ngModel"
                               placeholder="000000000000"
                               required>
                        <div class="alert alert-danger" [hidden]="bic.valid || bic.pristine">BIC is required
                        </div>
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>

            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-6">
                    <div class="form-group">
                        <label class="label floatLeft" for="bankAccount">{{ 'bank.account' | translate }}</label>
                        <input class="form-control paddingInput" type="text"
                               [(ngModel)]="supplierDTO.companyDTO.accountNumber"
                               name="bankAccount"
                               ngcontrol="bankAccount"
                               #bankAccount="ngModel"
                               placeholder="000000000000000000"
                               required>
                        <div class="alert alert-danger" [hidden]="bankAccount.valid || bankAccount.pristine">Bank
                            account is
                            required
                        </div>
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>

            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-6">
                    <div class="form-group">
                        <label class="label floatLeft" for="website">{{ 'company.web' | translate }}</label>
                        <input class="form-control paddingInput" type="text"
                               [(ngModel)]="supplierDTO.companyDTO.website"
                               name="companyWeb"
                               ngcontrol="companyWeb"
                               #companyWeb="ngModel"
                               placeholder="http://everis.com"
                               required>
                        <div class="alert alert-danger" [hidden]="companyWeb.valid || companyWeb.pristine">Company Web
                            is
                            required
                        </div>
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>

            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-6">
                    <div class="form-group">
                        <!--<label class="label floatLeft" for="companyLogo">{{ 'company.logo' | translate }}</label>-->
                        <!--<p-fileUpload name="demo[]" url="http://localhost:3000/upload" (onUpload)="onUpload($event)"-->
                        <!--multiple="multiple" accept="image/*" maxFileSize="1000000">-->
                        <!--<ng-template pTemplate type="content">-->
                        <!--<ul *ngIf="uploadedFiles.length">-->
                        <!--<li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>-->
                        <!--</ul>-->
                        <!--</ng-template>-->
                        <!--</p-fileUpload>-->
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-4"></div>
                <div class="ui-g-2" style="text-align: center !important">
                    <button type="button" class="btn btn-primary cancel-button">{{ 'cancel.button' | translate
                        }}
                    </button>
                </div>
                <div class="ui-g-2" style="text-align: center !important">
                    <button type="submit" class="btn btn-primary publish-button"
                            [disabled]="!registrationForm.form.valid"
                            (click)="onSubmit(1)">
                        {{ 'confirm.button' | translate }}
                    </button>
                </div>
                <div class="ui-g-4"></div>
            </div>
        </form>
    </div>
</div>