<!-- Title -->
<div id="step2-title" class="ui-g">
    <div class="ui-g-12 center">
        <div id="component-title">
            <h3 class="beneficiaryTitle labelModal">{{ 'suppRegistration.step4.supplier' | translate }}</h3>
        </div>
    </div>
</div>
<div id="step2-instructions" class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-12 center">
        <div id="component-subtitle">
            <h6>{{ 'suppRegistration.review.description' | translate }}</h6>
        </div>
    </div>
</div>
<div class="container">
    <hr class="beneficiaryHr marginHr">

    <div class="ui-g">
        <div class="ui-g-11 ui-md-11 ui-lg-11">
            <p class="beneficiaryMayor">{{ 'suppRegistration.contact.person' | translate }}</p>
        </div>
        <div class="ui-g-1 ui-md-1 ui-lg-1">
            <a (click)="edit(3)">
                <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'shared.edit.button' | translate }}
            </a>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'shared.name.label' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.contactName}}</b></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'shared.surname.label' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.contactSurname}}</b></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'suppRegistration.phone.number' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.contactPhonePrefix}} {{supplier.contactPhoneNumber}}</b>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'shared.email.label' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.contactEmail}}</b></div>
    </div>

    <hr class="beneficiaryHr marginHr">

    <div class="ui-g">
        <div class="ui-g-11 ui-md-11 ui-lg-11">
            <p class="beneficiaryMayor">{{ 'suppRegistration.company.details' | translate }}</p>
        </div>
        <div class="ui-g-1 ui-md-1 ui-lg-1">
            <a (click)="edit(1)">
                <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'shared.edit.button' | translate }}
            </a>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'suppRegistration.company.name' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.name}}</b></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'suppRegistration.legal.address' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.address}}</b></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'suppRegistration.vat.label' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.vat}}</b></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'suppRegistration.company.web' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.website}}</b></div>
    </div>
    <div class="ui-g" *ngIf="supplier.logo != null">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'suppRegistration.company.logo' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><img src="{{logoUrl.result}}" alt="logo" height="60"></div>
    </div>

    <hr class="beneficiaryHr marginHr">

    <div class="ui-g">
        <div class="ui-g-10 ui-md-10 ui-lg-11">
            <p class="beneficiaryMayor">{{ 'suppRegistration.entity.support' | translate }}</p>
        </div>
        <div class="ui-g-1 ui-md-1 ui-lg-1">
            <a (click)="edit(2)">
                <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'shared.edit.button' | translate }}
            </a>
        </div>
        <div class="ui-g-1 ui-md-1"></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <p-tabView *ngIf="selectedCountriesNames.length > 0">
                <p-tabPanel *ngFor="let country of selectedCountriesNames;" [header]="country">
                    <div class="ui-g">
                        <p-dataTable [value]="selectedRegions[country]" [paginator]="true" [rows]="10"
                                     [rowsPerPageOptions]="[10,20,30,40,50]">
                            <p-column field="label" [sortable]="true"></p-column>
                        </p-dataTable>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>

    <hr class="beneficiaryHr marginHr">

    <div class="clearfix"></div>

    <div class="ui-g" style="text-align: left;">
        <span class="ui-lg-1"></span>
        <div class="ui-g-10 ui-md-10 ui-lg-10">
            <label class="ui-g-12 ui-md-12 ui-lg-12" for="check_1">
                {{ 'suppRegistration.eu.requirements' | translate }}
            </label>
        </div>
        <div class="ui-lg-1"></div>
    </div>

    <div class="ui-g" style="text-align: left;">
        <span class="ui-lg-1"></span>
        <div class="ui-g-10 ui-md-10 ui-lg-10">
            <label class="ui-g-12 ui-md-12 ui-lg-12" for="check_3"><input type="checkbox" id="check_3"
                                                                          [(ngModel)]="legalChecks[2]">
                {{ 'suppRegistration.eu.requirementsTitle' | translate }}
            </label>
        </div>

        <div class="ui-lg-1"></div>
    </div>
    <div class="ui-g" style="text-align: left;">
        <span class="ui-lg-1"></span>
        <div class="ui-g-10 ui-md-10 ui-lg-10">
            <label class="ui-g-12 ui-md-12 ui-lg-12" for="check_4"><input type="checkbox" id="check_4"
                                                                          [(ngModel)]="legalChecks[3]">
                {{ 'suppRegistration.eu.requirements2' | translate }}
            </label>
        </div>

        <div class="ui-lg-1"></div>
    </div>
    <div class="ui-g" style="text-align: left;">
        <span class="ui-lg-1"></span>
        <div class="ui-g-10 ui-md-10 ui-lg-10">
            <label class="ui-g-12 ui-md-12 ui-lg-12" for="check_5"><input type="checkbox" id="check_5"
                                                                          [(ngModel)]="legalChecks[4]">
                {{ 'suppRegistration.eu.requirements3' | translate }}
            </label>
        </div>

        <div class="ui-lg-1"></div>
    </div>
    <div class="ui-g" style="text-align: left;">
        <span class="ui-lg-1"></span>
        <div class="ui-g-10 ui-md-10 ui-lg-10">

            <label class="ui-g-12 ui-md-12 ui-lg-12" for="check_2"><input type="checkbox" id="check_2"
                                                                          [(ngModel)]="legalChecks[1]">
                {{ 'suppRegistration.submit.application' | translate }}
            </label>
        </div>

        <div class="ui-lg-1"></div>
    </div>

    <div class=" ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
            <a href="#/home">
                <button type="button" class="btn btn-primary cancel-button">{{ 'shared.cancel.button' | translate }}
                </button>
            </a>
        </div>
        <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
            <button type="submit" class="btn  btn-primary publish-button" (click)="submit()"
                    [disabled]=" !legalChecks[1]|| !legalChecks[2] || !legalChecks[3] || !legalChecks[4]">
                {{ 'shared.confirm.button' | translate}}
            </button>
        </div>
        <div class="ui-lg-3"></div>
    </div>


</div>
<!--MODAL-->

<!--<p-dialog [(visible)]="displayModal" [modal]="true" [responsive]="true" [resizable]="false" [draggable]="false"-->
<!--[closable]="true" [closeOnEscape]="true">-->
<!--<div class="ui-g-8" style="text-align: center !important">-->
<!--</div>-->
<!--<div class="ui-g-2" style="text-align: center !important">-->
<!--<button type="submit" class="btn btn-primary publish-button" (click)="submit()">-->
<!--{{ 'shared.confirm.button' | translate }}-->
<!--</button>-->
<!--</div>-->
<!--<div class="ui-g-2" style="text-align: center !important">-->
<!--</div>-->
<!--</p-dialog>-->

<p-dialog [(visible)]="displayConfirmingData" [modal]="true" [responsive]="true" [resizable]="false" [draggable]="false"
[closable]="false" [closeOnEscape]="false">
<p class="ModalLoaderDots"><span>.</span><span>.</span><span>.</span></p>
<h1 class="Modalh1Confirmation">{{ 'shared.loading.modal.title3' | translate }}</h1>
<p class="ModalpConfirmation">{{ 'shared.loading.modal.registration.text' | translate}}</p>
<p class="ModalpConfirmation">{{ 'shared.loading.modal.dontclose' | translate}}</p>
</p-dialog>