<!-- Title -->
<div id="step2-title" class="ui-g">
    <div class="ui-g-12 center">
        <div id="component-title">
            <h3 class="beneficiaryTitle labelModal">{{ 'suppRegistration.step1.supplier' | translate }}</h3>
        </div>
    </div>
</div>
<!-- Instructions -->
<div id="step2-instructions" class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-12 center">
        <div id="component-subtitle">
            <h6>{{ 'suppRegistration.company.info' | translate }}</h6>
        </div>
    </div>
</div>
<!-- Supplier Form -->
<form #supplierForm="ngForm" (ngSubmit)="submit()">
    <div class="ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="form-group">
                <label class="label" for="name">{{ 'suppRegistration.company.name' | translate }}</label>
                <input class="form-control paddingInput"  maxlength="255" type="text" id="name" name="name"
                       [(ngModel)]="supplier.name" #name="ngModel" (ngModelChange)="checkButtonEnabled($event)" required>
                <div class="alert alert-danger" [hidden]="name.valid || name.pristine">
                    {{'suppregistration.company.required'|translate}}
                </div>
                <div class="ui-lg-3"></div>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="form-group">
                <label class="label" for="address">{{ 'suppRegistration.legal.address' | translate }}</label>
                <input class="form-control paddingInput" maxlength="255" type="text" id="address" name="address"
                       [(ngModel)]="supplier.address" #address="ngModel" (ngModelChange)="checkButtonEnabled($event)" required>
                <div class="alert alert-danger" [hidden]="address.valid || address.pristine">
                    {{'suppRegistration.address.required' | translate}}
                </div>
                <div class="ui-lg-3"></div>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="form-group">
                <label class="label" for="vat">{{ 'suppRegistration.vat.label' | translate }}</label>
                <input class="form-control paddingInput"  maxlength="255" type="text" id="vat" name="vat"
                       [(ngModel)]="supplier.vat" #vat="ngModel" (ngModelChange)="checkButtonEnabled($event)" required>
                <div class="alert alert-danger" [hidden]="vat.valid || vat.pristine">
                    {{'suppRegistration.vat.required' | translate}}
                </div>
                <div class="ui-lg-3"></div>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="form-group">
                <label class="label" for="bic">{{ 'suppRegistration.bic.label' | translate }}</label>
                <input class="form-control paddingInput" type="text" maxlength="255"  id="bic" name="bic"
                       [(ngModel)]="supplier.bic" #bic="ngModel" (ngModelChange)="checkButtonEnabled($event)" required>
                <div class="alert alert-danger" [hidden]="bic.valid || bic.pristine">{{'suppRegistration.bic.required'
                    | translate}}
                </div>
                <div class="ui-lg-3"></div>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="form-group">
                <label class="label" for="accountNumber">{{ 'suppRegistration.bank.account' | translate }}</label>
                <input class="form-control paddingInput" type="text" maxlength="255" id="accountNumber" name="accountNumber"
                       [(ngModel)]="supplier.accountNumber" #accountNumber="ngModel" (ngModelChange)="checkButtonEnabled($event)" required>
                <div class="alert alert-danger" [hidden]="accountNumber.valid || accountNumber.pristine">
                    {{'suppRegistration.bank.required' | translate}}
                </div>
                <div class="ui-lg-3"></div>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="form-group">
                <label class="label" for="website">{{ 'suppRegistration.company.web' | translate }}</label>
                <input class="form-control paddingInput" maxlength="255" type="text" id="website" name="website"
                       [pattern]="websitePattern"
                       [(ngModel)]="supplier.website" #website="ngModel">
                <div class="alert alert-danger" [hidden]="website.valid || website.pristine">
                    {{ 'suppRegistration.webFormat' | translate }}
                </div>
            </div>
        </div>
        <div class="ui-lg-3"></div>
    </div>
    <div class="ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="form-group">
                <label class="label" for="uploadBtn">{{ 'suppRegistration.company.logo' | translate }}</label>
                <br>
                <div class="ui-g-12 left">
                    <div class="fileUpload btn btn-primary">
                        <span>{{ 'suppRegistration.upload.logo' | translate }}</span>
                        <input #logoInput id="uploadBtn" type="file" class="upload" (change)="changeLogo($event)"
                               accept="image/*"/>
                    </div>
                </div>
                <br>
                <div *ngIf="supplier.logo != null" class="ui-g-12"
                     style="border: 1px solid #D5D5D5; background: #ffffff;">
                    <img [src]="logoUrl.result" class="ui-g-3">
                    <div class="ui-g">
                        <span class="ui-g-1"></span>
                        <span class="ui-g-4">{{logoFile.name}}<br>{{logoFile.size/1000}} KB</span>
                        <span class="ui-g-1"></span>
                    </div>
                    <button type="button" class="ui-g-3 btn btn-primary" (click)="clearLogoFile()">
                        {{'shared.clear.label' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
            <a href="#/home">
                <button type="button" class="btn btn-primary cancel-button">{{ 'shared.cancel.button' | translate }}
                </button>
            </a>
        </div>
        <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
            <button type="submit" class="btn btn-primary publish-button" [disabled]="!supplierForm.form.valid || !buttonEnabled">
                {{ 'shared.confirm.button' | translate }}
            </button>
        </div>
        <div class="ui-lg-3"></div>
    </div>
</form>
