<!-- Title -->
<div class="container">
    <div id="step2-title" class="ui-g">
        <div class="ui-g-12 center">
            <div id="component-title">
                <h3 class="beneficiaryTitle labelModal">{{ 'registration.beneficiary.title' | translate }}</h3>
            </div>
        </div>
    </div>
    <!-- Instructions -->
    <div id="step2-instructions" class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12 center">
            <div id="component-subtitle">
                <h6>{{ 'municipalityDetails.text' | translate }}</h6>
            </div>
        </div>
    </div>

    <!--#beneficiaryForm="ngForm"-->
    <form (submit)="submit()">
        <div class="ui-g">
            <div class="ui-g-12">
                <h3 class="beneficiaryTitle">{{ 'mayordetails.title' | translate }}</h3>
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="form-group">
                            <label class="label floatLeft" for="country">{{ 'municipality.label' | translate }}</label>
                            <div class="clearfix"></div>
                            <p-autoComplete id="country" class="form-control" name="country"
                                            placeholder="{{'loading.label' | translate}}"
                                            field="label" disabled forceSelection="true"
                                            required>
                            </p-autoComplete>
                            <!--<div [hidden="country.valid || country.pristine" class="alert alert-danger">Country is required</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-8">
                    <div class="form-group">
                        <label class="label floatLeft" for="address">{{ 'townHall.address' | translate }}</label>
                        <input id="address" type="text" class="form-control paddingInput" name="address"
                               placeholder="Diagonal" required>
                        <!--<div [hidden]="address.valid || address.pristine" class="alert alert-danger">Address is required</div>-->
                    </div>
                </div>
                <div class="ui-g-4">
                    <div class="form-group">
                        <label class="label floatLeft" for="address">{{ 'number.label' | translate }}</label>
                        <input id="numbe" type="text" class="form-control paddingInput" name="address"
                               placeholder="Diagonal" required>
                        <!--<div [hidden]="address.valid || address.pristine" class="alert alert-danger">Address is required</div>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <div class="form-group">
                        <label class="label floatLeft" for="postalCode">{{ 'postal-code.label' | translate }}</label>
                        <input id="postalCode" type="text" class="form-control paddingInput" name="postalCode"
                               placeholder="08022" required>
                        <!--<div class="alert alert-danger" [hidden]="postalCode.valid || postalCode.pristine">Postal code is required</div>-->
                    </div>
                </div>
                <div class="ui-g-8"></div>
            </div>
        </div>


        <!-- Mayor name -->
        <div id="mayor-name" class="form-group ui-g">
            <div class="ui-g-12">
                <label class="label floatLeft">{{ 'nameMayor.label' | translate }}</label>
                <input class="form-control paddingInput" type="text" required>
            </div>
        </div>
        <!-- Mayor last name -->
        <div id="mayor-last-name" class="form-group ui-g">
            <div class="ui-g-12">
                <label class="label floatLeft">{{ 'surnameMayor.label' | translate }}</label>
                <input class="form-control paddingInput" type="text" required>
            </div>
        </div>
        <!-- Mayor email -->
        <div id="mayor-email" class="form-group ui-g">
            <div class="ui-g-12">
                <label class="label floatLeft">{{ 'emailMayor.label' | translate }}</label>
                <input class="form-control paddingInput" type="email"
                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                <label class="field-desc" style="margin-top: 10px;color: gray;">{{
                    'email.fielddesc'
                    | translate }}</label>
            </div>
        </div>
        <!-- Mayor confirmation email -->
        <div id="mayor-confirm-email" class="form-group ui-g">
            <div class="ui-g-12">
                <label class="label floatLeft">{{ 'confirmemailMayor.label' | translate
                    }}</label>
                <input class="form-control paddingInput" type="email" required>
            </div>
        </div>
    </form>

    <div id="navigation-buttons" class="form-group ui-g center">
        <div class="ui-lg-3"></div>
        <div class="ui-g-6 ui-md-6 ui-lg-3">
            <a href="#/home">
                <button type="button" class="btn btn-primary cancel-button">{{ 'back.button' | translate }}</button>
            </a>
        </div>
        <!-- Next button -->
        <div class="ui-g-6 ui-md-6 ui-lg-3">
            <button type="submit" class="btn btn-primary publish-button">{{ 'next.button' | translate }}
            </button>
        </div>
        <div class="ui-lg-3"></div>
    </div>
</div>
<!-- Beneficiary Form -->
<!--<form #beneficiaryForm="ngForm" (submit)="submit()">-->
<!--&lt;!&ndash; Role selector &ndash;&gt;-->
<!--<div id="role-selector" class="form-group ui-g">-->
<!--<div class="ui-lg-3"></div>-->
<!--<div class="ui-g-12 ui-md-12 ui-lg-3 center">-->
<!--<label>-->
<!--<input type="radio" name="mayorOption" class="paddingInput" value="mayor" [checked]="!representing"-->
<!--(change)="checkRepresentative(false)">-->
<!--{{ 'immayor.option' | translate }}-->
<!--</label>-->
<!--</div>-->
<!--<div class="ui-g-12 ui-md-12 ui-lg-3 center">-->
<!--<label>-->
<!--<input type="radio" name="representativeOption" class="paddingInput" value="representative"-->
<!--[checked]="representing" (change)="checkRepresentative(true)">-->
<!--{{ 'imrepresentative.option' | translate }}-->
<!--</label>-->
<!--</div>-->
<!--<div class="ui-lg-3"></div>-->
<!--</div>-->
<!--&lt;!&ndash; Mayor &ndash;&gt;-->
<!--<div id="mayor" *ngIf="!representing">-->
<!--&lt;!&ndash; Separator &ndash;&gt;-->
<!--<div id="mayor-separator" class="form-group ui-g">-->
<!--<div class="ui-g-12 ui-md-12 ui-lg-7 center">-->
<!--<hr>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Title &ndash;&gt;-->
<!--<div id="mayor-title" class="form-group ui-g">-->
<!--<div class="ui-lg-3"></div>-->
<!--<div class="ui-g-12 ui-md-12 ui-lg-6">-->
<!--<h3>{{ 'mayordetails.title' | translate }}</h3>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Mayor treatment &ndash;&gt;-->
<!--<div id="mayor-treatment" class="form-group ui-g">-->
<!--<div class="ui-lg-3"></div>-->
<!--<div class="ui-g-12 ui-md-12 ui-lg-2">-->
<!--<label class="label" for="treatment">{{ 'treatment.label' | translate }}</label>-->
<!--<select class="form-control" name="treatment" id="treatment" [(ngModel)]="mayorUser.treatment" required>-->
<!--<option value="mr">{{ 'treatment.option1' | translate }}</option>-->
<!--<option value="ms">{{ 'treatment.option2' | translate }}</option>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Mayor name &ndash;&gt;-->
<!--<div id="mayor-name" class="form-group ui-g">-->
<!--<div class="ui-lg-3"></div>-->
<!--<div class="ui-g-12 ui-md-12 ui-lg-6">-->
<!--<label class="label" for="name">{{ 'name.label' | translate }}</label>-->
<!--<input class="form-control paddingInput" type="text" name="name" id="name" [(ngModel)]="mayorUser.name"-->
<!--required>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Mayor last name &ndash;&gt;-->
<!--<div id="mayor-last-name" class="form-group ui-g">-->
<!--<div class="ui-lg-3"></div>-->
<!--<div class="ui-g-12 ui-md-12 ui-lg-6">-->
<!--<label class="label" for="surname">{{ 'surname.label' | translate }}</label>-->
<!--<input class="form-control paddingInput" type="text" name="surname" id="surname"-->
<!--[(ngModel)]="mayorUser.surname" required>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Mayor email &ndash;&gt;-->
<!--<div id="mayor-email" class="form-group ui-g">-->
<!--<div class="ui-lg-3"></div>-->
<!--<div class="ui-g-12 ui-md-12 ui-lg-6">-->
<!--<label class="label" for="email">{{ 'email.label' | translate }}</label>-->
<!--<input class="form-control paddingInput" type="email" name="email" id="email"-->
<!--pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="mayorEmails[0]" required>-->
<!--<label for="email" class="field-desc" style="margin-top: 10px;color: gray;">{{ 'email.fielddesc' |-->
<!--translate }}</label>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Mayor confirmation email &ndash;&gt;-->
<!--<div id="mayor-confirm-email" class="form-group ui-g">-->
<!--<div class="ui-lg-3"></div>-->
<!--<div class="ui-g-12 ui-md-12 ui-lg-6">-->
<!--<label class="label" for="confirmemail">{{ 'confirmemail.label' | translate }}</label>-->
<!--<input class="form-control paddingInput" type="email" name="confirmemail" id="confirmemail"-->
<!--pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="mayorEmails[1]"-->
<!--autocomplete="off" required>-->
<!--<div hidden="confirmemail.pristine" class="alert alert-info">The email information must match.</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Representative &ndash;&gt;-->
<!--<div id="representative" *ngIf="representing">-->
<!--&lt;!&ndash; Separator &ndash;&gt;-->
<!--<div id="representative-separator" class="form-group ui-g">-->
<!--<div class="ui-g-12 ui-md-12 ui-lg-7 center">-->
<!--<hr>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Representative title &ndash;&gt;-->
<!--<div id="representative-title" class="form-group ui-g">-->
<!--<div class="ui-lg-3"></div>-->
<!--<div class="ui-g-12 ui-md-12 ui-lg-6">-->
<!--<h3>{{ 'representativedetails.title' | translate }}</h3>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Representative treatment &ndash;&gt;-->
<!--<div id="representative-treatment" class="form-group ui-g">-->
<!--<div class="ui-lg-3"></div>-->
<!--<div class="ui-g-12 ui-md-12 ui-lg-2">-->
<!--<label class="label" for="treatment_representative">{{ 'treatment.label' | translate }}</label>-->
<!--<select class="form-control" name="treatment_representative" id="treatment_representative"-->
<!--[(ngModel)]="representativeUser.treatment" required>-->
<!--<option value="mr">{{ 'treatment.option1' | translate }}</option>-->
<!--<option value="ms">{{ 'treatment.option2' | translate }}</option>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Representative name &ndash;&gt;-->
<!--<div id="representative-name" class="form-group ui-g">-->
<!--<div class="ui-lg-3"></div>-->
<!--<div class="ui-g-12 ui-md-12 ui-lg-6">-->
<!--<label class="label" for="name_representative">{{ 'name.label' | translate }}</label>-->
<!--<input class="form-control paddingInput" type="text" name="name_representative" id="name_representative"-->
<!--[(ngModel)]="representativeUser.name" required>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Representative last name &ndash;&gt;-->
<!--<div id="representative-last-name" class="form-group ui-g">-->
<!--<div class="ui-lg-3"></div>-->
<!--<div class="ui-g-12 ui-md-12 ui-lg-6">-->
<!--<label class="label" for="surname_representative">{{ 'surname.label' | translate }}</label>-->
<!--<input class="form-control paddingInput" type="text" name="surname_representative"-->
<!--id="surname_representative" [(ngModel)]="representativeUser.surname" required>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Representative email &ndash;&gt;-->
<!--<div id="representative-email" class="form-group ui-g">-->
<!--<div class="ui-lg-3"></div>-->
<!--<div class="ui-g-12 ui-md-12 ui-lg-6">-->
<!--<label class="label" for="email_representative">{{ 'email.label' | translate }}</label>-->
<!--<input class="form-control paddingInput" type="email" name="email_representative"-->
<!--id="email_representative" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"-->
<!--[(ngModel)]="representativeEmails[0]" required>-->
<!--<label for="email_representative" class="field-desc" style="margin-top: 10px;color: gray;">{{-->
<!--'email.fielddesc' | translate }}</label>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Representative confirmation email &ndash;&gt;-->
<!--<div id="representative-confirmation-email" class="form-group ui-g">-->
<!--<div class="ui-lg-3"></div>-->
<!--<div class="ui-g-12 ui-md-12 ui-lg-6">-->
<!--<label class="label" for="confirmemail_representative">{{ 'confirmemail.label' | translate }}</label>-->
<!--<input class="form-control paddingInput" type="email" name="confirmemail_representative"-->
<!--id="confirmemail_representative" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"-->
<!--[(ngModel)]="representativeEmails[1]" required>-->
<!--<div hidden="confirmemail_representative.pristine" class="alert alert-info">The email information must-->
<!--match-->
<!--</div>-->
<!--<div hidden="confirmemail_representative.pristine" class="alert alert-danger">The email for the-->
<!--representative must be different from the mayor's-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- Navigation buttons -->
<!--<div id="navigation-buttons" class="form-group ui-g center">-->
<!--<div class="ui-lg-3"></div>-->
<!--<div class="ui-g-6 ui-md-6 ui-lg-3">-->
<!--<a href="#/home">-->
<!--<button type="button" class="btn btn-primary cancel-button">{{ 'back.button' | translate }}</button>-->
<!--</a>-->
<!--</div>-->
<!--&lt;!&ndash; Next button &ndash;&gt;-->
<!--<div class="ui-g-6 ui-md-6 ui-lg-3">-->
<!--<button type="submit" class="btn btn-primary publish-button" [disabled]="!beneficiaryForm.valid">{{-->
<!--'next.button' | translate }}-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->