<!-- Title -->
<div class="container">
    <div id="step2-title" class="ui-g">
        <div class="ui-g-12 center">
            <div id="component-title">
                <h3 class="beneficiaryTitle labelModal">{{ 'registration.beneficiary.title' | translate }}</h3>
            </div>
        </div>
    </div>
    <!-- Instructions -->
    <div id="step2-instructions" class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12 center">
            <div id="component-subtitle">
                <h6>{{ 'municipalityDetails.text' | translate }}</h6>
            </div>
        </div>
    </div>

    <!--#beneficiaryForm="ngForm"-->
    <form (submit)="submit()">
        <div class="ui-g">
            <div class="ui-g-12">
                <h3 class="beneficiaryTitle">{{ 'mayordetails.title' | translate }}</h3>
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="form-group">
                            <label class="label floatLeft" for="country">{{ 'municipality.label' | translate }}</label>
                            <div class="clearfix"></div>
                            <p-autoComplete id="country" class="form-control" name="country"
                                            placeholder="{{'loading.label' | translate}}"
                                            field="label" disabled forceSelection="true"
                                            required>
                            </p-autoComplete>
                            <!--<div [hidden="country.valid || country.pristine" class="alert alert-danger">Country is required</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-8">
                    <div class="form-group">
                        <label class="label floatLeft" for="address">{{ 'townHall.address' | translate }}</label>
                        <input id="address"
                               type="text"
                               class="form-control paddingInput"
                               name="address"
                               min="1"
                               placeholder="Diagonal"
                               required>
                        <!--[(ngModel)]="allBeneficiaries[0].legalEntityDTO.address"-->
                        <!--<div [hidden]="address.valid || address.pristine" class="alert alert-danger">Address is required-->
                    </div>
                </div>

                <div class="ui-g-4">
                    <div class="form-group">
                        <label class="label floatLeft" for="address">{{ 'number.label' | translate }}</label>
                        <input id="number"
                               type="number"
                               class="form-control paddingInput"
                               name="number"
                               placeholder="605"
                               required>
                        <!--[(ngModel)]="allBeneficiaries[0].legalEntityDTO.addressNum"-->
                        <!--<div [hidden]="address.valid || address.pristine" class="alert alert-danger">Address is required</div>-->
                    </div>
                </div>
            </div>
        </div>


        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <div class="form-group">
                        <label class="label floatLeft" for="postalCode">{{ 'postal-code.label' | translate }}</label>
                        <input id="postalCode" type="text" class="form-control paddingInput" name="postalCode"
                               placeholder="08022" required>
                        <!--[(ngModel)]="allBeneficiaries[0].legalEntityDTO.postalCode"-->
                        <!--<div class="alert alert-danger" [hidden]="postalCode.valid || postalCode.pristine">Postal code is required</div>-->
                    </div>
                </div>
                <div class="ui-g-8"></div>
            </div>
        </div>


        <!-- Mayor name -->
        <div id="mayor-name" class="form-group ui-g">
            <div class="ui-g-12">
                <label class="label floatLeft">{{ 'nameMayor.label' | translate }}</label>
                <input class="form-control paddingInput" name="name" id="name" type="text" required>
            </div>
        </div>
        <!-- Mayor last name -->
        <div id="mayor-last-name" class="form-group ui-g">
            <div class="ui-g-12">
                <label class="label floatLeft">{{ 'surnameMayor.label' | translate }}</label>
                <input class="form-control paddingInput" type="text" name="surname" id="surname" required>
                <!--[(ngModel)]="allBeneficiaries[i].mayorDTO.surname"-->
            </div>
        </div>
        <!-- Mayor email -->
        <div id="mayor-email" class="form-group ui-g">
            <div class="ui-g-12">
                <label class="label floatLeft">{{ 'emailMayor.label' | translate }}</label>
                <input class="form-control paddingInput" type="email"
                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                <label class="field-desc" style="margin-top: 10px;color: gray;">{{
                    'email.fielddesc'
                    | translate }}</label>
            </div>
        </div>
        <!-- Mayor confirmation email -->
        <div id="mayor-confirm-email" class="form-group ui-g">
            <div class="ui-g-12">
                <label class="label floatLeft">{{ 'confirmemailMayor.label' | translate
                    }}</label>
                <input class="form-control paddingInput" type="email" name="email" id="email" required>
                <!--[(ngModel)]="allBeneficiaries[i].mayorDTO.email"-->
            </div>
        </div>
    </form>

    <div id="navigation-buttons" class="form-group ui-g center">
        <div class="ui-lg-3"></div>
        <div class="ui-g-6 ui-md-6 ui-lg-3">
            <a href="#/home">
                <button type="button" class="btn btn-primary cancel-button">{{ 'back.button' | translate }}</button>
            </a>
        </div>
        <!-- Next button -->
        <div class="ui-g-6 ui-md-6 ui-lg-3">
            <button type="submit" class="btn btn-primary publish-button" (click)="onSubmit(3)">{{ 'next.button' |
                translate }}
            </button>
        </div>
        <div class="ui-lg-3"></div>
    </div>
</div>
