<!-- Title -->
<div class="container">
    <div id="step2-title" class="ui-g">
        <div class="ui-g-12 center">
            <div id="component-title">
                <h3 class="beneficiaryTitle labelModal">{{ 'registration.beneficiary.title' | translate }}</h3>
            </div>
        </div>
    </div>
    <!-- Instructions -->
    <div id="step2-instructions" class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12 center">
            <div id="component-subtitle">
                <h6>{{ 'municipalityDetails.text' | translate }}</h6>
            </div>
        </div>
    </div>
    <form #municipalityForm="ngForm" (submit)="submit()">
        <ng-container *ngIf="!multipleMunicipalities">
            <div class="ui-g">
                <div class="ui-g-12">
                    <h3 class="beneficiaryTitle">{{ 'mayordetails.title' | translate }}</h3>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <div class="form-group">
                                <label class="label floatLeft" for="municipality">{{ 'municipality.label' | translate
                                    }}</label>
                                <div class="clearfix"></div>
                                <p-autoComplete id="municipality" class="form-control" name="municipality" field="name1"
                                                [(ngModel)]="selectedLaus[0]" [suggestions]="lauSuggestions"
                                                (completeMethod)="search($event, 0)"
                                                (onSelect)="checkMunicipalitiesSelected()"
                                                (input)="checkMunicipalitiesSelected()"></p-autoComplete>
                                <!--<div [hidden="country.valid || country.pristine" class="alert alert-danger">Country is required</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="ui-g-8">
                        <div class="form-group">
                            <label class="label floatLeft" for="address">{{ 'townHall.address' | translate }}</label>
                            <input type="text" class="form-control paddingInput" min="1"
                                   id="address" name="address" [(ngModel)]="addressFields[0]" required>
                        </div>
                    </div>

                    <div class="ui-g-4">
                        <div class="form-group">
                            <label class="label floatLeft" for="address">{{ 'number.label' | translate }}</label>
                            <input type="number" class="form-control paddingInput"
                                   id="addressNum" name="addressNum" [(ngModel)]="addressNumFields[0]" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <div class="form-group">
                            <label class="label floatLeft" for="postalCode">{{ 'postal-code.label' | translate
                                }}</label>
                            <input type="text" class="form-control paddingInput"
                                   id="postalCode" name="postalCode" [(ngModel)]="postalCodeFields[0]" required>
                        </div>
                    </div>
                    <div class="ui-g-8"></div>
                </div>
            </div>

            <!-- Mayor name -->
            <div id="mayor-name" class="form-group ui-g">
                <div class="ui-g-12">
                    <label class="label floatLeft">{{ 'nameMayor.label' | translate }}</label>
                    <input class="form-control paddingInput" type="text" name="name" id="name"
                           [(ngModel)]="mayors[0].name" required>
                </div>
            </div>
            <!-- Mayor last name -->
            <div id="mayor-last-name" class="form-group ui-g">
                <div class="ui-g-12">
                    <label class="label floatLeft">{{ 'surnameMayor.label' | translate }}</label>
                    <input class="form-control paddingInput" type="text" name="surname" id="surname"
                           [(ngModel)]="mayors[0].surname" required>
                </div>
            </div>
            <!-- Mayor email -->
            <div id="mayor-email" class="form-group ui-g">
                <div class="ui-g-12">
                    <label class="label floatLeft">{{ 'emailMayor.label' | translate }}</label>
                    <input class="form-control paddingInput" type="email"
                           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                           [(ngModel)]="mayors[0].email" id="email" name="email" (input)="checkEmailsMatch()" required>
                    <label class="field-desc" style="margin-top: 10px;color: gray;">{{ 'email.fielddesc' | translate
                        }}</label>
                </div>
            </div>
            <!-- Mayor confirmation email -->
            <div id="mayor-confirm-email" class="form-group ui-g">
                <div class="ui-g-12">
                    <label class="label floatLeft">{{ 'confirmemailMayor.label' | translate }}</label>
                    <input class="form-control paddingInput" type="email"
                           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                           name="confirm-email" id="confirm-email" [(ngModel)]="emailConfirmations[0]"
                           (input)="checkEmailsMatch()" (paste)="preventPaste()" required>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="multipleMunicipalities">
            <ux-accordion-boxes>
                <custom-accordion-box *ngFor="let mayor of mayors; let i = index" [isExpanded]="true"
                                      [rightSide]="true">
                    <hr *ngIf="i != 0">
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <h3 class="beneficiaryTitle">{{ 'mayordetails.title' | translate }}</h3>
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <div class="form-group">
                                        <label class="label floatLeft" for="municipality">{{ 'municipality.label' |
                                            translate }}</label>
                                        <div class="clearfix"></div>
                                        <p-autoComplete [id]="'municipality-'+i" [name]="'municipality-'+i"
                                                        class="form-control"
                                                        [(ngModel)]="selectedLaus[i]" field="name1"
                                                        [suggestions]="lauSuggestions"
                                                        (completeMethod)="search($event, i)"
                                                        (onSelect)="checkMunicipalitiesSelected()"
                                                        (input)="checkMunicipalitiesSelected()"></p-autoComplete>
                                        <!--<div [hidden="country.valid || country.pristine" class="alert alert-danger">Country is required</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <div class="ui-g-8">
                                <div class="form-group">
                                    <label class="label floatLeft" for="address">{{ 'townHall.address' | translate
                                        }}</label>
                                    <input type="text" class="form-control paddingInput" min="1"
                                           [id]="'address-'+i" [name]="'address-'+i" [(ngModel)]="addressFields[i]"
                                           required>
                                </div>
                            </div>

                            <div class="ui-g-4">
                                <div class="form-group">
                                    <label class="label floatLeft" for="address">{{ 'number.label' | translate
                                        }}</label>
                                    <input type="number" class="form-control paddingInput"
                                           [id]="'addressNum-'+i" [name]="'addressNum-'+i"
                                           [(ngModel)]="addressNumFields[i]" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <div class="ui-g-4">
                                <div class="form-group">
                                    <label class="label floatLeft" for="postalCode">{{ 'postal-code.label' | translate
                                        }}</label>
                                    <input type="text" class="form-control paddingInput"
                                           [id]="'postalCode-'+i" [name]="'postalCode-'+i"
                                           [(ngModel)]="postalCodeFields[i]" required>
                                </div>
                            </div>
                            <div class="ui-g-8"></div>
                        </div>
                    </div>
                    <!-- Mayor name -->
                    <div [id]="'mayor-name-'+i" class="form-group ui-g">
                        <div class="ui-g-12">
                            <label class="label floatLeft">{{ 'nameMayor.label' | translate }}</label>
                            <input class="form-control paddingInput" [name]="'name-'+i" [id]="'name-'+i" type="text"
                                   [(ngModel)]="mayors[i].name" required>
                        </div>
                    </div>
                    <!-- Mayor last name -->
                    <div [id]="'mayor-last-name-'+i" class="form-group ui-g">
                        <div class="ui-g-12">
                            <label class="label floatLeft">{{ 'surnameMayor.label' | translate }}</label>
                            <input class="form-control paddingInput" type="text" [name]="'surname-'+i"
                                   [id]="'surname-'+i"
                                   [(ngModel)]="mayors[i].surname" required>
                        </div>
                    </div>
                    <!-- Mayor email -->
                    <div [id]="'mayor-email-'+i" class="form-group ui-g">
                        <div class="ui-g-12">
                            <label class="label floatLeft">{{ 'emailMayor.label' | translate }}</label>
                            <input class="form-control paddingInput" type="email"
                                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                   [name]="'email-'+i" [id]="'email-'+i" [(ngModel)]="mayors[i].email" required>
                            <label class="field-desc" style="margin-top: 10px;color: gray;">{{ 'email.fielddesc' |
                                translate }}</label>
                        </div>
                    </div>
                    <!-- Mayor confirmation email -->
                    <div [id]="'mayor-confirm-email-'+i" class="form-group ui-g">
                        <div class="ui-g-12">
                            <label class="label floatLeft">{{ 'confirmemailMayor.label' | translate }}</label>
                            <input class="form-control paddingInput" type="email"
                                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                   [name]="'confirm-email-'+i" [id]="'confirm-email-'+i"
                                   [(ngModel)]="emailConfirmations[i]" required>
                        </div>
                    </div>
                    <div class="form-group ui-g center">
                        <button type="button" (click)="removeMunicipality(i)">Remove municipality</button>
                    </div>
                    <br><br>
                </custom-accordion-box>
            </ux-accordion-boxes>
            <div class="form-group ui-g center">
                <button type="button" (click)="addMunicipality()">Add municipality</button>
            </div>
        </ng-container>
        <div id="navigation-buttons" class="form-group ui-g center">
            <div class="ui-lg-3"></div>
            <div class="ui-g-6 ui-md-6 ui-lg-3">
                <button type="button" class="btn btn-primary cancel-button" (click)="back()">{{ 'back.button' |
                    translate }}
                </button>
            </div>
            <!-- Next button -->
            <div class="ui-g-6 ui-md-6 ui-lg-3">
                <button type="submit" class="btn btn-primary publish-button"
                        [disabled]="!municipalityForm.valid || !municipalitiesSelected || !emailsMatch">
                    {{ 'next.button' | translate }}
                </button>
            </div>
            <div class="ui-lg-3"></div>
        </div>
    </form>
</div>
