<div class="clearfix"></div>
<div class="jumbotron mb-3" style="background-color: transparent;">
    <div class="container center">
        <p class="center beneficiaryTitle">{{ 'dgConn.dgconnect.title' | translate }}</p>
    </div>
</div>
<div class="container center">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <a href="#/dgconn-portal/timeline">
                <div class="center dashboardItem">
                    <img src="assets/images/timeline.png" alt="">
                    <p class="fontDashboard">{{ 'dgConn.timeline.dashboard' | translate }}</p>
                </div>
            </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <a href="#/dgconn-portal/publication">
                <div class="center dashboardItem">
                    <img src="assets/images/icono-2.png" alt="">
                    <p class="fontDashboard">{{ 'dgConn.publication.dashboard' | translate }}</p>
                </div>
            </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <a href="#/dgconn-portal/voucher">
                <div class="center dashboardItem">
                    <img src="assets/images/icono-3.png" alt="">
                    <p class="fontDashboard">{{ 'dgConn.voucher.dashboard' | translate }}</p>
                </div>
            </a>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row rowMarginBottom">
        <div class="col-md-2"></div>
        <div class="col-md-2 md4Dashboard">
            <a href="#/dgconn-portal/">
                <div class="center dashboardItem">
                    <img src="assets/images/icono-4.png" alt="">
                    <p class="fontDashboard">{{ 'dgConn.reporting.dashboard' | translate }}</p>
                </div>
            </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 md4Dashboard">
            <a href="#/dgconn-portal/statistics">
                <div class="center dashboardItem">
                    <img src="assets/images/icono-5.png" alt="">
                    <p class="fontDashboard">{{ 'dgConn.statistics.dashboard' | translate }}</p>
                </div>
            </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 md4Dashboard">
            <a href="#/helpdesk">
                <div class="center dashboardItem">
                    <img src="assets/images/icono-6.png" alt="">
                    <p class="fontDashboard">{{ 'dgConn.helpdesk.dashboard' | translate }}</p>
                </div>
            </a>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
