<div class="content-wrapper">
	<div class="page-title">Monitoring</div>
	<p>Here you can find an overview of the beneficiaries data, and check their status in ABAC</p>
	
	<ux-tabs>
	    <ux-tab label="Call 1"></ux-tab>
	    <ux-tab label="Call 2" [isDisabled]="true"></ux-tab>
	    <ux-tab label="Call 3" [isDisabled]="true"></ux-tab>
	    <ux-tab label="Call 4" [isDisabled]="true"></ux-tab>
	    <ux-tab label="Call 5" [isDisabled]="true"></ux-tab>
	</ux-tabs>
	
	<ux-panel [hasNoHeader]="true">
		<div class="row">
		    <div class="form-group col-md-6">
			    <label for="exampleSelect1">Filter by Country</label>
			    <select class="form-control" id="filter-country">
			    	<option></option>
			    	<option>Not implemented yet...</option>
			    </select>
			</div>
			<div class="form-group col-md-6">
			    <label for="exampleSelect1">Search by municipality</label>
			    <input class="form-control" type="search" id="filter-name">
			</div>
		</div>
	</ux-panel>
	
	<ux-panel label="List of Beneficiaries of Call 1" [hasNoContentPadding]="true">
		<p-table [value]="rows" [paginator]="true" [rows]="20">
		    <ng-template pTemplate="header">
		    	<tr>
		     		<th *ngFor="let col of cols">{{col.header}}</th>
		     	</tr>
		    </ng-template>
		    <ng-template pTemplate="body" let-row>
		        <tr>
		        	<td *ngFor="let col of cols">{{row[col.field]}}</td>
		        </tr>
		    </ng-template>
		</p-table>
	</ux-panel>
	
	<div class="row justify-content-between">
		<div class="col-12"><button class="btn btn-primary pull-right">Counter-sign Grant Agreements</button></div>
	</div>
</div>