<timeline-component></timeline-component>
<div class="clearfix"></div>
<div class="container">
    <p class="Modalh1Confirmation">{{ 'municipalities.list' | translate }}</p>
    <p class="ModalpConfirmation">{{ 'check.municipalities' | translate }}</p>
    <form action="">
        <div class="ui-g-12 white">
            <div class="ui-g-5">
                <p>{{ 'country.label' | translate }}</p><input type="text" placeholder="Prefilled">
            </div>

            <div class="ui-g-5">
                <p> {{ 'province.label' | translate }}</p> <input type="text" placeholder="Prefilled">
            </div>

            <div class="ui-g-2">
                <button (click)="openModal()" class="btn btn-primary">{{ 'search.button' | translate }}
                </button>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-5 ">
                <p class="subTitleCountdown">{{ 'municipalities.awarded' | translate }}</p>
                <div class="whiteNoMargin">
                    <awarded-municipalities></awarded-municipalities>
                </div>
            </div>
            <div class="ui-g-2"></div>
            <div class="ui-g-5">
                <p class="subTitleCountdown">{{ 'municipalities.selected' | translate }}</p>
                <div class="whiteNoMargin">
                    <p-dataTable [value]="issues" [(selection)]="selectedIssues">
                        <p-column field="portal" header="{{ 'municipality.label' | translate }}"
                                  [sortable]="false"></p-column>
                        <p-column field="portal" header="{{ 'country.label' | translate }}"
                                  [sortable]="false"></p-column>
                        <p-column field="portal" header="{{ 'access.point' | translate }}"
                                  [sortable]="false"></p-column>
                    </p-dataTable>
                </div>
            </div>
        </div>
    </form>
</div>