*.ctxt
.mtj.tmp/
hs_err_pid*
*/target/*
**/target/**
**/dist
/build/
/benchpress-build/
.DS_Store
gen_docs.disable
test.disable
regression/temp*.html
performance/temp*.html
*~
*.swp
angular.js.tmproj
node_modules/
bower_components/
angular.xcodeproj
.idea
*.iml
.agignore
.lvimrc
libpeerconnection.log
npm-debug.log
/tmp/
/scripts/bower/bower-*
.vscode
*.log
*.stackdump
**/swagger
**/swagger/**
.vagrant/
*.box
cleanEnv.sh
.settings/
.project
bin
.factorypath
**/.settings/
**/.settings/**
**/.classpath
/LocalDevelopmemt/sql/
/LocalDevelopmemt/tomcat/logs/
/LocalDevelopmemt/tomcat/webapps/
