<!-- Title -->
<div id="step2-title" class="ui-g">
    <div class="ui-g-12 center">
        <div id="component-title">
            <h3 class="beneficiaryTitle labelModal">{{ 'step4.supplier' | translate }}</h3>
        </div>
    </div>
</div>
<div class="container">
    <hr class="beneficiaryHr marginHr">

    <div class="ui-g">
        <div class="ui-g-11 ui-md-11 ui-lg-11">
            <p class="beneficiaryMayor">{{ 'contact.person' | translate }}</p>
        </div>
        <div class="ui-g-1 ui-md-1 ui-lg-1">
            <a (click)="edit(3)">
                <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'edit.button' | translate }}
            </a>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'name.label' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.contactName}}</b></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'surname.label' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.contactSurname}}</b></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'phone.number' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.contactPhonePrefix}} {{supplier.contactPhoneNumber}}</b>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'email.modal' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.contactEmail}}</b></div>
    </div>

    <hr class="beneficiaryHr marginHr">

    <div class="ui-g">
        <div class="ui-g-11 ui-md-11 ui-lg-11">
            <p class="beneficiaryMayor">{{ 'company.details' | translate }}</p>
        </div>
        <div class="ui-g-1 ui-md-1 ui-lg-1">
            <a (click)="edit(1)">
                <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'edit.button' | translate }}
            </a>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'company.name' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.name}}</b></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'legal.address' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.address}}</b></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'vat.label' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.vat}}</b></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'bic.label' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.bic}}</b></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'bank.account' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><b>{{supplier.accountNumber}}</b></div>
    </div>
    <div class="ui-g" *ngIf="supplier.logo != null">
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'logo.label' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7"><img src="{{logoUrl.result}}" alt="logo" height="60"></div>
    </div>

    <hr class="beneficiaryHr marginHr">

    <div class="ui-g">
        <div class="ui-g-10 ui-md-10 ui-lg-11">
            <p class="beneficiaryMayor">{{ 'entity.support' | translate }}</p>
        </div>
        <div class="ui-g-1 ui-md-1 ui-lg-1">
            <a (click)="edit(2)">
                <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'edit.button' | translate }}
            </a>
        </div>
        <div class="ui-g-1 ui-md-1"></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <p-tabView *ngIf="selectedCountriesNames.length > 0">
                <p-tabPanel *ngFor="let country of selectedCountriesNames;" [header]="country">
                    <div class="ui-g">
                        <p-dataTable [value]="selectedRegions[country]" [paginator]="true" [rows]="10"
                                     [rowsPerPageOptions]="[10,20,30,40,50]">
                            <p-column field="label" [sortable]="true"></p-column>
                        </p-dataTable>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>

    <hr class="beneficiaryHr marginHr">

    <div class="clearfix"></div>

    <div class="ui-g" style="text-align: left;">
        <span class="ui-lg-1"></span>
        <div class="ui-g-10 ui-md-10 ui-lg-10">
            <label class="ui-g-12 ui-md-12 ui-lg-12" for="check_1"><input type="checkbox" id="check_1"
                                                                          [(ngModel)]="legalChecks[0]">
                {{ 'eu.requirements' | translate }}
            </label>
        </div>
        <div class="ui-lg-1"></div>
    </div>
    <div class="ui-g" style="text-align: left;">
        <span class="ui-lg-1"></span>
        <div class="ui-g-10 ui-md-10 ui-lg-10">
            <label class="ui-g-12 ui-md-12 ui-lg-12" for="check_2"><input type="checkbox" id="check_2"
                                                                          [(ngModel)]="legalChecks[1]">
                {{ 'submit.application' | translate }}
            </label>
        </div>

        <div class="ui-lg-1"></div>
    </div>

    <div class=" ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
            <a href="#/home">
                <button type="button" class="btn btn-primary cancel-button">{{ 'cancel.button' | translate }}</button>
            </a>
        </div>
        <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
            <button type="submit" class="btn  btn-primary publish-button" (click)="openModal()"
                    [disabled]="!legalChecks[0] || !legalChecks[1]">
                {{ 'confirm.button' | translate}}
            </button>
        </div>
        <div class="ui-lg-3"></div>
    </div>


</div>
<!--MODAL-->

<p-dialog [(visible)]="displayModal" [modal]="true" [responsive]="true" [resizable]="false" [draggable]="false"
          [closable]="true" [closeOnEscape]="true">
    <p class="beneficiaryMayor">{{ 'requirements.head' | translate }}</p>

    <p class="requirementSubitle">Requirement 1</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit lacinia volutpat. Praesent rhoncus
        suscipit aliquet. Ut quis turpis sit amet nibh eleifend lacinia. Aliquam varius blandit luctus. Vestibulum id
        dolor molestie, bibendum nisl quis, mollis risus. Quisque ullamcorper odio ante, tristique cursus arcu dignissim
        ac. </p>
    <p class="requirementSubitle">Requirement 2</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit lacinia volutpat. Praesent rhoncus
        suscipit aliquet. Ut quis turpis sit amet nibh eleifend lacinia. Aliquam varius blandit luctus. Vestibulum id
        dolor molestie, bibendum nisl quis, mollis risus. Quisque ullamcorper odio ante, tristique cursus arcu dignissim
        ac. </p>
    <p class="requirementSubitle">Requirement 3</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit lacinia volutpat. Praesent rhoncus
        suscipit aliquet. Ut quis turpis sit amet nibh eleifend lacinia. Aliquam varius blandit luctus. Vestibulum id
        dolor molestie, bibendum nisl quis, mollis risus. Quisque ullamcorper odio ante, tristique cursus arcu dignissim
        ac. </p>
    <div class="ui-g-2" style="text-align: center !important">
        <button type="submit" class="btn btn-primary publish-button" (click)="submit()">
            {{ 'confirm.button' | translate }}
        </button>
    </div>
</p-dialog>

<p-dialog [(visible)]="displayConfirmingData" [modal]="true" [responsive]="true" [resizable]="false" [draggable]="false"
          [closable]="false" [closeOnEscape]="false">
    <p class="ModalLoaderDots"><span>.</span><span>.</span><span>.</span></p>
    <h1 class="Modalh1Confirmation">{{ 'loading.modal.title3' | translate }}</h1>
    <p class="ModalpConfirmation">{{ 'loading.modal.registration.text' | translate}}</p>
    <p class="ModalpConfirmation">{{ 'loading.modal.dontclose' | translate}}</p>
</p-dialog>