<div class="clearfix"></div>
<div class="jumbotron mb-3" style="background-color: transparent;">
  <div class="container center">
    <p class="center beneficiaryTitle">{{ 'dgConn.duplicatedBeneficiary.title' | translate }}</p>
  </div>
</div>
<div class="container center">
  <div class="panel-dg panel-padding panel-input">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
          <input type="text" [(ngModel)]="inputSearch" (keyup.enter)="filterData(inputSearch)" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-primary" (click)="filterData(inputSearch)" type="button">{{ 'shared.search.button' | translate }}</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-dg">
    <p-dataTable #tableBeneficiary [rowsPerPageOptions]="rowsPerPageOptions" [totalRecords]="registrationList.length" [value]="registrationList"
      [rows]="numberRowsTable" [paginator]="true">
      <p-column field="lau.name1" [sortable]="true" header="{{ 'dgConn.beneficiaries.name' | translate }}" styleClass="text-center"></p-column>
      <p-column field="lau.countryCode" [sortable]="true" header="{{ 'dgConn.beneficiaries.country' | translate }}" styleClass="text-center"></p-column>
      <p-column field="status" [sortable]="true" header="{{ 'dgConn.status' | translate }}" styleClass="text-center">
        <ng-template let-row="rowData" pTemplate="body">
          <!-- <span>{{ row.status ? 'Applied' : 'Registered' }}</span> -->
          <span *ngIf="row.status">{{'dgConn.beneficiaries.applied' | translate }}</span>
          <span *ngIf="!row.status">{{'dgConn.beneficiaries.registered' | translate }}</span>
        </ng-template>
      </p-column>
      <p-column field="issue" [sortable]="true" header="{{ 'dgConn.issues' | translate }}" styleClass="text-center">
        <ng-template let-row="rowData" pTemplate="body">
            <span class="badge badge-warning" *ngIf="row.issue == 1">{{ 'dgConn.badge.warning' | translate }}</span>
            <span class="badge badge-duplicated" *ngIf="row.issue == 2">{{ 'dgConn.badge.duplicated' | translate }}</span>
            <span class="badge badge-success" *ngIf="row.issue == 3">{{ 'dgConn.badge.resolved' | translate }}</span>
            <span class="badge badge-fail" *ngIf="row.issue == 4">{{ 'dgConn.badge.invalid' | translate }}</span>
        </ng-template>
      </p-column>
      <p-column field="numRegistrations" [sortable]="true" header="{{ 'dgConn.beneficiaries.numApplicants' | translate }}" styleClass="text-center"></p-column>
      <p-column field="mediation" [sortable]="true" header="{{ 'dgConn.beneficiaries.mediation' | translate }}" styleClass="text-center">
        <ng-template let-row="rowData" pTemplate="body">
          <span *ngIf="row.mediation">{{ 'dgConn.yes' | translate }}</span>
          <span *ngIf="!row.mediation">{{ 'dgConn.no' | translate }}</span>
        </ng-template>
      </p-column>
      <p-column header="{{ 'dgConn.details' | translate }}" styleClass="text-center">
        <ng-template let-lauData="rowData" pTemplate="body">
          <span [routerLink]="['./', lauData.lau.id]" class="action-label">
            <span class="fa fa-eye"></span> <span>{{ 'dgConn.view' | translate }}</span>
          </span>
        </ng-template>
      </p-column>
      <footer>
        <div style="position: absolute; bottom: 25px; left: 20px;">
          <span>Total records: {{tableBeneficiary.totalRecords}} </span>
        </div>
      </footer>
    </p-dataTable>
  </div>
</div>