<ux-layout-app-shell [isScrollHandlerActive]="true" headerAppFullName="WiFi4EU web portal" headerAppShortName="WiFi4EU - Supp"
    [headerUserInfos]="userInfos" (headerLanguageChanged)="onLanguageChanged($event)" [navBarNotificationLinks]="" [navBarTopMenuLinks]="menuLinks"
    [isFooterStyleInverse]="true">

    <uxAppShellHeaderRightContent>
        <ux-language-selector (languageChanged)="onLanguageChanged($event)"></ux-language-selector>
        <div class="profile-wrapper" isCompact="false">
                <div class="left-panel">
                    <div class="user-infos">
                        <span>
                            {{ 'shared.loggedInAs' | translate }}
                            <strong class="user-name">{{userInfos}} <i class="header-icons fa fa-user"></i></strong>
                        </span>
                        <span class="logout-button">
                            <a (click)="logout()">{{ 'shared.logout' | translate }} <i class="header-icons fas fa-sign-out-alt"></i></a>
                        </span>
                    </div>
                </div>
            </div>
    </uxAppShellHeaderRightContent>

    <uxAppShellFooterContent>
        <ul>
            {{ 'home.footer.update' | translate:{version:"1.8.0-rc11",versionDate:"22/03/2018"} }}
            <li>
                <a (click)="goToTop()">{{ 'home.footer.top' | translate }}</a>
            </li>
        </ul>
    </uxAppShellFooterContent>

</ux-layout-app-shell>