<div class="ui-g">
	<div class="ui-lg-3"></div>
	<div class="ui-lg-6 abac--container">
		<h1>Abac</h1>
		<div class="abac--exporter">
			<p>Export Publications appliers information.
				<i class="fa fa-check" aria-hidden="true" *ngIf="isExportSuccessful && showExportIcon"></i>
				<i class="fa fa-times" aria-hidden="true" *ngIf="!isExportSuccessful && showExportIcon"></i>
				<i class="fa fa-spinner" aria-hidden="true" *ngIf="isExportLoading"></i>
			</p>
			<button class="btn btn-primary" (click)="onExportButton()">
				Export
            </button>
			<p *ngIf="exportErrorMessage"><span class="error--message">Error:</span> {{ exportErrorMessage }}</p>
		</div>
		<div class="abac--validator">
			<p>Import Abac validations results
				<i class="fa fa-check" aria-hidden="true" *ngIf="isImportSuccessful && showImportIcon"></i>
				<i class="fa fa-times" aria-hidden="true" *ngIf="!isImportSuccessful && showImportIcon"></i>
				<i class="fa fa-spinner" aria-hidden="true" *ngIf="isImportLoading"></i>
			</p>
			<input type="file" id="abacValidationFile" (change)="onFileSelection($event)" accept=".json,application/json">
			<p *ngIf="importErrorMessage"><span class="error--message">Error:</span> {{ importErrorMessage }}</p>
		</div>
	</div>
	<div class="ui-lg-3"></div>
</div>
<div class="ui-g">
	<div class="ui-lg-2"></div>
	<div class="ui-lg-8 abac--table">
		<h1>Publication appliers</h1>
		<div class="abac--table--container">
			<div class="publication--selector">
				<select (change)="onPublicationChange($event.target.value)">
					<option>-- Select publication</option>
					<option *ngFor="let pub of publications; let i = index" value="{{ pub.key }}">
						{{ pub.value }}
					</option>
				</select>
			</div>
			<p-dataTable [value]="tableAppliers" *ngIf="tableAppliers">
				<p-column field="municipalityName" header="Municipality"></p-column>
				<p-column field="mayorName" header="Mayor"></p-column>
				<p-column field="supplierName" header="Supplier">
					<template pTemplate="body" let-applier="rowData">
						<span *ngIf="applier.supplierName">{{applier.supplierName}}</span>
						<span *ngIf="!applier.supplierName"><b>-</b></span>
					</template>
				</p-column>
				<p-column field="voucherAwarded" header="Voucher Awarded">
					<template pTemplate="body" let-applier="rowData">
						<i class="fa fa-check" aria-hidden="true" *ngIf="applier.voucherAwarded"></i>
						<i class="fa fa-times" aria-hidden="true" *ngIf="!applier.voucherAwarded"></i>
					</template>
				</p-column>
				<p-column field="lefStatus" header="LEF Validated">
					<template pTemplate="body" let-applier="rowData">
						<i class="fa fa-check" aria-hidden="true" *ngIf="applier.lefStatus == 1" title="Exported: {{applier.lefExportDate | date:'short'}}
Imported: {{applier.lefImportDate | date:'short'}}"></i>
						<i class="fa fa-times" aria-hidden="true" *ngIf="applier.lefStatus == 0" title="Exported: {{applier.lefExportDate | date:'short'}}
Imported: {{applier.lefImportDate | date:'short'}}"></i>
					</template>
				</p-column>
				<p-column field="bcStatus" header="BC Validated">
					<template pTemplate="body" let-applier="rowData">
						<i class="fa fa-check" aria-hidden="true" *ngIf="applier.bcStatus == 1" title="Exported: {{applier.bcExportDate | date:'short'}}
Imported: {{applier.bcImportDate | date:'short'}}"></i>
						<i class="fa fa-times" aria-hidden="true" *ngIf="applier.bcStatus == 0" title="Exported: {{applier.bcExportDate | date:'short'}}
Imported: {{applier.bcImportDate | date:'short'}}"></i>
					</template>
				</p-column>
				<p-column field="lcStatus" header="LC Validated">
					<template pTemplate="body" let-applier="rowData">
						<i class="fa fa-check" aria-hidden="true" *ngIf="applier.lcStatus == 1" title="Exported: {{applier.lcExportDate | date:'short'}}
Imported: {{applier.lcImportDate | date:'short'}}"></i>
						<i class="fa fa-times" aria-hidden="true" *ngIf="applier.lcStatus == 0" title="Exported: {{applier.lcExportDate | date:'short'}}
Imported: {{applier.lcImportDate | date:'short'}}"></i>
					</template>
				</p-column>
				<!--<p-column field="lastAbacMessage" header="Last ABAC Message"></p-column>-->
			</p-dataTable>
		</div>
	</div>
	<div class="ui-lg-2"></div>
</div>

