<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div>
		<h2>Import Legal Entities to ABAC from WIFI4EU files</h2>
		<form method="POST" enctype="multipart/form-data" action="legalEntity/import">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" accept=".csv,text/csv"/></td></tr>
				<tr><td></td><td><input type="submit" value="Import" /></td></tr>
			</table>
		</form>
		<div th:if="${importResult}">
			<h3 th:text="${importResult}"/>
		</div>
	</div>

	<div>
		<h2>Export Legal Entities from ABAC</h2>
		<a href="/legalEntity/export">Click here to get the export file</a></h2>
		<div th:if="${exportResult}">
			<h3 th:text="${exportResult}"/>
		</div>
	</div>

	<div>
		<h2>Show Legal Entities</h2>
		<a href="/legalEntity/show">Click here to show the existing legal entities</a></h2>
		<div th:if="${showResult}">
		<h3 th:utext="${showResult}"/>
		</div>
	</div>

</body>
</html>
