<div class="ui-g">
    <div class="ui-g-12 center">
        <i class="fa fa-check-circle success-failure-icon" style="color: green" aria-hidden="true"></i><br><br>
        <h2 class="beneficiaryTitle">{{ titleKey | translate }}</h2>
        <br>
        <p *ngFor="let textKey of textKeys">
            {{ textKey | translate }}
            <br>
        </p>
        <p *ngIf="emailConfirmation">
            {{ 'submitregistration.success.resendconfirm.part1' | translate }}
            <a (click)="resendEmail()">{{ 'benefRegistration.submitregistration.success.resendconfirm.part2' | translate }}</a>
        </p>
        <br>
        <button class="btn btn-primary" routerLink="/home" routerLinkActive="active">{{ 'backtohome.button' | translate }}
        </button>
    </div>
</div>