<div class="container">
    <div class="ui-g-12" style="margin-top: 1em; font-size: 14px;">
        <a class="link-label" routerLink=".." routerLinkActive="active">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i> {{ 'shared.back.button' | translate }}
        </a>
    </div>
    <div class="ui-g-12">
        <p>
            <span class="beneficiaryTitle">
                {{ 'shared.municipalityDetails.title' | translate }}<span *ngIf="municipalities[0]"> - {{municipalities[0].name}}</span>
            </span>
        </p>
        <p *ngIf="municipalities.length == 0">
            {{ 'dgConn.duplicatedBeneficiaryDetails.noMunicipalitiesFound' | translate }}
        </p>
        <p *ngIf="municipalities.length > 0">
            {{ 'dgConn.duplicatedBeneficiaryDetails.desc' | translate }}
        </p>
    </div>
    <div *ngIf="municipalities.length >= 1">
        <div class="ui-g-12">
            <p *ngIf="municipalities.length == 1" class="beneficiaryMayor">
                {{ 'dgConn.duplicatedBeneficiaryDetails.entity' | translate }}
            </p>
            <p *ngIf="municipalities.length > 1" class="beneficiaryMayor">
                {{ 'dgConn.duplicatedBeneficiaryDetails.entities' | translate }}
            </p>
            <hr class="beneficiaryHr">
            <div *ngFor="let municipality of municipalities; let i = index">
                <div class="row applicantDetailsPanel">
                    <span class="left">
                        <span class="entity-title">
                            {{ 'dgConn.duplicatedBeneficiaryDetails.applicant' | translate }} {{(i + 1)}}
                        </span>
                        <span *ngIf="registrations[i].status == 1" class="entity-subtitle" style="margin-left: 0.5em;">
                            <i class="fa fa-times" style="color: red;"></i> <i>{{ 'dgConn.status.invalid' | translate }}</i>
                        </span>
                        <span *ngIf="registrations[i].status == 2" class="entity-subtitle" style="margin-left: 0.5em;">
                            <i class="fa fa-check" style="color: green;"></i> <i>{{ 'dgConn.status.valid' | translate }}</i>
                        </span>
                        <span *ngIf="registrationIssues[i] == 1 || registrationIssues[i] == 2" class="badge badge-warning"  style="margin-left: 0.5em;">
                            {{ 'dgConn.badge.warning' | translate }} {{ registrationIssues[i] }}
                        </span>
                        <span *ngIf="registrationIssues[i] == 3" class="badge badge-warning-yellow"  style="margin-left: 0.5em;">
                            {{ 'dgConn.badge.warning' | translate }} {{ registrationIssues[i] }}
                        </span>
                    </span>
                    <span class="right">
                        <!--<button type="button" class="btn btn-primary whiteButton-thin" (click)="requestLegalDocuments(i)">-->
                        <!--{{ 'dgConn.duplicatedBeneficiaryDetails.requestDocuments' | translate }}-->
                        <!--</button>-->
                        <button type="button" class="btn redButton" (click)="displayInvalidateModal(i)" [disabled]="registrations[i].status == 1">
                            {{ 'dgConn.duplicatedBeneficiaryDetails.invalidateMunicipality' | translate }}
                        </button>
                    </span>
                </div>
                <div class="row applicantDetailsPanel">
                    <div class="ui-g-6 ui-lg-6 ui-md-8 ui-sm-12">
                        <p class="applicantDetailsNoMargin municipality-name profileData">
                            <span class="ui-g-12">{{ 'benefRegistration.mayor.details' | translate }}</span>
                        </p>
                        <p class="applicantDetailsNoMargin">
                            <span class="ui-g-6">{{ 'shared.name.label' | translate }}</span>
                            <span class="ui-g-6 profileData">{{ mayors[i].name }}</span>
                        </p>
                        <p class="applicantDetailsNoMargin">
                            <span class="ui-g-6">{{ 'shared.surname.label' | translate }}</span>
                            <span class="ui-g-6 profileData">{{ mayors[i].surname }}</span>
                        </p>
                        <p class="applicantDetailsNoMargin">
                            <span class="ui-g-6">{{ 'shared.email.label' | translate }}</span>
                            <span class="ui-g-6 profileData">{{ mayors[i].email }}</span>
                        </p>
                    </div>
                    <div class="ui-g-4 ui-lg-4 ui-md-4 ui-sm-12">
                        <p class="applicantDetailsNoMargin municipality-name profileData">
                            <span class="ui-g-12">{{ 'suppRegistration.legalentity.label' | translate }}</span>
                        </p>
                        <p class="applicantDetailsNoMargin">
                            <span class="ui-g-6">{{ 'shared.country.label' | translate }}</span>
                            <span class="ui-g-6 profileData">{{ municipality.country }}</span>
                        </p>
                        <p class="applicantDetailsNoMargin">
                            <span class="ui-g-6">{{ 'dgConn.beneficiaries.name' | translate }}</span>
                            <span class="ui-g-6 profileData">{{ municipality.name }}</span>
                        </p>
                        <p class="applicantDetailsNoMargin">
                            <span class="ui-g-6">{{ 'benefRegistration.address.label' | translate }}</span>
                            <span class="ui-g-6 profileData">{{ municipality.address }}</span>
                        </p>
                        <p class="applicantDetailsNoMargin">
                            <span class="ui-g-6">{{ 'shared.number.label' | translate }}</span>
                            <span class="ui-g-6 profileData">{{ municipality.addressNum }}</span>
                        </p>
                        <p class="applicantDetailsNoMargin">
                            <span class="ui-g-6">{{ 'shared.postal-code.label' | translate }}</span>
                            <span class="ui-g-6 profileData">{{ municipality.postalCode }}</span>
                        </p>
                    </div>
                    <div class="ui-g-2 ui-lg-2 ui-md-12 ui-sm-12">
                        <p class="applicantDetailsNoMargin municipality-name profileData">
                            <span class="ui-g-12">{{ 'dgConn.duplicatedBeneficiaryDetails.documentation' | translate }}</span>
                        </p>
                        <p class="applicantDetailsNoMargin" *ngIf="!registrations[i].legalFile1 || !registrations[i].legalFile2 || !registrations[i].legalFile3 || !registrations[i].legalFile4">
                            <span class="ui-g-12">{{ 'dgConn.duplicatedBeneficiaryDetails.noDocuments' | translate }}</span>
                        </p>
                        <p class="applicantDetailsNoMargin" *ngFor="let file of legalFiles[i]">
                            <span class="ui-g-12">
                                <i class="fa fa-file-o" aria-hidden="true"></i> {{ 'dgConn.duplicatedBeneficiaryDetails.document' | translate }} {{file.fileType}}<br>
                                <a class="link-label" href="{{fileURL}}{{registrations[i].id}}/{{file.id}}" download>
                                    <i class="fa fa-download" aria-hidden="true"></i> {{ 'shared.download' | translate }}
                                </a>
                            </span>
                        </p>
                       
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="ui-g-12" *ngIf="discussionThread">
            <div *ngIf="discussionThread.messages.length > 0">
                <hr class="beneficiaryHr">
                <p class="beneficiaryMayor">
                    {{ 'discussionForum.discussion' | translate }}
                </p>
                <p>
                    {{ 'dgConn.duplicatedBeneficiaryDetails.searchMessages.Desc' | translate }}
                </p>
                <form #searchMessagesForm="ngForm" (submit)="searchMessages()"
                      class="ux-search-input-container searchInputBlock">
                    <input type="search" name="searchInput" class="searchInput" [(ngModel)]="searchMessagesQuery">
                    <button type="submit" class="btn btn-primary">
                        <b>{{ 'shared.search.button' | translate }}</b>
                    </button>
                </form>
                <div class="discussion-content" *ngFor="let currentMessage of displayedMessages; let i = index">
                    <div class="ui-g discussion-content">
                        <div class="ui-g-12">
                            <div class="ui-g-3 backgroundMessage">
                                <p class="authorMessage">
                                    {{ 'discussionForum.beneficiary.registrationNumber' | translate }}
                                    {{currentMessage.authorId}}
                                </p>
                                <p class="authorTime">{{currentMessage.createDate | date: 'dd/MM/yyyy'}}</p>
                                <p class="authorTime">{{currentMessage.createDate | date: 'HH:mm'}}</p>
                            </div>
                            <div class="ui-g-9 paddingMessages arrow_box">
                                <textarea disabled="disabled" class="messageDiv">{{currentMessage.message}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
<div class="container font">
    <p-dialog [(visible)]="displayInvalidate" [modal]="true" [responsive]="true" [resizable]="false"
              [draggable]="false" [closable]="true" [closeOnEscape]="false" (onAfterHide)="closeModal()">
        <form (ngSubmit)="invalidateMunicipality()" #invalidateConfirmationForm="ngForm">
            <div class="ui-g-12 center">
                <h2 class="beneficiaryMayor">Do you really want to invalidate this registration?</h2>
            </div>
            <div class="ui-g-12 center">
                <div class="ui-g-6">
                    <button type="button" class="btn btn-primary cancel-button"
                            [disabled]="processingRequest" (click)="closeModal()">
                        {{ 'shared.no' | translate }}
                    </button>
                </div>
                <div class="ui-g-6">
                    <button type="submit" class="btn btn-primary publish-button"
                            [disabled]="processingRequest">
                        {{ 'shared.yes' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </p-dialog>
</div>