<!-- Title -->
<div id="step2-title" class="ui-g">
    <div class="ui-g-12 center">
        <div id="component-title">
            <h3 class="beneficiaryTitle labelModal">{{ 'suppRegistration.step2.supplier' | translate }}</h3>
        </div>
    </div>
</div>
<!-- Supplier Region select -->
<div class="container">
    <div class="ui-g">
        <div class="ui-lg-1"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-5">
            <!-- select countries -->
            <label class="label">{{ 'suppRegistration.registration.selectCountry' | translate }}</label>
            <p-multiSelect id="selectCountry" #selectCountry
                           defaultLabel="{{ 'shared.choose.label' | translate }}"
                           [options]="allCountriesSelect" [(ngModel)]="selectedCountries"
                           (onChange)="checkIfRegionsSelected()"></p-multiSelect>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-5">
            <!-- select regions from specific country -->
            <label class="label">{{ 'suppRegistration.registration.chooseAreas' | translate }}</label>
            <p-tabView class="white">
                <p-tabPanel *ngFor="let country of selectedCountries;" [header]="country.label">
                    <div class="ui-g">
                        <p-multiSelect #selectRegions defaultLabel="{{ 'shared.choose.label' | translate }}" id="selectRegions"
                                       [options]="allRegionsSelect[country.label]"
                                       [(ngModel)]="selectedRegions[country.label]"
                                       (onChange)="checkIfRegionsSelected()">
                        </p-multiSelect>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
        <div class="ui-lg-1"></div>
    </div>
</div>
<div id="navigation-buttons" class="form-group ui-g">
    <div class="ui-lg-3"></div>
    <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
        <button type="button" class="btn btn-primary cancel-button" (click)="back()">
            {{ 'shared.back.button' | translate }}
        </button>
    </div>
    <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
        <button type="submit" class="btn btn-primary publish-button" (click)="submit()"
                [disabled]="!areRegionsSelected">
            {{ 'shared.next.button' | translate }}
        </button>
    </div>
    <div class="ui-lg-3"></div>
</div>