<div class="clearfix"></div>
<div class="container">
    <p class="center">
        {{ 'helpdesk.helpdeskform.clickhere.label1' | translate }} <a (click)="expanded = true">{{ 'helpdesk.helpdeskform.clickhere.label2' | translate }}</a>
    </p>
    <br>
    <br>
    <div id="helpdesk-form" *ngIf="expanded">

        <hr class="center" style="padding-bottom: 2em; margin-top: 2em !important;">

        <form *ngIf="!success" (ngSubmit)="sendIssue()" #issueForm="ngForm">
            <div class="ui-g">
                <div class="ui-lg-3"></div>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <label for="topic" class="label floatLeft">{{ 'helpdesk.helpdeskform.selectproblemtype' | translate }}</label>
                    <select class="form-control" name="topic" id="topic" [(ngModel)]="helpdeskIssue.topic" required>
                        <option value="Login">{{ 'helpdesk.helpdeskform.problemtype.option1' | translate }}</option>
                        <option value="Registration">{{ 'helpdesk.helpdeskform.problemtype.option2' | translate }}</option>
                        <option value="Password">{{ 'helpdesk.helpdeskform.problemtype.option3' | translate }}</option>
                        <option value="Other">{{ 'helpdesk.helpdeskform.problemtype.option4' | translate }}</option>
                    </select>
                </div>
                <div class="ui-lg-3"></div>
            </div>
            <div class="ui-g">
                <div class="ui-lg-3"></div>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <label for="problem_desc" class="label floatLeft">{{ 'helpdesk.helpdeskform.describeproblem' | translate }}</label><br/>
                    <textarea id="problem_desc" name="problem_desc" class="form-control"
                              [(ngModel)]="helpdeskIssue.issueSummary" required></textarea>
                </div>
                <div class="ui-lg-3"></div>
            </div>
            <div class="ui-g">
                <div class="ui-lg-3"></div>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <label for="from" class="label floatLeft">{{ 'helpdesk.helpdeskform.youremail' | translate }}</label><br/>
                    <input id="from" type="email" name="from" #from="ngModel" class="form-control" [(ngModel)]="helpdeskIssue.from" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$" required>
                </div>
                <div class="ui-lg-3"></div>
            </div>
            <div class="ui-g">
                <div class="ui-lg-3"></div>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <label for="problem_country" class="label floatLeft">{{ 'shared.country.label' | translate }}</label>
                    <select class="form-control" name="problem_country" id="problem_country" [(ngModel)]="helpdeskIssue.memberState" required>
                        <option selected disabled>Select</option>
                        <option *ngFor="let nut of nuts" [value]="nut.name">{{nut.name}}</option>
                    </select>
                </div>
                <div class="ui-lg-3"></div>
            </div>

            <div class="form-group ui-g">
                <div class="ui-lg-3"></div>
                <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
                    <button (click)="expanded = false" class="right" class="btn btn-primary publish-button">{{ 'shared.close.label' | translate }}</button>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
                    <button type="submit" class="btn btn-primary publish-button" [disabled]="!issueForm.form.valid">{{ 'helpdesk.helpdeskform.sendmessage' | translate }}</button>
                </div>

                <div class="ui-lg-3"></div>
            </div>
        </form>
        <div *ngIf="success">
            <p class="center"><b>{{ 'helpdesk.helpdeskform.success' | translate }}</b></p>
        </div>
        <div class="ui-g-1"></div>
    </div>
</div>
