<div class="container">
    <div class="ui-g-12" style="margin-top: 1em; font-size: 14px;">
        <a class="link-label" routerLink=".." routerLinkActive="active">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'shared.back.button' | translate }}
        </a>
        <p class="beneficiaryTitle">{{ 'dgConn.duplicatedSuppliers.title' | translate }}</p>
    </div>
    <div class="ui-g-12 center">
        <div class="panel-dg panel-padding panel-input">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                        <input type="text" [(ngModel)]="inputSearch" class="form-control"
                               [disabled]="loadingData" (keyup.enter)="searchByName()">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" (click)="searchByName()" type="button" [disabled]="loadingData">
                                <span *ngIf="!loadingData">{{ 'shared.search.button' | translate }}</span>
                                <span *ngIf="loadingData">
                                    <i [@enterSpinner] class="fa fa-spinner loading-icon"></i>
                                </span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-dg">
            <p-dataTable *ngIf="!firstDataDownload" #tableSuppliers [value]="supplierListItems" (onSort)="sortData($event)">
                <p-column field="name" [sortable]="true" header="{{ 'suppRegistration.company.name' | translate }}" styleClass="text-center"></p-column>
                <p-column field="website" [sortable]="true" header="{{ 'suppRegistration.company.web' | translate }}" styleClass="text-center"></p-column>
                <p-column field="vat" [sortable]="true" header="{{ 'suppRegistration.vat.label' | translate }}" styleClass="text-center"></p-column>
                <p-column field="status" [sortable]="false" header="{{ 'dgConn.status' | translate }}" styleClass="text-center">
                    <ng-template let-rowData="rowData" pTemplate="body">
                        <span class="badge badge-success" *ngIf="!rowData.status">{{ 'dgConn.beneficiaries.registered' | translate | uppercase }}</span>
                        <span class="badge badge-fail" *ngIf="rowData.status">{{ 'dgConn.badge.invalid' | translate | uppercase }}</span>
                    </ng-template>
                </p-column>
                <p-column field="numberRegistrations" [sortable]="true" header="{{ 'dgConn.number.registrations' | translate }}" styleClass="text-center"></p-column>
                <p-column [sortable]="false" header="{{ 'dgConn.details' | translate }}" styleClass="text-center">
                    <ng-template let-row="rowData" pTemplate="body">
                    <span [routerLink]="['./', row.id]" routerLinkActive="active" class="action-label">
                        <span class="fa fa-eye"></span> <span>{{ 'dgConn.view' | translate }}</span>
                    </span>
                    </ng-template>
                </p-column>
                <footer>
                    <div style="position: absolute; bottom: 25px; left: 20px;">
                    <span *ngIf="!loadingData">
                        {{ 'dgConn.totalRecords' | translate }}: {{tableSuppliers.totalRecords}}
                    </span>
                        <span *ngIf="loadingData">
                        {{ 'shared.loading.modal.title' | translate }} <i [@enterSpinner] class="fa fa-spinner loading-icon"></i>
                    </span>
                    </div>
                    <p-paginator class="paginator-panel" #paginator (onPageChange)="paginateData($event)"
                                 [rows]="itemsPerPage" [first]="page * itemsPerPage"
                                 [rowsPerPageOptions]="rowsPerPageOptions" [totalRecords]="totalItems">
                    </p-paginator>
                </footer>
            </p-dataTable>
        </div>
    </div>
</div>