<html>
<body>
    <div class="container">
        <br/><br/>
        <font size="5" color="#003366" align="left"><b>Configure global commitments</b></font>
        <br/>
        <span>Loren ipsum dolor sit amet.</span>
        <br/><br/><br/>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-6">
                    <!--p-dataTable [value]="voucherManagementsFirst">
                        <p-column [sortable]="true" field="member_state"
                                  header="{{ 'dgConn.helpdesk.memberState' | translate}}"></p-column>
                        <p-column [sortable]="true" field="minimum"
                                  header="{{ 'dgConn.voucher.minimum' | translate}}"></p-column>
                        <p-column [sortable]="true" field="maximum"
                                  header="{{ 'dgConn.voucher.maximum' | translate}}"></p-column>
                    </p-dataTable-->
                    <p-dataTable [value]="voucherManagementsFirst">
                        <p-column [sortable]="true" field="member_state"
                                  header="Call"></p-column>
                        <p-column [sortable]="true" field="minimum"
                                  header="Global Commitment (with position)"></p-column>
                        <p-column [sortable]="true" field="maximum"
                                  header="Amount"></p-column>
                        <p-column [sortable]="true" field="maximum"
                                  header="Priority"></p-column>
                        <p-column header="Actions"></p-column>
                    </p-dataTable>
                </div>
                <!--<div class="ui-g-6">-->
                    <!--&lt;!&ndash;p-dataTable [value]="voucherManagementsSecond" *ngIf="displayTable">-->
                        <!--<p-column [sortable]="true" field="member_state"-->
                                  <!--header="{{ 'dgConn.helpdesk.memberState' | translate}}"></p-column>-->
                        <!--<p-column [sortable]="true" field="minimum"-->
                                  <!--header="{{ 'dgConn.voucher.minimum' | translate}}"></p-column>-->
                        <!--<p-column [sortable]="true" field="maximum"-->
                                  <!--header="{{ 'dgConn.voucher.maximum' | translate}}"></p-column>-->
                    <!--</p-dataTable&ndash;&gt;-->
                    <!--<p-dataTable [value]="voucherManagementsSecond" *ngIf="displayTable">-->
                        <!--<p-column [sortable]="true" field="member_state"-->
                                  <!--header="{{ 'dgConn.helpdesk.memberState' | translate}}"></p-column>-->
                        <!--<p-column [sortable]="true" field="minimum"-->
                                  <!--header="{{ 'dgConn.voucher.minimum' | translate}}"></p-column>-->
                        <!--<p-column [sortable]="true" field="maximum"-->
                                  <!--header="{{ 'dgConn.voucher.maximum' | translate}}"></p-column>-->
                    <!--</p-dataTable>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</body>
</html>