<div class="clearfix"></div>

<div class="container">
    <div class="form-group ui-g marginTopStats center">
        <div class="ui-g-4">
            <div class="statisticItem">
                <a href="#/dgconn-portal/statistics/first-report">
                    <img class="maxWidth" src="assets/images/noImage.PNG" alt="">
                    <p class="center fontDashboard paddingStatss">{{ 'dgConn.report1.title' | translate }}</p>
                </a>
            </div>
        </div>
        <div class="ui-g-4">
            <div class="statisticItem">
                <a href="#/dgconn-portal/statistics/second-report">
                    <img class="maxWidth" src="assets/images/noImage.PNG" alt="">
                    <p class="center fontDashboard paddingStats">{{ 'dgConn.report3.title' | translate }}</p>
                </a>
            </div>
        </div>
        <div class="ui-g-4">
            <div class="statisticItem">
                <a href="#/dgconn-portal/statistics/third-report">
                    <img class="maxWidth" src="assets/images/noImage.PNG" alt="">
                    <p class="center fontDashboard paddingStats">{{ 'dgConn.report2.title' | translate }}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="form-group ui-g marginTopStats center">
        <div class="ui-g-4">
            <div class="statisticItem">
                <a href="#/dgconn-portal/statistics/fourth-report">
                    <img class="maxWidth" src="assets/images/noImage.PNG" alt="">
                    <p class="center fontDashboard paddingStats">{{ 'dgConn.report4.title' | translate }}</p>
                </a>
            </div>
        </div>
    </div>

    <div class="marginTopStats"></div>
</div>
