p-autocomplete {
  padding: 0 !important;
  border: 0 !important;
}

.ui-autocomplete {
  display: block;
}

.alert.alert-danger {
  background-image: none;
  padding-left: 1rem;
}

.ui-widget-header {
  border: none;
  background: none;
}

.Modalh1Confirmation {
  color: #004494;
  text-align: center;
  font-size: 30px;
  font-family: Verdana;
  font-weight: bold;

}

.ModalpConfirmation {
  text-align: center;
  color: #4a4a4a;
  font-size: 15px;
  font-family: Verdana;
}

.ModalLoaderDots {
  text-align: center;
}

.ModalLoaderDots span {
  font-size: 250px;
  font-family: Times New Roman;
  animation-name: blinkLoaderDots;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  color: #004494;
}

.ModalLoaderDots span:nth-child(2) {
  animation-delay: .2s;
}

.ModalLoaderDots span:nth-child(3) {
  animation-delay: .4s;
}

@keyframes blinkLoaderDots {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.ui-shadow {
  box-shadow: none;
}

$darkish-blue: #004494;
$dark-blue: #254872;
$dark-grey: #262626;
$grey: #515151;
$light-grey: #f4f4f4;

body {
  font-family: verdana;
}

.contenedor {
  margin-left: 8em;
  margin-right: 8em;
}

.first {
  position: relative;
}

#first-background {
  width: 100%;
}

#img-wifi {
  position: absolute;
  bottom: 0;
  max-width: 500px;
  width: 60%;
}

.second {
  background-color: #f5ce23;
  padding-top: 60px;
  margin-bottom: 0;
  margin-top: -70px;

}

.third {
  background-image: url("assets/images/group-5.png");
  height: 444px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.margin-top, .margin-top-right {
  margin-top: 1%;
}

.marginTop {
  margin-top: 2%;
}

.margin-top-right img {
  margin: 0 auto;
  display: block;
  position: relative;
  margin-top: -50px;

}

.title-home {
  font-family: Verdana;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
  color: $dark-blue;
  margin-top: 30px;
}

.subtitle-home {
  font-size: 22px;
  color: $dark-blue;
  font-weight: bold;
}

.normal-text {
  font-size: 18px;
}

.subtitle-italic {
  font-size: 20px;
  font-style: italic;
  color: $dark-blue;
  position: relative;
  z-index: 1;
}

.subtitle-bold-italic {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: $dark-blue;
}

.azul {
  background-color: $dark-blue;
  color: white;
  padding-bottom: 60px;
}

.azul a {
  color: white;
}

.benefit {
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
}

.europeans {
  color: $dark-blue;
  font-size: 34px;
  font-weight: bold;
  margin-top: 40px;
}

.europeans-text {
  font-size: 18px;
  color: $dark-grey;
  margin-top: 30px;
  font-weight: 100;
  position: relative;
  z-index: 1;

}

.entities {
  color: $dark-blue;
  font-size: 34px;
  font-weight: bold;
}

.entities-text {
  font-size: 18px;
  color: $dark-grey;
  margin-top: 29px;
  margin-bottom: 40px;
  font-weight: 100;
}

.video-button {
  background-color: $darkish-blue;
  width: 56%;
  height: 50px;
  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

.mayor {
  background-color: #f5f5f5;
}

.apply {

  font-family: Verdana;
  font-size: 52px;
  font-weight: bold;
  line-height: 1.15;
  color: $darkish-blue;
}

.apply-text {
  font-size: 18px;
  margin-top: 48px;
}

.mayor .row {
  padding-top: 80px;
  padding-bottom: 50px;
  margin-top: -75px;
}

.mayor-title, .supplier {
  font-size: 34px;
  font-weight: bold;
  color: $darkish-blue;
  text-align: center;
}

.supplier {
  margin-bottom: 40px;
}

.mayor-title {
  margin-bottom: 0;
}

.represent {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
  color: $darkish-blue;
  text-align: center;
}

.mayor img {
  display: block;
  margin: 0 auto;
}

.supplier-img {
  margin-top: 20px !important;
}

.information {
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding-top: 55px;
}

.text-information {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}

.white-links {
  font-size: 18px;
  line-height: 1.67;
  color: white;
  text-decoration: underline;
  margin-bottom: 30px;

}

.footer-landing {
  background-color: #dedede;
  font-size: 14px;
  color: #4a4a4a;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer-landing a {
  color: #4a4a4a;
  text-decoration: underline;
}

.footer-landing p {
  margin: 0px;
  text-decoration: none;
}

#main-content {
  padding: 0rem 0rem 3rem 0rem;
}

#img-scnd img {
  margin: 0 auto;
  display: block;
  position: relative;
  margin-top: -131px;
}

@media only screen and (max-width: 1024px) {
  #img-scnd img, #img-europeans img {
    width: 100%;
  }

  .contenedor {
    margin-left: 1em;
    margin-right: 1em;
  }
  .title-home {
    font-size: 44px;
  }
  .second {
    padding-bottom: 32%;
  }
  .supplier-img {
    margin-top: 93px !important;
  }
}

/***ACTIVATION**/

.h2-title {
  font-weight: bold;
  line-height: 0.5 !important;
  padding-top: 2em;
  font-size: 1.8em;
  text-align: center;
}

.label {
  font-size: 1.2em;
  color: #5c5c5c;
  text-align: left;
  margin-top: 1.4em;
  margin-bottom: 0.5em;
}

.smallLetter {
  margin-top: 0;
  color: #969696;
}

.font {
  font-size: 16px;
}

.beneficiaryTitle {
  font-size: 25px;
  font-weight: bold;
  color: $dark-blue;
}

.beneficiaryMayor {
  font-size: 21px;
  font-weight: bold;
  color: $dark-blue;
}

.edit {
  color: $dark-blue;
  font-size: 16px;
}

.beneficiaryHr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  background: none;
}

.button-content {
  border: solid 1px rgba(0, 0, 0, 0.3);
  padding-bottom: 52px;
  padding-left: 18px;
  padding-top: 12px;
  background-color: white;
}

.changePassword {
  margin-top: 0.5em;
  width: 71%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.2em;
  font-weight: bold;
}

.changePasswordModal {
  margin-top: 6em;
  width: 30%;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 1.1em;
  font-weight: bold;
}

.beneficiaryMayorModal {
  font-size: 21px;
  font-weight: bold;
  color: $dark-blue;
  text-align: center;
}

.profileData {
  font-weight: bold;
}

.beneficiaryProfileI {
  width: 32em;
  height: 3em;
}

.forgotPassword {
  font-size: 0.8em;
  color: blue !important;
}

.labelModal {
  margin-top: 1.2em !important;
}

.profileDialog {
  padding: 0em 5em !important;
}

.paddingLegal {
  padding-left: 13em;
}

.dashboardItem {
  height: 19.2em;
  padding-top: 1em;
  background-color: white;
  width: 16em;
  box-shadow: 0 2px 4px 0 rgba(163, 163, 163, 0.5);
}

.dashboardItem:hover {
  box-shadow: 0 2px 16px 0 rgba(128, 128, 128, 0.5);
}

.md4Dashboard {
  margin-top: 5em;
}

.rowMarginBottom {
  margin-bottom: 11em;
}

.fontDashboard {
  padding-top: 2em;
  font-size: 16px;
  color: #333333;
}

.tableTitle {
  margin-top: 5em;
  border-bottom: solid 1px #c1c1c1;
  padding-top: 1.2em;
  padding-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  background-color: white;
}

.h2Table {
  font-weight: bold;
  font-size: 1.4em;
  color: #333333;
  padding-top: 0.5em;
}

.publish-button {
  background-color: #004494;
  width: 15em;
  margin-top: 2em;
  height: 50px;
  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;
}

.cancel-button {
  background-color: #ffffff;
  color: #004494;
  border: solid 2px #004494;
  width: 10em;
  margin-top: 2em;
  height: 50px;
  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;
}

.containerTimeline {
  width: 53em;
  background-color: rgba(215, 215, 215, 0.1);
  border: solid 1px #cecece;
  padding: 0 1em;
  padding-bottom: 1em;
}

.containerTimeline input {
  height: 3.2em;
}

.containerTimeline .form-group {
  margin: 0;

}

.ui-calendar.ui-calendar-w-btn input {
  float: left;
}

.modal-content {
  border: none;
  background-color: transparent;
}

.modal-backdrop.in {
  opacity: 0.95;
  background-color: rgba(255, 255, 255, 1);
}

.modal-header, .modal-footer {
  border-bottom: none;
  border-top: none;
}

.close {
  color: #000;
  opacity: 1;
}

.closeButton, .ui-widget .closeButton:focus {
  background-color: transparent !important;
  float: right !important;
  border: none !important;
  color: #000;
  cursor: pointer;
}

.light-grey {
  background: $light-grey;
  border: solid 1px #e3e3e3;
}

.supplier p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;

}

.white {
  border: solid 1px #e3e3e3;
  background-color: white;
  color: $dark-grey !important;
  margin-top: 3.5em;
}

.white input {
  width: 70%;
  margin: 1em 1em 0em 1em;
}

.white button {
  margin: 1em 0em;
  width: 85%;
  font-weight: bold;
}

.white p {
  display: inline;
}

.marginTop .ui-datatable table thead th {
  font-weight: 100 !important;
  font-family: verdana;
  color: black;
}

.floatLeft {
  float: left;
}