/* You can add global styles to this file, and also import other style files */

p-autocomplete {
  padding: 0 !important;
  border: 0 !important;
}

.ui-autocomplete {
  display: block;
}

.alert.alert-danger {
  background-image: none;
  padding-left: 1rem;
}

.ui-dialog {
  border: none;
  background-color: rgba(255, 0, 0, 0);

}

.ui-widget-header {
  border: none;
  background: none;
}

.Modalh1Confirmation {
  color: #004494;
  text-align: center;
  font-size: 30px;
  font-family: Verdana;
  font-weight: bold;

}

.ModalpConfirmation {
  text-align: center;
  color: #4a4a4a;
  font-size: 15px;
  font-family: Verdana;
}

.ModalLoaderDots {
  text-align: center;
}

.ModalLoaderDots span {
  font-size: 250px;
  font-family: Times New Roman;
  animation-name: blinkLoaderDots;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.ModalLoaderDots span:nth-child(2) {
  animation-delay: .2s;
}

.ModalLoaderDots span:nth-child(3) {
  animation-delay: .4s;
}

@keyframes blinkLoaderDots {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.ui-dialog-mask {
  background: rgba(255, 255, 255, 1) !important;

}

.ui-widget-overlay {
  opacity: 0.9;
}

.ui-shadow {
  box-shadow: none;
}
