<!-- Title -->
<div id="step2-title" class="ui-g">
    <div class="ui-g-12 center">
        <div id="component-title">
            <h3 class="beneficiaryTitle labelModal">{{ 'benefRegistration.registration.entity.title' | translate }}</h3>
        </div>
    </div>
</div>
<!-- Instructions -->
<div id="step2-instructions" class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-12 center">
        <div id="component-subtitle">
            <h6>{{ 'registration.contactInformation' | translate }}</h6>
        </div>
    </div>
</div>

<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g-2"></div>
        <div class="ui-g-8">
            <div *ngIf="!multipleMunicipalities">
                <label>
                    <input type="checkbox" [(ngModel)]="sameDetails" (click)="fillMayorData()"> {{ 'benefRegistration.beneficiaryRegistration.sameDetails' | translate }}
                </label>
            </div>
        </div>
        <div class="ui-g-2"></div>
    </div>
</div>
<ng-container>
    <form #entityForm="ngForm" (submit)="submit()">
        <div class="form-group ui-g">
            <div class="ui-g-12" *ngIf="multipleMunicipalities">
                <div class="ui-g-2"></div>
                <div class="ui-g-8">
                    <div>
                        <label class="label floatLeft" for="associationName">{{ 'benefRegistration.associationName' | translate }}
                        </label>
                        <input id="associationName" type="text" class="form-control paddingInput" name="associationName" [(ngModel)]="associationName"
                         required>
                    </div>
                </div>
                <div class="ui-lg-2"></div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-2"></div>
                <div class="ui-g-8">
                    <h3 class="beneficiaryTitle">{{ 'benefRegistration.yourDetails.title' | translate }}
                    </h3>
                </div>
                <div class="ui-g-2"></div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-2"></div>
                <div class="ui-g-8">
                    <div>
                        <label class="label floatLeft" for="name">{{ 'shared.name.label' | translate }}</label>
                        <input id="nameStep3" type="text" class="form-control paddingInput" name="name" [disabled]="imMayor" [(ngModel)]="initialUser.name"
                        required>
                    </div>
                </div>
                <div class="ui-lg-2"></div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-2"></div>
                <div class="ui-g-8">
                    <div class="form-group">
                        <label class="label floatLeft" for="surname">{{ 'shared.surname.label' | translate }}</label>
                        <input id="surnameStep3" type="text" class="form-control paddingInput" name="surname" [disabled]="imMayor" [(ngModel)]="initialUser.surname"
                        required>
                    </div>
                </div>
                <div class="ui-lg-2"></div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-2"></div>
                <div class="ui-g-4">
                    <label class="label floatLeft" for="address">{{ 'benefRegistration.address.label' | translate }}
                    </label>
                    <input id="addressStep3" type="text" class="form-control paddingInput" name="address" [disabled]="imMayor" [(ngModel)]="initialUser.address"
                     required>
                </div>
                <div class="ui-g-2">
                    <label class="label floatLeft" for="addressNum">
                        {{ 'shared.number.label' | translate }}
                    </label>
                    <input type="text" class="form-control paddingInput" id="addressNumStep3" name="addressNum" [disabled]="imMayor" [(ngModel)]="initialUser.addressNum"
                        required>
                </div>
                <div class="ui-g-2"></div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-2"></div>
                <div class="ui-g-8">
                    <label class="label floatLeft" for="postalCode">
                        {{ 'shared.postal-code.label' | translate }}
                    </label>
                    <input type="text" class="form-control paddingInput" id="postalCodeStep3" name="postalCode" [disabled]="imMayor" [(ngModel)]="initialUser.postalCode"
                    required>
                </div>
                <div class="ui-g-2"></div>
            </div>
            <div class="ui-g-12" *ngIf="!hasEcasEmail">
                <div id="contact-email" class="form-group ui-g">
                    <div class="ui-g-2"></div>
                    <div class="ui-g-8">
                        <label class="label floatLeft">{{ 'shared.email.label' | translate }}</label>
                        <input class="form-control paddingInput" type="email" [pattern]="emailPattern" [disabled]="imMayor" [(ngModel)]="initialUser.ecasEmail"
                             id="emailStep2" name="email"
                               (input)="checkEmailsMatch()" maxlength="254" required>
                        <label class="field-desc" style="margin-top: 10px;color: gray;">
                            {{ 'benefRegistration.email.fielddesc' | translate }}
                        </label>
                    </div>
                    <div class="ui-g-2"></div>
                </div>
                <div id="contact-confirm-email" class="form-group ui-g">
                    <div class="ui-g-2"></div>
                    <div class="ui-g-8">
                        <label class="label floatLeft">{{ 'shared.confirmemail.label' | translate }}</label>
                        <input class="form-control paddingInput {{css_class_email}}" [pattern]="emailPattern" [disabled]="imMayor" [(ngModel)]="repeatEmail"
                               name="confirm-email" id="confirm-emailStep2" type="email"
                               (input)="checkEmailsMatch()" (paste)="preventPaste()"
                               maxlength="254" required>
                    </div>
                    <div class="ui-g-2"></div>
                </div>
            </div>
        </div>

        <div id="navigation-buttons" class="form-group ui-g center">
            <div class="ui-lg-3"></div>
            <div class="ui-g-6 ui-md-6 ui-lg-3">
                <button type="button" class="btn btn-primary cancel-button" (click)="back()">
                    {{ 'shared.back.button' | translate }}
                </button>
            </div>
            <div class="ui-g-6 ui-md-6 ui-lg-3">
                <button type="submit" id="navigate-step4" class="btn btn-primary publish-button" [disabled]="!imMayor && (!entityForm.valid || !userEmailMatches) && !hasEcasEmail">
                    {{ 'shared.next.button' | translate }}
                </button>
            </div>
            <div class="ui-lg-3"></div>
        </div>
    </form>
</ng-container>