.panel{
  margin: 18px;
  background: #fff;
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  border: 1px solid rgba(175, 175, 175, 0.52);
  padding: 30px 50px 20px 50px;
  position: relative;

  & .paddingInput {
    padding: 0.7rem 1rem;
  }

  & > .row{
    margin-bottom: 10px;
  }

  & .row.side-padding{
    padding: 10px 50px 10px 50px;
  }

  & > .row {
    margin-top: 15px;
  }

  & > .row:last-child{
    margin-bottom: 0px;
  }
  
  & > .row select{
    width: 100%;
  }

  .input-row {
    margin-bottom: 1em;
  }

}

.row.hide{
  display: none;
}

.title{
  font-size: 22px;
  color: #254872;
  font-weight: bold;
  font-family: Verdana;
}

.supplier-item{
  padding: 20px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .supplier-item{
    padding: 20px;
   /*  width: 33%;
    min-width: 33%;
    max-width: 33%; */

    width: 25%;
    min-width: 25%;
    max-width: 25%;

    justify-content: center;
    text-align: center;
    font-size: 16px;
  }

.loading-suppliers .line {
    float: left;
    width: calc(25% - 10px);
    margin-right: 10px;
    height: 30px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 7px;
   // background-image: linear-gradient(90deg, #cccccc 0px, #d1d1d1 40px, #cccccc 80px);
    background-image: linear-gradient(90deg, 
    rgb(221, 221, 221) 0px, 
    rgb(232, 232, 232) 40%, 
    rgb(221, 221, 221) 80%);
    background-size: 600px;
    animation: shine-lines 1s infinite ease-out;
  }
}

.supplier-region.ui-datagrid.ui-widget .ui-widget-content{
  border-width: 1px 0px 1px 0px;
  border-color: rgba(239, 239, 239, 0.6);
  margin-bottom: 10px;
}

.label-hidden{
  pointer-events:none;
  font-size: 17px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; 
  color: rgba(0, 0, 0, 0); 
  display:block;
}

.btn-apply{
  background-color: #0053b3; 
  padding: 10px 30px;
}
.label-select{
  font-size: 16px;
  color: #2c2c2c;
}

.subtitle-discover{
  color: #555555;
}

.updated-on{
  color: #979797;
  font-size: 14px;
  font-style: italic;
}

.panel .paginator-panel select{
  width: initial;
} 

.updated-on-loading{
  width: 20%;
  float: left;
  margin: 0px;
  height: 20px;
  border-radius: 2px;
  background-image: linear-gradient(90deg, 
  rgb(221, 221, 221) 0px, 
  rgb(232, 232, 232) 40%, 
  rgb(221, 221, 221) 80%);
  background-size: 600px;
  animation: shine-lines 1.4s infinite linear;
}

@keyframes shine-lines {
  0% {
    background-position: 100%;
  }
  40%, 100% {
  background-position: -50%;
  }
}
