<ux-wizard-steps [isCustomContent]="true" *ngIf="!successRegistration && !failureRegistration">
    <ux-wizard-step label="{{ 'registration.entity.title' | translate }}"
                    [isCompleted]="completed[0]"
                    [isActive]="active[0]">
        <uxWizardStepCustomContent>
            <legal-entity-component [entityDetails]="entityDetails"
                              (onNext)="onNext($event)"
                              (onBack)="onBack($event)"></legal-entity-component>
        </uxWizardStepCustomContent>
    </ux-wizard-step>
    <ux-wizard-step label="{{ 'registration.beneficiary.title' | translate }}"
                    [isCompleted]="completed[1]"
                    [isActive]="active[1]">
        <uxWizardStepCustomContent>
            <beneficiary-component [beneficiaryDetails]="beneficiaryDetails"
                                   (onNext)="onNext($event)"
                                   (onBack)="onBack($event)"></beneficiary-component>
        </uxWizardStepCustomContent>
    </ux-wizard-step>
    <ux-wizard-step label="{{ 'registration.review.title' | translate }}"
                    [isCompleted]="completed[2]"
                    [isActive]="active[2]">
        <uxWizardStepCustomContent>
            <review-component [entityDetails]="entityDetails"
                              [beneficiaryDetails]="beneficiaryDetails"
                              (onNext)="onNext($event)"
                              (gotoStep)="gotoStep($event)" (onSuccess)="onSuccess($event)"
                              (onFailure)="onFailure($event)"></review-component>
        </uxWizardStepCustomContent>
    </ux-wizard-step>
</ux-wizard-steps>
<success-component
        *ngIf="successRegistration"></success-component>
<failure-component *ngIf="failureRegistration"></failure-component>
<failure-component *ngIf="failureRegistration"></failure-component>
