<div class="container">
    <div class="ui-g-12" style="margin-top: 1em; font-size: 14px;">
        <a class="link-label" routerLink=".." routerLinkActive="active">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i> {{ 'shared.back.button' | translate }}
        </a>
        <p class="beneficiaryTitle">{{ 'dgConn.duplicatedBeneficiary.title' | translate }}</p>
    </div>
    <div class="ui-g-12 center">
        <div class="panel-dg panel-padding panel-input">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                        <input type="text" [(ngModel)]="inputSearch" class="form-control"
                               [disabled]="loadingData" (keyup.enter)="inputSearchMunicipalities()">
                        <span class="input-group-btn">
                        <button class="btn btn-primary" (click)="inputSearchMunicipalities()" type="button" [disabled]="loadingData">
                            <span *ngIf="!loadingData">{{ 'shared.search.button' | translate }}</span>
                            <span *ngIf="loadingData">
                                <i [@enterSpinner] class="fa fa-spinner loading-icon"></i>
                            </span>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-dg">
            <div class="ui-g-12" style="padding: 1em 2em;border-bottom: 1px solid #bdbdbd;">
                <!--<span class="left"><b>List of registrations</b>b></span>-->
                <a class="link-label right" [class.link-disabled]="loadingData || downloadingCSV" (click)="exportListCSV()">
                    <i class="fa fa-download" aria-hidden="true"></i> {{ 'shared.download' | translate }} <i *ngIf="downloadingCSV" [@enterSpinner] class="fa fa-spinner loading-icon"></i>
                </a>
            </div>
            <p-dataTable #tableBeneficiary [totalRecords]="totalItems" [value]="beneficiaryListItems" [lazy]="true" (onLazyLoad)="loadData($event)"
                         [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions" [totalRecords]="totalItems" [rows]="itemsPerPage">
                <p-column field="countryCode" [sortable]="true" header="{{ 'dgConn.beneficiaries.country' | translate }}" styleClass="text-center"></p-column>
                <p-column field="name" [sortable]="true" header="{{ 'dgConn.beneficiaries.name' | translate }}" styleClass="text-center"></p-column>
                <p-column field="status" [sortable]="true" header="{{ 'dgConn.status' | translate }}" styleClass="text-center">
                    <ng-template let-row="rowData" pTemplate="body">
                        <span *ngIf="row.status">{{'dgConn.beneficiaries.applied' | translate }}</span>
                        <span *ngIf="!row.status">{{'dgConn.beneficiaries.registered' | translate }}</span>
                    </ng-template>
                </p-column>
                <p-column field="issueStatus" [sortable]="false" header="{{ 'dgConn.issues' | translate }}" styleClass="text-center">
                    <ng-template let-row="rowData" pTemplate="body">
                        <span *ngIf="row.issueStatus == 0">-</span>
                        <span *ngIf="row.issueStatus == 1 || row.issueStatus == 2" class="badge badge-warning">
                            {{ 'dgConn.badge.warning' | translate }} {{ row.issueStatus }}
                        </span>
                        <span *ngIf="row.issueStatus == 3" class="badge badge-warning-yellow">
                            {{ 'dgConn.badge.warning' | translate }} {{ row.issueStatus }}
                        </span>
                    </ng-template>
                </p-column>
                <p-column field="counter" [sortable]="true" header="{{ 'dgConn.number.registrations' | translate }}" styleClass="text-center"></p-column>
                <p-column field="mediation" [sortable]="true" header="{{ 'dgConn.beneficiaries.mediation' | translate }}" styleClass="text-center">
                    <ng-template let-row="rowData" pTemplate="body">
                        <span *ngIf="row.mediation">{{'dgConn.yes' | translate }}</span>
                        <span *ngIf="!row.mediation">{{'dgConn.no' | translate }}</span>
                    </ng-template>
                </p-column>
                <p-column [sortable]="false" header="{{ 'dgConn.details' | translate }}" styleClass="text-center">
                    <ng-template let-row="rowData" pTemplate="body">
                    <span [routerLink]="['./', row.lauId]" class="action-label">
                        <span class="fa fa-eye"></span> <span>{{ 'dgConn.view' | translate }}</span>
                    </span>
                    </ng-template>
                </p-column>
                <footer>
                    <div style="position: absolute; bottom: 25px; left: 20px;">
                    <span *ngIf="!loadingData">
                        {{ 'dgConn.totalRecords' | translate }} {{tableBeneficiary.totalRecords}}
                    </span>
                        <span *ngIf="loadingData">
                        {{ 'shared.loading.modal.title' | translate }} <i [@enterSpinner] class="fa fa-spinner loading-icon"></i>
                    </span>
                    </div>
                </footer>
            </p-dataTable>
        </div>
    </div>
</div>