<ux-layout-app uxTrackScroll>

    <uxLayoutAppMainContainer>

        <ux-layout-app-main>

            <uxLayoutAppMainHeaderContainer>

                <ux-layout-header appFullName="Wifi4EU Free Wifi for Europeans" appShortName="App"
                                  [userInfos]="userInfos" [isCustomRightContent]="true" languageCodes="fr,en">

                    <uxLayoutHeaderRightContent>
                        <ux-language-selector></ux-language-selector>
                        <div class="profile-wrapper" isCompact="false">

                            <div class="left-panel">
                                <div *ngIf="isOnline" class="user-infos">
                                    <span class="wellcomeHeader">Welcome <strong
                                            class="color-primary">Firstname</strong></span>
                                    <button class="headerButton">Logout</button>
                                </div>
                                <div *ngIf="!isOnline" class="user-infos">
                                    <strong class="color-primary">
                                    </strong>
                                    <button class="headerButton" routerLink="/login" routerLinkActive="active">Login
                                    </button>
                                </div>

                            </div>
                        </div>
                    </uxLayoutHeaderRightContent>

                </ux-layout-header>
            </uxLayoutAppMainHeaderContainer>

            <uxLayoutAppMainNavBarContainer>
                <ux-layout-nav-bar>
                    <ux-layout-nav-bar-top-menu [links]="menuLinks"></ux-layout-nav-bar-top-menu>
                    <ux-layout-nav-bar-actions>
                        <ux-layout-nav-bar-action-item iconClass="fa-info-circle">
                            <ul>
                                <li><a>About</a></li>
                                <li><a>Contact</a></li>
                            </ul>
                            <ul>
                                <li><a>Legal notice</a></li>
                                <li><a>...</a></li>
                            </ul>
                        </ux-layout-nav-bar-action-item>

                        <ux-layout-nav-bar-action-item iconClass="fa-search" contentClass="search-bar"
                                                       isHiddenMobile="true">
                            <app-search-input></app-search-input>
                        </ux-layout-nav-bar-action-item>

                        <ux-layout-nav-bar-action-item iconClass="fa-bell" tagCount="{{notifications.length}}">
                            <ux-layout-nav-bar-action-item-notifications
                                    [notifications]="notifications"></ux-layout-nav-bar-action-item-notifications>
                        </ux-layout-nav-bar-action-item>

                        <ux-layout-nav-bar-action-item iconClass="fa-cog" contentClass="auto-width">
                            <ux-layout-nav-bar-action-item-settings></ux-layout-nav-bar-action-item-settings>
                        </ux-layout-nav-bar-action-item>
                        <div *ngIf="isOnline">
                            <ux-layout-nav-bar-action-item iconClass="fa-bars" itemClass="app-menu"
                                                           isOverlayPanel="true"
                                                           userInfos="NAME Firstname"
                                                           [links]="menuLinks"></ux-layout-nav-bar-action-item>
                        </div>
                        <div *ngIf="!isOnline">
                            <div class="clearfix"></div>
                            <ux-layout-nav-bar-action-item iconClass="fa-bars" itemClass="app-menu"
                                                           isOverlayPanel="true"
                                                           [links]="menuLinks"
                                                           userInfos="Login"
                            >Log out
                            </ux-layout-nav-bar-action-item>
                        </div>
                    </ux-layout-nav-bar-actions>

                </ux-layout-nav-bar>
            </uxLayoutAppMainNavBarContainer>

            <uxLayoutAppMainContentContainer>
                <router-outlet></router-outlet>
            </uxLayoutAppMainContentContainer>

            <uxLayoutAppMainFooterContainer>
                <ux-layout-footer isCompact="true">
                    {{ 'home.footer.update' | translate }}<a href="#">{{ 'home.footer.top' | translate }}</a>
                </ux-layout-footer>
            </uxLayoutAppMainFooterContainer>

        </ux-layout-app-main>

    </uxLayoutAppMainContainer>

</ux-layout-app>