
.panelItem {
  padding: 2em;
  min-height: 15em;
  width: 96%;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(163, 163, 163, 0.5);
  cursor: pointer;
}

.panelItem:hover {
  box-shadow: 0 2px 16px 0 rgba(128, 128, 128, 0.5);
}

.panelDisabled {
  background-color: #e4e4e4;
  color: #838383;
  cursor: not-allowed;
}