<div class="ui-g">
    <div class="ui-g-12 center">
        <i class="fa fa-times-circle success-failure-icon" aria-hidden="true"></i><br>
        <h2>{{ titleKey | translate }}</h2>
        <br>
        <p *ngFor="let textKey of textKeys">
            {{ textKey | translate }}
            <br>
        </p>
        <br>
        <button class="btn btn-primary" routerLink="/home" routerLinkActive="active">
            {{ 'shared.backtohome.button' | translate }}
        </button>
    </div>
</div>