<!-- Title -->
<div class="container">
    <div id="step3-title" class="ui-g">
        <div class="ui-g-12 center">
            <div id="component-title">
                <h3 class="beneficiaryTitle labelModal">{{ 'registration.review.title' | translate }}</h3>
            </div>
        </div>
    </div>
    <!-- Instructions -->
    <div id="step2-instructions" class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12 center">
            <div id="component-subtitle">
                <h6>{{ 'registration.step3.instructions' | translate }}</h6>
            </div>
        </div>
    </div>
    <!-- Review content -->


    <div class="ui-g-12 ui-md-12 ui-lg-12 center">
        <div *ngIf="country" id="registration_details" class="ui-g-12 ui-md-12 ui-lg-12">
            <hr>
            <span class="ui-lg-1"></span>
            <span class="ui-g-12 ui-md-12 ui-lg-12" style="text-align: left;">
                <p class="ui-g-11 ui-md-11 ui-lg-11 beneficiaryMayor">{{ 'typeOfRegistration.title' | translate }}</p>
                <a class="ui-g-1 ui-md-1 ui-lg-1" (click)="edit(1)">{{ 'edit.button' | translate }} <i
                        class="fa fa-pencil" aria-hidden="true"></i></a>
                <div>
                    <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'country.label' | translate }}</span>
                    <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ country.label }}</b></span>
                </div>
                <div>
                    <span *ngIf="!multipleMunicipalities" class="ui-g-12 ui-md-12 ui-lg-4">{{ 'beneficiaryRegistration.step1.option1' | translate }}</span>
                    <span *ngIf="multipleMunicipalities" class="ui-g-12 ui-md-12 ui-lg-4">{{ 'beneficiaryRegistration.step1.option2' | translate }}</span>
                </div>
            </span>
            <span class="ui-lg-1"></span>
        </div>
        <div id="municipality_details" class="ui-g-12 ui-md-12 ui-lg-12">
            <hr>
            <ng-container *ngIf="!multipleMunicipalities">
                <span class="ui-lg-1"></span>
                <span class="ui-g-12 ui-md-12 ui-lg-12" style="text-align: left;">
                    <p class="ui-g-11 ui-md-11 ui-lg-11 beneficiaryMayor">{{ 'municipalityDetails.title' | translate }}</p>
                    <a class="ui-g-1 ui-md-1 ui-lg-1" (click)="edit(2)">{{ 'edit.button' | translate }} <i
                            class="fa fa-pencil" aria-hidden="true"></i></a>
                    <div>
                        <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'municipality.label' | translate }}</span>
                        <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ municipalities[0].name }}</b></span>
                    </div>
                    <div>
                        <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'address.label' | translate }}</span>
                        <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ municipalities[0].address }}</b></span>
                    </div>
                    <div>
                        <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'number.label' | translate }}</span>
                        <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ municipalities[0].addressNum }}</b></span>
                    </div>
                    <div>
                        <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'postal-code.label' | translate }}</span>
                        <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ municipalities[0].postalCode }}</b></span>
                    </div>
                    <div>
                        <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'nameMayor.label' | translate }}</span>
                        <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ users[0].name }}</b></span>
                    </div>
                    <div>
                        <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'surnameMayor.label' | translate }}</span>
                        <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ users[0].surname }}</b></span>
                    </div>
                    <div>
                        <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'emailMayor.label' | translate }}</span>
                        <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ users[0].email }}</b></span>
                    </div>
                </span>
                <span class="ui-lg-1"></span>
            </ng-container>
            <ng-container *ngIf="multipleMunicipalities">
                <ng-container *ngFor="let municipality of municipalities; let i = index">
                    <span class="ui-lg-1"></span>
                    <span class="ui-g-12 ui-md-12 ui-lg-12" style="text-align: left;">
                        <div *ngIf="i > 0">
                            <br><br>
                        </div>
                        <span class="ui-g-12">
                            <h3><b>{{ 'municipality.label' | translate }} #{{ (i + 1) }}</b></h3>
                        </span>
                        <p class="ui-g-11 ui-md-11 ui-lg-11 beneficiaryMayor">{{ 'municipalityDetails.title' | translate }}</p>
                        <a class="ui-g-1 ui-md-1 ui-lg-1" (click)="edit(2)">{{ 'edit.button' | translate }} <i
                                class="fa fa-pencil" aria-hidden="true"></i></a>
                        <div>
                            <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'municipality.label' | translate }}</span>
                            <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ municipality.name }}</b></span>
                        </div>
                        <div>
                            <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'address.label' | translate }}</span>
                            <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ municipality.address }}</b></span>
                        </div>
                        <div>
                            <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'number.label' | translate }}</span>
                            <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ municipality.addressNum }}</b></span>
                        </div>
                        <div>
                            <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'postal-code.label' | translate }}</span>
                            <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ municipality.postalCode }}</b></span>
                        </div>
                        <div>
                            <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'nameMayor.label' | translate }}</span>
                            <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ users[i].name }}</b></span>
                        </div>
                        <div>
                            <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'surnameMayor.label' | translate }}</span>
                            <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ users[i].surname }}</b></span>
                        </div>
                        <div>
                            <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'emailMayor.label' | translate }}</span>
                            <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ users[i].email }}</b></span>
                        </div>
                    </span>
                    <span class="ui-lg-1"></span>
                </ng-container>
            </ng-container>
        </div>
        <div *ngIf="initialUser" id="user_details" class="ui-g-12 ui-md-12 ui-lg-12">
            <hr>
            <span class="ui-lg-1"></span>
            <span class="ui-g-12 ui-md-12 ui-lg-12" style="text-align: left;">
                <p class="ui-g-11 ui-md-11 ui-lg-11 beneficiaryMayor">{{ 'yourDetails.title' | translate }}</p>
                <a class="ui-g-1 ui-md-1 ui-lg-1" (click)="edit(3)">{{ 'edit.button' | translate }} <i
                        class="fa fa-pencil" aria-hidden="true"></i></a>
                <div>
                    <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'name.label' | translate }}</span>
                    <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ initialUser.name }}</b></span>
                </div>
                <div>
                    <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'surname.label' | translate }}</span>
                    <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ initialUser.surname }}</b></span>
                </div>
                <div>
                    <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'email.label' | translate }}</span>
                    <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ initialUser.email }}</b></span>
                </div>
                 <div>
                    <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'address.label' | translate }}</span>
                    <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ userAddress }}</b></span>
                </div>
                 <div>
                    <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'number.label' | translate }}</span>
                    <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ addressNum }}</b></span>
                </div>
                 <div>
                    <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'postal-code.label' | translate }}</span>
                    <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{ postalCode }}</b></span>
                </div>
            </span>
            <span class="ui-lg-1"></span>
        </div>
        <hr>
    </div>
    <div class="clearfix"></div>
    <ng-container>

        <div class="ui-g" style="text-align: left;">
            <div class="ui-lg-1"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-10">
                <label class="ui-g-12 ui-md-12 ui-lg-12" for="check_1"><input type="checkbox" id="check_1"
                                                                              [(ngModel)]="legalChecks[0]">
                    {{ 'preview.registration.check1' | translate }}
                </label>
            </div>
            <div class="ui-lg-1"></div>
        </div>
        <div class="ui-g" style="text-align: left;">
            <span class="ui-lg-1"></span>
            <div class="ui-g-12 ui-md-12 ui-lg-10">
                <label class="ui-g-12 ui-md-12 ui-lg-12" for="check_2"><input type="checkbox" id="check_2"
                                                                              [(ngModel)]="legalChecks[1]">
                    {{ 'preview.registration.check2' | translate }}
                </label>
            </div>
            <span class="ui-lg-1"></span>
        </div>
        <div class="ui-g" style="text-align: left;">
            <span class="ui-lg-1"></span>
            <div class="ui-g-12 ui-md-12 ui-lg-10" style="text-align: left;">
                <label class="ui-g-12 ui-md-12 ui-lg-12" for="check_3"><input type="checkbox" id="check_3"
                                                                              [(ngModel)]="legalChecks[2]">
                    {{ 'preview.registration.check3' | translate }}
                </label>
            </div>
            <span class="ui-lg-1"></span>
        </div>

    </ng-container>
    <div class="clearfix"></div>
    <ng-container>
        <!-- Navigation buttons -->
        <div id="navigation-buttons" class="form-group ui-g center">
            <div class="ui-lg-3"></div>
            <div class="ui-g-6 ui-md-6 ui-lg-3">
                <button type="button" class="btn btn-primary cancel-button" (click)="back()">
                    {{ 'back.button' | translate }}
                </button>
            </div>
            <!-- Next button -->
            <div class="ui-g-6 ui-md-6 ui-lg-3">
                <button type="submit" class="btn btn-primary publish-button"
                        [disabled]="!legalChecks[0] || !legalChecks[1] || !legalChecks[2]"
                        (click)="submit()">
                    {{ 'confirm.button' | translate }}
                </button>
            </div>
        </div>
    </ng-container>
</div>

<p-dialog [(visible)]="displayConfirmingData" [modal]="true" [responsive]="true" [resizable]="false" [draggable]="false"
          [closable]="false" [closeOnEscape]="false">
    <p class="ModalLoaderDots"><span>.</span><span>.</span><span>.</span></p>
    <h1 class="Modalh1Confirmation">{{ 'loading.modal.title3' | translate }}</h1>
    <p class="ModalpConfirmation">{{ 'loading.modal.registration.text' | translate}}</p>
    <p class="ModalpConfirmation">{{ 'loading.modal.dontclose' | translate}}</p>
</p-dialog>