<div class="exportImport"></div>
<!--<div class="container" align="center">-->
<div class="container">
    <br/><br/><br/><br/><br/>
    <div class="ui-g">
        <div class="ui-g-12">
            <span class="input-group-btn">
                <!--<button class="btn btn-primary" (click)="export()" type="button">{{ 'dgConn.export.dashboard' | translate}}</button>-->
                <button class="btn btn-primary" (click)="exportRegistrationData()" type="button">Export Registration Data</button>
            </span>
        </div>
        <br/><br/><br/>
        <div class="ui-g-12">
            <span class="input-group-btn">
                <!--<button class="btn btn-primary" (click)="import()" type="button">{{ 'dgConn.import.dashboard' | translate}}</button>-->
                <button class="btn btn-primary" (click)="importRegistrationData()" type="button">Import Registration Data</button>
            </span>
        </div>
        <br/><br/><br/>
        <div class="ui-g-12">
            <span class="input-group-btn">
                <!--<button class="btn btn-primary" (click)="export()" type="button">{{ 'dgConn.export.dashboard' | translate}}</button>-->
                <button class="btn btn-primary" (click)="exportBeneficiaryInformation()" type="button">Export Beneficiary Information</button>
            </span>
        </div>
        <br/><br/><br/>
        <div class="ui-g-12">
            <span class="input-group-btn">
                <!--<button class="btn btn-primary" (click)="export()" type="button">{{ 'dgConn.export.dashboard' | translate}}</button>-->
                <button class="btn btn-primary" (click)="exportBc()" type="button">Export Budgetary Commitment</button>
            </span>
        <br/>
        <div class="ui-g-12">
            <span class="input-group-btn">
                <!--<button class="btn btn-primary" (click)="import()" type="button">{{ 'dgConn.import.dashboard' | translate}}</button>-->
                <button class="btn btn-primary" (click)="importLefBcValidates()" type="button">Import Lef and Budgetary Commitment Validates</button>
            </span>
        </div>
    </div>
</div>