<div class="exportImport"></div>
<div class="container" align="center">
    <br/><br/><br/><br/><br/>
    <div class="ui-g">
        <div class="ui-g-12">
            <span class="input-group-btn">
                <button class="btn btn-primary" (click)="export()" type="button">{{ 'dgConn.export.dashboard' | translate}}</button>
            </span>
        </div>
        <br/><br/><br/><br/><br/>
        <div class="ui-g-12">
            <span class="input-group-btn">
                <button class="btn btn-primary" (click)="import()" type="button">{{ 'dgConn.import.dashboard' | translate}}</button>
            </span>
        </div>
    </div>
</div>