<div class="exportImport"></div>
<!--<div class="container" align="center">-->
<div class="container">
    <br/><br/><br/><br/><br/>
    <div class="ui-g">
        <div class="ui-g-12">
            <span class="input-group-btn">
                <button class="btn btn-primary" (click)="exportRegistrationData()" type="button">Export Registration Data</button>
            </span>
        </div>
        <br/><br/><br/>
        <div class="ui-g-12">
            <span class="input-group-btn">>
                <button class="btn btn-primary" (click)="importRegistrationData()" type="button">Import Registration Data</button>
            </span>
        </div>
        <br/><br/><br/>
        <div class="ui-g-12">
            <span class="input-group-btn">
                <button class="btn btn-primary" (click)="exportBeneficiaryInformation()" type="button">Export Beneficiary Information</button>
            </span>
        </div>
        <br/><br/><br/>
        <div class="ui-g-12">
            <span class="input-group-btn">
                <button class="btn btn-primary" (click)="exportBudgetaryCommitment()" type="button">Export Budgetary Commitment</button>
            </span>
        <br/>
        <!--<div class="ui-g-12">-->
            <!--<span class="input-group-btn">-->
                <!--<button class="btn btn-primary" (click)="importLegalEntityFBCValidate()" type="button">Import Lef and Budgetary Commitment Validates</button>-->
            <!--</span>-->
        <!--</div>-->
        <div class="clearfix"></div>
        <div class="container font" style="margin-top: 5em;">
            <h1 class="beneficiaryTitle">Import LEF and BC validates.</h1>
            <div class="ui-g-12">
        <span class="input-group-btn">
            <input type="file" (change)="importLegalEntityFBCValidate($event)" accept=".json,application/json">
            <!--button class="btn btn-primary" (click)="importLegalEntityF()" type="button">Import Beneficiaris Info.</button-->
        </span>
        </div>
    </div>
</div>
</div>