<custom-wizard-steps [isCustomContent]="true" *ngIf="!(successRegistration || failureRegistration)">
    <ux-wizard-step label="{{ 'suppRegistration.step1.supplier' | translate }}" [isCompleted]="completed[0]" [isActive]="active[0]">
        <uxWizardStepCustomContent>
            <supplier-registration-step1 [(supplier)]="supplier" [(countries)]="allCountriesSelect" [(logoUrl)]="logoUrl" (onNext)="navigate(2)"></supplier-registration-step1>
        </uxWizardStepCustomContent>
    </ux-wizard-step>
    <ux-wizard-step label="{{ 'suppRegistration.step2.supplier' | translate }}" [isCompleted]="completed[1]" [isActive]="active[1]">
        <uxWizardStepCustomContent>
            <supplier-registration-step2 [(selectedCountriesNames)]="selectedCountriesNames" [(selectedRegions)]="selectedRegions"
                                         [allCountriesSelect]="allCountriesSelect" [allRegionsSelect]="allRegionsSelect"
                                         (onNext)="navigate(3)" (onBack)="navigate(1)"></supplier-registration-step2>
        </uxWizardStepCustomContent>
    </ux-wizard-step>
    <ux-wizard-step label="{{ 'suppRegistration.step3.supplier' | translate }}" [isCompleted]="completed[2]" [isActive]="active[2]">
        <uxWizardStepCustomContent>
            <supplier-registration-step3 [(supplier)]="supplier" (onNext)="navigate(4)" (onBack)="navigate(2)"></supplier-registration-step3>
        </uxWizardStepCustomContent>
    </ux-wizard-step>
    <ux-wizard-step label="{{ 'suppRegistration.step4.supplier' | translate }}" [isCompleted]="completed[3]" [isActive]="active[3]">
        <uxWizardStepCustomContent>
            <supplier-registration-step4 [supplier]="supplier" [selectedCountriesNames]="selectedCountriesNames" [selectedRegions]="selectedRegions" [logoUrl]="logoUrl"
                                        (onNext)="submitRegistration()" (onBack)="navigate(3)" (onEdit)="navigate($event)"></supplier-registration-step4>
        </uxWizardStepCustomContent>
    </ux-wizard-step>
</custom-wizard-steps>
<success-component *ngIf="successRegistration"></success-component>
<failure-component *ngIf="failureRegistration"></failure-component>
<helpdesk-form-component portal="supplier-registration"></helpdesk-form-component>