<!--<form (ngSubmit)="onSubmit()" #loginForm="ngForm">-->
    <!--<div class="form-group ui-g">-->
        <!--<div class="ui-g-3"></div>-->
        <!--<div class="ui-g-6">-->
            <!--<div class="form-group">-->
                <!--<label for="email">Email</label>-->
                <!--<input type="email" [(ngModel)]="userDetails.email"-->
                       <!--class="form-control"-->
                       <!--name="email" ngcontrol="email"-->
                       <!--#email="ngModel" required>-->
                <!--<div [hidden]="email.valid || email.pristine"-->
                     <!--class="alert alert-danger">Email is-->
                    <!--required-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="ui-g-3"></div>-->
    <!--</div>-->
    <!--<div class="form-group ui-g">-->
        <!--<div class="ui-g-3"></div>-->
        <!--<div class="ui-g-6">-->
            <!--<div class="form-group">-->
                <!--<label for="password">Password</label>-->
                <!--<input type="password" [(ngModel)]="userDetails.password"-->
                       <!--class="form-control"-->
                       <!--name="password" ngcontrol="password"-->
                       <!--#password="ngModel" required>-->
                <!--<div [hidden]="password.valid || password.pristine"-->
                     <!--class="alert alert-danger">Password is-->
                    <!--required-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="ui-g-3"></div>-->
    <!--</div>-->
    <!--<div class="form-group ui-g">-->
        <!--<div class="ui-g-4"></div>-->
        <!--<div class="ui-g-4" style="text-align: center !important">-->
            <!--<button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>-->
        <!--</div>-->
        <!--<div class="ui-g-4"></div>-->
    <!--</div>-->
<!--</form>-->
<!--<p-dialog [(visible)]="displayConfirmingData" [modal]="true" [responsive]="true" [resizable]="false"-->
          <!--[draggable]="false" [closable]="false" [closeOnEscape]="false">-->
    <!--<p class="ModalLoaderDots"><span>.</span><span>.</span><span>.</span></p>-->
    <!--<h1 class="Modalh1Confirmation">Confirming Data, please wait...</h1>-->
    <!--<p class="ModalpConfirmation">Your registration to Wifi4EU is in the process of being submitted.<br>Please don't-->
        <!--close this window.</p>-->
<!--</p-dialog>-->



<!--LUCIA-->

<div class="clearfix"></div>

    <div class="first">
        <img id="first-background" src="assets/images/group-6.png" alt="">
        <div class="container-fluid header-fluid">

            <div class="contenedor row">
                <div class="col-xl-12">
                    <img id="img-wifi" src="assets/images/group.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="contenedor row">
            <div class="col-xl-6 margin-top">

                <h2 class="title-home">FREE Wi-Fi FOR EUROPEANS</h2>
                <p class="subtitle-home">The European Commission wishes to promote free Wi-Fi connectivity for citizens and visitors in public spaces such as parks, squares, public building, libraries, health centres, and museums everywhere in Europe through WiFi4EU.</p>
                <p class="normal-text">The initial budget of the WiFi4EU scheme is EUR 120 million between 2017-2019. It will support the installation of state-of-the-art Wi-Fi equipment in the centres of community life.</p>
            </div>
            <div class="col-xl-6 margin-top-right">
                <p class="subtitle-bold-italic">“Everyone benefiting from connectivity means that it should not matter where you live or how much you earn.  So we propose today to equip every European village and every city with free wireless internet ac­cess around the main centres of public life by 2020.”</p>
                <p class="subtitle-italic">Jean-Claude JUNCKER<br>
                State of the Union speech, September 2016</p>
                <div id="img-europeans">
                    <img src="assets/images/copy-2.png" alt="">
                </div>
            </div>
       </div>
    </div>
    <div class="container-fluid second">
        <div class="row contenedor">
            <div class="col-xl-6">
                <h1 class="benefit">WHO WILL BENEFIT?</h1>
                <h2 class="europeans">All Europeans</h2>
                <p class="europeans-text">The WiFi4EU scheme will be disbursed in a geographically balanced manner, so that high-speed connections can benefit both residents and visitors of thousands of local communities across the EU. At least 6,000 to 8,000 local communities Up to 40-50 million connections per day</p>
                <div id="img-scnd">
                    <img src="assets/images/copy-3.png" alt="">
                </div>
            </div>
            <div class="col-xl-6">
                <h2 class="entities">Entities with a public mission</h2>
                <p class="entities-text"> The WiFi4EU scheme will be open to entities with a public mission – typically local municipalities, libraries, health centres, etc. It will fund the equipment and installation costs (internet access points), while the local entity will pay for the connectivity (internet subscription) and maintenance in good order of the equipment. The local authorities will be encouraged to develop and promote their own digital services in areas such as e-government, e-health and e-tourism.</p>
                <a class="btn btn-primary video-button" href="https://youtu.be/FvaJIPg0Pxw" target="_blank">Whatch Video</a>

            </div>
        </div>
    </div>
    <div class="container-fluid mayor">
        <div class="row contenedor">
            <div class="col-xl-6">
                <h2 class="apply">HOW TO APPLY FOR WiFi4EU</h2>
                <p class="apply-text">The WiFi4EU scheme will be delivered through simple and non-bureaucratic procedures such as online applications, payments by vouchers and light-touch monitoring requirements.</p>
            </div>
            <div class="col-xl-6">
                <p class="apply-text">As soon as the WiFi4EU scheme is approved by the European Parliament and Council of Ministers (expected in 2017), the first call for projects will be launched. The projects will be selected on a first-come, first-serve basis. Projects applying to the scheme should propose to equip areas where a public or a private Wi-Fi offering similar characteristics does not already exist.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="col-xl-6">
                    <img class="mayor-img" src="assets/images/account-balance-material-icons-regular.png">
                    <p class="mayor-title">I'm a Mayor</p>
                    <p class="represent">or I represent a municipality</p>
                    <a class="btn btn-primary video-button center-block video-button" href="#/registration" >Register now</a>
                </div>
                <div class="col-xl-6">
                    <img class="supplier-img" src="assets/images/group-4.png">
                    <p class="supplier">I'm a supplier</p>
                    <a class="btn btn-primary video-button center-block video-button" href="#" target="_blank">Register now</a>

                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    </div>
    <div class="container-fluid third">
        <div class="row contenedor">

        </div>
    </div>
    <div class="content azul container-fluid">
        <div class="row contenedor">
            <div class="col-xl-12">
                <h2 class="information">NEED MORE INFORMATION?</h2>
                <p class="text-information">Please visit following links form more information about the project</p>
            </div>
        </div>
        <div class="row contenedor">
            <div class="col-xl-6">
                <p class="white-links"><a target="_blank" href="https://ec.europa.eu/digital-single-market/en/news/factsheet-wifi4eu">Factsheet on WiFi4EU</a></p>
                <p class="white-links"><a target="_blank" href="http://europa.eu/rapid/press-release_IP-16-4261_en.htm">Strategy on Connectivity for a European Gigabit Society</a></p>
            </div>
            <div class="col-xl-6">
                <p class="white-links"><a target="_blank" href="https://ec.europa.eu/digital-single-market/en/news/proposed-regulation-promotion-internet-connectivity-local-communities-and-public-spaces-wifi4eu">Proposed Regulation on the promotion of Internet connectivity in local communities and public spaces (WiFi4EU)</a></p>
                <p class="white-links"><a target="_blank" href="https://ec.europa.eu/digital-single-market/events/cf/b-day-going-giga/document.cfm?doc_id=36544">“Bringing it all together in WiFi4EU” - presentation from the B-DAY: Going Giga, 15 Nov 2016</a></p>
            </div>
        </div>
    </div>
    <div class="content footer-landing">
        <p>Last Update 0/01/2017  |  <a href="#">Top</a></p>
    </div>
