<div class="clearfix"></div>
<div class="container">
    <div class="center">
        <p class="beneficiaryTitle labelModal">{{ 'step4.supplier' | translate }}</p>
        <p>{{ 'contact.description' | translate }}</p>
    </div>
    <div class="container">

        <hr class="beneficiaryHr marginHr">

        <div class="ui-g">
            <div class="ui-g-11 ui-md-11 ui-lg-11">
                <p class="beneficiaryMayor">{{ 'contact.person' | translate }}</p>
            </div>
            <div class="ui-g-1 ui-md-1 ui-lg-1">
                <a (click)="editStep(3)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    {{ 'edit.button' | translate }}

                </a>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-lg-2"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'name.label' | translate }}</div>
            <div class="ui-g-12 ui-md-12 ui-lg-7">
                <p class="profileData">{{supplierDTO.contactName}}</p>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-lg-2"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'surname.label' | translate }}</div>
            <div class="ui-g-12 ui-md-12 ui-lg-7">
                <p class="profileData">{{supplierDTO.contactSurname}}</p>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-lg-2"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'phone.number' | translate }}</div>
            <div class="ui-g-12 ui-md-12 ui-lg-7">
                <p class="profileData">{{supplierDTO.contactPhonePrefix}} {{supplierDTO.contactPhoneNumber}}</p>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-lg-2"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'email.modal' | translate }}</div>
            <div class="ui-g-12 ui-md-12 ui-lg-7">
                <p class="profileData">{{supplierDTO.contactEmail}}</p>
            </div>
        </div>
    </div>

    <hr class="beneficiaryHr marginHr">

    <div class="ui-g">
        <div class="ui-g-11 ui-md-11 ui-lg-11">
            <p class="beneficiaryMayor">{{ 'company.details' | translate }}</p>
        </div>
        <div class="ui-g-1 ui-md-1 ui-lg-1">
            <a (click)="editStep(1)">
                <i class="fa fa-pencil" aria-hidden="true"> {{ 'edit.button' | translate }}</i>
            </a>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-lg-2"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'company.name' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7">
            <p class="profileData">{{supplierDTO.name}}</p>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-lg-2"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'legal.address' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7">
            <p class="profileData">{{supplierDTO.address}}</p>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-lg-2"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'vat.label' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7">
            <p class="profileData">{{supplierDTO.vat}}</p>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-lg-2"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'bic.label' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7">
            <p class="profileData">{{supplierDTO.bic}}</p>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-lg-2"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-3">{{ 'logo.label' | translate }}</div>
        <div class="ui-g-12 ui-md-12 ui-lg-7">
            <p class="profileData"></p>
        </div>
    </div>

    <hr class="beneficiaryHr marginHr">

    <div class="ui-g">
        <div class="ui-lg-2"></div>
        <div class="ui-g-10 ui-md-10 ui-lg-11">
            <p class="beneficiaryMayor">{{ 'entity.support' | translate }}</p>
        </div>
        <div class="ui-g-1 ui-md-1 ui-lg-1">
            <a (click)="editStep(2)"><i class="fa fa-pencil" aria-hidden="true"> </i>{{ 'edit.button' |
                translate }}

            </a>
        </div>
        <div class="ui-g-1 ui-md-1"></div>
    </div>
    <div class="ui-g">
        <div class="ui-lg-2"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-3">
            <p class="profileData" *ngFor="let country of nuts0">{{country.name}}</p>
            <p class="profileData" *ngFor="let region of nuts3">{{region.name}}</p>
        </div>
    </div>

    <hr class="beneficiaryHr marginHr">

    <div class="clearfix"></div>

    <div class="ui-g">
        <div class="ui-lg-2"></div>
        <div class="ui-g-1 ui-md-1 ui-lg-1">
            <input type="checkbox" [(ngModel)]="legalChecks[0]">
        </div>
        <div class="ui-g-11 ui-md-11 ui-lg-7">{{ 'eu.requirements' | translate }}</div>
        <div class="ui-lg-2"></div>
    </div>
    <div class="ui-g">
        <div class="ui-lg-2"></div>
        <div class="ui-g-1 ui-md-1 ui-lg-1">
            <input type="checkbox" [(ngModel)]="legalChecks[1]">
        </div>
        <div class="ui-g-11 ui-md-11 ui-lg-7">{{ 'submit.application' | translate }}</div>
        <div class="ui-lg-2"></div>
    </div>

    <div>
        <div class="ui-g">
            <div class="ui-lg-3 ui-md-3"></div>
            <div class="ui-g-12 ui-md-6 ui-lg-6">
                <ng2-google-recaptcha class="ui-g-6 marginCaptcha"
                                      siteKey="6LfUthYUAAAAAHdHO9HpCUyptQdYGXXQIFx9Y8zu"
                                      (onCaptchaComplete)="onCaptchaComplete($event)"></ng2-google-recaptcha>
            </div>
            <div class="ui-lg-3 ui-md-3"></div>
        </div>
    </div>


    <div class=" ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
            <button type="button" class=" btn-primary cancel-button">{{ 'cancel.button' | translate }}
            </button>
        </div>
        <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
            <button type="submit" class="btn  btn-primary publish-button" (click)="openModal()"
                    [disabled]="!legalChecks[0] || !legalChecks[1] || !successCaptcha">
                {{ 'confirm.button' | translate}}
            </button>
        </div>
        <div class="ui-lg-3"></div>
    </div>
</div>

<!--MODAL-->

<p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [resizable]="false"
          [draggable]="false" [closable]="true" [closeOnEscape]="true">
    <p class="beneficiaryMayor">{{ 'requirements.head' | translate }}</p>

    <p class="requirementSubitle">Requirement 1</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit lacinia volutpat. Praesent rhoncus
        suscipit aliquet. Ut quis turpis sit amet nibh eleifend lacinia. Aliquam varius blandit luctus. Vestibulum id
        dolor molestie, bibendum nisl quis, mollis risus. Quisque ullamcorper odio ante, tristique cursus arcu dignissim
        ac. </p>
    <p class="requirementSubitle">Requirement 2</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit lacinia volutpat. Praesent rhoncus
        suscipit aliquet. Ut quis turpis sit amet nibh eleifend lacinia. Aliquam varius blandit luctus. Vestibulum id
        dolor molestie, bibendum nisl quis, mollis risus. Quisque ullamcorper odio ante, tristique cursus arcu dignissim
        ac. </p>
    <p class="requirementSubitle">Requirement 3</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit lacinia volutpat. Praesent rhoncus
        suscipit aliquet. Ut quis turpis sit amet nibh eleifend lacinia. Aliquam varius blandit luctus. Vestibulum id
        dolor molestie, bibendum nisl quis, mollis risus. Quisque ullamcorper odio ante, tristique cursus arcu dignissim
        ac. </p>
    <div class="ui-g-2" style="text-align: center !important">
        <button type="submit" class="btn btn-primary publish-button" (click)="onSubmit()">{{ 'confirm.button' |
            translate }}
        </button>
    </div>
</p-dialog>