<!-- Title -->
<div id="step2-title" class="ui-g">
    <div class="ui-g-12 center" style="text-align: center !important">
        <div id="component-title">
            <h3 class="beneficiaryTitle labelModal">{{ 'registration.beneficiary.title' | translate }}</h3>
        </div>
    </div>
</div>
<!-- Instructions -->
<div id="step2-instructions" class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-12 center" style="text-align: center !important">
        <div id="component-subtitle">
            <h6>{{ 'registration.step2.instructions' | translate }}</h6>
        </div>
    </div>
</div>
<!-- Beneficiary Form -->
<form #beneficiaryForm="ngForm">
    <!-- Mayor -->
        <!-- Role selector -->
        <div id="role-selector" class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-3 center" style="text-align: center !important">
                <label>
                    <input type="radio" name="mayorOption" class="paddingInput" value="mayor" [checked]="selection[0]" (click)="onToggleRadio()">
                    {{ 'immayor.option' | translate }}
                </label>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-3 center" style="text-align: center !important">
                <label>
                    <input type="radio" name="representativeOption" class="paddingInput" value="representative" [checked]="selection[1]" (click)="onToggleRadio()">
                    {{ 'imrepresentative.option' | translate }}
                </label>
            </div>
            <div class="ui-lg-3"></div>
        </div>
      <div id="mayor" *ngIf="selection[0]">
        <!-- Separator -->
        <div id="mayor-separator" class="form-group ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-7 center" style="text-align: center !important">
                <hr>
            </div>
        </div>
        <!-- Title -->
        <div id="mayor-title" class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <h3>{{ 'mayordetails.title' | translate }}</h3>
            </div>
            <div class="ui-lg-3"></div>
        </div>
        <!-- Mayor treatment -->
        <div id="mayor-treatment" class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-3">
                <label class="label floatLeft" for="treatment">{{ 'treatment.label' | translate }}</label>
                <select class="form-control" name="treatment" id="treatment" [(ngModel)]="allBeneficiaries[0].mayorDTO.treatment" required>
                    <option value="mr">{{ 'treatment.option1' | translate }}</option>
                    <option value="ms">{{ 'treatment.option2' | translate }}</option>
                </select>
            </div>
            <div class="ui-lg-1"></div>
        </div>
        <!-- Mayor name -->
        <div id="mayor-name" class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <label class="label floatLeft" for="name">{{ 'name.label' | translate }}</label>
                <input class="form-control paddingInput" type="text" name="name" id="name" [(ngModel)]="allBeneficiaries[0].mayorDTO.name" required>
            </div>
            <div class="ui-lg-3"></div>
        </div>
        <!-- Mayor last name -->
        <div id="mayor-last-name" class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <label class="label floatLeft" for="surname">{{ 'surname.label' | translate }}</label>
                <input class="form-control paddingInput" type="text" name="surname" id="surname" [(ngModel)]="allBeneficiaries[0].mayorDTO.surname" required>
            </div>
            <div class="ui-lg-3"></div>
        </div>
        <!-- Mayor email -->
        <div id="mayor-email" class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <label class="label floatLeft" for="email">{{ 'email.label' | translate }}</label>
                <input class="form-control paddingInput" type="email" name="email" id="email"
                       ngcontrol="email" #email="ngModel" [(ngModel)]="allBeneficiaries[0].mayorDTO.email"
                       (keyup)="checkIfMayorEmailMatches()" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                <label for="email" class="field-desc" style="margin-top: 10px;color: gray;">{{ 'email.fielddesc' | translate }}</label>
            </div>
            <div class="ui-lg-3"></div>
        </div>
        <!-- Mayor confirmation email -->
        <div id="mayor-confirm-email" class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <label class="label floatLeft" for="confirmemail">{{ 'confirmemail.label' | translate }}</label>
                <input class="form-control paddingInput" type="email" name="confirmemail" id="confirmemail"
                       ngcontrol="confirmemail" #confirmemail="ngModel" [(ngModel)]="allBeneficiaries[0].mayorDTO.repeatEmail"
                       (keyup)="checkIfMayorEmailMatches()" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                <div [hidden]="mayorEmailMatches || confirmemail.pristine" class="alert alert-info">The email information must match.</div>
            </div>
            <div class="ui-lg-3"></div>
        </div>
    </div>
    <!-- Representative -->
    <div id="representative" *ngIf="selection[1]">
        <!-- Separator -->
        <div id="representative-separator" class="form-group ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-7 center" style="text-align: center !important">
                <hr>
            </div>
        </div>
        <!-- Representative title -->
        <div id="representative-title" class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <h3>{{ 'representativedetails.title' | translate }}</h3>
            </div>
            <div class="ui-lg-3"></div>
        </div>
        <!-- Representative treatment -->
        <div id="representative-treatment" class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-1">
                <label class="label floatLeft" for="treatment_representative">{{ 'treatment.label' | translate }}</label>
                <select class="form-control" name="treatment_representative" id="treatment_representative"
                        [(ngModel)]="allBeneficiaries[0].representativeDTO.treatment" [required]="selection[1]">
                    <option value="mr">{{ 'treatment.option1' | translate }}</option>
                    <option value="ms">{{ 'treatment.option2' | translate }}</option>
                </select>
            </div>
            <div class="ui-lg-3"></div>
        </div>
        <!-- Representative name -->
        <div id="representative-name" class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <label class="label floatLeft" for="name_representative">{{ 'name.label' | translate }}</label>
                <input class="form-control paddingInput" type="text" name="name_representative" id="name_representative"
                       [(ngModel)]="allBeneficiaries[0].representativeDTO.name" [required]="selection[1]">
            </div>
            <div class="ui-lg-3"></div>
        </div>
        <!-- Representative last name -->
        <div id="representative-last-name" class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <label class="label floatLeft" for="surname_representative">{{ 'surname.label' | translate }}</label>
                <input class="form-control paddingInput" type="text" name="surname_representative" id="surname_representative"
                       [(ngModel)]="allBeneficiaries[0].representativeDTO.surname" [required]="selection[1]">
            </div>
            <div class="ui-lg-3"></div>
        </div>
        <!-- Representative role -->
        <div id="representative-role" class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <label class="label floatLeft" for="role_municipality">{{ 'role.label' | translate }}</label>
                <input class="form-control paddingInput" type="text" name="role_municipality" id="role_municipality"
                       [(ngModel)]="allBeneficiaries[0].representativeDTO.municipalityRole" [required]="selection[1]">
            </div>
            <div class="ui-lg-3"></div>
        </div>
        <!-- Representative email -->
        <div id="representative-email" class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <label class="label floatLeft" for="email_representative">{{ 'email.label' | translate }}</label>
                <input class="form-control paddingInput" type="email"
                       name="email_representative" id="email_representative"
                       ngcontrol="email_representative" #email_representative="ngModel"
                       [(ngModel)]="allBeneficiaries[0].representativeDTO.email"
                       (keyup)="checkIfRepresentativeEmailMatches()" [required]="selection[1]"
                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                <label for="email_representative" class="field-desc" style="margin-top: 10px;color: gray;">{{ 'email.fielddesc' | translate }}</label>
            </div>
            <div class="ui-lg-3"></div>
        </div>
        <!-- Representative confirmation email -->
        <div id="representative-confirmation-email" class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <label class="label floatLeft" for="confirmemail_representative">{{ 'confirmemail.label' | translate }}</label>
                <input class="form-control paddingInput" type="email"
                       name="confirmemail_representative" id="confirmemail_representative"
                       ngcontrol="confirmemail_representative" #confirmemail_representative="ngModel"
                       [(ngModel)]="allBeneficiaries[0].representativeDTO.mayorRepeatEmail"
                       (keyup)="checkIfRepresentativeEmailMatches()" [required]="selection[1]"
                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                <div [hidden]="representativeEmailMatches || confirmemail_representative.pristine" class="alert alert-info">The email information must match</div>
                <div [hidden]="emailsAreNotRepeated || confirmemail_representative.pristine" class="alert alert-danger">The email for the representative must be different from the mayor's.</div>
            </div>
            <div class="ui-lg-3"></div>
        </div>
    </div>
    <!-- Navigation buttons -->
    <div id="navigation-buttons" class="form-group ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
            <a href="#/home"><button type="button" class="btn btn-primary cancel-button">{{ 'back.button' | translate }}</button></a>
        </div>
        <!-- Next button -->
        <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
            <button type="submit" class="btn btn-primary publish-button" [disabled]="!beneficiaryForm.valid || !allEmailsMatch()" (click)="onSubmit(1)">
                {{ 'next.button' | translate }}
            </button>
        </div>
        <div class="ui-lg-3"></div>
    </div>
</form>
