<div class="container" *ngIf="installationSite && municipality">
    <div id="step2-title" class="row">
        <div class="col-sm-6">
            <div id="component-title">
                <p class="beneficiaryTitle labelModal">{{ 'installationDetails.title' | translate }}
                <p>{{ 'installationDetails.subtitle' | translate }}</p>
            </div>
        </div>
    </div>

    <div class="form-group col-md-12 row">
        <p>{{ 'shared.beneficiary.label' | translate }}: </p>
        <p class="font-weight-bold">{{municipality.name}}</p>
    </div>
    <div class="clearfix"></div>
    <div class="results button-content ">
        <div class="row">
            <div class="col-sm-4">
                <p>{{ 'shared.number.label' | translate }}: </p>
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{number}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>{{ 'installationReport.siteName' | translate }}</p>
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>{{ 'installationDetails.captivePortal' | translate }}</p>
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{portal}}</p>
            </div>
        </div>
    </div>
</div>


