<div class="clearfix"></div>
<div class="jumbotron mb-3" style="background-color: transparent;">
    <div class="container center">
        <p class="center beneficiaryTitle">{{ 'dgConn.dgconnect.title' | translate }}</p>
    </div>
</div>
<div class="container center">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <a href="#/dgconn-portal/publication">
                <div class="center dashboardItem">
                    <img src="assets/images/icono-2.png" alt="">
                    <p class="fontDashboard">{{ 'dgConn.publication.dashboard' | translate }}</p>
                </div>
            </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <a href="#/dgconn-portal/voucher">
                <div class="center dashboardItem">
                    <img src="assets/images/icono-3.png" alt="">
                    <p class="fontDashboard">{{ 'dgConn.voucher.dashboard' | translate }}</p>
                </div>
            </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <a href="#/dgconn-portal/applicant-registrations">
                <div class="center dashboardItem">
                    <img class="manageMunicipalities" src="assets/images/apply.png" alt="">
                    <p class="fontDashboard">Manage municipality applications</p>
                </div>
            </a>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2 md4Dashboard">
            <a href="#/dgconn-portal/exportImport">
                <div class="center dashboardItem"  style="padding-right: 1em;padding-left: 1em;">
                    <img src="assets/images/exportImport.png" alt="">
                    <p class="fontDashboard">{{ 'dgconn.dashboard.card.exportImport' | translate }}</p>
                </div>
            </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 md4Dashboard">
            <a href="#/dgconn-portal/beneficiaries">
                <div class="center dashboardItem"  style="padding-right: 1em;padding-left: 1em;">
                    <img src="assets/images/beneficiary.svg" alt="">
                    <p class="fontDashboard">{{ 'dgconn.dashboard.card.beneficiaries.home' | translate }}</p>
                </div>
            </a>
        </div>
        <div class="col-md-1"></div>
            <div class="col-md-2 md4Dashboard">
                <a href="#/dgconn-portal/supplier-registrations">
                    <div class="center dashboardItem"> 
                        <img src="assets/images/icono-9.png" alt="">
                        <p class="fontDashboard">{{ 'dgConn.duplicatedSuppliers.title' | translate }}</p>
                    </div>
                </a>
            </div>
            <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2 md4Dashboard">
            <a href="#/dgconn-portal/reporting">
                <div class="center dashboardItem"  style="padding-right: 1em;padding-left: 1em;">
                    <img src="assets/images/icon_monitoring_page.png" alt="">
                    <p class="fontDashboard">{{ 'dgconn.dashboard.card.reporting' | translate }}</p>
                </div>
            </a>
        </div>
        <div class="col-md-1"></div>
        <!--
        <div class="col-md-2 md4Dashboard">
            <a href="#/dgconn-portal/beneficiaries">
                <div class="center dashboardItem"  style="padding-right: 1em;padding-left: 1em;">
                    <img src="assets/images/beneficiary.svg" alt="">
                    <p class="fontDashboard">{{ 'dgconn.dashboard.card.beneficiaries.home' | translate }}</p>
                </div>
            </a>
        </div>
        <div class="col-md-1"></div>
            <div class="col-md-2 md4Dashboard">
                <a href="#/dgconn-portal/supplier-registrations">
                    <div class="center dashboardItem"> 
                        <img src="assets/images/icono-9.png" alt="">
                        <p class="fontDashboard">{{ 'dgConn.duplicatedSuppliers.title' | translate }}</p>
                    </div>
                </a>
            </div>
            <div class="col-md-2"></div>
        -->
    </div>
    <!--  
        <div class="col-md-1"></div>
        <div class="col-md-2 md4Dashboard">
            <a href="#/helpdesk">
                <div class="center dashboardItem">
                    <img src="assets/images/icono-6.png" alt="">
                    <p class="fontDashboard">{{ 'dgConn.helpdesk.dashboard' | translate }}</p>
                </div>
            </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 md4Dashboard">
            <a href="#/dgconn-portal/manage-lau">
                <div class="center dashboardItem">
                    <img src="assets/images/icono-7.png" alt="">
                    <p class="fontDashboard">{{ 'dgconn.dashboard.card.managelau' | translate }}</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-2 md4Dashboard">
            <a href="#/dgconn-portal/beneficiary-registrations">
                <div class="center dashboardItem">
                    <img src="assets/images/icono-8.png" alt="">
                    <p class="fontDashboard">{{ 'dgconn.dashboard.card.beneficiaries' | translate }}</p>
                </div>
            </a>
        </div>
       
    </div>-->
    <div class="rowMarginBottom"></div>
</div>
