/* You can add global styles to this file, and also import other style files */
body {
    font-family: verdana;
    background-color: whitesmoke;
    color: #333333;
  }

.header {
    margin: 20px 0 40px 0;
    h1 {
        color: #004494;
        font-weight: bold;
    }
    p {
        font-size: 16px;
    }
}


/*InstallationReport*/
.instalReportBeneficiary {
    padding-left: 0px;
}

.instalReportBeneficiary label {
    padding-left: 0px;
        font-family: Verdana;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
}

.results {
    border: 1px solid #777;
    padding: 10px 10px 0 10px;
    background-color: white;
}

.table-filters-header { 
    vertical-align: middle;
    margin-bottom: 10px;
}


.btn-flat-link {
    color: #004494 !important;
    font-size: 16px;
}

.confirm-installation {
    margin-top : 20px;
    width: 243px;
    line-height: 1.43;
    text-align: left;
    color: #333333;
}

.confirm-installation button{
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    width:  100%;
    display: inline-block;
} 

p-autocomplete {
    padding: 0 !important;
    border: 0 !important;
  }

  .ui-autocomplete {
    display:  inline-block;
  }

  .ui-autocomplete .ui-widget {
    padding: 1rem 1rem;
  }

  
.autoComplete {
    width: 13em;
    display: inline-block;
  }

  /*table with the installation sites*/
.ui-datatable-emptymessage{
        font-family: Verdana;
        text-align: center;
        color: #888888;
 }
 

 .ui-datatable-emptymessage-row{
    height: 400px;
 }

 .ui-datatable thead tr {
    background: #fff;
}

.ui-widget-content{
    border : 0px;
}

/*modal confirm installation*/
.ui-chkbox-label{
    display: initial;
}

p-checkbox{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkBoxContainer{
    margin: 0 60px 0 60px;
    text-align: left;
}

/*all modals*/
.modal-header{
    border-bottom:0px;
    color: #004494;
}

.ux-modal__header{
    min-height: 5rem;
}

.modal-title{
    width:100%;
    font-family: Verdana;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: center;
}

.modal-body{
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 0px;
    padding-bottom:0px;
}

.ux-modal__footer{
    background-color: #fff;
    border-top: 0px;
    display:inline-block;
    text-align: center;
    width: 100%;
}

.ux-modal__footer button{
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
}

.close{
    position: absolute;
    top:0px;
    right:10px;
}

/*update installation site*/
#updateInstallationSite{
    font-size:16px;
    font-family: Verdana;
}

.fa-question-circle{
    color: #004494;
}


.ui-tooltip{
    z-index: 1151 !important;
}

.ui-tooltip .ui-tooltip-text{
    width: 360px;
    height: 50px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    font-family: Verdana;
    font-size: 12px;
    color: #333333;
}

#updateInstallationSite p{
    display:inline;
}

.modal-subtitle{
    font-family: Verdana;
    font-size: 14px;
    color: #333333;
    text-align: center;
    display: inline-block !important;
    position: relative;
    width: 100%;
    top: -27px;
}