/* You can add global styles to this file, and also import other style files */
body {
    font-family: verdana;
    background-color: whitesmoke;
    color: #333333;
  }

.header {
    margin: 20px 0 40px 0;
    h1 {
        color: #004494;
        font-weight: bold;
    }
    p {
        font-size: 16px;
    }
}

.instalReportBeneficiary {
    padding-left: 0px;
}

.instalReportBeneficiary label {
    padding-left: 0px;
        font-family: Verdana;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
}

.results {
    border: 1px solid #777;
    padding: 10px 10px 0 10px;
    background-color: white;
}

.table-filters-header { 
    vertical-align: middle;
    margin-bottom: 10px;
}

.installSites-table-body{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.btn-flat-link {
    color: #004494 !important;
    font-size: 16px;
}

.confirm-installation {
    margin-top : 20px;
    width: 243px;
    line-height: 1.43;
    text-align: left;
    color: #333333;
}

.confirm-installation button{
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    width:  100%;
    display: inline-block;
} 

p-autocomplete {
    padding: 0 !important;
    border: 0 !important;
  }

  .ui-autocomplete {
    display:  inline-block;
  }

  .ui-autocomplete .ui-widget {
    padding: 1rem 1rem;
  }

  
.autoComplete {
    width: 13em;
    display: inline-block;
  }