<div class="container">
    <div class="ui-g-12" style="padding-bottom: 0;">
        <div class="ui-g-8 ui-lg-8 ui-md-12 ui-sm-12" style="margin-top: 1em;">
            <p class="beneficiaryTitle">
                <span>{{ 'benefPortal.profile.title' | translate }}</span>
                <span class="link-label right" routerLink="./edit" routerLinkActive="active" *ngIf="!fetchingData">
                    <i class="fa fa-pencil" aria-hidden="true"></i> {{'discussionForum.editRegistration' | translate}}
                </span>
            </p>
            <hr class="beneficiaryHr">
            <i *ngIf="fetchingData" [@enterSpinner] class="fa fa-spinner loading-icon"></i>
        </div>
    </div>
    <div *ngIf="!fetchingData" class="ui-g-12" style="padding-top: 0;">
        <div class="ui-g-8 ui-lg-8 ui-md-12 ui-sm-12" style="margin-top: 1em;">
            <p class="beneficiaryMayor">{{ 'suppPortal.companyInformation' | translate }}</p>
            <div class="ui-g-12 whitePanel">
                <div class="ui-g-12">
                    <span class="ui-g-4 ui-sm-12">{{ 'suppRegistration.company.name' | translate }}</span>
                    <span class="ui-g-8 ui-sm-12"><b>{{ supplier.name }}</b></span>
                </div>
                <div class="ui-g-12">
                    <span class="ui-g-4 ui-sm-12">{{ 'suppRegistration.legal.address' | translate }}</span>
                    <span class="ui-g-8 ui-sm-12"><b>{{ supplier.address }}</b></span>
                </div>
                <div class="ui-g-12">
                    <span class="ui-g-4 ui-sm-12">{{ 'suppRegistration.vat.label' | translate }}</span>
                    <span class="ui-g-8 ui-sm-12"><b>{{ supplier.vat }}</b></span>
                </div>
               <!--  <div class="ui-g-12">
                    <span class="ui-g-4 ui-sm-12">{{ 'suppRegistration.bic.label' | translate }}</span>
                    <span class="ui-g-8 ui-sm-12"><b>{{ supplier.bic }}</b></span>
                </div>
                <div class="ui-g-12">
                    <span class="ui-g-4 ui-sm-12">{{ 'suppRegistration.bank.account' | translate }}</span>
                    <span class="ui-g-8 ui-sm-12"><b>{{ supplier.accountNumber }}</b></span>
                </div> -->
                <div class="ui-g-12" *ngIf="supplier.website">
                    <span class="ui-g-4 ui-sm-12">{{ 'suppRegistration.company.web' | translate }}</span>
                    <span class="ui-g-8 ui-sm-12"><b>{{ supplier.website }}</b></span>
                </div>
                <div class="ui-g-12" *ngIf="supplier.logo">
                    <span class="ui-g-4 ui-sm-12">{{ 'suppPortal.profile.currentLogo' | translate }}</span>
                    <span class="ui-g-8 ui-sm-12">
                        <img [src]="supplier.logo" height="50" style="border: 1px solid #d7d7d7;">
                    </span>
                </div>
            </div>
            <br/><br/>
            <p *ngIf="users" class="beneficiaryMayor">{{ 'benefRegistration.yourDetails.title' | translate }}</p>
                <div *ngFor="let user of users; let i = index">
                    <div class="clearfix"></div>
                    <!--ADD CONTACT-->
                    <!--<p class><b>{{ 'suppRegistration.contact.person' | translate }} {{i+1}}</b></p>-->
                    <div class="ui-g-12 whitePanel">
                        <div class="ui-g-12">
                            <span class="ui-g-4 ui-sm-12">{{ 'shared.name.label' | translate }}</span>
                            <span class="ui-g-8 ui-sm-12"><b>{{ user?.name }}</b></span>
                        </div>
                        <div class="ui-g-12">
                            <span class="ui-g-4 ui-sm-12">{{ 'shared.surname.label' | translate }}</span>
                            <span class="ui-g-8 ui-sm-12"><b>{{ user?.surname }}</b></span>
                        </div>
                        <div class="ui-g-12">
                            <span class="ui-g-4 ui-sm-12">{{ 'suppRegistration.phone.number' | translate }}</span>
                            <span class="ui-g-8 ui-sm-12"><b>{{ user?.phonePrefix }} {{ user?.phoneNumber }}</b></span>
                        </div>
                        <div class="ui-g-12">
                            <span class="ui-g-4 ui-sm-12">{{ 'shared.email.label' | translate }}</span>
                            <span class="ui-g-8 ui-sm-12"><b>{{ user?.ecasEmail }}</b></span>
                        </div>
                    </div>
                </div>
            <!-- ADD CONTACT
                <div class="form-group ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 contactPersonMargin">   
                <p class="edit ui-g-12 cursorPointer" (click)="addNewContactToSupplier()">+ {{ "benefPortal.beneficary.addMunicipality" | translate}}</p>   
            </div>-->
            <br/><br/>
            <p class="beneficiaryMayor">{{ 'suppRegistration.entity.support' | translate }}</p>
            <div class="ui-g-12 whitePanel" style="padding: 0;">
                <p-tabView *ngIf="selectedCountriesNames.length > 0" (onChange)="selectCountry($event, tableRegions)">
                    <p-tabPanel *ngFor="let country of selectedCountriesNames;"
                                header="{{country | slice:0:1 | uppercase }}{{country | slice:1:country.length | lowercase }}">
                    </p-tabPanel>
                    <p-dataTable #tableRegions [value]="regionsToRender" [paginator]="true" [rows]="10">
                        <p-column field="label" [sortable]="true"></p-column>
                    </p-dataTable>
                </p-tabView>
            </div>
            <br/><br/>
        </div>
        <div class="ui-g-4 ui-lg-4 ui-md-12 ui-sm-12" style="margin-top: 1em;">
            <p class="beneficiaryMayor">User account</p>
            <div class="ui-g-12 whitePanel" style="padding: 0.5em 1em;">
                <p class="ui-g-12">{{ 'shared.change-password.text' | translate }}</p>
                <div class="ui-g-12 center">
                    <button id="changePassword" type="button" (click)="displayModal('password')" class="btn btn-primary whiteButton">
                        {{ 'shared.change-password.button' | translate }}
                    </button>
                </div>
                <hr class="beneficiaryHr ui-g-12">
                <p class="ui-g-12">{{ 'suppPortal.withdraw-registration.text' | translate }}</p>
                <div class="ui-g-12 center">
                    <button id="withdrawRegistration" type="button" (click)="displayModal('withdraw')" class="btn btn-primary whiteButton">
                        {{ 'shared.withdraw-registration.button' | translate }}
                    </button>
                </div>
                <hr class="beneficiaryHr ui-g-12">
                <p class="ui-g-12">
                    <span>{{ 'shared.changeLanguage.text1' | translate }}</span> <b>{{ selectedLanguage.label }}</b>.
                    <br/><br/>
                    <span>{{ 'shared.changeLanguage.text2' | translate }}</span>
                </p>
                <div class="ui-g-12 center">
                    <button id="changeLanguage" type="button" (click)="changeLanguage()" class="btn btn-primary whiteButton">
                        {{ 'shared.changeLanguage.button' | translate }}
                    </button>
                </div>
                <br/><br/>
            </div>
        </div>
    </div>
</div>

<!--MODALS BELOW-->
<p-dialog [(visible)]="withdrawingRegistration" [modal]="true" [responsive]="true"
          [resizable]="false" [draggable]="false" [closable]="false" [closeOnEscape]="false">
    <p class="ModalLoaderDots"><span>·</span><span>·</span><span>·</span></p>
    <h1 class="Modalh1Confirmation">{{ 'shared.loading.modal.title3' | translate }}</h1>
    <p class="ModalpConfirmation">{{ 'shared.loading.modal.dontclose' | translate}}</p>
</p-dialog>
<!-- Modal to confirm supplier withdraw-->
<p-dialog [(visible)]="withdrawingRegistrationConfirmation" [modal]="true" [responsive]="true"
          [resizable]="false" [draggable]="false" [closable]="false" [closeOnEscape]="false">
    <h1 class="Modalh1Confirmation">{{ 'suppPortal.withdraw-registration.text' | translate }}</h1>
<!--     <p class="ModalpConfirmation" style="margin: 2.4em 0em 2.4em 0em;">
      {{'suppPortal.withdraw-registration.text' | translate}}
    </p> -->
    <div class="modal-body">
        <div class="row center">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary cancel-button" (click)="withdrawingRegistrationConfirmation = !withdrawingRegistrationConfirmation">
                    {{ 'shared.close' | translate }}
                </button>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary publish-button" (click)="withdrawRegistration()">
                    {{ 'shared.confirm.button' | translate }}
                </button>
            </div>
        </div>
    </div>
</p-dialog>
<!-- -->
<p-dialog [(visible)]="displayLanguageModal" header="{{ 'shared.changeLanguage.modal.title' | translate }}" [modal]="true" [responsive]="true"
          [resizable]="false" [draggable]="false" [closable]="true">
    <div class="modal-body">
        <div *ngFor="let row of languageRows" class="row">
            <div *ngFor="let language of row" class="col-md-6">
                <button class="btn language-modal" [class.btn-secondary]="language.code != selectedLanguage.code" [class.btn-primary]="language.code == selectedLanguage.code" (click)="selectLanguage(language.code)">
                    <label class="text-adjust">{{language.label}} ({{language.code}})</label>
                </button>
            </div>
        </div>
    </div>
</p-dialog>
<!-- ADD CONTACT
<p-dialog [(visible)]="addUser" [modal]="true" [responsive]="true"
          [resizable]="false" [draggable]="false" [closable]="false" [closeOnEscape]="false">
    <form #addNewUser="ngForm">
        <div class="form-group">

            <div class="row marginStep1 landingFirstText">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 center">
                    <h1 class="Modalh1Confirmation ">{{ 'benefPortal.adduser.title' | translate}}</h1>
                    <p class="left">{{ 'benefPortal.adduser.desc' | translate}}</p>
                    <p class="left">{{ 'benefPortal.adduser.email' | translate}}</p>
                    <input type="email" id="newUserEmail" [(ngModel)]="newUserEmail"
                           class="form-control" name="newUserEmail" [pattern]="emailPattern" size="50" required>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </form>
    <div class="row marginStep1 landingFirstText form-group ">
        <div class="col-lg-2"></div>
        <div class="col-sm-6 col-lg-4" style="text-align: center !important">
            <button type="button" class="btn btn-primary cancel-button" (click)="closeAddNewContactModal()">
                {{ 'shared.cancel.button' | translate }}
            </button>
        </div>
        <div class="col-sm-6 col-lg-4" style="text-align: center !important">
            <button (click)="addNewContact()" class="btn btn-primary publish-button"
                    [disabled]="!addNewUser.form.valid">
                {{ 'shared.confirm.button' | translate }}
            </button>
        </div>
        <div class="col-lg-2"></div>
    </div>
</p-dialog>

<p-dialog [(visible)]="addContact" [modal]="true" [responsive]="true"
          [resizable]="false" [draggable]="false" [closable]="false" [closeOnEscape]="false">
    <p class="ModalLoaderDots"><span>·</span><span>·</span><span>·</span></p>
    <h1 class="Modalh1Confirmation">{{ 'shared.loading.modal.title3' | translate }}</h1>
    <p class="ModalpConfirmation">{{ 'shared.loading.modal.dontclose' | translate}}</p>
</p-dialog>

<p-dialog [(visible)]="displayAddContactModal">
    <div class="form-group ui-g">
        <h1 class="Modalh1Confirmation">{{ 'shared.deactivateContactModalAreYouSure' | translate}}</h1>
        <div class="ui-lg-3"></div>
        <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
            <button (click)="closeModal()" class="btn btn-primary publish-button">{{ 'shared.cancel.button' |
                translate }}
            </button>
        </div>
        <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
            <button (click)="deactivateContactModal()" class="btn btn-primary cancel-button">
                {{ 'shared.confirm.button' | translate }}
            </button>
        </div>

        <div class="ui-lg-3"></div>
    </div>
</p-dialog>-->
<!--MODALS ABOVE-->

<helpdesk-form-component portal="supplier-profile"></helpdesk-form-component>