<div class="ui-g">
	<div class="ui-lg-3"></div>
	<div class="ui-lg-6 abac--container">
		<h1>Abac</h1>
		<div class="abac--exporter">
			<p>Export Publications appliers information.
				<i class="fa fa-check" aria-hidden="true" *ngIf="isExportSuccessful && showExportIcon"></i>
				<i class="fa fa-times" aria-hidden="true" *ngIf="!isExportSuccessful && showExportIcon"></i>
				<i class="fa fa-spinner" aria-hidden="true" *ngIf="isExportLoading"></i>
			</p>
			<button class="btn btn-primary" (click)="onExportButton()">
				Export
            </button>
			<p *ngIf="exportErrorMessage"><span class="error--message">Error:</span> {{ exportErrorMessage }}</p>
		</div>
		<div class="abac--validator">
			<p>Import Abac validations results
				<i class="fa fa-check" aria-hidden="true" *ngIf="isImportSuccessful && showImportIcon"></i>
				<i class="fa fa-times" aria-hidden="true" *ngIf="!isImportSuccessful && showImportIcon"></i>
				<i class="fa fa-spinner" aria-hidden="true" *ngIf="isImportLoading"></i>
			</p>
			<input type="file" id="abacValidationFile" (change)="onFileSelection($event)" accept=".json,application/json">
			<p *ngIf="importErrorMessage"><span class="error--message">Error:</span> {{ importErrorMessage }}</p>
		</div>
	</div>
	<div class="ui-lg-3"></div>
</div>
<div class="ui-g">
	<div class="ui-lg-2"></div>
	<div class="ui-lg-8 abac--table">
		<h1>Publication appliers</h1>
		<div class="abac--table--container">
			<div class="publication--selector">
				<select (change)="onPublicationChange($event.target.value)">
					<option>-- Select publication</option>
					<option *ngFor="let pub of publications; let i = index" value="{{ pub.key }}">
						{{ pub.value }}
					</option>
				</select>
			</div>
			<p-dataTable [value]="tableAppliers" *ngIf="tableAppliers">
				<p-column field="beneficiaryName" header="{{ 'beneficiary.label' | translate }}" [sortable]="false"></p-column>
				<p-column field="supplierName" header="{{ 'supplier.label' | translate }}" [sortable]="false">
					<template pTemplate="body" let-applier="rowData">
						<span *ngIf="applier.supplierName">
							{{applier.supplierName}}
						</span>
						<span *ngIf="!applier.supplierName">
							<b><i>Not selected</i></b>
						</span>
					</template>
				</p-column>
				<p-column field="isBudgedCommited" header="{{ 'isBudgedCommited.label' | translate }}" [sortable]="false"></p-column>
				<p-column field="isBudgedLinked" header="{{ 'isBudgedLinked.label' | translate }}" [sortable]="false"></p-column>
				<p-column field="isAwarded" header="{{ 'isAwarded.label' | translate }}" [sortable]="false"></p-column>
				<p-column field="lastAbacMessage" header="{{ 'lastAbacMessage.label' | translate }}" [sortable]="false"></p-column>
				<p-column field="abacStatus" header="{{ 'abacStatus.label' | translate }}" [sortable]="false">
					<template pTemplate="body" let-applier="rowData">
						<span *ngIf="applier.abacStatus">
							<div class="green-abacStatus"></div> <b class="info-abacStatus">READY</b>
						</span>
						<span *ngIf="!applier.abacStatus">
							<div class="red-abacStatus"></div> <b class="info-abacStatus">NOT READY</b>
						</span>
					</template>
				</p-column>
			</p-dataTable>
		</div>
	</div>
	<div class="ui-lg-2"></div>
</div>

