<div class="clearfix"></div>
<div class="jumbotron mb-3" style="background-color: transparent;">
    <div class="container center">
        <p class="center beneficiaryTitle">{{ 'dgconnect.title' | translate }}</p>
    </div>
</div>
<div class="container center registrationsTable">
    <p-dataTable [value]="suppliers" [editable]="true">
        <p-column field="name" header="{{ 'name.label' | translate }}"></p-column>
        <p-column field="nuts" header="Nuts"></p-column>
        <p-column field="address" header="{{ 'address.label' | translate }}"></p-column>
        <p-column field="status" header="{{ 'status' | translate }}">
            <ng-template let-user="rowData" let-index="rowIndex" pTemplate="body">
                <p-dropdown (onChange)="uploadData(index)" [options]="status" [(ngModel)]="selectStatus[index]"
                            placeholder="Select a status"></p-dropdown>
                <p>Current Status: {{this.status[index]['label']}}</p>
            </ng-template>
        </p-column>
        <p-column field="duplicated" header="{{ 'duplicated.label' | translate }}">
            <ng-template let-user="rowData" pTemplate="body">
                <i class="fa fa-check" aria-hidden="true" *ngIf="!user.duplicated"></i>
                <i class="fa fa-times" aria-hidden="true" *ngIf="user.duplicated"></i>
            </ng-template>
        </p-column>
    </p-dataTable>

</div>