
<importFile
        title="{{ 'dgConn.importexport.lc.import' | translate }}"
        (selectedFile)="sendFormData($event)"
></importFile>

<p-dialog [(visible)]="processingOperation" [modal]="true" [responsive]="true" [resizable]="false"
          [draggable]="false" [closable]="false">
    <h1 class="Modalh1Confirmation">{{ 'shared.loading.modal.title' | translate }}</h1>
    <div style="text-align: center;font-size: 4em;margin: 1em 0">
        <i [@enterSpinner] class="fa fa-spinner loading-icon" style="text-align: center;"></i>
    </div>
</p-dialog>