<div class="clearfix"></div>
<div class="container font">
    <div class="clearfix"></div>
    <div class="row labelModal ">
        <div class="col-sm-8">
            <div class="row">
                <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
                    <span class="beneficiaryTitle">{{ 'benefPortal.profile.title' | translate }}</span>
                    <span class="link-label right editRegistrationsLabel" (click)="goToEditProfile()" *ngIf="!fetchingData">
                        <i class="fa fa-pencil" aria-hidden="true"></i> {{'discussionForum.editRegistration' | translate}}
                    </span>
                </div>
            </div>
            <i *ngIf="fetchingData" [@enterSpinner] class="fa fa-spinner loading-icon"></i>
            <div class="row" *ngIf="municipalities.length > 0 && municipalities.length == mayors.length && !fetchingData">
                <div class="col-sm-12" *ngFor="let municipality of municipalities; let i = index">
                    <div class="row">
                        <br>
                        <div class="col-sm-8">
                            <span class="beneficiaryMayor">{{ 'shared.municipalityDetails.title' | translate }}</span>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" (click)="goToUploadDocuments(municipality.id)" class="btn btn-primary pull-right">
                                {{'shared.uploadDocuments' | translate }}
                            </button>
                        </div>
                    </div>
                    <br>
                    <ux-panels>
                        <div class="row panelMunicipality">
                            <ux-panel label="{{ 'shared.municipality.label' | translate }} {{municipality?.name}} - #{{ i + 1 }}" [isExpandable]="true"
                                [isExpanded]="i == 0" tagLabel="show">
                                <div class="container whitePanelBeneficiary">
                                    <div class="ui-g-12" *ngIf="checkHasDiscussion(municipality)">
                                        <div *ngIf="orderedUserThreads[i]" class="col-sm-12 margin-top discussionWarningBox discussionWarning-icon">
                                            <div class="row">
                                                <div class="ui-g-2">
                                                    <i class="fa fa-exclamation-triangle"></i>
                                                </div>
                                                <div class="ui-g-10 discussionWarning">
                                                    <p>{{ 'benefPortal.beneficiary.goDiscussionText' | translate }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="text-align: center !important">
                                            <button *ngIf="orderedUserThreads[i]" class="btn btn-primary discussionWarnigButton" id="muncicipalityButton" (click)="goToDiscussion(i)">
                                                {{'discussionForum.beneficiary.goDiscussion' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="ui-g-12">
                                        <span class="ui-g-4 ui-sm-12">{{ 'benefRegistration.townHall.address' | translate }}</span>
                                        <span class="ui-g-8 ui-sm-12">
                                            <b>{{municipality?.address}}</b>
                                        </span>
                                    </div>
                                    <div class="ui-g-12">
                                        <span class="ui-g-4 ui-sm-12">{{ 'shared.number.label' | translate }}</span>
                                        <span class="ui-g-8 ui-sm-12">
                                            <b>{{municipality?.addressNum}}</b>
                                        </span>
                                    </div>
                                    <div class="ui-g-12">
                                        <span class="ui-g-4 ui-sm-12">{{ 'shared.postal-code.label' | translate }}</span>
                                        <span class="ui-g-8 ui-sm-12">
                                            <b>{{municipality?.postalCode}}</b>
                                        </span>
                                    </div>
                                    <div class="ui-g-12">
                                            <span class="ui-g-4 ui-sm-12">{{ 'suppRegistration.city.label' | translate }}</span>
                                            <span class="ui-g-8 ui-sm-12">
                                                <b>{{municipality?.name}}</b>
                                            </span>
                                        </div>
                                    <div class="ui-g-12">
                                        <span class="ui-g-4 ui-sm-12">{{ 'shared.country.label' | translate }}</span>
                                        <span class="ui-g-8 ui-sm-12">
                                            <b>{{municipality?.country}}</b>
                                        </span>
                                    </div>
                                    <div class="ui-g-12">
                                        <hr class="beneficiaryHr sizeBeneficiaryHr">
                                    </div>
                                    <div class="ui-g-12">
                                        <span class="ui-g-4 ui-sm-12">{{'benefRegistration.nameMayor.label' | translate }}</span>
                                        <span class="ui-g-8 ui-sm-12">
                                            <b>{{mayors[i]?.name}}</b>
                                        </span>
                                    </div>
                                    <div class="ui-g-12">
                                        <span class="ui-g-4 ui-sm-12">{{'benefRegistration.surnameMayor.label' | translate }}</span>
                                        <span class="ui-g-8 ui-sm-12">
                                            <b>{{mayors[i]?.surname}}</b>
                                        </span>
                                    </div>
                                    <div class="ui-g-12">
                                        <span class="ui-g-4 ui-sm-12">{{'benefRegistration.emailMayor.label' | translate}}</span>
                                        <span class="ui-g-8 ui-sm-12">
                                            <b>{{mayors[i]?.email}}</b>
                                        </span>
                                    </div>
                                    <div class="ui-g-12">
                                        <hr class="beneficiaryHr sizeBeneficiaryHr">
                                    </div>
                                    <div *ngFor="let contactPerson of users[municipality.id]; let i = index">
                                        <div *ngIf="!contactPerson?.main">
                                            <div *ngIf="i >= 1" class="">
                                                <div class="ui-g-12">
                                                    <!-- <hr class="beneficiaryHr sizeBeneficiaryHr"> -->
                                                </div>
                                            </div>
                                            <div class="ui-g-12">
                                                <span class="ui-g-12 blueText">{{'benefPortal.profile.contactPerson' | translate}} {{ municipality.name}}</span>
                                            </div>
                                            <beneficiary-user [user]="contactPerson" [isEdit]="false" (onUserChange)="return;"></beneficiary-user>
                                        </div>
                                    </div>
                                    <div class="ui-g-12">
                                        <p class="edit ui-g-12 cursorPointer" (click)="addNewContactToMunicipality(municipality.id)">+ {{ 'benefPortal.beneficary.addMunicipality' | translate}}</p>
                                    </div>
                                </div>
                            </ux-panel>
                        </div>
                    </ux-panels>
                </div>
                <!-- end for -->
                <div class="clearfix"></div>
                <div class="container">
                    <div *ngIf="userMain && userMain?.main" class="">
                        <div class="row ui-g-12">
                            <span class="beneficiaryMayor">{{ 'benefRegistration.yourDetails.title' | translate }}</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row whitePanelBeneficiary">
                            <beneficiary-user [user]="userMain" [isEdit]="false" (onUserChange)="return;"></beneficiary-user>
                        </div>
                    </div>
                </div>
                <div class="container mt-3">
                    <div *ngIf="isOrganisation" class="row whitePanelBeneficiary">
                        <div *ngFor="let contactPerson of usersAssociation; let i = index">
                            <div *ngIf="!contactPerson?.main">
                                <div *ngIf="i >= 1" class="">
                                    <div class="ui-g-12">
                                        <hr class="beneficiaryHr sizeBeneficiaryHr">
                                    </div>
                                </div>
                                <div class="ui-g-12">
                                    <span class="ui-g-12 blueText">{{'benefPortal.profile.associationPerson' | translate}}</span>
                                </div>
                                <beneficiary-user [user]="contactPerson" [isEdit]="false" (onUserChange)="return;"></beneficiary-user>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 marginSecondSectionBeneficiary">
            <!--
                <div class="col-sm-12 margin-top  button-content" *ngIf="!documentUploaded || !allDocumentsUploaded">
                    <p>{{ 'shared.statusUploadDocs' | translate }}</p>
                    <div style="text-align: center !important">
                        <button type="button" (click)="goToapplyForVOucher()" *ngIf="allDocumentsUploaded && !oneRegsitration" class="btn btn-primary changePassword">
                            {{'shared.uploadDocuments' | translate }}
                        </button>
                        <button type="button" (click)="goToUploadDocuments()" *ngIf="oneRegsitration" class="btn btn-primary changePassword">
                            {{'shared.uploadDocuments' | translate }}
                        </button>
                    </div>
                </div>
            -->
            <!--<div class="col-sm-12 margin-top  button-content" *ngIf="hasDiscussion">
                <p>{{ 'benefPortal.beneficiary.goDiscussionText' | translate }}</p>
                <div style="text-align: center !important">
                    <button type="button" (click)="goToDiscussion()" class="btn btn-primary changePassword">
                        {{'discussionForum.beneficiary.goDiscussion' | translate }}
                    </button>
                </div>
            </div> -->
            <div class="col-sm-12 margin-top button-content">
                <p>{{ 'shared.change-password.text' | translate }}</p>
                <div style="text-align: center !important">
                    <button type="button" (click)="displayModal('password')" class="btn btn-primary whiteButton changePassword">
                        {{'shared.change-password.button' | translate }}
                    </button>
                </div>
            </div>
            <div class="col-sm-12 margin-top button-content" *ngIf="withdrawAble">
                <p>{{ 'shared.withdraw-registration.text' | translate }}</p>
                <div style="text-align: center !important">
                    <button type="button" (click)="displayModal('withdraw')" class="btn btn-primary whiteButton changePassword" [disabled]="withdrawingRegistration || withdrawnSuccess">
                        {{ 'shared.withdraw-registration.button' | translate }}
                    </button>
                </div>
            </div>
            <div class="col-sm-12 margin-top button-content">
                <p>
                    <span>{{ 'shared.changeLanguage.text1' | translate }}</span>
                    <strong>{{ selectedLanguage?.label }}.</strong>
                </p>
                <p>{{ 'shared.changeLanguage.text2' | translate }}</p>
                <div style="text-align: center !important">
                    <button type="button" (click)="changeLanguage()" class="btn btn-primary whiteButton changePassword">
                        {{'shared.changeLanguage.button' | translate }}
                    </button>
                </div>
            </div>
            <!--  </div> -->

        </div>
    </div>
</div>

<!-- Change language modal -->
<p-dialog [(visible)]="displayLanguageModal" header="{{ 'shared.changeLanguage.modal.title' | translate }}" [modal]="true"
    [responsive]="true" [resizable]="false" [draggable]="false" [closable]="true">
    <div class="modal-body">
        <div *ngFor="let row of languageRows" class="row">
            <div *ngFor="let language of row" class="col-md-6">
                <button class="btn language-modal" [class.btn-secondary]="language.code != selectedLanguage.code" [class.btn-primary]="language.code == selectedLanguage.code"
                    (click)="selectLanguage(language.code)">
                    <label class="text-adjust">{{language.label}} ({{language.code}})</label>
                </button>
            </div>
        </div>
    </div>
</p-dialog>
<!-- Modal to confirm beneficiary withdraw-->
<p-dialog [(visible)]="withdrawingRegistrationConfirmation" [modal]="true" [responsive]="true" [resizable]="false" [draggable]="false"
    [closable]="false" [closeOnEscape]="false">
    <h1 class="Modalh1Confirmation">{{ 'benefPortal.withdrawApplication.title' | translate }}</h1>
    <p class="ModalpConfirmation" style="margin: 2.4em 0em 2.4em 0em;">
        {{'benefPortal.withdrawApplication.desc' | translate}}
    </p>
    <div class="modal-body">
        <div class="row center">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary cancel-button" (click)="withdrawingRegistrationConfirmation = !withdrawingRegistrationConfirmation">
                    {{ 'shared.close' | translate }}
                </button>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary publish-button" (click)="deleteRegistration()">
                    {{ 'shared.confirm.button' | translate }}
                </button>
            </div>
        </div>
    </div>
</p-dialog>

<helpdesk-form-component portal="beneficiary-profile"></helpdesk-form-component>
<p-dialog [(visible)]="withdrawingRegistration" [modal]="true" [responsive]="true" [resizable]="false" [draggable]="false"
    [closable]="false" [closeOnEscape]="false">
    <p class="ModalLoaderDots">
        <span>·</span>
        <span>·</span>
        <span>·</span>
    </p>
    <h1 class="Modalh1Confirmation">{{ 'shared.loading.modal.title3' | translate }}</h1>
    <p class="ModalpConfirmation">{{ 'shared.loading.modal.dontclose' | translate}}</p>
</p-dialog>


<p-dialog [(visible)]="addUser" [modal]="true" [responsive]="true" [resizable]="false" [draggable]="false" [closable]="false"
    [closeOnEscape]="false">
    <form #addNewUser="ngForm">
        <div class="form-group">

            <div class="row marginStep1 landingFirstText">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 center">
                    <h1 class="Modalh1Confirmation ">{{ 'benefPortal.adduser.title' | translate}}</h1>
                    <p class="left">{{ 'benefPortal.adduser.desc' | translate}}</p>
                    <p class="left">{{ 'benefPortal.adduser.email' | translate}}</p>
                    <input type="email" id="newUserEmail" [(ngModel)]="newUserEmail" class="form-control" name="newUserEmail" [pattern]="emailPattern"
                        size="50" required>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </form>
    <div class="row marginStep1 landingFirstText form-group ">
        <div class="col-lg-2"></div>
        <div class="col-sm-6 col-lg-4" style="text-align: center !important">
            <button type="button" class="btn btn-primary cancel-button" (click)="closeAddNewContactModal()">
                {{ 'shared.cancel.button' | translate }}
            </button>
        </div>
        <div class="col-sm-6 col-lg-4" style="text-align: center !important">
            <button (click)="addNewContact()" class="btn btn-primary publish-button" [disabled]="!addNewUser.form.valid">
                {{ 'shared.confirm.button' | translate }}
            </button>
        </div>
        <div class="col-lg-2"></div>
    </div>
</p-dialog>
<p-dialog [(visible)]="addContact" [modal]="true" [responsive]="true" [resizable]="false" [draggable]="false" [closable]="false"
    [closeOnEscape]="false">
    <p class="ModalLoaderDots">
        <span>·</span>
        <span>·</span>
        <span>·</span>
    </p>
    <h1 class="Modalh1Confirmation">{{ 'shared.loading.modal.title3' | translate }}</h1>
    <p class="ModalpConfirmation">{{ 'shared.loading.modal.dontclose' | translate}}</p>
</p-dialog>