<div class="container">
    <div class="ui-g-12" style="margin-top: 1em; font-size: 14px;">
        <a class="link-label" routerLink="/dgconn-portal" routerLinkActive="active">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> {{'shared.back.button' | translate}}
        </a>
        <p class="beneficiaryTitle">{{'dgConn.importexport.title' | translate}}</p>
        <p>{{'dgConn.importexport.introduction' | translate}}</p>
    </div>

    <span class="ui-g-12"><b>{{'dgConn.importexport.lef' | translate}}</b></span>

    <panelButton
            title="{{ 'dgConn.importexport.lef.export.legalentities' | translate }}"
            description="{{ 'dgConn.importexport.lef.export.legalentities.desc' | translate }}"
            (onClick)="exportBeneficiaryInformation()"></panelButton>

    <br/><br/>

    <panelButton
            title="{{ 'dgConn.importexport.lef.import.legalentities' | translate }}"
            description="{{ 'dgConn.importexport.lef.export.legalentities.desc' | translate }}"
            (onClick)="navigateToImportLefFile()"></panelButton>

    <br/><br/>

    <span class="ui-g-12"><b>{{'dgConn.importexport.bc' | translate}}</b></span>

    <panelButton
            title="{{ 'dgConn.importexport.bc.export' | translate }}"
            description="{{ 'dgConn.importexport.bc.export.desc' | translate }}"
            (onClick)="exportBudgetaryCommitment()"></panelButton>

    <panelButton
            title="{{ 'dgConn.importexport.bc.import' | translate }}"
            description="{{ 'dgConn.importexport.bc.import.desc' | translate }}"
            (onClick)="navigateToImportBcFile()"></panelButton>

    <br/><br/>

    <span class="ui-g-12"><b>{{'dgConn.importexport.lc' | translate}}</b></span>

    <panelButton
            title="{{ 'dgConn.importexport.lc.export' | translate }}"
            description="{{ 'dgConn.importexport.lc.export.desc' | translate }}"
            (onClick)="exportLegalCommitment()"></panelButton>

    <panelButton
            title="{{ 'dgConn.importexport.lc.import' | translate }}"
            description="{{ 'dgConn.importexport.lc.import.desc' | translate }}"
            (onClick)="navigateToImportLcFile()"></panelButton>

    <br/><br/>

    <span class="ui-g-12"><b>{{'dgConn.importexport.ba' | translate}}</b></span>

    <panelButton
            title="{{ 'dgConn.importexport.ba.export' | translate }}"
            description="{{ 'dgConn.importexport.ba.export.desc' | translate }}"
            panelDisabled="true"></panelButton>

    <panelButton
            title="{{ 'dgConn.importexport.ba.import' | translate }}"
            description="{{ 'dgConn.importexport.ba.import.desc' | translate }}"
            panelDisabled="true"></panelButton>

    <br/>

    <hr class="genericHr">
    <span class="ui-g-12"><b>{{'dgConn.importexport.gc' | translate}}</b></span>

    <panelButton
            title="{{ 'dgConn.importexport.gc.configure' | translate }}"
            description="{{ 'dgConn.importexport.gc.configure.desc' | translate }}"
            panelDisabled="true"></panelButton>

    <br/><br/>
</div>

<p-dialog [(visible)]="processingOperation" [modal]="true" [responsive]="true" [resizable]="false"
          [draggable]="false" [closable]="false">
    <h1 class="Modalh1Confirmation">{{ 'shared.loading.modal.title' | translate }}</h1>
    <div style="text-align: center;font-size: 4em;margin: 1em 0">
        <i [@enterSpinner] class="fa fa-spinner loading-icon" style="text-align: center;"></i>
    </div>
</p-dialog>