<div class="container">
    <div class="ui-g-12" style="margin-top: 1em; font-size: 14px;">
        <a class="link-label" routerLink=".." routerLinkActive="active">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> {{'shared.back.button' | translate}}
        </a>
        <p class="beneficiaryTitle">{{'dgConn.importexport.title' | translate}}</p>
        <p>{{'dgConn.importexport.introduction' | translate}}</p>
    </div>
    <span class="ui-g-12"><b>{{'dgConn.importexport.lef' | translate}}</b></span>
    <div class="ui-g-6 ui-lg-6 ui-md-12">
        <div class="panelItem ui-g-12" (click)="importRegistrationData()">
            <span class="beneficiaryMayor">{{'dgConn.importexport.lef.import.finallist' | translate}}</span>
            <p>{{'dgConn.importexport.lef.import.finallist.desc' | translate}}</p>
        </div>
    </div>
    <div class="ui-g-6 ui-lg-6 ui-md-12">
        <div class="panelItem ui-g-12" (click)="exportBeneficiaryInformation()">
            <span class="beneficiaryMayor">{{'dgConn.importexport.lef.export.legalentities' | translate}}</span>
            <p>{{'dgConn.importexport.lef.export.legalentities.desc' | translate}}</p>
        </div>
    </div>
    <br/><br/>
    <div class="ui-g-6 ui-lg-6 ui-md-12">
        <div class="panelItem ui-g-12" (click)="importLegalEntityFBCValidate()">
            <span class="beneficiaryMayor">{{'dgConn.importexport.lef.import.legalentities' | translate}}</span>
            <p>{{'dgConn.importexport.lef.export.legalentities.desc' | translate}}</p>
        </div>
    </div>
    <div class="ui-g-6 ui-lg-6 ui-md-12">
        <div class="panelItem ui-g-12" (click)="importRegistrationData()">
            <span class="beneficiaryMayor">{{'dgConn.importexport.lef.import.references' | translate}}</span>
            <p>{{'dgConn.importexport.lef.import.references.desc' | translate}}</p>
        </div>
    </div>
    <br/><br/>
    <span class="ui-g-12"><b>{{'dgConn.importexport.bc' | translate}}</b></span>
    <div class="ui-g-6 ui-lg-6 ui-md-12">
        <div class="panelItem ui-g-12" (click)="exportBudgetaryCommitment()">
            <span class="beneficiaryMayor">{{'dgConn.importexport.bc.export' | translate}}</span>
            <p>{{'dgConn.importexport.bc.export.desc' | translate}}</p>
        </div>
    </div>
    <div class="ui-g-6 ui-lg-6 ui-md-12">
        <div class="panelItem ui-g-12" (click)="importRegistrationData()">
            <span class="beneficiaryMayor">{{'dgConn.importexport.bc.import' | translate}}</span>
            <p>{{'dgConn.importexport.bc.import.desc' | translate}}</p>
        </div>
    </div>
    <br/><br/>
    <span class="ui-g-12"><b>{{'dgConn.importexport.lc' | translate}}</b></span>
    <div class="ui-g-6 ui-lg-6 ui-md-12">
        <div class="panelItem ui-g-12 panelDisabled">
            <span class="beneficiaryMayor">{{'dgConn.importexport.lc.export' | translate}}</span>
            <p>{{'dgConn.importexport.lc.export.desc' | translate}}</p>
        </div>
    </div>
    <div class="ui-g-6 ui-lg-6 ui-md-12">
        <div class="panelItem ui-g-12 panelDisabled">
            <span class="beneficiaryMayor">{{'dgConn.importexport.lc.import' | translate}}</span>
            <p>{{'dgConn.importexport.lc.import.desc' | translate}}</p>
        </div>
    </div>
    <br/><br/>
    <span class="ui-g-12"><b>{{'dgConn.importexport.ba' | translate}}</b></span>
    <div class="ui-g-6 ui-lg-6 ui-md-12">
        <div class="panelItem ui-g-12 panelDisabled">
            <span class="beneficiaryMayor">{{'dgConn.importexport.ba.export' | translate}}</span>
            <p>{{'dgConn.importexport.ba.export.desc' | translate}}</p>
        </div>
    </div>
    <div class="ui-g-6 ui-lg-6 ui-md-12">
        <div class="panelItem ui-g-12 panelDisabled">
            <span class="beneficiaryMayor">{{'dgConn.importexport.ba.import' | translate}}</span>
            <p>{{'dgConn.importexport.ba.import.desc' | translate}}</p>
        </div>
    </div>
    <br/>
    <hr class="genericHr">
    <span class="ui-g-12"><b>{{'dgConn.importexport.gc' | translate}}</b></span>
    <div class="ui-g-6 ui-lg-6 ui-md-12">
        <div class="panelItem ui-g-12 panelDisabled">
            <span class="beneficiaryMayor">{{'dgConn.importexport.gc.configure' | translate}}</span>
            <p>{{'dgConn.importexport.gc.configure.desc' | translate}}</p>
        </div>
    </div>
    <br/><br/>
</div>

<p-dialog [(visible)]="processingOperation" [modal]="true" [responsive]="true" [resizable]="false"
          [draggable]="false" [closable]="false">
    <h1 class="Modalh1Confirmation">{{ 'shared.loading.modal.title' | translate }}</h1>
    <div style="text-align: center;font-size: 4em;margin: 1em 0em;">
        <i [@enterSpinner] class="fa fa-spinner loading-icon" style="text-align: center;"></i>
    </div>
</p-dialog>