<div class="clearfix"></div>

<div class="first">
    <img id="first-background" src="assets/images/group-6.png" alt="">
    <div class="container-fluid header-fluid">

        <div class="contenedor row">
            <div class="col-xl-12">
                <img id="img-wifi" src="assets/images/group.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="contenedor row">
        <div class="col-xl-6 margin-top">

            <h2 class="title-home">{{ 'home.part1.title' | translate }}</h2>
            <p class="subtitle-home">{{ 'home.part1.text1' | translate }}</p>
            <p class="normal-text">{{ 'home.part1.text2' | translate }}</p>
        </div>
        <div class="col-xl-6 margin-top-right">
            <p class="subtitle-bold-italic"> {{ 'home.part1.text3' | translate }}</p>
            <p class="subtitle-italic">{{ 'home.part1.author' | translate }}
                <br> {{ 'home.part1.date' | translate }}</p>
            <a class="btn btn-primary video-button changePassword"
               href="http://ec.europa.eu/avservices/video/player.cfm?ref=I152883" target="_blank">{{
                'home.watch.video' | translate }}</a>
        </div>
        <div id="img-europeans">
            <img src="assets/images/copy-2.png" alt="">
        </div>
    </div>
</div>
<div class="container-fluid second">
    <div class="row contenedor">
        <div class="col-xl-6">
            <h1 class="benefit">{{ 'home.part2.title' | translate }}</h1>
            <p *ngIf="callState == 1" class="europeans-text"
               [innerHTML]="'home.part2.text1' | translate:{date:dateNumber,hour:hourNumber}">
            </p>
            <p *ngIf="callState == 2 || callState == 3" class="europeans-text"
               [innerHTML]="'benefPortal.voucher.call.label1' | translate">
            </p>
            <p *ngIf="callState == 0" class="europeans-text"
               [innerHTML]="'benefPortal.voucher.noCall' | translate">
            </p>
            <p class="europeans-text">{{ 'home.part2.subtitle4' | translate}}</p>
            <ul class="europeans-text">
                <li><span>{{ 'home.part2.list1' | translate}}</span></li>
                <li><span>{{ 'home.part2.list2' | translate}}</span></li>
            </ul>
            <p class="europeans-text" [innerHTML]="'home.part2.subtitle5' | translate"></p>
            <p class="europeans-text">{{ 'home.part2.subtitle6' | translate}}</p>
            <div id="img-scnd" class="img-scnd-top">
                <img src="assets/images/copy-3.png" alt="">
            </div>
        </div>
        <div class="col-xl-6">
            <h2 class="entities">{{ 'home.part2.subtitle2' | translate }}</h2>
            <p class="entities-text">{{ 'home.part2.text2' | translate }}</p>
            <p class="entities-text">{{ 'home.part2.text3' | translate }}</p>
            <p class="entities-text">{{ 'home.part2.text4' | translate }}</p>
        </div>
    </div>
</div>

<!--third-->
<div class="container-fluid mayor">
    <div class="row contenedor">
        <div class="col-xl-6">
            <h2 class="apply">{{ 'home.part3.title' | translate }} </h2>
            <p class="apply-text">{{ 'home.part3.text1' | translate }}</p>
            <ul class="europeans-text">
                <li><span>{{ 'home.part3.list1' | translate}}</span></li>
                <li><span>{{ 'home.part3.list2' | translate}}</span></li>
            </ul>
            <!-- No calls -->
            <div *ngIf="callState==0">
                <p class="apply">{{ 'shared.announce.noCallPlanned' | translate}}</p>
                <!--<p class="apply-text">{{ 'home.part3.text3' | translate }}</p>
                <h2 class="apply">{{ 'home.part2.text1' | translate}}</h2>
                <timer-component class="timelineBenefLanding" (timerEvent)="hideTimer()"
                                 [expirationTimestamp]="currentCall.startDate"></timer-component>
                                 -->
            </div>
            <!-- call planned or open -->
            <div *ngIf="callState>=1">
                <p class="apply-text" [innerHTML]="'home.part2.text1' |
                    translate:{date:dateNumber,hour:hourNumber}"></p>
            </div>
        </div>
        <div class="col-xl-6">
            <h2 class="apply">{{ 'home.part3.title.1' | translate }} </h2>
            <p class="apply-text">{{ 'home.part3.text2' | translate }}</p>
            <p class="apply-text">{{ 'home.part3.text5' | translate }}</p>
        </div>

    </div>


    <!--endthird-->
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
            <div class="col-xl-6">
                <img class="mayor-img" src="assets/images/account-balance-material-icons-regular.png">
                <p class="supplier supplierFont">{{ 'home.part3.title2' | translate }}</p>
                <a class="btn btn-primary changePassword video-button" href="/#/beneficiary-landing"
                   (click)="goToTop()">{{ 'home.register' | translate }}</a>
            </div>
            <div class="col-xl-6">
                <img class="supplier-img" src="assets/images/group-4.png">
                <p class="supplier">{{ 'home.part3.title3' | translate }}</p>
                <a class="btn btn-primary changePassword video-button" href="/#/supplier-landing" (click)="goToTop()">{{
                    'home.register' | translate }}</a>
            </div>
        </div>
        <div class="col-xl-2"></div>
    </div>
</div>
<div class="container-fluid second changePasswordModalNoTop counter-container" *ngIf="municipalitiesCounter > 50">
    <div class="counter">
        <div class="row contenedor align-items-center">
            <div class="offset-md-1 col-xl-5">
                <p class="mayor-title counterText"
                   [innerHTML]="'home.counterSection3' | translate:{municipalitiesCounter:municipalitiesCounter}">
                </p>
                <a class="btn btn-primary video-button changePassword" routerLink="/list-municipalities">
                    {{ 'home.counterSectionButton' | translate }}</a>
            </div>
            <div class="col-xl-4"></div>
        </div>
    </div>
</div>
<div class="container-fluid third">
    <div class="row contenedor">

    </div>
</div>
<div class="content azul container-fluid">
    <div class="row contenedor">
        <div class="col-xl-12">
            <h2 class="information">{{ 'home.part4.title1' | translate }}</h2>
            <p class="text-information">{{ 'home.part4.subtitle' | translate }}
            </p>
        </div>
    </div>
    <div class="row contenedor">
        <div class="col-xl-6">
            <p class="white-links">
                <a target="_blank"
                   href="https://ec.europa.eu/digital-single-market/en/faq/wifi4eu-questions-and-answers">
                    {{'home.part4.link1' | translate }}</a>
            </p>
            <p class="white-links">
                <a target="_blank"
                   href="https://ec.europa.eu/digital-single-market/en/policies/wifi4eu-free-wi-fi-europeans">
                    {{'home.part4.link2' | translate }}</a>
            </p>
            <p class="white-links">
                <a target="_blank"
                   href="https://ec.europa.eu/digital-single-market/news-redirect/624124">
                    {{'home.part4.link5' | translate }}</a>
            </p>
        </div>
        <div class="col-xl-6">
            <img class="phoneIcon" src="assets/images/phone.PNG" alt="">
            <a target="_blank" href="https://europa.eu/european-union/contact/write-to-us_en">
                <p class="white-links" [innerHTML]="'home.part4.link4' | translate"></p>
            </a>
        </div>
    </div>
</div>