<div id="step2-title" class="ui-g">
    <div class="ui-g-12 center">
        <div id="component-title">
            <h3 class="beneficiaryTitle labelModal">
                {{ 'suppPortal.request.additionalInfo.title' | translate }}
            </h3>
        </div>
    </div>
</div>
<div class="ui-g">
    <div class="ui-lg-3"></div>
    <div class="ui-g-12 ui-md-12 ui-lg-6">
        <p *ngIf="supplier" class="label" style="text-align: center;"
           [innerHTML]="'suppPortal.request.additionalInfo.supplier.instructions' | translate">
        </p>
    </div>
    <div class="ui-lg-3"></div>
</div>
<form #legalForm="ngForm"(ngSubmit)="onSubmit()" *ngIf="supplier && user">
    <div class="ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <h2 class="discussionForumMayors marginTopCountdown">
                {{ 'benefRegistration.yourDetails.title' | translate }}</h2>
        </div>
        <div class="ui-lg-3"></div>
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="form-group">
                <label class="label" for="supplier">{{ 'suppRegistration.company.name' | translate }}</label>
                <label class="form-control" id="supplier" name="supplier"><b>{{supplier.name}}</b></label>
            </div>
        </div>
        <div class="ui-lg-3"></div>
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="form-group">
                <label class="label" for="name">{{ 'suppRegistration.contact.name' | translate }}</label>
                <label class="form-control" id="name" name="name"><b>{{user.name}}</b></label>
            </div>
        </div>
        <div class="ui-lg-3"></div>
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="form-group">
                <label class="label" for="surname">{{ 'shared.surname.label' | translate }}</label>
                <label class="form-control " id="surname" name="surname"><b>{{user.surname}}</b></label>
            </div>
        </div>
        <div class="ui-lg-3"></div>
    </div>
    <div class="ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <hr class="beneficiaryHr marginHr">
        </div>
        <div class="ui-lg-3"></div>
    </div>
    <div class="ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <p>{{ 'suppPortal.request.additionalInfo.provideDocs1' | translate }}</p>
        </div>
        <div class="ui-lg-3"></div>
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="form-group">
                <label class="label" for="document1">{{ 'suppPortal.request.additionalInfo.supplier.doc1.label' | translate }}</label>
                <input #document1 id="document1" name="document1" (change)="uploadFile($event, 0)"
                       type="file" class="upload" accept=".doc, .docx, .pdf" required />
            </div>
        </div>
        <div class="ui-lg-3"></div>
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="form-group">
                <label class="label" for="document2">{{ 'benefPortal.request.additionalInfo.supplier.doc2.label' | translate }}</label>
                <input #document2 id="document2" name="document2" (change)="uploadFile($event, 1)"
                       type="file" class="upload" accept=".doc, .docx, .pdf" required />
            </div>
        </div>
        <div class="ui-lg-3"></div>
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <hr class="beneficiaryHr marginHr">
        </div>
        <div class="ui-lg-3"></div>
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <p>{{ 'suppPortal.request.additionalInfo.provideDocs2' | translate }}</p>
        </div>
        <div class="ui-lg-3"></div>
    </div>
    <div class="form-group ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
            <a href="#/supplier-portal">
                <button type="button" class="btn btn-primary cancel-button">{{ 'shared.cancel.button' | translate }}</button>
            </a>
        </div>
        <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
            <button type="submit" class="btn btn-primary publish-button" [disabled]="!legalForm.form.valid || !allFilesUploaded">
                {{ 'shared.confirm.button' | translate }}
            </button>
        </div>
        <div class="ui-lg-3"></div>
    </div>
</form>
<p-dialog [(visible)]="displayConfirmingData" [modal]="true" [responsive]="true" [resizable]="false" [draggable]="false"
          [closable]="false" [closeOnEscape]="false">
    <p class="ModalLoaderDots"><span>.</span><span>.</span><span>.</span></p>
    <h1 class="Modalh1Confirmation">{{ 'shared.loading.modal.title' | translate }}</h1>
    <p class="ModalpConfirmation">{{ 'shared.loading.modal.title3' | translate }}</p>
</p-dialog>