
<div class="clearfix"></div>

<form (ngSubmit)="onSubmit()" #activationForm="ngForm">
        <div class="form-group ui-g">
        <div class="ui-g-3"></div>
        <div class="ui-g-6">
            <div class="form-group">
                <p class="h2 h2-title">{{ 'activate.account' | translate }}</p>
                <p class="text-align-center">{{ 'email.information' | translate }}</p>
                <label for="email">{{ 'email.label' | translate }}</label>
                <input type="email" [(ngModel)]="activationDetails.email"  class="form-control" name="email" ngcontrol="email"
                        #email="ngModel" required>
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger" >{{ 'email.required' | translate }}</div>

                <label for="code">{{ 'code.label' | translate }}</label>
                <input type="text" [(ngModel)]="activationDetails.code" class="form-control" name="code" ngcontrol="code"
                       #code="ngModel"  minlength="8" maxlength="8" required>
                <div [hidden]="code.valid || code.pristine" class="alert alert-danger">{{ 'code.required' | translate }}</div>
                <p class="smallLetter">{{ 'code.digits' | translate }}</p>


                <p class="h2 h2-title center">{{ 'select.newPassword' | translate }}</p>
                <p class="text-align-center">{{ 'select.password' | translate }}</p>

                <label for="newPassword">{{ 'password.label' | translate }}</label>
                <input type="password" [(ngModel)]="activationDetails.newPassword" class="form-control" name="newPassword" ngcontrol="newPassword"
                       #newPassword="ngModel" minlength="8" (keyup)="checkPassword()" required>
                <div [hidden]="newPassword.valid || newPassword.pristine" class="alert alert-danger">{{ 'password.required' | translate }}</div>

                <label for="repeatNewPassword">{{ 'confirmNewPassword.label' | translate }}</label>
                <input type="password" [(ngModel)]="activationDetails.repeatNewPassword" class="form-control" name="repeatNewPassword" ngcontrol="repeatNewPassword"
                       #repeatNewPassword="ngModel" minlength="8" (keyup)="checkPassword()" required>
                <div [hidden]="repeatNewPassword.valid || repeatNewPassword.pristine" class="alert alert-danger">{{ 'newPassword.required' | translate }}</div>

            </div>
        </div>
        <div class="ui-g-3"></div>
    </div>
    <div class="form-group ui-g">
        <div class="ui-g-4"></div>
        <div class="ui-g-2" style="text-align: center !important">
            <button type="button" class="btn">{{ 'cancel.button' | translate }}</button>
        </div>
        <div class="ui-g-2" style="text-align: center !important">
            <button type="submit" class="btn btn-primary" [disabled]="!activationForm.form.valid || !checkPassword()">{{ 'confirm.button' | translate }}</button>
        </div>
        <div class="ui-g-4"></div>
    </div>
</form>

