.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow{
  display: block;
  left: 484.5px;
  top: 50%!important;
  z-index: 1002;
  opacity: 1;
  transform: translateY(-50%);
  max-height: 100vh;
}