<div class="clearfix"></div>
<div class="container">
    <div class="center">
        <p class="beneficiaryTitle labelModal">{{ 'step3.supplier' | translate }}</p>
        <p>{{ 'contact.description' | translate }}</p>

        <form (ngSubmit)="onSubmit(3)" #registrationForm="ngForm">
            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-6">
                    <div class="form-group">
                        <label class="label floatLeft" for="contactName">{{ 'name.label' | translate }}</label>
                        <input class="form-control paddingInput" type="text"
                               id="contactName" name="contactName" placeholder="{{ 'name.place' | translate }}"
                               [(ngModel)]="supplierDTO.contactName" #contactName="ngModel" required>
                        <div class="alert alert-danger" [hidden]="contactName.valid || contactName.pristine">
                            Name is required
                        </div>
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-6">
                    <div class="form-group">
                        <label class="label floatLeft" for="contactSurname">{{ 'surname.label' | translate }}</label>
                        <input class="form-control paddingInput" type="text"
                               id="contactSurname" name="contactSurname" placeholder="{{ 'surname.place' | translate }}"
                               [(ngModel)]="supplierDTO.contactSurname" #contactSurname="ngModel" required>
                        <div class="alert alert-danger" [hidden]="contactSurname.valid || contactSurname.pristine">
                            Surname is required
                        </div>
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-3">
                    <div class="form-group">
                        <label class="label floatLeft" for="contactPhonePrefix">{{ 'prefix.number' | translate
                            }}</label>
                        <input class="form-control paddingInput" type="text"
                               id="contactPhonePrefix" name="contactPhonePrefix"
                               placeholder="{{ 'prefix.place' | translate }}"
                               [(ngModel)]="supplierDTO.contactPhonePrefix" #contactPhonePrefix="ngModel"
                               (keypress)="keyPressPrefix($event)" required>
                        <div class="alert alert-danger"
                             [hidden]="contactPhonePrefix.valid || contactPhonePrefix.pristine">
                            Prefix is required
                        </div>
                    </div>
                </div>
                <div class="ui-g-3">
                    <div class="form-group">
                        <label class="label floatLeft" for="contactPhoneNumber">{{ 'phone.number' | translate }}</label>
                        <input class="form-control paddingInput" type="number"
                               id="contactPhoneNumber" name="contactPhoneNumber"
                               placeholder="{{ 'phone.place' | translate }}" step="1" min="1"
                               [(ngModel)]="supplierDTO.contactPhoneNumber" #contactPhoneNumber="ngModel" required>
                        <div class="alert alert-danger"
                             [hidden]="contactPhoneNumber.valid || contactPhoneNumber.pristine">
                            Phone is required
                        </div>
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-6">
                    <div class="form-group">
                        <label class="label floatLeft" for="contactEmail">{{ 'email.label' | translate }}</label>
                        <input class="form-control paddingInput" type="email"
                               id="contactEmail" name="contactEmail" placeholder="{{ 'email.place' | translate }}"
                               [(ngModel)]="supplierDTO.contactEmail" #contactEmail="ngModel"
                               (keyup)="checkEmail()" required>
                        <div class="alert alert-danger" [hidden]="contactEmail.valid || contactEmail.pristine">
                            Email is required
                        </div>
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-6">
                    <div class="form-group">
                        <label class="label floatLeft" for="confirmEmail">{{ 'confirmemail.label' | translate }}</label>
                        <input class="form-control paddingInput" type="email" [(ngModel)]="confirmEmail"
                               id="confirm" name="confirm" ngcontrol="confirm" #confirm="ngModel"
                               placeholder="{{ 'email.place' | translate }}" (keyup)="checkEmail()" required>
                        <div class="alert alert-danger" [hidden]="confirm.valid || confirm.pristine">
                            Email confirmation is required
                        </div>
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-4"></div>
                <div class="ui-g-2" style="text-align: center !important">
                    <button type="button" class="btn btn-primary cancel-button" (click)="stepBack(2)">
                        {{ 'back.button' | translate }}
                    </button>
                </div>
                <div class="ui-g-2" style="text-align: center !important">
                    <button type="submit" class="btn btn-primary publish-button"
                            [disabled]="!registrationForm.form.valid || checkEmail()">
                        {{ 'confirm.button' | translate }}
                    </button>
                </div>
                <div class="ui-g-4"></div>
            </div>
        </form>
    </div>
</div>
