<div class="clearfix"></div>
<div class="container">
    <div class="center">
        <p class="beneficiaryTitle labelModal">{{ 'step3.supplier' | translate }}</p>
        <p>{{ 'contact.description' | translate }}</p>

        <form #registrationForm="ngForm">
            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-6">
                    <div class="form-group">
                        <label class="label floatLeft" for="name">{{ 'name.label' | translate }}</label>
                        <input class="form-control paddingInput" type="text"
                               [(ngModel)]="supplierDTO.name"
                               placeholder="{{ 'name.place' | translate }}"
                               name="name"
                               ngcontrol="name"
                               #name="ngModel" required>
                        <div class="alert alert-danger" [hidden]="name.valid || name.pristine">Name is
                            required
                        </div>
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-6">
                    <div class="form-group">
                        <label class="label floatLeft" for="surname">{{ 'surname.label' | translate }}</label>
                        <input class="form-control paddingInput" type="text"
                               [(ngModel)]="supplierDTO.surname"
                               placeholder="{{ 'surname.place' | translate }}"
                               name="surname"
                               ngcontrol="surname"
                               #surname="ngModel" required>
                        <div class="alert alert-danger" [hidden]="surname.valid || surname.pristine">Name is
                            required
                        </div>
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>
            <div class="ui-g">

                <div class="ui-g-3"></div>
                <div class="ui-g-3">
                    <div class="form-group">

                        <label class="label floatLeft" for="phonePrefix">{{ 'prefix.number' | translate }}</label>
                        <input class="form-control paddingInput" type="text" [(ngModel)]="phonePrefix"
                               placeholder="{{ 'prefix.place' | translate }}"
                               name="prefix" ngcontrol="prefix" #prefix="ngModel"
                               (keypress)="keyPressPrefix($event)" required>
                        <div class="alert alert-danger" [hidden]="prefix.valid || prefix.pristine">Prefix is
                            required
                        </div>
                    </div>
                </div>
                <div class="ui-g-3">
                    <div class="form-group">
                        <label class="label floatLeft" for="phoneNumber">{{ 'phone.number' | translate }}</label>
                        <input class="form-control paddingInput" type="number"
                               [(ngModel)]="supplierDTO.phone"
                               name="phoneNumber" ngcontrol="phoneNumber" #phoneNumber="ngModel"
                               placeholder="{{ 'phone.place' | translate }}"
                               step="1" min="1" required>
                        <div class="alert alert-danger" [hidden]="phoneNumber.valid || phoneNumber.pristine">Phone is
                            required
                        </div>
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-6">
                    <div class="form-group">
                        <label class="label floatLeft" for="email">{{ 'email.label' | translate }}</label>
                        <input class="form-control paddingInput" type="email"
                               [(ngModel)]="supplierDTO.email"
                               placeholder="{{ 'email.place' | translate }}"
                               name="email" ngcontrol="email" #email="ngModel" (keyup)="checkEmail()" required>
                        <div class="alert alert-danger" [hidden]="email.valid || email.pristine">Email is
                            required
                        </div>
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"></div>
                <div class="ui-g-6">
                    <div class="form-group">
                        <label class="label floatLeft" for="confirmEmail">{{ 'confirmemail.label' | translate }}</label>
                        <input class="form-control paddingInput" type="email" [(ngModel)]="confirmEmail"
                               name="confirm" ngcontrol="confirm" #confirm="ngModel"
                               placeholder="{{ 'email.place' | translate }}"
                               (keyup)="checkEmail()" required>
                        <div class="alert alert-danger" [hidden]="confirm.valid || confirm.pristine">Email is
                            required
                        </div>
                        <div class="ui-g-3"></div>
                    </div>
                </div>
            </div>


            <div class="form-group ui-g">
                <div class="ui-g-4"></div>
                <div class="ui-g-2" style="text-align: center !important">
                    <button type="button" class="btn btn-primary cancel-button" (click)="stepBack(2)">{{ 'back.button' |
                        translate }}
                    </button>
                </div>
                <div class="ui-g-2" style="text-align: center !important">
                    <button type="submit" class="btn btn-primary publish-button"
                            [disabled]="!registrationForm.form.valid || checkEmail()"
                            (click)="onSubmit(3)">{{ 'confirm.button' | translate }}
                    </button>
                </div>
                <div class="ui-g-4"></div>
            </div>
        </form>
    </div>
</div>
