<!-- Title -->
<div class="container">
    <div id="step2-title" class="ui-g">
        <div class="ui-g-12 center">
            <div id="component-title">
                <h3 class="beneficiaryTitle labelModal">{{ 'benefRegistration.registration.beneficiary.title' |
                    translate }}</h3>
            </div>
        </div>
    </div>
    <!-- Instructions -->
    <div id="step2-instructions" class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12 center">
            <div id="component-subtitle">
                <h6>{{ 'benefRegistration.municipalityDetails.text' | translate }}</h6>
            </div>
        </div>
    </div>
    <form #municipalityForm="ngForm" (submit)="submit()">
        <ng-container *ngIf="!multipleMunicipalities">
            <div class="ui-g">
                <div class="ui-g-12">
                    <h3 class="beneficiaryTitle">{{ 'shared.municipalityDetails.title' | translate }}</h3>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <div class="form-group">
                                <label class="label floatLeft" for="municipality">
                                    {{ 'benefRegistration.municipalityDropdown' | translate }}</label>
                                <div class="clearfix"></div>
                                <p-autoComplete id="municipality" class="form-control {{css_class_municipalities[0]}}"
                                                name="municipality" field="name1" [(ngModel)]="laus[0]"
                                                [suggestions]="lauSuggestions" (completeMethod)="search($event)"
                                                (onSelect)="checkMunicipalitySelector(0)"
                                                (input)="checkMunicipalitySelector($event, 0)"
                                                (focusout)="clearMunicipality(0)" [required] = "municipalityIsSelected[0]"></p-autoComplete>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="ui-g-8">
                        <div class="form-group">
                            <label class="label floatLeft" for="address">{{ 'benefRegistration.townHall.address' |
                                translate }}</label>
                            <input type="text" class="form-control paddingInput" min="1" 
                                   id="addressStep2" name="address" [(ngModel)]="municipalities[0].address"  maxlength="255" (paste)="checkButtonEnabled($event)" (ngModelChange)="checkButtonEnabled($event)" required>
                        </div>
                    </div>

                    <div class="ui-g-4">
                        <div class="form-group">
                            <label class="label floatLeft" for="address">{{ 'shared.number.label' | translate
                                }}</label>
                            <input type="text" class="form-control paddingInput"
                                   id="addressNumStep2" name="addressNum" [(ngModel)]="municipalities[0].addressNum" maxlength="255" (paste)="checkButtonEnabled($event)" (ngModelChange)="checkButtonEnabled($event)"
                                   required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <div class="form-group">
                            <label class="label floatLeft" for="postalCode">{{ 'shared.postal-code.label' | translate
                                }}</label>
                            <input type="text" class="form-control paddingInput"
                                   id="postalCodeStep2" name="postalCode" [(ngModel)]="municipalities[0].postalCode" (paste)="checkButtonEnabled($event)" (ngModelChange)="checkButtonEnabled($event)" maxlength="255"
                                   required>
                        </div>
                    </div>
                    <div class="ui-g-8"></div>
                </div>
            </div>
            <div id="legal-representative" class="form-group ui-g">
                <div class="ui-g-12">
                    <h3 class="beneficiaryTitle">{{ 'benefRegistration.registration.legalRepresentative' | translate
                        }}</h3>
                    <label class="field-desc" style="margin-top: 10px;color: gray;">
                        {{ 'benefRegistration.registration.authorisedPerson' | translate }}
                    </label>
                </div>
            </div>
            <!-- Mayor name -->
            <div id="mayor-name" class="form-group ui-g">
                <div class="ui-g-12">
                    <label class="label floatLeft">{{ 'shared.name.label' | translate }}</label>
                    <input class="form-control paddingInput"  type="text" name="name" id="nameStep2"
                           [(ngModel)]="mayors[0].name" maxlength="255" (paste)="checkButtonEnabled($event)" (ngModelChange)="checkButtonEnabled($event)" required>
                </div>
            </div>
            <!-- Mayor last name -->
            <div id="mayor-last-name" class="form-group ui-g">
                <div class="ui-g-12">
                    <label class="label floatLeft">{{ 'shared.surname.label' | translate }}</label>
                    <input class="form-control paddingInput"  type="text" name="surname" id="surnameStep2" 
                           [(ngModel)]="mayors[0].surname" maxlength="255" (paste)="checkButtonEnabled($event)" (ngModelChange)="checkButtonEnabled($event)" required>
                </div>
            </div>
            <!-- Mayor email -->
            <div id="mayor-email" class="form-group ui-g">
                <div class="ui-g-12">
                    <label class="label floatLeft">{{ 'shared.email.label' | translate }}</label>
                    <input class="form-control paddingInput"  type="email" [pattern]="emailPattern" 
                           [(ngModel)]="mayors[0].email" id="emailStep2" name="email"  maxlength="255" 
                           (paste)="checkButtonEnabled($event, i)" (input)="checkButtonEnabled($event, i)" required>
                    <label class="field-desc" style="margin-top: 10px;color: gray;">
                        {{ 'benefRegistration.email.fielddesc' | translate }}
                    </label>
                </div>
            </div>
            <!-- Mayor confirmation email -->
            <div id="mayor-confirm-email" class="form-group ui-g">
                <div class="ui-g-12">
                    <label class="label floatLeft">{{ 'shared.confirmemail.label' | translate }}</label>
                    <input class="form-control paddingInput {{css_class_email[0]}}" [pattern]="emailPattern" type="email" maxlength="255"
                           name="confirm-email" id="confirm-emailStep2"
                           (input)="checkButtonEnabled($event, i)" (paste)="preventPaste()"
                           [(ngModel)]="emailConfirmations[0]">
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="multipleMunicipalities">
            <ux-accordion-boxes>
                <div *ngFor="let mayor of mayors; let i = index">
                    <hr class="genericHr" *ngIf="i != 0">
                    <custom-accordion-box [isExpanded]="true" [rightSide]="true">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <h3 class="beneficiaryTitle">{{ 'shared.municipalityDetails.title' | translate }}</h3>
                                <div class="ui-g">
                                    <div class="ui-g-12">
                                        <div class="form-group">
                                            <label class="label floatLeft" [for]="'municipality-'+i">
                                                {{ 'shared.municipality.label' | translate }}
                                            </label>
                                            <div class="clearfix"></div>
                                            <p-autoComplete [id]="'municipality-'+i"
                                                            class="form-control {{css_class_municipalities[i]}}"
                                                            [ngModelOptions]="{standalone: true}" field="name1"
                                                            [(ngModel)]="laus[i]"
                                                            [suggestions]="lauSuggestions"
                                                            (completeMethod)="search($event)"
                                                            (onSelect)="checkMunicipalitySelector(i)"
                                                            (input)="checkMunicipalitySelector($event, i)"
                                                            (focusout)="clearMunicipality(i)"
                                                            [required] = "municipalityIsSelected[i]"></p-autoComplete>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <div class="ui-g-8">
                                    <div class="form-group">
                                        <label class="label floatLeft" [for]="'address-'+i">
                                            {{ 'benefRegistration.townHall.address' | translate }}</label>
                                        <input type="text" class="form-control paddingInput" min="1" [(ngModel)]="municipalities[i].address" 
                                               [id]="'address-'+i" [ngModelOptions]="{standalone: true}" maxlength="255" (paste)="checkButtonEnabled($event, i)" (ngModelChange)="checkButtonEnabled($event, i)"
                                               required>
                                    </div>
                                </div>

                                <div class="ui-g-4">
                                    <div class="form-group">
                                        <label class="label floatLeft" [for]="'addressNum-'+i">
                                            {{ 'shared.number.label' | translate }}</label>
                                        <input type="text" class="form-control paddingInput" [(ngModel)]="municipalities[i].addressNum"
                                               [id]="'addressNum-'+i" [ngModelOptions]="{standalone: true}" maxlength="255" (paste)="checkButtonEnabled($event, i)"  (ngModelChange)="checkButtonEnabled($event, i)"
                                               required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <div class="ui-g-4">
                                    <div class="form-group">
                                        <label class="label floatLeft" [for]="'postalCode-'+i">
                                            {{ 'shared.postal-code.label' | translate }}</label>
                                        <input type="text" class="form-control paddingInput" [(ngModel)]="municipalities[i].postalCode"
                                               [id]="'postalCode-'+i" [ngModelOptions]="{standalone: true}" maxlength="255" (paste)="checkButtonEnabled($event, i)"  (ngModelChange)="checkButtonEnabled($event, i)"
                                                 required>
                                    </div>
                                </div>
                                <div class="ui-g-8"></div>
                            </div>
                        </div>
                        <div id="legal-representative" class="form-group ui-g">
                            <div class="ui-g-12">
                                <h3 class="beneficiaryTitle">{{ 'benefRegistration.registration.legalRepresentative' |
                                    translate
                                    }}</h3>
                                <label class="field-desc" style="margin-top: 10px;color: gray;">
                                    {{ 'benefRegistration.registration.authorisedPerson' | translate }}
                                </label>
                            </div>
                        </div>
                        <!-- Mayor name -->
                        <div [id]="'mayor-name-'+i" class="form-group ui-g">
                            <div class="ui-g-12">
                                <label class="label floatLeft" [for]="'name-'+i">{{ 'shared.name.label' | translate }}</label>
                                <input class="form-control paddingInput" [(ngModel)]="mayors[i].name" [ngModelOptions]="{standalone: true}" [id]="'name-'+i" type="text"  maxlength="255" (paste)="checkButtonEnabled($event, i)"  (ngModelChange)="checkButtonEnabled($event, i)"
                                        required>
                            </div>
                        </div>
                        <!-- Mayor last name -->
                        <div [id]="'mayor-last-name-'+i" class="form-group ui-g">
                            <div class="ui-g-12">
                                <label class="label floatLeft" [for]="'surname-'+i">
                                    {{ 'shared.surname.label' | translate }}
                                </label>
                                <input class="form-control paddingInput"  [(ngModel)]="mayors[i].surname" type="text" [ngModelOptions]="{standalone: true}"  maxlength="255"
                                       [id]="'surname-'+i" (paste)="checkButtonEnabled($event, i)" (ngModelChange)="checkButtonEnabled($event, i)"
                                       required>
                            </div>
                        </div>
                        <!-- Mayor email -->
                        <div [id]="'mayor-email-'+i" class="form-group ui-g">
                            <div class="ui-g-12">
                                <label class="label floatLeft" [for]="'email-'+i">
                                    {{ 'shared.email.label' | translate }}
                                </label>
                                <input class="form-control paddingInput" type="email" [pattern]="emailPattern"
                                       [(ngModel)]="mayors[i].email" [id]="'email-'+i" [ngModelOptions]="{standalone: true}" maxlength="255"
                                       (paste)="checkButtonEnabled($event, i)" (input)="checkButtonEnabled($event, i)" required> 
                                <label class="field-desc" style="margin-top: 10px;color: gray;">
                                    {{ 'benefRegistration.email.fielddesc' | translate }}</label>
                            </div>
                        </div>
                        <!-- Mayor confirmation email -->
                        <div [id]="'mayor-confirm-email-'+i" class="form-group ui-g">
                            <div class="ui-g-12">
                                <label class="label floatLeft" [for]="'confirm-email-'+i">
                                    {{ 'shared.confirmemail.label' | translate }}
                                </label>
                                <input class="form-control paddingInput {{css_class_email[i]}}" [pattern]="emailPattern"  type="email"  maxlength="255"
                                       [ngModelOptions]="{standalone: true}" [id]="'confirm-email-'+i"
                                       (input)="checkButtonEnabled($event, i)" (paste)="preventPaste()" [(ngModel)]="emailConfirmations[i]">
                            </div>
                        </div>
                        <div class="form-group ui-g-12 right" *ngIf="i > 0">
                            <button class="btn redButton" type="button" (click)="removeMunicipality(i)">
                                {{'benefRegistration.removeMunicipality.label' | translate}}
                            </button>
                        </div>
                        <br><br>
                    </custom-accordion-box>
                </div>
            </ux-accordion-boxes>
            <div class="form-group ui-g">
                <button class="btn greenButton" type="button" (click)="addMunicipality()"
                        style="margin-top: 1.5em;">
                    {{'benefRegistration.addMunicipalty.label' | translate}}
                </button>
            </div>
        </ng-container>
        <div id="navigation-buttons" class="form-group ui-g center">
            <div class="ui-lg-3"></div>
            <div class="ui-g-6 ui-md-6 ui-lg-3">
                <button type="button" class="btn btn-primary cancel-button" (click)="back()">
                    {{ 'shared.back.button' | translate }}
                </button>
            </div>
            <!-- Next button -->
            <div class="ui-g-6 ui-md-6 ui-lg-3">
                <button type="submit" id="navigate-step3" class="btn btn-primary publish-button"
                        [disabled]="!municipalityForm.form.valid || !buttonEnabledStep2">
                    {{ 'shared.next.button' | translate }}
                </button>
            </div>
            <div class="ui-lg-3"></div>
        </div>
    </form>
</div>