<div class="clearfix"></div>
<br>
<div class="container font beneficiaryContent">
    <div class="ui-g-12" *ngIf="showAlert">
        <span class="ui-g-2"></span>
        <ux-alert styleClass="alert-success" class="ui-g-8">{{ 'discussion.growl' | translate}}</ux-alert>
        <span class="ui-g-2"></span>
    </div>
    <p class="beneficiaryTitle marginTop">{{ 'legalEntity.issues' | translate }}</p>
    <p>{{ 'lEissues.warning' | translate }}</p>
    <p class="beneficiaryMayor marginTopCountdown">{{ 'legalentity.label' | translate }}</p>
    <hr class="beneficiaryHr">
    <ux-accordion-boxes>
        <custom-accordion-box [isExpanded]="false" [rightSide]="true" [closable]="true">
            <div class="ui-g">
                <div class="ui-g-12">
                    <p class="discussionForumMayors marginTopCountdown">
                        {{ 'beneficiary.registration1' | translate }}</p>
                </div>
            </div>
            <div class="ui-g discussionForumNoBorders">
                <div class="ui-g-12">
                    <div class="ui-g-3">
                        <p class="profileDataDiscussion">{{ 'country.label' | translate }}</p>
                        <p>{{ 'municipality.label' | translate }}</p>
                        <p>{{ 'address.label' | translate }}</p>
                        <p>{{ 'number.label' | translate }}</p>
                        <p>{{ 'postal-code.label' | translate }}</p>
                    </div>
                    <div class="ui-g-3">
                        <p class="profileDataDiscussion profileData">{{municipality.country}}</p>
                        <p class="profileData">{{municipality.name}}</p>
                        <p class="profileData">{{municipality.address}}</p>
                        <p class="profileData">{{municipality.addressNum}}</p>
                        <p class="profileData">{{municipality.postalCode}}</p>
                    </div>
                    <div class="ui-g-2"></div>
                    <div class="ui-g-4">
                        <p class="applicationText">{{ 'beneficiary.discusionText' | translate }}</p>
                        <button type="button" class="btn btn-primary applicationDelete"
                                (click)="deleteApplication()">
                            {{ 'beneficiary.deleteApplication' | translate }}
                        </button>
                        <br>
                        <button type="button" class="btn btn-primary applicationEdit"
                                (click)="editApplication()">
                            {{ 'beneficiary.editApplication' | translate }}
                        </button>
                    </div>
                </div>
            </div>

            <div class="ui-g">
                <div class="ui-g-6" *ngFor="let municipality of municipalities; let i = index">
                    <p class="discussionForumMayors marginTopCountdown">
                        {{ 'beneficiary.registrationNumber' | translate }}{{i+1}}</p>
                    <div class="ui-g discussionForumNoBorders">
                        <div class="ui-g-12">
                            <div class="ui-g-3">
                                <p class="profileDataDiscussion">{{ 'country.label' | translate }}</p>
                                <p>{{ 'municipality.label' | translate }}</p>
                                <p>{{ 'address.label' | translate }}</p>
                                <p>{{ 'number.label' | translate }}</p>
                                <p>{{ 'postal-code.label' | translate }}</p>
                            </div>
                            <div class="ui-g-9">
                                <p class="profileDataDiscussion profileData">{{ municipality.country }}</p>
                                <p class="profileData">{{ municipality.name }}</p>
                                <p class="profileData">{{ municipality.address }}</p>
                                <p class="profileData">{{ municipality.addressNum }}</p>
                                <p class="profileData">{{ municipality.postalCode }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-accordion-box>
    </ux-accordion-boxes>
    <hr class="beneficiaryHr">
    <p class="beneficiaryMayor marginTopCountdown">{{ 'recentConversations.title' | translate }}</p>
    <p>{{ 'recentConversations.text' | translate }}</p>
    <div *ngIf="thread.messages.length < 1" class="ui-g button-content discussion-content">
        <div class="ui-g-12 noPadding">
            <div class="ui-g-8">
                <p>{{'noRecentConversations.text' | translate }}</p>
            </div>
            <div class="ui-g-4">
                <button type="button" class="btn btn-primary changePassword discussionButton"
                        (click)="newMessage()">
                    {{'startConversations.text' | translate }}
                </button>
            </div>
        </div>
    </div>
    <ng-container *ngIf="thread.messages.length > 0">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-9"></div>
                <div class="ui-g-3">
                    <div>
                        <button type="button" class="btn btn-primary changePassword discussionButton"
                                (click)="newMessage()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            {{'add.repply' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="discussion-content" *ngFor="let currentMessage of thread.messages; let i = index">
            <div class="ui-g discussion-content">
                <div class="ui-g-12">
                    <div class="ui-g-3 backgroundMessage">
                        <p *ngIf="messageAuthors[i]" class="authorMessage">
                            {{messageAuthors[i].name}} {{messageAuthors[i].surname}}
                        </p>
                        <p class="authorTime">{{currentMessage.createDate | date: 'dd/MM/yyyy'}}</p>
                        <p class="authorTime">{{currentMessage.createDate | date: 'HH:mm'}}</p>
                    </div>
                    <div class="ui-g-9 paddingMessages arrow_box">
                        <textarea disabled="disabled" class="messageDiv">{{currentMessage.message}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-9"></div>
                <div class="ui-g-3">
                    <button type="button" class="btn btn-primary changePassword discussionButton"
                            (click)="displayMediation = true" [disabled]="mediationBlocked">
                        {{'newMediation.button' | translate }}
                    </button>
                    <p class="right">{{'newMediation.text' | translate }}</p>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<!--MODALS BELOW-->

<div class="container font">
    <div class="ui-g-1"></div>
    <p-dialog [(visible)]="displayMessage" [modal]="true" [responsive]="false"
              [resizable]="false" [draggable]="false" [closeOnEscape]="true">
        <div class="beneficiaryTitle center hiddenScroll">
            {{ 'sendMessage.title' | translate }}
        </div>
        <form #messagesForm="ngForm" (submit)="sendMessage()">
            <div class="form-group profileDialog">
                <div class="form-group">
                    <p class="center newMessageDiscussionMargins">{{ 'discussionForum.sendMessage' | translate }}</p>
                    <p>{{ 'sendMessage.subject' | translate }}</p>
                    <textarea rows="10" cols="20" class="form-control widthMax"
                              name="newMessage" [(ngModel)]="message" required></textarea>
                    <div style="text-align: center !important">
                        <button type="button" class="btn btn-primary changePasswordModal cancel-button"
                                (click)="closeModal()">
                            {{ 'cancel.button' | translate }}
                        </button>
                        <button type="submit" class="btn btn-primary changePasswordModal publish-button">
                            {{ 'helpdeskform.sendmessage' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </p-dialog>
</div>


<div class="container font">
    <div class="ui-g-1"></div>
    <p-dialog [(visible)]="displayMediation" [modal]="true" [responsive]="true" [resizable]="false"
              [draggable]="false" [closeOnEscape]="true">
        <form #messagesForm="ngForm">
            <div class="form-group profileDialog">

                <div class="beneficiaryTitle center">
                    {{ 'mediationRequest.title' | translate }}
                </div>
                <p class="center newMessageDiscussionMargins">{{ 'mediationRequest.text' | translate }}</p>
                <br>
                <p class="center">{{ 'mediationRequest.selectText' | translate }}</p>
                <!--<select class="selectDiscussion">-->
                <!--<option value="option1">Option 1</option>-->
                <!--<option value="option2">Option 2</option>-->
                <!--<option value="option3">Option 3</option>-->
                <!--</select>-->
                <div class="form-group">
                    <div style="text-align: center !important">
                        <button type="button" class="btn btn-primary changePasswordModal cancel-button"
                                (click)="closeModal()">
                            {{ 'cancel.button' | translate }}
                        </button>
                        <button type="submit" class="btn btn-primary changePasswordModal publish-button"
                                (click)="askMediation(); closeModal()">
                            {{ 'helpdeskform.sendmessage' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </p-dialog>
</div>