<div class="clearfix"></div>
<br>
<div class="container font">
    <p class="beneficiaryTitle">{{ 'legalEntity.issues' | translate }}</p>
    <p>{{ 'lEissues.warning' | translate }}</p>
    <p class="beneficiaryMayor">{{ 'legalentity.label' | translate }}</p>
    <hr class="beneficiaryHr">
    <!--<div class="button-content">-->
    <ux-accordion-boxes>
        <custom-beneficiary-accordion-box>
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="ui-g-3">
                        <p class="profileData">{{ 'country.label' | translate }}</p>
                        <p class="profileData">{{ 'municipality.label' | translate }}</p>
                        <p class="profileData">{{ 'address.label' | translate }}</p>
                        <p class="profileData">{{ 'number.label' | translate }}</p>
                        <p class="profileData">{{ 'postal-code.label' | translate }}</p>
                    </div>
                    <div class="ui-g-9">
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </custom-beneficiary-accordion-box>
    </ux-accordion-boxes>
    <!--</div>-->
    <p class="beneficiaryMayor">{{ 'othersMayors.title' | translate }}</p>
    <hr class="beneficiaryHr">
    <!--<div class="button-content">-->
    <ux-accordion-boxes>
        <custom-beneficiary-accordion-box>
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="ui-g-3">
                        <p class="profileData">{{ 'name.label' | translate }}</p>
                        <p class="profileData">{{ 'surname.label' | translate }}</p>
                    </div>
                    <div class="ui-g-9">
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </custom-beneficiary-accordion-box>
    </ux-accordion-boxes>
    <!--</div>-->
    <hr class="beneficiaryHr">
    <p class="beneficiaryMayor">{{ 'recentConversations.title' | translate }}</p>
    <p>{{ 'recentConversations.text' | translate }}</p>


    <div *ngIf="messageList.length < 1" class="ui-g button-content discussion-content">
        <div class="ui-g-12">
            <div class="ui-g-8">
                <p>{{'noRecentConversations.text' | translate }}</p>
            </div>
            <div class="ui-g-4">
                <button type="button" (click)="newMessage()" class="btn btn-primary changePassword discussionButton">
                    {{'startConversations.text' | translate }}
                </button>
            </div>
        </div>
    </div>
    <ng-container *ngIf="messageList.length > 0">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-9"></div>
                <div class="ui-g-3">
                    <div>
                        <button type="button" (click)="newMessage()"
                                class="btn btn-primary changePassword discussionButton"><i class="fa fa-plus"
                                                                                           aria-hidden="true"></i>
                            {{'newMessage.button' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="discussion-content">
            <div *ngFor="let message of messageList; let i = index"
                 class="ui-g discussion-content">
                <div class="ui-g-12">
                    <div class="ui-g-4 backgroundMessage">
                        <p class="authorMessage">Author Message</p>
                        <p class="authorTime">15/10/2017</p>
                        <p class="authorTime">09:03 AM</p>
                    </div>
                    <div class="ui-g-8 paddingMessages arrow_box">
                        <p>{{message}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-9"></div>
                <div class="ui-g-3">

                    <button type="button" (click)="newMediation()"
                            class="btn btn-primary changePassword discussionButton"><i class="fa fa-plus"
                                                                                       aria-hidden="true"></i>
                        {{'newMediation.button' | translate }}
                    </button>
                </div>
            </div>
        </div>


    </ng-container>
</div>

<!--MODALS BELOW-->

<div class="container font">
    <div class="ui-g-1"></div>
    <p-dialog [(visible)]="displayMessage" [modal]="true" [responsive]="true" [resizable]="false" [draggable]="false"
              [closable]="true" [closeOnEscape]="true">
        <div class="beneficiaryTitle center"> {{ 'sendMessage.title' | translate }}</div>
        <form #messagesForm="ngForm">
            <div class="form-group profileDialog">
                <div class="form-group">
                    <p>{{ 'sendMessage.title' | translate }}</p>
                    <input type="text" name="sendTo" class="form-control widthMax" required>

                    <br>
                    <p>{{ 'sendMessage.subject' | translate }}</p>
                    <input type="text" [(ngModel)]="message"
                           class="form-control subjectDiscussion widthMax"
                           name="newMessage" required>
                    <div style="text-align: center !important">
                        <button type="button" class="btn btn-primary changePasswordModal" (click)="closeModal()">
                            {{ 'cancel.button' | translate }}
                        </button>
                        <button type="submit" class="btn btn-primary changePasswordModal" (click)="sendMessage()">
                            {{ 'helpdeskform.sendmessage' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </p-dialog>
</div>


<div class="container font">
    <div class="ui-g-1"></div>
    <p-dialog [(visible)]="displayMediation" [modal]="true" [responsive]="true" [resizable]="false" [draggable]="false"
              [closable]="true" [closeOnEscape]="true">
        <form #messagesForm="ngForm">
            <div class="form-group profileDialog">

                <div class="beneficiaryTitle"> {{ 'mediationRequest.title' | translate }}</div>
                <p>{{ 'mediationRequest.text' | translate }}</p>
                <br>
                <p>{{ 'mediationRequest.selectText' | translate }}</p>
                <select class="selectDiscussion">
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
                <div class="form-group">
                    <div style="text-align: center !important">
                        <button type="button" class="btn btn-primary changePasswordModal" (click)="closeModal()">
                            {{ 'cancel.button' | translate }}
                        </button>
                        <button type="submit" class="btn btn-primary changePasswordModal" (click)="closeModal()">
                            {{ 'helpdeskform.sendmessage' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </p-dialog>
</div>
