<div class="clearfi"></div>

<div class="container">

    <div class="row tableTitle">
        <div class="col-md-10">
            <h2 class="h2Table">{{ 'timeline.label' | translate }}</h2>
        </div>
        <div class="col-md-2">
            <a (click)="addPublication()" class="edit editTable"><img
                    src="assets/images/add-circle-outline-material-icons-regular.png" alt="">{{
                'newEvent.label' | translate }}</a>
        </div>
    </div>

    <p-dataTable [value]="publicationElements" [rows]="5" [paginator]="true" [pageLinks]="3"
                 [rowsPerPageOptions]="[5,10,20]">
        <p-column field="event" header="{{ 'event.title' | translate }}"
                  [sortable]="true"></p-column>
        <p-column field="startDate" header="{{ 'start.date' | translate }}"
                  [sortable]="true"></p-column>
        <p-column field="startTime" header="{{ 'start.time' | translate }}"
                  [sortable]="true"></p-column>
        <p-column field="endDate" header="{{ 'end.date' | translate }}"
                  [sortable]="true"></p-column>
        <p-column field="endTime" header="{{ 'end.time' | translate }}"
                  [sortable]="true"></p-column>
        <p-column header="{{ 'edit.button' | translate }}">
            <template pTemplate="body" let-element="rowData" let-rowElement="rowIndex">
                <button type="button" class="btn" style="background: none; padding: 0;"
                        (click)="displayInfo(element, rowElement)">
                    <i class="fa fa-pencil" style="font-size: 17px; color: #004494;"></i> {{ 'edit.button' | translate
                    }}
                </button>
            </template>
        </p-column>

    </p-dataTable>


    <div class="right">
        <button type="submit" class="btn btn-primary publish-button"
                [disabled]="">{{ 'publish.button' | translate }}
        </button>
    </div>

    <!--MODALS BELOW-->

    <div class="container font">
        <div class="ui-g-1"></div>
        <p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [resizable]="false"
                  [draggable]="false" [closable]="true" [closeOnEscape]="true">
            <p class="beneficiaryMayorModal">{{'publication.call' | translate }}</p>

            <form (ngSubmit)="onSubmit()" #publicationForm="ngForm">
                <div class="containerTimeline center">
                    <div class="form-group ui-g">
                        <div class="ui-g-12">
                            <div class="form-group left">
                                <label class="labelModal" for="url">{{'labelModal.timeline' | translate }}</label>
                                <input type="text" [(ngModel)]="dgConnDetails.url"
                                       class="form-control"
                                       name="url" ngcontrol="url"
                                       #url="ngModel" required>
                            </div>
                        </div>
                    </div>


                    <div class="form-group ui-g">
                        <div class="ui-g-3">
                            <div class="form-group left">
                                <label class="labelModal" for="openingDate">{{'opening.date' | translate }}</label>
                                <p-calendar [showIcon]="true"></p-calendar>

                            </div>
                        </div>
                        <div class="ui-g-1"></div>
                        <div class="ui-g-2">
                            <div class="form-group left">
                                <label class="labelModal" for="startTimeModal">{{'start.time' | translate }}</label>
                                <input type="text" [(ngModel)]="dgConnDetails.startTimeModal"
                                       class="form-control"
                                       name="startTimeModal" ngcontrol="startTimeModal"
                                       #startTimeModal="ngModel" required>
                            </div>
                        </div>
                        <div class="ui-g-6"></div>
                    </div>


                    <div class="form-group ui-g">
                        <div class="ui-g-3">
                            <div class="form-group left">
                                <label class="labelModal" for="closingDate">{{'closing.date' | translate }}</label>
                                <p-calendar [showIcon]="true"></p-calendar>
                            </div>
                        </div>
                        <div class="ui-g-1"></div>
                        <div class="ui-g-2">
                            <div class="form-group left">
                                <label class="labelModal" for="endTimeModal">{{'end.time' | translate }}</label>
                                <input type="text" [(ngModel)]="dgConnDetails.endTimeModal"
                                       class="form-control"
                                       name="endTimeModal" ngcontrol="endTimeModal"
                                       #endTimeModal="ngModel" required>
                            </div>
                        </div>
                        <div class="ui-g-6"></div>
                    </div>
                </div>
                <div class="form-group ui-g">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-2" style="text-align: center !important">
                        <button type="button" class="btn btn-primary cancel-button">{{ 'cancel.button' | translate
                            }}
                        </button>
                    </div>
                    <div class="ui-g-1"></div>
                    <div class="ui-g-2" style="text-align: center !important">
                        <button type="submit" class="btn btn-primary publish-button"
                        >{{ 'add.timeline' |
                            translate }}
                        </button>
                    </div>
                    <div class="ui-g-3"></div>
                </div>
            </form>

        </p-dialog>
    </div>
