<div class="clearfix"></div>
<div class="container">


    <div class="jumbotron" style="background-color: transparent;">
        <div class="container center">
            <p class="center beneficiaryTitle">{{'dgconn.dashboard.card.managelau' | translate}}</p>
            <p class="center">{{'dgConn.manage-lau.country-instructions'| translate}}</p>
        </div>
    </div>

    

    <div class="panel-dg panel-padding panel-input">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group ui-g">
              <div class="ui-g-12">
            <label class="label" for="country">{{ 'shared.country.label' | translate }}</label>
                  <select [(ngModel)]="country" (ngModelChange)="selectCountry($event)"
                          id="country" name="country" class="form-control"
                          ng-options="option.value as option.name for option in typeOptions"
                          [disabled]="countries.length < 1">
                      <option disabled selected [ngValue]="null">
                    {{ 'dgConn.manage-lau.country-instructions' | translate }}
                      </option>
                      <option *ngFor="let currentCountry of countries" [ngValue]="currentCountry">
                          {{currentCountry.label}}
                      </option>
                  </select>
              </div>
              <div class="ui-g-12">
            <label class="" for="keyword">{{'dgConn.keyword.label'|translate}}</label>
                  <input type="text" class="paddingInput"
                        id="keyword" name="keyword" [(ngModel)]="keyword" (input)="selectCountry($event)">
              </div>
          </div>
          </div>
        </div>
      </div>

    <div class="panel-dg">
    <p-dataTable [value]="laus" [rows]="5" [paginator]="true" [rowsPerPageOptions]="[5,10,20]" [editable]="true"
                 [responsive]="true">
        <p-column field="lauId" header="LauId" [sortable]="true" styleClass="text-center"></p-column>
        <p-column field="countryCode" header="{{ 'shared.country.label' | translate }}" [sortable]="true" styleClass="text-center"></p-column>
        <p-column field="nuts3" header="Nuts3" [sortable]="true" styleClass="text-center"></p-column>
        <p-column field="lau1" header="Lau1" [sortable]="true" styleClass="text-center"></p-column>
        <p-column field="lau2" header="Lau2" [sortable]="true" styleClass="text-center"></p-column>
        <p-column field="change" header="Change" [sortable]="true" styleClass="text-center"></p-column>
        <p-column field="name1" header="Name1" [sortable]="true" styleClass="text-center"></p-column>
        <p-column field="name2" header="Name2" [sortable]="true" styleClass="text-center"></p-column>
        <p-column field="pop" header="Pop" [sortable]="true" styleClass="text-center"></p-column>
        <p-column field="area" header="Area" [sortable]="true" styleClass="text-center"></p-column>
        <p-column field="physicalAddress" header="{{ 'benefRegistration.address.label' | translate }}" [sortable]="true">
            <template pTemplate="body" let-laus="rowData" let-i="rowIndex">
                <span>{{ laus.physicalAddress }}</span>
                <button type="button" class="btn" style="background: none; padding: 0;" (click)="edit(i)">
                    <i class="fa fa-pencil" style="font-size: 17px; color: #004494;"></i>
                </button>
            </template>
        </p-column>
    </p-dataTable>
  </div>
    <div class="container font">
        <div class="ui-g-1"></div>
        <p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [resizable]="false"
                  [draggable]="false" [closable]="true" [closeOnEscape]="false" onShow="editPhysicalAddress()">
            <div class="center">

                <div class="form-group ui-g">
                    <div class="ui-g-12">
                        <p>{{'dgConn.manage-lau.dialog.instructions'|translate}} <b>{{selectedLau.name2}}</b></p>
                    </div>
                    <div class="ui-g-12">
                        <label for="address">{{'shared.physical-address.label'|translate}}</label>
                        <div class="form-group left">
                            <input type="text" [(ngModel)]="address" placeholder="" id="address" class="form-control" name="address" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-2" style="text-align: center !important">
                    <button type="button" (click)="submit()" class="btn btn-primary publish-button">
                        Submit
                    </button>
                </div>
                <div class="ui-g-3"></div>
            </div>
        </p-dialog>
    </div>
</div>