<!-- Accordin Box style -->
<ux-accordion-boxes>
    <custom-ux-accordion-box id="expandHideBox" label="Expand" [isExpanded]="false" [rightSide]="true">
        <ux-timeline-items id="timelineList" [isLeftAligned]="true">
            <ux-timeline-item *ngFor="let item of timelineElements" [date]="item.date" [label]="item.label"
                              [subLabel]="item.subLabel" [styleClass]="item.styleClass"></ux-timeline-item>
        </ux-timeline-items>
    </custom-ux-accordion-box>
</ux-accordion-boxes>
<!-- Custom Expand/Hide button style
<div class="ui-g-12 center" style="border-bottom: 1px solid;">
    <span class="ui-g-9"></span>
    <span class="ui-g-3" style="cursor: pointer;" (click)="displayTimeline()">{{expandHideString}} <i
            [class]="expandHideClass" style="font-size: 15px;"></i></span>
</div>
<ux-timeline-items id="timelineList" class="ui-g-12" [isLeftAligned]="true" [hidden]="!timelineVisible">
    <ux-timeline-item *ngFor="let item of timelineElements" [date]="item.date" [label]="item.label"
                      [subLabel]="item.subLabel" [styleClass]="item.styleClass"></ux-timeline-item>
</ux-timeline-items>
-->