<div class="clearfix"></div>
<div class="container font" *ngIf="contentVisible">
    <div class="clearfix"></div>
    <div class="row">
        <div class="ui-g-4 ui-sm-4">
           <!--  <div class="back-button voucherStatusBackButton">
                <a (click)="goBack()"><i class="fa fa-arrow-left"></i>{{ 'shared.back.button' | translate}}</a>
            </div> -->
        </div>
        <div class="ui-g-8 ui-sm-8 voucherStatusAgreementBorder">
            <div class="row">
                <div class="ui-g-1 voucherStatusAgreement">
                    <i class="fa fa-info-circle"></i>
                </div>
                <div class="ui-g-11">
                    <p>{{ 'benefPorta.voucher.signAgreement' | translate}}</p>
                </div>

            </div>
        </div>
    </div>
     <div class="row labelModal">
        <div class="col-sm-12">
            <p class="beneficiaryTitle">{{ 'benefPortal.grantAgreement.title' | translate }}</p>
            <p [innerHTML]="'benefProtal.grantAgreement.description' | translate"></p>
        </div>
    </div>
    <!--
    <div class="col-sm-8 whitePanel">
        <div class="row">
            <div class="col-sm-4">
                <p>{{ 'shared.country.label' | translate }}</p>
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{municipality?.country}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>{{ 'shared.municipality.label' | translate }}</p>
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{municipality?.name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>{{ 'benefRegistration.address.label' | translate }}</p>
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{municipality?.address}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>{{ 'shared.number.label' | translate }}</p>
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{municipality?.addressNum}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>{{ 'shared.postal-code.label' | translate }}</p>
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{municipality?.postalCode}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>{{ 'shared.name.label' | translate }}</p>
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{mayor?.name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>{{ 'shared.surname.label' | translate }}</p>
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{mayor?.surname}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>{{ 'shared.email.label' | translate }}</p>
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{mayor?.email}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <br>
        <br>
        <div class="col-sm-12">
            <span class="beneficiaryMayor left">{{ 'benefRegistration.yourDetails.title' | translate }}</span>
        </div>
        <br>
        <br>
    </div>
    <div class="col-sm-8 whitePanel">
        <div class="row">
            <div class="col-sm-4">
                <p>{{ 'benefPortal.granAgreement.nameContact' | translate }}</p>
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{authorizedUser?.name}} {{authorizedUser?.surname}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>{{ 'benefPortal.granAgreement.emailContact' | translate }}</p>
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{authorizedUser?.email}}</p>
            </div>
        </div> -->
      <!--   <div class="row">
            <div class="col-sm-4">
                <p>{{ 'benefPortal.granAgreement.addressLabel' | translate }}</p>
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{authorizedUser?.address}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>{{ 'shared.number.label' | translate }}</p>
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{authorizedUser?.addressNum}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>{{ 'shared.postal-code.label' | translate }}</p>
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{authorizedUser?.postalCode}}</p>
            </div>
        </div>
    </div>   -->
    <div class="col-sm-12">
        <br><br>
            <select name="" (change)="updateLanguage($event.target.value)" id="">
                <option *ngFor="let lang of languagesArray" value="{{lang.code}}" [ngValue]="lang.code" [selected]="user.lang ===  lang.code">
                    {{lang.label}}
                </option>
        </select>
        <br><br>
    </div>
    <br>
    <div class="col-sm-12 whitePanel">
        <div class="row">
            <div class="col-sm-2">
                <img class="grantAgreementImg" src="assets/images/icono-11.png" alt="">   
            </div>
            <div class="col-sm-8">
                <p class="profileData">{{ 'benefPortal.grantAgreement.document' | translate}}</p>
                <p style="font-size: 0.75em;">{{ 'benefPortal.grantAgreement.documentDownload' | translate}}</p>
                <a style="padding-bottom: 5px;display: block;font-size: 0.8em;" (click)="downladPDF()"><i class="fa fa-download" aria-hidden="true"></i> {{ 'shared.download' | translate}} {{language}}</a>
            </div>   
        </div>
    </div>
    <div class="col-sm-12">
        <p style="font-size: 14px;">{{ 'shared.download.grantAgreementPDF' | translate}}</p>
        <p style="font-size: 14px;"><input type="checkbox" style="margin-right: 3px;" (click)="enableButton()">{{ 'benefPortal.grantAgreement.confirmCheckbox' | translate}}</p>
        <br>
        <button class="btn btn-primary" style="font-size: 14px;" (click)="openModal()" [disabled]="!enableButtonFront || inputGrantAgreement?.dateSignature">{{ 'benefPortal.myVoucher.datatable.signGrantAgreement' | translate}}</button>
    </div>

</div>
<p-dialog [(visible)]="displaySignAgreement" [modal]="true" [responsive]="true"
          [resizable]="false" [draggable]="false" [closable]="false" [closeOnEscape]="false">
    <h1 class="beneficiaryMayorModal">{{'benefPortal.grantAgreement.sign.title' | translate }}</h1>
    <p class="ModalpConfirmation">{{'benefPortal.grantAgreement.sign.description' | translate }}</p>
    <p></p>
    <div class="form-group row">
        <div class="col-lg-2"></div>
        <div class="col-sm-6 col-lg-4" style="text-align: center !important">
            <button type="button" class="btn btn-primary cancel-button" (click)="closeModal()">
                {{ 'shared.cancel.button' | translate }}
            </button>
        </div>
        <div class="col-sm-6 col-lg-4" style="text-align: center !important">
            <button type="submit" class="btn btn-primary publish-button" (click)="signGrantAgreement()"
                    ><!-- [disabled]="" -->
                {{ 'benefPortal.grantAgreement.sign.button' | translate }}
            </button>
        </div>
        <div class="col-lg-2"></div>
    </div>
</p-dialog>
<p-dialog [(visible)]="showPermissionsModal" [modal]="true" [responsive]="true"
          [resizable]="false" [draggable]="false" [closable]="false" [closeOnEscape]="false">
    <p class="ModalpConfirmation">{{'benefPortal.grantAgreement.permissionsWarning.description' | translate }}</p>
    <p></p>
    <div class="form-group row">
        <div class="col-lg-2"></div>
        <div class="col-sm-6 col-lg-4" style="text-align: center !important">
        </div>
        <div class="col-sm-6 col-lg-4" style="text-align: center !important">
            <button type="submit" class="btn btn-primary publish-button" (click)="closeModal()"
                    ><!-- [disabled]="" -->
                {{ 'shared.confirm.button' | translate }}
            </button>
        </div>
        <div class="col-lg-2"></div>
    </div>
</p-dialog>

<helpdesk-form-component portal="beneficiary-profile"></helpdesk-form-component>