<div class="clearfix"></div>
<div class="container font">
    <div class="ui-g">
        <div class="ui-g-12">
            <p class="beneficiaryTitle">{{ 'profile.title' | translate }}</p>
        </div>
    </div>


    <div class="ui-g-6">
        <hr class="beneficiaryHr">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g">
                    <div class="ui-g-10">
                        <p class="beneficiaryMayor">{{ 'mayor.details' | translate }}</p>
                    </div>
                    <div class="ui-g-2">
                        <p class="edit">{{ 'edit.button' | translate }} <i class="fa fa-pencil" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-4">
                        <p>{{ 'treatment.label' | translate }}</p>
                        <p>{{ 'name.label' | translate }}</p>
                        <p>{{ 'surname.label' | translate }}</p>
                        <p>{{ 'email.label' | translate }}</p>
                    </div>
                    <div class="ui-g-8">
                        <p class="profileData"></p>
                        <p class="profileData"></p>
                        <p class="profileData"></p>
                        <p class="profileData"></p>
                    </div>
                </div>
                <hr class="beneficiaryHr">
            </div>

            <div class="ui-g-12">
                <div class="ui-g">
                    <div class="ui-g-10">
                        <p class="beneficiaryMayor">{{ 'legalentity.label' | translate }}</p>
                    </div>
                    <div class="ui-g-2">
                        <p>{{ 'edit.button' | translate }} <i class="fa fa-pencil" aria-hidden="true"></i></p>
                    </div>
                </div>


                <div class="ui-g">
                    <div class="ui-g-4">
                        <p>{{ 'country.label' | translate }}</p>
                        <p>{{ 'municipality.label' | translate }}</p>
                        <p>{{ 'address.label' | translate }}</p>
                        <p>{{ 'number.label' | translate }}</p>
                        <p>{{ 'postal-code.label' | translate }}</p>
                    </div>
                    <div class="ui-g-8">
                        <p class="profileData"></p>
                        <p class="profileData"></p>
                        <p class="profileData"></p>
                        <p class="profileData"></p>
                        <p class="profileData"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="ui-g">
                <div class="ui-g-4"></div>
                <div class="ui-g-8 button-content">
                    <p>{{ 'beneficiaryProfile.text' | translate }}</p>
                    <div style="text-align: center !important">
                        <!--<a href="#changingPassword" id="changingPassword">Change password</a>-->

                        <button type="button" (click)="changingPassword()"
                                class="btn btn-primary changePassword">
                            {{'beneficiaryProfile.password' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="center">{{ 'home.footer.update' | translate }}</div>
<div class="container font">
    <div class="ui-g-1"></div>
    <p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [resizable]="false"
              [draggable]="false" [closable]="true" [closeOnEscape]="true">
        <p class="beneficiaryMayorModal">{{'beneficiaryProfile.password' | translate }}</p>
        <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
            <div class="form-group profileDialog">


                <label class="labelModal" for="currentPassword">{{ 'currentPassword.label' | translate }}</label>
                <input type="password" [(ngModel)]="beneficiaryDetails.currentPassword"
                       class="form-control beneficiaryProfileI"
                       name="currentPassword"
                       ngcontrol="currentPassword"
                       #currentPassword="ngModel" required>
                <div [hidden]="currentPassword.valid || currentPassword.pristine"
                     class="alert alert-danger">{{
                    'password.required'
                    | translate }}
                </div>
                <a class="forgotPassword" href="#">Forgot password?</a><br>
                <label class="labelModal" for="newPassword">{{ 'password.label' | translate }}</label>
                <input type="password" [(ngModel)]="beneficiaryDetails.newPassword"
                       class="form-control beneficiaryProfileI"
                       name="newPassword"
                       ngcontrol="newPassword"
                       #newPassword="ngModel" (keyup)="checkPassword()" required>
                <div [hidden]="newPassword.valid || newPassword.pristine"
                     class="alert alert-danger">{{
                    'password.required'
                    | translate }}
                </div>
                <label class="labelModal" for="repeatNewPassword">{{ 'confirmNewPassword.label' | translate }}</label>
                <input type="password" [(ngModel)]="beneficiaryDetails.repeatNewPassword"
                       class="form-control beneficiaryProfileI"
                       name="repeatNewPassword" ngcontrol="repeatNewPassword"
                       #repeatNewPassword="ngModel" (keyup)="checkPassword()" required>
                <div [hidden]="repeatNewPassword.valid || repeatNewPassword.pristine"
                     class="alert alert-danger">{{'newPassword.required' | translate }}
                </div>
                <div class="form-group">
                    <div style="text-align: center !important">
                        <button type="submit" class="btn btn-primary changePasswordModal"
                                [disabled]="!profileForm.form.valid">{{
                            'cancel.button' | translate }}
                        </button>
                        <button type="submit" class="btn btn-primary changePasswordModal"
                                [disabled]="!profileForm.form.valid || !checkPassword()">{{
                            'change' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </p-dialog>
</div>