<div class="clearfix"></div>
<div class="ui-g">
     <div class="ui-g-12">
       <p>{{ 'profile.title' | translate }}</p>
        <hr>
        <div class="ui-g">
            <div class="ui-g-10">
                <p>{{ 'mayor.details' | translate }}</p>
            </div>
            <div class="ui-g-2">
                <p>{{ 'edit.button' | translate }} <i class="fa fa-pencil" aria-hidden="true"></i></p>
            </div>
        </div>

         <div class="ui-g">
             <div class="ui-g-4">

             </div>
             <div class="ui-g-8">

             </div>
         </div>
         <hr>
         <div class="ui-g">
             <div class="ui-g-4">

             </div>
             <div class="ui-g-8">

             </div>
         </div>
    </div>




    <div class="ui-g-6">
        <div class="ui-g">
            <div class="ui-g-12">
                <p>{{ 'beneficiaryProfile.text' | translate }}</p>
                <div style="text-align: center !important">
                    <button type="submit" class="btn btn-primary" [disabled]="!activationForm.form.valid">{{ 'beneficiaryProfile.password' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
