<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4">
    <display-name>Wifi4Eu Abac Test</display-name>
    <servlet>
        <servlet-name>spring-ABAC</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring-ABAC</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
</web-app>