<div class="clearfix"></div>
<div class="jumbotron mb-3" style="background-color: transparent;">
    <div class="container center">
      <p class="center beneficiaryTitle">{{ 'dgConn.helpdesk.dashboard' | translate }}</p>
    </div>
  </div>
<div class="container"  style="padding:5px 10px; margin-top: 15px;">
  <div class="panel-dg panel-padding panel-input">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
          <input type="text" [(ngModel)]="inputSearch" (keyup.enter)="filterData(inputSearch)" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-primary" (click)="filterData(inputSearch)" type="button">{{ 'shared.search.button' | translate }}</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-dg">
    <div class="panel-dg-header">
      <span class="header-label">{{ 'dgConn.helpdesk.dashboard' | translate }}</span>
      <span class="right" style="padding: 5px 0;">
        <a class="downloadData" (click)="helpdeskTable.exportCSV()"> <!--  -->
          <i class="fa fa-download" aria-hidden="true"></i>
          {{'dgConn.voucher.downloadData' | translate}}
        </a>
      </span>
    </div>
    <p-dataTable #helpdeskTable [value]="issues" [(selection)]="selectedIssues" [rows]="10" [paginator]="true" [pageLinks]="3"
      [rowsPerPageOptions]="[10,20,50,100]" [globalFilter]="gb" [totalRecords]="issues?.length" [editable]="true">
      <p-column [style]="{'width':'38px'}" selectionMode="multiple" styleClass="text-center"></p-column>
      <p-column field="portal" header="{{ 'helpdesk.portal' | translate }}" [sortable]="true" styleClass="text-center"></p-column>
      <p-column field="topic" header="{{ 'helpdesk.topic' | translate }}" [sortable]="false" styleClass="text-center"></p-column>
      <p-column field="memberState" header="{{ 'helpdesk.memberState' | translate }}" [sortable]="false" styleClass="text-center"></p-column>
      <p-column field="date" header="{{ 'dgConn.dateandtime' | translate }}" [sortable]="true" styleClass="text-center">
            <template pTemplate="body" let-issue="rowData">
                <span>{{issue.createDate | date: 'dd/MM/yyyy HH:mm'}}</span>
            </template>
        </p-column>
      <p-column field="assignedTo" header="{{ 'dgConn.assignedTo' | translate }}" [sortable]="true" styleClass="text-center"></p-column>
      <p-column field="status" header="{{ 'dgConn.status' | translate }}" [sortable]="true" styleClass="text-center">
            <template pTemplate="body" let-issue="rowData">
                <div [ngSwitch]="issue.status">
                    <span *ngSwitchCase="0" class="issue-status-pending"><i>{{ 'dgConn.issueStatus.pending' | translate }}</i></span>
                    <span *ngSwitchCase="1" class="issue-status-resolved"><i>{{ 'dgConn.issueStatus.resolved' | translate }}</i></span>
                    <span *ngSwitchCase="2" class="issue-status-pending"><i>{{ 'dgConn.issueStatus.pending' | translate }}</i></span>
                </div>
            </template>
        </p-column>
      <p-column header="{{ 'dgConn.details' | translate }}" styleClass="text-center">
            <template pTemplate="body" let-issue="rowData" let-rowIndex="rowIndex">
          <button type="button" class="btn" style="background: none; padding: 0;display: inline-flex; align-content: center; align-items: center;" (click)="viewIssueDetails(issue, rowIndex)">
            <i class="fa fa-2x fa-eye" style="font-size: 20px;padding-right: 5px;"></i> {{ 'shared.view' | translate }}
                </button>
            </template>
        </p-column>
    </p-dataTable>
  </div>
    <div class="right">
        <button type="submit" class="btn btn-primary cancel-button" (click)="resolveIssues()">{{ 'dgConn.resolve' | translate
            }}
        </button>
    </div>
    <br>
</div>
<!--MODAL Displayed -->
<p-dialog class="modalScroll" [(visible)]="display" [modal]="true" [draggable]="false" [closable]="false"
          [responsive]="true"
          [closeOnEscape]="false">
    <button type="button" class="closeButton" (click)="cancel()">X</button>
    <h2 class="beneficiaryTitle labelModal supplier">{{ 'dgConn.issueDetails' | translate }}</h2>
    <div class="ui-g-12" style="background: #F5F5F5;border: 1px solid #C1C1C1; margin-bottom: 20px">
        <div>
                <span class="label floatLeft ui-g-12">{{ 'dgConn.assignedTo' | translate }}:
                    <select [(ngModel)]="issueSelected.assignedTo" name="assignedTo">
                        <option [selected]="issueSelected.assignedTo == 'Member State'">Member State</option>
                        <option [selected]="issueSelected.assignedTo == 'DG Connect'">DG Connect</option>
                    </select>
                </span>
        </div>
        <div style="padding-bottom: 0;">
            <span class="label floatLeft ui-g-6">{{ 'helpdesk.from' | translate }}: <b>{{issueSelected.fromEmail}}</b></span>
            <span class="label floatLeft ui-g-6">{{ 'helpdesk.memberState' | translate }}: <b>{{issueSelected.memberState}}</b></span>
        </div>
        <div style="padding-top: 0; padding-bottom: 0;">
            <span class="label floatLeft ui-g-6">{{ 'helpdesk.topic' | translate }}: <b>{{issueSelected.topic}}</b></span>
            <span class="label floatLeft ui-g-6">{{ 'dgConn.dateandtime' | translate }}: <b>{{issueSelected.date | date: 'dd/MM/yyyy HH:mm'}}</b></span>
        </div>
        <div style="padding-top: 0;">
            <span class="label floatLeft ui-g-6">{{ 'helpdesk.portal' | translate }}: <b>{{issueSelected.portal}}</b></span>
            <span class="label floatLeft ui-g-6"></span>
        </div>
        <div class="form-group">
            <label class="label floatLeft ui-g-12" for="issueSummary" style="margin: 0;">{{ 'helpdesk.issueSummary' | translate
                }}:</label>
            <textarea id="issueSummary" class="ui-g-12" disabled [(ngModel)]="issueSelected.summary">{{issueSelected.summary}}</textarea>
        </div>
        <!--<div class="form-group">-->
        <!--<label class="ui-g-12" for="memberStateComments" style="margin: 0;">{{ 'helpdesk.memberStateComments' |-->
        <!--translate}}:</label>-->
        <!--<div *ngFor="let comment of issueSelected.comments; let i = index">-->
        <!--<textarea class="ui-g-12" disabled [(ngModel)]="issueSelected.comments[i].comment">{{comment.comment}}</textarea>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <h2 class="beneficiaryTitle labelModal supplier">{{ 'comments' | translate }}</h2>
    <div class="ui-g-12" style="background: #F5F5F5;border: 1px solid #C1C1C1;">
        <div class="form-group ui-g-12" *ngFor="let comment of issueSelected.comments; let i = index">
            <!--<label class="ui-g-12" for="dgConnectComments" style="margin: 0;">{{ 'dgConn.dgConnectComments' | translate }}:</label>-->
            <div style="padding-bottom: 0;">
                <span class="label floatLeft ui-g-12">{{ 'by' | translate }}: <b>{{comment.type}}</b></span>
            </div>R
            <div style="padding-bottom: 0;">
                <span class="label floatLeft ui-g-12">{{ 'dgConn.dateandtime' | translate }}: <b>{{comment.commentDate}}</b></span>
            </div>
            <textarea class="label floatLeft ui-g-12" disabled>{{comment.comment}}</textarea>
            <br><br>
        </div>
    </div>
    <div class="ui-g-12" style="margin-top: 20px;">
            <span>
                <button type="button" class="btn cancel-button" (click)="cancel()">
                    {{ 'shared.cancel.button' | translate }}
                </button>
            </span>
        <span style="float: right;">
                <button type="button" class="btn btn-primary publish-button" (click)="setAsResolved()"
                        style="margin-right: 15px;">{{ 'dgConn.setAsResolved' | translate }}</button>
                <button type="button" class="btn btn-primary cancel-button" (click)="keepAsPending()">{{ 'dgConn.keepAsPending' | translate }}</button>
            </span>
    </div>
</p-dialog>