<p>
  select-supplier works!
</p>

<div>
  <input type="text" [(ngModel)]="name">
  <p>{{ name }}</p>
</div>

<!-- <div class="container center"></div> -->

<div>
<!--   <div class="row" *ngIf="searched && country && region && suppliers.length > 0" [@opacityTransition]> -->
<!--   </div> -->
<!--   <div class="row" [class.hide]="suppliers.length <= 0 || !searched">
    <div class="col-sx-12" style="position: relative;">
      <p-paginator class="paginator-panel" #paginator (onPageChange)="paginate($event)" [rowsPerPageOptions]="itemsPerPageSelector"></p-paginator>
        <div class="totalRecords">
          <span style="color: #929292;">{{ 'shared.totalRecords' | translate }}: {{totalItems}} </span>
        </div>
    </div>
  </div> -->
<!--   <div class="row" *ngIf="searched && suppliers.length == 0">
    <div class="col-md-12">
      <span class="updated-on">{{ 'listMunicipalities.noresults.text' | translate }} {{regionNameSearched}}</span>
    </div>
  </div> -->
</div>




<div class="ui-g-12 ui-md-8 offset-md-2">

  <a class="link-label" routerLink="/beneficiary-portal/voucher" routerLinkActive="active">
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i> {{ 'shared.back.button' | translate }}
  </a>

<!--   <h4 class="beneficiaryTitle">{{ municipalities[0].name }}</h4> -->
  <h5 class="beneficiaryMayor counterText" >{{ 'benefPortal.selectSupplier.title' | translate }}</h5>
  <p class="subtitle-discover">{{ 'benefPortal.selectSupplier.title.text' | translate }}</p>

<!--   <div class="panel-dg panel-padding panel-input">
      <div class="row">
          <div class="col-md-8">
              <form #searchSuppliersForm="ngForm" (submit)="searchSuppliers()" class="input-group">
                  <span class="input-group-addon">
                      <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                  <input type="search" name="searchInput" class="form-control" [(ngModel)]="searchSuppliersInput">
                  <span class="input-group-btn">
                      <button class="btn btn-primary" (click)="filterData(inputSearch)" type="submit">
                          <b>{{ 'shared.search.button' | translate }}</b>
                      </button>
                  </span>
              </form>
          </div>
      </div>
  </div> -->

  <div class="panel-dg panel-padding panel-input">
      <div class="row">
          <div class="col-md-8">
              <form #searchSuppliersForm="ngForm" (submit)="searchSuppliers()" class="input-group">
                  <span class="input-group-addon">
                      <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                  <input type="search" name="searchInput" class="form-control" [(ngModel)]="searchSuppliersInput">
                  <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">
                          <b>{{ 'shared.search.button' | translate }}</b>
                      </button>
                  </span>
              </form>
          </div>
      </div>
  </div>

  <div class="marginTop registrationPanel">
      <p-dataTable [value]="suppliers" sortField="name" [sortOrder]="1" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20]" [(selection)]="selectedSupplier" dataKey="name">

<!--           <div style="text-align: left">Selected Supplier: {{selectedSupplier ? selectedSupplier.name + ' - ' + selectedSupplier.address + ' - ' + selectedSupplier.website + ' - ' + selectedSupplier.vat : 'none'}}</div> -->

          <p-column  selectionMode="single" styleClass="label">
            <template pTemplate="body">

            </template>
          </p-column>

          <p-column field="i" header="Index" styleClass="label">
            <template pTemplate="body" let-i="rowIndex">
              <span class="row-index">{{i + 1}}</span>
            </template>
          </p-column>

          <p-column field="logo" header="{{ 'benefPortal.selectSupplier.table.logo' | translate }}" styleClass="label">
            <template pTemplate="body" let-supplier="rowData" let-i="rowIndex">
              <span class="supplier-logo">
                <img class="profileLogoImage" style="height:30px;" src="{{ supplier.logo }}">
              </span>
            </template>
          </p-column>

          <p-column field="name" header="{{ 'suppRegistration.company.name' | translate }}" [sortable]="true" styleClass="label">
            <template pTemplate="body" let-supplier="rowData" let-i="rowIndex">
              <span class="supplier-name">{{supplier.name}}</span>
            </template>
          </p-column>

          <p-column field="address" header="{{ 'benefRegistration.address.label' | translate }}" styleClass="label">
            <template pTemplate="body" let-supplier="rowData" let-i="rowIndex">
              <span class="supplier-address">{{supplier.address}}</span>
            </template>
          </p-column>

          <p-column field="website" header="{{ 'benefPortal.selectSupplier.table.web' | translate }}" styleClass="label">
            <template pTemplate="body" let-supplier="rowData" let-i="rowIndex">
              <span class="supplier-website">{{supplier.website}}</span>
            </template>
          </p-column>

          <p-column field="vat" header="{{ 'suppRegistration.vat.label' | translate }}" [sortable]="true" styleClass="label">
            <template pTemplate="body" let-supplier="rowData" let-i="rowIndex">
              <span class="supplier-vat">{{supplier.vat}}</span>
            </template>
          </p-column>

      </p-dataTable>

    <div>      
      <button class="btn btn-primary right marginSelect" (click)="selectSupplier()" [disabled]="selectedSupplier == null">
          <b>{{ 'benefPortal.selectSupplier.buton.select' | translate }}</b>
      </button>
    </div>

    <div class="container font">
        <p-dialog [(visible)]="displayMessage" [modal]="true" [responsive]="false"
                  [resizable]="false" [draggable]="false" [closeOnEscape]="true">
            <div class="beneficiaryTitle center hiddenScroll">
                {{ 'shared.select.text' | translate }} {{ 'benefPortal.selectSupplier.title' | translate }}
            </div>

            <p class="voucherModal">
              <span>{{ 'benefPortal.selectSupplier.title' | translate }} : <em>{{ "selectedSupplier.name" }}</em> </span>
              <span>{{ 'suppRegistration.vat.label' | translate }} : </span>
            </p>

            <!-- <em>{{ selectedSupplier.name }}</em>
            <em>{{ selectedSupplier.vat }}</em> -->

            <p class="voucherModal">{{ 'benefPortal.selectSupplier.details.text' | translate }}</p>

            <div class="voucherModal md4Dashboard">
                <button class="btn btn-primary voucherButtonsCancel" (click)="selectSupplier()">
                    {{ 'shared.cancel.button' | translate }}
                </button>

                <button class="btn btn-primary voucherButtonsSimulate" (click)="selectSupplier()">
                    {{ 'suppRegistration.confirm.button' | translate }}
                </button>
            </div>
        </p-dialog>
    </div>

  </div>
</div>


<!-- "shared.select.text": "Select", -->

<!-- // "benefPortal.selectSupplier.title": "Wifi installation company",
//   "suppRegistration.vat.label": "VAT number",
"benefPortal.selectSupplier.details.text": "You have selected this Wi-Fi installation company. Please confirm that selected Wi-Fi Installation Company will perform the installation of your local WiFi4EU network. In addition, please confirm that the VAT number is correct for this Wi-Fi installation company.", 
//   "shared.cancel.button": "Cancel",
// "suppRegistration.confirm.button": "Confirm", -->
