<ux-wizard-steps [isCustomContent]="true">
  <ux-wizard-step label="{{ 'registration.step1.title' | translate }}">
    <uxWizardStepCustomContent>
      <entity-component></entity-component>
    </uxWizardStepCustomContent>
  </ux-wizard-step>
  <ux-wizard-step label="{{ 'registration.step2.title' | translate }}">
    <uxWizardStepCustomContent>
    </uxWizardStepCustomContent>
  </ux-wizard-step>
  <ux-wizard-step label="{{ 'registration.step3.title' | translate }}">
    <uxWizardStepCustomContent>
    </uxWizardStepCustomContent>
  </ux-wizard-step>
</ux-wizard-steps>