<ux-wizard-steps [isCustomContent]="true">
    <ux-wizard-step label="{{ 'registration.entity.title' | translate }}" [isCompleted]="completed[0]"
                    [isActive]="active[0]">
        <uxWizardStepCustomContent>
            <entity-component [entityDetails]="entityDetails" (onNext)="onNext($event)"
                              (onBack)="onBack($event)"></entity-component>
        </uxWizardStepCustomContent>
    </ux-wizard-step>
    <ux-wizard-step label="{{ 'registration.beneficiary.title' | translate }}" [isCompleted]="completed[1]"
                    [isActive]="active[1]">
        <uxWizardStepCustomContent>
            <beneficiary-component [beneficiaryDetails]="beneficiaryDetails"
                                   (onNext)="onNext($event)" (onBack)="onBack($event)"></beneficiary-component>
        </uxWizardStepCustomContent>
    </ux-wizard-step>
    <ux-wizard-step label="{{ 'registration.review.title' | translate }}" [isCompleted]="completed[2]"
                    [isActive]="active[2]">
        <uxWizardStepCustomContent>
            <review-component [entityDetails]="entityDetails"
                              [beneficiaryDetails]="beneficiaryDetails" (onNext)="onNext($event)"
                              (onBack)="onBack($event)"></review-component>
        </uxWizardStepCustomContent>
    </ux-wizard-step>
</ux-wizard-steps>