<ux-wizard-steps [isCustomContent]="true">
  <ux-wizard-step label="STEP 1: Legal entity">
    <uxWizardStepCustomContent>
      <entity-component></entity-component>
    </uxWizardStepCustomContent>
  </ux-wizard-step>
  <ux-wizard-step label="STEP 2: Beneficiary details">
    <uxWizardStepCustomContent>
    </uxWizardStepCustomContent>
  </ux-wizard-step>
  <ux-wizard-step label="STEP 3: Review">
    <uxWizardStepCustomContent>
    </uxWizardStepCustomContent>
  </ux-wizard-step>
</ux-wizard-steps>