<div class="container">
    <!-- Page title-->
    <div class="page-title text-center">
      <h1>Wifi4EU Suppliers Tool</h1>
    </div>
    <!-- Administrators-->
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Suppliers</h2>
        <ux-dashboard-card label="Installation Report Page" 
                                [isHorizontalLayout]="true"
                                [isClickable]="true"
                                url="/screen/installation-report">
          </ux-dashboard-card>
        </div>
    </div>
  
    <!-- <hr>
     Project managers 
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Project Managers</h2>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        
           <ux-dashboard-card label="Conformity Check Page" subLabel="This page is used to perform the triple check on the beneficiary before triggering the payment of the voucher."
                                imageUrl="assets/images/icon_conformity_page.png" imageWidth="160" imageHeight="157"
                                [isHorizontalLayout]="true"
                                [isClickable]="true"
                                url="/screen/monitoring/conformity"> 
          <ux-dashboard-card label="Conformity Check Page" subLabel="This page is used to perform the triple check on the beneficiary before triggering the payment of the voucher."
                                imageUrl="assets/images/icon_conformity_page.png" imageWidth="160" imageHeight="157"
                                [isHorizontalLayout]="true"
                                [isClickable]="true"
                                url="">
            </ux-dashboard-card> 
       </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
             <ux-dashboard-card label="Operational Monitoring Page" subLabel="This page is used for monitoring beneficiaries and their networks."
                                  imageUrl="assets/images/icon_monitoring_page.png" imageWidth="160" imageHeight="157"
                                  [isHorizontalLayout]="true"
                                  [isClickable]="true"
                                  url="/screen/monitoring">
            </ux-dashboard-card> 
        </div>
      </div> --> 
  </div>