<div class="ui-g">
    <div class="ui-g-12 center" style="text-align: center !important">
        <i class="zmdi zmdi-check-circle fa-3x"></i><br>
        <h2>{{ 'submitregistration.success.title' | translate }}</h2>
        <br>
        <p>{{ 'submitregistration.success.text.part1' | translate }}<br>{{ 'submitregistration.success.text.part2' |
            translate }}</p>
        <p>{{ 'submitregistration.success.resendconfirm.part1' | translate }} <u><b>{{
            'submitregistration.success.resendconfirm.part2' | translate }}</b></u></p>
        <br>
        <button class="btn btn-primary">{{ 'backtohome.button' | translate }}</button>
    </div>
</div>