<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <CustomLevels>
        <CustomLevel name="BUSINESS" intLevel="250"/>
    </CustomLevels>
    <Appenders>
        <Console name="CONSOLE_APPENDER" target="SYSTEM_OUT">
            <PatternLayout pattern="%d - %-5p - [%c{1}:%L] - %m%n"/>
        </Console>
        <RollingFile name="FILE_APPENDER" fileName="${sys:catalina.home}/logs/wifi4eu_app.log"
                     filePattern="logs/wifi4eu_app-%d{yyyy-MM-dd}.log" append="true">
            <PatternLayout>
                <Pattern>%d - %-5p - [%c{1}:%L] - %m%n </Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
        <RollingFile name="BUSINESS_FILE_APPENDER" fileName="${sys:catalina.home}/logs/wifi4eu_business_app.log"
                     filePattern="${sys:catalina.home}/logs/wifi4eu_business_app-%d{yyyy-MM-dd}.log" append="true">
            <PatternLayout>
                <Pattern>%d - %-5p - [%c{1}:%L] - %m%n </Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="BUSINESS" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
        <RollingFile name="CRON_FILE_APPENDER" fileName="${sys:catalina.home}/logs/wifi4eu_cron_app.log"
                     filePattern="${sys:catalina.home}/logs/wifi4eu_cron_app-%d{yyyy-MM-dd}.log" append="true">
            <PatternLayout>
                <Pattern>%d - %-5p - [%c{1}:%L] - %m%n </Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
        <RollingFile name="APPLY_FILE_APPENDER" fileName="${sys:catalina.home}/logs/wifi4eu_apply_app.log"
                     filePattern="${sys:catalina.home}/logs/wifi4eu_apply_app-%d{yyyy-MM-dd}.log" append="true">
            <PatternLayout>
                <Pattern>%d - %-5p - [%c{1}:%L] - %m%n </Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
        <RollingFile name="ECAS_CLIENT_FILE" fileName="${sys:catalina.home}/logs/ecas-client.log"
                     filePattern="${sys:catalina.home}/logs/ecas-client-%d{yyyy-MM-dd}.log" append="true">
            <PatternLayout>
                <Pattern>%d - %-5p - [%c{1}:%L] - %m%n </Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="eu.cec.digit.ecas.client.j2ee.tomcat" level="info">
            <Appender-ref ref="ECAS_CLIENT_FILE"/>
        </Logger>
        <Logger name="eu.cec.digit.ecas.util.httpclient" level="info">
            <Appender-ref ref="ECAS_CLIENT_FILE"/>
        </Logger>
        <Logger name="eu.cec.digit.commons" level="info">
            <Appender-ref ref="ECAS_CLIENT_FILE"/>
        </Logger>
        <Logger name="eu.cec.digit.ecas.client.filter.MetaFilter" level="info">
            <Appender-ref ref="ECAS_CLIENT_FILE"/>
        </Logger>
        <Logger name="eu.cec.digit.ecas.util.dependencies" level="info">
            <Appender-ref ref="ECAS_CLIENT_FILE"/>
        </Logger>
        <Logger name="httpclient.wire" level="info">
            <Appender-ref ref="ECAS_CLIENT_FILE"/>
        </Logger>
        <Logger name="org.apache" level="info">
            <Appender-ref ref="ECAS_CLIENT_FILE"/>
        </Logger>
        <Logger name="wifi4eu.wifi4eu.util.ScheduledTasks" level="info">
            <Appender-ref ref="CRON_FILE_APPENDER"/>
            <Appender-ref ref="FILE_APPENDER"/>
        </Logger>
        <Logger name="wifi4eu.wifi4eu.service.application.ApplicationService" level="info">
            <Appender-ref ref="APPLY_FILE_APPENDER"/>
            <Appender-ref ref="FILE_APPENDER"/>
        </Logger>
        <Logger name="wifi4eu" level="info">
            <Appender-ref ref="FILE_APPENDER"/>
        </Logger>
        <Logger name="org.springframework" level="info">
            <Appender-ref ref="FILE_APPENDER"/>
        </Logger>
        <Root level="info">
            <Appender-ref ref="CONSOLE_APPENDER"/>
            <Appender-ref ref="FILE_APPENDER"/>
            <Appender-ref ref="BUSINESS_FILE_APPENDER"/>
        </Root>
    </Loggers>
</Configuration>