<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <CustomLevels>
        <CustomLevel name="BUSINESS" intLevel="250"/>
    </CustomLevels>
    <Appenders>
        <Console name="CONSOLE_APPENDER" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d [%t] | [%c{1}:%L] - %m%n"/>
        </Console>
        <File name="FILE_APPENDER" fileName="../logs/wifi4eu_app.log" append="false">
            <PatternLayout>
                <Pattern>%d [%t] %-5p %c{1} - %x - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="wifi4eu" level="error">
            <Appender-ref ref="CONSOLE_APPENDER"/>
            <Appender-ref ref="FILE_APPENDER"/>
        </Logger>
        <Logger name="org.springframework" level="error">
            <Appender-ref ref="CONSOLE_APPENDER"/>
            <Appender-ref ref="FILE_APPENDER"/>
        </Logger>
        <Root level="error">
            <Appender-ref ref="CONSOLE_APPENDER"/>
            <Appender-ref ref="FILE_APPENDER"/>
        </Root>
    </Loggers>
</Configuration>