<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
                     debug="true">


    <appender name="CONSOLE_APPENDER" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p | %d [%t] | [%c{1}:%L] - %m%n"/>
        </layout>
    </appender>

    <appender name="FILE_APPENDER" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false"/>
        <param name="file" value="${catalina.home}/logs/wifi4eu-dgconn_app.log"/>
        <!--Taille max pour le fichier de log -->
        <param name="MaxFileSize" value="10MB"/>
        <!-- Nombre de fichiers de logs (sauvegardes). -->
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %x - %m%n"/>
        </layout>
    </appender>

    <appender name="CRON_FILE_APPENDER" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false"/>
        <param name="file" value="${catalina.home}/logs/wifi4eu-dgconn_cron_app.log"/>
        <!--Taille max pour le fichier de log -->
        <param name="MaxFileSize" value="10MB"/>
        <!-- Nombre de fichiers de logs (sauvegardes). -->
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %x - %m%n"/>
        </layout>
    </appender>

    <appender name="APPLY_FILE_APPENDER" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false"/>
        <param name="file" value="${catalina.home}/logs/wifi4eu-dgconn_apply_app.log"/>
        <!--Taille max pour le fichier de log -->
        <param name="MaxFileSize" value="10MB"/>
        <!-- Nombre de fichiers de logs (sauvegardes). -->
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %x - %m%n"/>
        </layout>
    </appender>


    <appender name="ECAS_CLIENT_FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false"/>
        <param name="file" value="${catalina.home}/logs/ecas-dgconn-client.log"/>
        <!--Taille max pour le fichier de log -->
        <param name="MaxFileSize" value="10MB"/>
        <!-- Nombre de fichiers de logs (sauvegardes). -->
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %x - %m%n"/>
        </layout>
    </appender>


    <logger name="eu.cec.digit.ecas.client.j2ee.tomcat" additivity="true">
        <level value="info"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="ECAS_CLIENT_FILE"/>
    </logger>

    <logger name="eu.cec.digit.ecas.util.httpclient" additivity="true">
        <level value="info"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="ECAS_CLIENT_FILE"/>
    </logger>

    <logger name="eu.cec.digit.commons" additivity="true">
        <level value="info"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="ECAS_CLIENT_FILE"/>
    </logger>

    <logger name="eu.cec.digit.ecas.client.filter.MetaFilter" additivity="true">
        <level value="info"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="ECAS_CLIENT_FILE"/>
    </logger>

    <logger name="eu.cec.digit.ecas.util.dependencies" additivity="true">
        <level value="info"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="ECAS_CLIENT_FILE"/>
    </logger>

    <logger name="httpclient.wire" additivity="true">
        <level value="info"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="ECAS_CLIENT_FILE"/>
    </logger>

    <logger name="org.apache" additivity="true">
        <level value="info"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="ECAS_CLIENT_FILE"/>
    </logger>

    <!-- wifi4eu cron job-->
    <logger name="wifi4eu.wifi4eu.util.ScheduledTasks" additivity="true">
        <level value="info"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="CRON_FILE_APPENDER"/>
        <appender-ref ref="FILE_APPENDER"/>
    </logger>

    <logger name="wifi4eu.wifi4eu.service.application.ApplicationService" additivity="true">
        <level value="info"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="APPLY_FILE_APPENDER"/>
        <appender-ref ref="FILE_APPENDER"/>
    </logger>


    <logger name="wifi4eu" additivity="true">
        <level value="info"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="FILE_APPENDER"/>
    </logger>
    <logger name="org.springframework" additivity="true">
        <level value="error"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="FILE_APPENDER"/>
    </logger>
    <root>
        <level value="info"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="FILE_APPENDER"/>
    </root>

</log4j:configuration>