
<div class="supplier"></div>
<div class="container">
    <div class="ui-g">
        <div class="ui-g-4  voucherLabel"><p>{{ 'dgConn.totalCountries' | translate }}: <b>{{totalCountries}}</b></p></div>
        <div class="ui-g-4 voucherLabel">
            <div class="ui-g-4">{{ 'shared.country.label' | translate }}</div>
            <div class="ui-g-8">
                <p-autoComplete id="country" class="form-control autoComplete" name="country" field="name" placeholder="Espanya"
                    ngcontrol="country" #country="ngModel" [(ngModel)]="nutsDTO" [suggestions]="nutsSuggestions" 
                    [size]="30" [minLength]="1" (completeMethod)="filterNuts($event)" required>
                </p-autoComplete>
            </div>
        </div>
        <div class="ui-g-4">
            <button type="button" class="btn btn-primary voucherButtons" (click)="simulateDistribution()">
                {{'dgConn.voucher.simulate' | translate }}
            </button>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-4 voucherLabel"><p>{{ 'dgConn.voucher.totalRequest' | translate }}: <b>{{totalRequests}}</b></p></div>
        <div class="ui-g-4 voucherLabel">
            <div class="ui-g-4">{{ 'dgConn.voucher.amountVoucher' | translate }}</div>
            <div class="ui-g-8">
                <input type="text" name="" class="paddingInput" value="">
            </div>
        </div>
        <div class="ui-g-4">
            <button type="button"  class="btn btn-primary voucherButtons">
                {{'dgConn.voucher.cancelAssignment' | translate }}
            </button>
        </div>
    </div>
    <div id="map"></div>
    <div class="headerTableVoucher">
        <p><span class="voucherTitle">{{ 'dgConn.voucher.dashboard' | translate }}</span> | <span class="voucherSubtitle">{{ 'dgConn.voucher.simulation' | translate }}</span><a class="downloadData" (click)="mapTable.exportCSV()"><i class="fa fa-download" aria-hidden="true"></i> {{'dgConn.voucher.downloadData' | translate}}</a></p>
    </div>
    <p-dataTable #mapTable [value]="mapTableData" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20]">
            <p-column field="name" header="{{ 'shared.country.label' | translate }}" [sortable]="true"></p-column>
            <p-column field="municipalities" header="{{ 'dgConn.voucher.municipalities' | translate }}" [sortable]="true"></p-column>
            <p-column field="requests" header="{{ 'dgConn.voucher.requests' | translate }}" [sortable]="true"></p-column>
            <p-column field="awarded" header="{{ 'dgConn.voucher.assigned' | translate }}" [sortable]="true"></p-column>
    </p-dataTable>
</div>