<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
                     debug="false">


    <appender name="CONSOLE_APPENDER" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %x - %m%n"/>
        </layout>
    </appender>

    <appender name="FILE_APPENDER" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="server.log"/>
        <!-- Taille max pour le fichier de log -->
        <param name="MaxFileSize" value="10MB"/>
        <!-- Nombre de fichiers de logs (sauvegardes). -->
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c{1} - %x - %m%n"/>
        </layout>
    </appender>


    <category name="org.apache.commons.digester">
        <level value="info"/>
    </category>

    <root>
        <level value="info"/>
        <priority value="info"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
        <appender-ref ref="FILE_APPENDER"/>
    </root>

</log4j:configuration>