<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-3.2.xsd">


    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider
                ref="preauthAuthProvider" />
    </security:authentication-manager>

    <security:http auto-config="true" use-expressions="true">

        <security:custom-filter after="PRE_AUTH_FILTER"
                                ref="jeePreAuthenticatedFilter" />
        <security:session-management
                session-fixation-protection="none">
        </security:session-management>
    </security:http>

    <bean id="jeePreAuthenticatedFilter"
          class="org.springframework.security.web.authentication.preauth.j2ee.J2eePreAuthenticatedProcessingFilter">
        <property name="authenticationManager" ref="authenticationManager" />
    </bean>

    <bean id="preauthAuthProvider"
          class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
        <property name="preAuthenticatedUserDetailsService">
            <bean class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
                <property name="userDetailsService" ref="allAuthenticatedUserService" />
            </bean>
        </property>
    </bean>


    <bean id="allAuthenticatedUserService" class="wifi4eu.wifi4eu.service.security.UserDetailsServiceCustom" />


</beans>