<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <security:http use-expressions="true" create-session="stateless">
        <security:intercept-url pattern="/api/beneficiary/*" access="hasAuthority('W4EU_ADMIN')" />
        <security:http-basic />
    </security:http>
    <security:authentication-manager>
        <security:authentication-provider ref="authProvider"/>
    </security:authentication-manager>

    <bean id="authProvider"
          class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="userDetailsService">
            <bean id="dbUserService" class="wifi4eu.wifi4eu.service.security.DBUserDetailsServiceCustom" />
        </property>
    </bean>

    <bean id="dbUserService" class="wifi4eu.wifi4eu.service.security.DBUserDetailsServiceCustom" />

</beans>
