<div class="container">
    <form *ngIf="!this.compareURls" (ngSubmit)="onSendEmail()" #emailForm="ngForm">
        <div class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <div class="form-group">

                    <p class="h2 h2-title center beneficiaryTitle">{{ 'shared.forgot.title' | translate}}</p>
                    <p class="text-align-center">{{ 'email.forgot' | translate}}</p>

                    <label for="email" class="label floatLeft labelForgot">{{ 'remove' | translate }}</label>
                    <input type="email" [(ngModel)]="forgotDetails.email" id="email" class="form-control  paddingInput" name="email"
                           ngcontrol="forgotDetails.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$" required>
                    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">{{ 'email.required' |translate }}</div>
                </div>
            </div>
            <div class="ui-lg-3"></div>
        </div>
        <div class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
                <button type="button" class="btn btn-primary cancel-button">{{ 'shared.cancel.button' | translate }}</button>
            </div>
            <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
                <button type="submit" class="btn btn-primary publish-button" [disabled]="!emailForm.form.valid">
                    {{ 'suppRegistration.confirm.button' | translate }}
                </button>
            </div>
            <div class="ui-lg-3"></div>
        </div>
    </form>

    <form *ngIf="this.compareURls" (ngSubmit)="onNewPassword()" #forgotForm="ngForm">
        <div class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <div class="form-group">
                    <p class="h2 h2-title center">{{ 'select.newPassword' | translate }}</p>
                    <p class="text-align-center">{{ 'select.password' | translate }}</p>
                    <label for="password" class="label floatLeft labelForgot">{{ 'shared.password.label' | translate }}</label>
                    <input type="password" [(ngModel)]="forgotDetails.password"
                           id="password" class="form-control  paddingInput" name="password"
                           ngcontrol="forgotDetails.password"
                           #password="ngModel" minlength="8"
                           (keyup)="checkPassword()" required>
                    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">{{ 'password.required' | translate }}</div>

                    <label for="confirmPassword" class="label floatLeft labelForgot">{{ 'confirmNewPassword.label' | translate }}</label>
                    <input type="password" [(ngModel)]="forgotDetails.confirmPassword" id="confirmPassword" class="form-control paddingInput" name="confirmPassword"
                           ngcontrol="forgotDetails.confirmPassword" #confirmPassword="ngModel" minlength="8" (keyup)="checkPassword()" required>
                    <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger">{{ 'newPassword.required' | translate }}</div>
                </div>
            </div>
            <div class="ui-lg-3"></div>
        </div>
        <div class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
                <button type="button" class="btn btn-primary cancel-button">{{ 'shared.cancel.button' | translate }}</button>
            </div>
            <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
                <button type="submit" class="btn btn-primary publish-button" [disabled]="!forgotForm.form.valid || !checkPassword()">
                    {{ 'suppRegistration.confirm.button' | translate }}
                </button>
            </div>
            <div class="ui-lg-3"></div>
        </div>
    </form>

</div>