<p-dataTable [value]="municipalities">
    <p-column field="municipalityCode" header="{{ 'municipality.label' | translate }}" [sortable]="false">
        <template pTemplate="body" let-rowIndex="rowIndex">
            <span>{{municipalitiesNames[rowIndex]}}</span>
        </template>
    </p-column>
    <p-column field="countryCode" header="{{ 'country.label' | translate }}" [sortable]="false">
        <template pTemplate="body" let-rowIndex="rowIndex">
            <span>{{countryNames[rowIndex]}}</span>
        </template>
    </p-column>
</p-dataTable>