<p class="subTitleCountdown">{{ 'municipalities.selected' | translate }}</p>
<div class="whiteNoMargin">
    <p-dataTable [value]="issues" [(selection)]="selectedIssues">
        <p-column field="portal" header="{{ 'municipality.label' | translate }}"
                  [sortable]="false"></p-column>
        <p-column field="portal" header="{{ 'country.label' | translate }}"
                  [sortable]="false"></p-column>
        <p-column field="portal" header="{{ 'access.point' | translate }}"
                  [sortable]="false"></p-column>
    </p-dataTable>
</div>