<timeline-component></timeline-component>
<div [ngSwitch]="voucherCompetitionState">
    <!-- no competition created, display warning -->
    <div *ngSwitchCase="-1">
        <div class="ui-g-12">
            <span class="ui-g-2"></span>
            <ux-alert class="ui-g-8" styleClass="alert-info">{{ 'voucher.noCompetitionPart1' | translate}}<b>{{
                'voucher.noCompetitionPart2' | translate}}</b></ux-alert>
            <span class="ui-g-2"></span>
        </div>
        <div class="center">
            <img src="assets/images/notification.png" alt="">
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4"></div>
            <div class="ui-g-4">
                <p class="labelModal">{{ 'voucher.emailNotification' | translate}}</p>
            </div>
            <div class="ui-g-4"></div>
        </div>
    </div>
    <!-- no competition active, display timer -->
    <div *ngSwitchCase="0">
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8 beneficiaryMayor">{{ 'voucher.timeleft.title' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <span class="ui-g-8">{{ 'voucher.timeleft.subtitle' | translate}}</span>
            <span class="ui-g-2"></span>
        </div>
        <br>
        <div class="ui-g-12 center">
            <timer-component *ngIf="!competitionOpen" (timerEvent)="beginCompetition()"
                             [expirationTimestamp]="currentCall.startDate"></timer-component>
        </div>
    </div>

    <!-- competition Open, display info -->
    <div *ngSwitchCase="1">
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <ux-alert class="ui-g-8" styleClass="alert-info">{{ 'voucher.statusmessage4' | translate}}</ux-alert>
            <span class="ui-g-2"></span>
        </div>
        <br>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8 beneficiaryMayor">{{ 'voucher.competition' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <span class="ui-g-8">{{ 'voucher.competition.desc' | translate}}</span>
            <span class="ui-g-2"></span>
        </div>
    </div>
</div>


<hr class="beneficiaryHr">
<div class="ui-g-12 center">
    <span class="ui-g-2"></span>
    <h2 class="ui-g-8 beneficiaryMayor">{{ 'voucher.whats.next' | translate}}</h2>
    <span class="ui-g-2"></span>
</div>
<div class="ui-g-12 center">
    <span class="ui-g-2"></span>
    <span class="ui-g-8">{{ 'voucher.steps' | translate}}</span>
    <span class="ui-g-2"></span>
</div>
<div class="ui-g-12 center">
    <div class="ui-g-3"></div>
    <div class="ui-g-2">
        <img src="assets/images/apply.png" alt="">
        <p><span class="dotSteps">1.</span>{{ 'voucher.supplierStep1' | translate}}</p>
    </div>
    <div class="ui-g-2">
        <img src="assets/images/supplier.png" alt="">
        <p><span class="dotSteps">2.</span>{{ 'voucher.supplierStep2' | translate}}</p>
    </div>
    <div class="ui-g-2">
        <img src="assets/images/notificationVoucher.png" alt="">
        <p><span class="dotSteps">3.</span>{{ 'voucher.supplierStep3' | translate}}</p>
    </div>
    <div class="ui-g-3"></div>

</div>