<timeline-component></timeline-component>
<div [ngSwitch]="voucherCompetitionState">
    <!-- no competition active, display timer -->
    <div *ngSwitchCase="0">
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8">{{ 'voucher.timeleft.title' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <span class="ui-g-8">{{ 'voucher.timeleft.subtitle' | translate}}</span>
            <span class="ui-g-2"></span>
        </div>
        <br>
        <div class="ui-g-12 center">
            <timer-component *ngIf="!competitionOpen" (timerEvent)="beginCompetition()"></timer-component>
        </div>
    </div>
    <!-- competition Open, display info -->
    <div *ngSwitchCase="1">
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <ux-alert class="ui-g-8" styleClass="alert-info">{{ 'voucher.statusmessage4' | translate}}</ux-alert>
            <span class="ui-g-2"></span>
        </div>
        <br>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8">{{ 'voucher.competition' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <span class="ui-g-8">{{ 'voucher.competition.desc' | translate}}</span>
            <span class="ui-g-2"></span>
        </div>
    </div>
</div>