<div class="clearfix"></div>
<div class="container font">
    <div class="ui-g">
        <div class="ui-g-12">
            <p class="beneficiaryTitle">{{ 'company.name' | translate }}</p>
        </div>
    </div>


    <div class="ui-g-6">
        <hr class="beneficiaryHr">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g">
                    <div class="ui-g-10">
                        <p class="beneficiaryMayor">{{ 'contact.person' | translate }}</p>
                    </div>
                    <div class="ui-g-2">
                        <a (click)=" emptyModal(); displayContactModal()" class="edit"> <i class="fa fa-pencil"
                                                                            aria-hidden="true"></i> {{ 'edit.button' |
                            translate
                            }}
                        </a>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-4">
                        <p>{{ 'name.label' | translate }}</p>
                        <p>{{ 'surname.label' | translate }}</p>
                        <p>{{ 'phone.number' | translate }}</p>
                        <p>{{ 'email.label' | translate }}</p>
                    </div>
                    <div class="ui-g-8">
                        <p class="profileData">{{supplierData.contactName}}</p>
                        <p class="profileData">{{supplierData.contactSurname}}</p>
                        <p class="profileData">
                            {{supplierData.contactPhonePrefix}} {{supplierData.contactPhoneNumber}}
                        </p>
                        <p class="profileData">{{supplierData.contactEmail}}</p>
                    </div>
                </div>
                <hr class="beneficiaryHr">
            </div>

            <div class="ui-g-12">
                <div class="ui-g">
                    <div class="ui-g-10">
                        <p class="beneficiaryMayor">{{ 'company.details' | translate }}</p>
                    </div>
                    <div class="ui-g-2">
                        <a (click)=" emptyModal(); displayCompanyModal()"><i class="fa fa-pencil"
                                                              aria-hidden="true"></i> {{ 'edit.button' | translate }}
                        </a>
                    </div>
                </div>


                <div class="ui-g">
                    <div class="ui-g-4">
                        <p>{{ 'company.name' | translate }}</p>
                        <p>{{ 'legal.address' | translate }}</p>
                        <p>{{ 'vat.label' | translate }}</p>
                        <p>{{ 'bic.label' | translate }}</p>
                        <p>{{ 'logo.label' | translate }}</p>
                    </div>
                    <div class="ui-g-8">
                        <p class="profileData">{{supplierData.name}}</p>
                        <p class="profileData">{{supplierData.address}}</p>
                        <p class="profileData">{{supplierData.vat}}</p>
                        <p class="profileData">{{supplierData.bic}}</p>
                        <p class="profileData">{{supplierData.binaryLogo}}</p>
                    </div>
                </div>
                <hr class="beneficiaryHr">
            </div>
            <div class="ui-g-12">
                <div class="ui-g">
                    <div class="ui-g-10">
                        <p class="beneficiaryMayor">{{ 'legalentity.label' | translate }}</p>
                    </div>
                    <div class="ui-g-2">
                        <a (click)=" emptyModal(); displayLegalModal()"><i class="fa fa-pencil"
                                                            aria-hidden="true"></i> {{ 'edit.button' | translate }}</a>
                    </div>
                </div>


                <div class="ui-g">
                    <div class="ui-g-4">
                        <p>{{ 'country.label' | translate }}</p>
                        <p>{{ 'municipality.label' | translate }}</p>

                    </div>
                    <div class="ui-g-8">
                        <p class="profileData">{{nutsCountry.name}}</p>
                        <p class="profileData">{{lauMunicipality.name1}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="ui-g">
                <div class="ui-g-4"></div>
                <div class="ui-g-8 button-content">
                    <p>{{ 'beneficiaryProfile.text' | translate }}</p>
                    <div style="text-align: center !important">
                        <button type="button" (click)="openModal()"
                                class="btn btn-primary changePassword">
                            {{'beneficiaryProfile.password' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MODALS BELOW-->
<div class="center">{{ 'home.footer.update' | translate }}</div>
<div class="container font">
    <div class="ui-g-1"></div>
    <p-dialog [(visible)]="displayPassword" [modal]="true" [responsive]="true" [resizable]="false"
              [draggable]="false" [closable]="true" [closeOnEscape]="true">
        <p class="beneficiaryMayorModal">{{'beneficiaryProfile.password' | translate }}</p>
        <form (ngSubmit)="changePassword()" #profileForm="ngForm">
            <div class="form-group profileDialog">
                <label class="labelModal" for="currentPassword">{{ 'currentPassword.label' | translate }}</label>
                <input type="password" [(ngModel)]="supplierDetails.currentPassword"
                       class="form-control beneficiaryProfileI"
                       name="currentPassword"
                       ngcontrol="currentPassword"
                       #currentPassword="ngModel" required>
                <div [hidden]="currentPassword.valid || currentPassword.pristine"
                     class="alert alert-danger">{{
                    'password.required'
                    | translate }}
                </div>
                <a class="forgotPassword" routerLink="/forgot">Forgot password?</a><br>
                <label class="labelModal" for="newPassword">{{ 'password.label' | translate }}</label>
                <input type="password" [(ngModel)]="supplierDetails.newPassword"
                       class="form-control beneficiaryProfileI"
                       name="newPassword"
                       ngcontrol="newPassword"
                       #newPassword="ngModel" (keyup)="checkPassword()" required>
                <div [hidden]="newPassword.valid || newPassword.pristine"
                     class="alert alert-danger">{{
                    'password.required'
                    | translate }}
                </div>
                <label class="labelModal" for="repeatNewPassword">{{ 'confirmNewPassword.label' | translate }}</label>
                <input type="password" [(ngModel)]="supplierDetails.repeatNewPassword"
                       class="form-control beneficiaryProfileI"
                       name="repeatNewPassword" ngcontrol="repeatNewPassword"
                       #repeatNewPassword="ngModel" (keyup)="checkPassword()" required>
                <div [hidden]="repeatNewPassword.valid || repeatNewPassword.pristine"
                     class="alert alert-danger">{{'newPassword.required' | translate }}
                </div>
                <div class="form-group">
                    <div style="text-align: center !important">
                        <button type="button" class="btn btn-primary changePasswordModal" (click)="closeModal()">{{
                            'cancel.button' | translate }}
                        </button>
                        <button type="submit" class="btn btn-primary changePasswordModal"
                                [disabled]="!profileForm.form.valid || !checkPassword()">{{
                            'change' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </p-dialog>
</div>


<div class="container font">
    <div class="ui-g-1"></div>
    <p-dialog [(visible)]="displayCompany" [modal]="true" [responsive]="true" [resizable]="false"
              [draggable]="false" [closable]="false" [closeOnEscape]="false">
        <button type="button" (click)="emptyModal(); closeModal()" class="closeButton">X</button>
        <p class="beneficiaryMayor center">{{ 'company.details' | translate }}</p>
        <form (ngSubmit)="onSubmit()" #profileFormCompany="ngForm">
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="name">{{ 'company.name' | translate }}</label>
                        <input type="text" [(ngModel)]="selectedSupplierData.name"
                               class="form-control"
                               name="name" ngcontrol="name" #name="ngModel"
                               required>
                        <div [hidden]="name.valid || name.pristine"
                             class="alert alert-danger">{{'company.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="address">{{ 'legal.address' | translate
                            }}</label>
                        <input type="text" [(ngModel)]="selectedSupplierData.address"
                               class="form-control"
                               name="address" ngcontrol="address" #address="ngModel"
                               required>
                        <div [hidden]="address.valid || address.pristine"
                             class="alert alert-danger">{{'address.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="vat">{{ 'vat.label' | translate }}</label>
                        <input type="text" [(ngModel)]="selectedSupplierData.vat"
                               class="form-control"
                               name="vat" ngcontrol="vat" #vat="ngModel"
                               required>
                        <div [hidden]="vat.valid || vat.pristine"
                             class="alert alert-danger">{{'vat.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="bic">{{ 'bic.label' | translate }}</label>
                        <input type="text" [(ngModel)]="selectedSupplierData.bic"
                               class="form-control"
                               name="bic" ngcontrol="bic" #bic="ngModel"
                               required>
                        <div [hidden]="bic.valid || bic.pristine"
                             class="alert alert-danger">{{'bic.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="binaryLogo">{{ 'logo.label' | translate }}</label>
                        <input type="" [(ngModel)]="selectedSupplierData.binaryLogo"
                               class="form-control"
                               name="binaryLogo" ngcontrol="binaryLogo" #binaryLogo="ngModel"
                               required>
                        <div [hidden]="binaryLogo.valid || binaryLogo.pristine"
                             class="alert alert-danger">{{'logo.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group">
                <div style="text-align: center !important">
                    <button type="button" class="btn btn-primary changePasswordModalNoTop"
                            (click)="emptyModal(); closeModal()">{{
                        'cancel.button' | translate }}
                    </button>
                    <button type="button" class="btn btn-primary changePasswordModalNoTop"
                            [disabled]="!profileFormCompany.form.valid" (click)=" emptyModal(); saveSupplierChanges()">{{
                        'change' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </p-dialog>
</div>

<div class="container font">
    <div class="ui-g-1"></div>
    <p-dialog [(visible)]="displayContact" [modal]="true" [responsive]="true" [resizable]="false"
              [draggable]="false" [closable]="false" [closeOnEscape]="false">
        <button type="button" (click)="emptyModal(); closeModal()" class="closeButton">X</button>
        <p class="beneficiaryMayor center">{{ 'contact.person' | translate }}</p>
        <form (ngSubmit)="onSubmit()" #profileFormContact="ngForm">
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="contactName">{{ 'name.label' | translate }}</label>
                        <input type="text" [(ngModel)]="selectedSupplierData.contactName"
                               class="form-control"
                               name="contactName" ngcontrol="contactName" #contactName="ngModel"
                               required>
                        <div [hidden]="contactName.valid || contactName.pristine" class="alert alert-danger">{{
                            'name.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="contactSurname">{{ 'surname.label' | translate
                            }}</label>
                        <input type="text" [(ngModel)]="selectedSupplierData.contactSurname"
                               class="form-control"
                               name="contactSurname" ngcontrol="contactSurname" #contactSurname="ngModel"
                               required>
                        <div [hidden]="contactSurname.valid || contactSurname.pristine"
                             class="alert alert-danger">{{ 'surname.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10" style="padding:0.5em 0">
                    <div class="form-group">
                        <div class="ui-g-5">
                            <label for="contactPhonePrefix">{{ 'prefix.number' | translate }}</label>
                            <input type="text" [(ngModel)]="selectedSupplierData.contactPhonePrefix"
                                   class="form-control"
                                   name="contactPhonePrefix" ngcontrol="contactPhonePrefix"
                                   #contactPhonePrefix="ngModel"
                                   required>
                            <div [hidden]="contactPhonePrefix.valid || contactPhonePrefix.pristine"
                                 class="alert alert-danger">{{ 'phone.required' | translate }}
                            </div>
                        </div>
                        <div class="ui-g-5">
                            <label for="contactPhoneNumber">{{ 'phone.number' | translate }}</label>
                            <input type="text" [(ngModel)]="selectedSupplierData.contactPhoneNumber"
                                   class="form-control"
                                   name="contactPhoneNumber" ngcontrol="contactPhoneNumber"
                                   #contactPhoneNumber="ngModel"
                                   required>
                            <div [hidden]="contactPhoneNumber.valid || contactPhoneNumber.pristine"
                                 class="alert alert-danger">{{ 'phone.required' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>

            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="email">{{ 'email.label' | translate }}</label>
                        <input type="text" [(ngModel)]="selectedSupplierData.contactEmail"
                               class="form-control"
                               name="email" ngcontrol="email" #email="ngModel"
                               required>
                        <div [hidden]="email.valid || email.pristine"
                             class="alert alert-danger">{{ 'email.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group">
                <div style="text-align: center !important">
                    <button type="button" class="btn btn-primary changePasswordModalNoTop"
                            (click)="emptyModal(); closeModal()">{{
                        'cancel.button' | translate }}
                    </button>
                    <button type="button" class="btn btn-primary changePasswordModalNoTop"
                            [disabled]="!profileFormContact.form.valid" (click)="emptyModal(); saveSupplierChanges()">{{
                        'change' | translate }}
                    </button>
                </div>
            </div>


        </form>
    </p-dialog>
</div>


<div class="container font">
    <div class="ui-g-1"></div>
    <p-dialog [(visible)]="displayLegal" [modal]="true" [responsive]="true" [resizable]="false"
              [draggable]="false" [closable]="false" [closeOnEscape]="false">
        <button type="button" (click)="emptyModal(); closeModal()" class="closeButton">X</button>
        <p class="beneficiaryMayor center">{{ 'legalentity.label' | translate }}</p>
        <form (ngSubmit)="onSubmit()" #profileFormLegal="ngForm">
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <label class="label floatLeft" for="country">{{ 'country.label' | translate }}</label>
                    <div class="clearfix"></div>
                    <p-autoComplete id="country"
                                    class="form-control"
                                    name="country"
                                    field="name"
                                    placeholder="Spain"
                                    ngcontrol="country"
                                    #country="ngModel"
                                    [(ngModel)]="nutsCountry"
                                    [suggestions]="nutsSuggestions"
                                    [size]="30"
                                    [minLength]="1"
                                    (completeMethod)="filterNuts($event)"
                                    required>
                    </p-autoComplete>
                    <div [hidden]="country.valid || country.pristine" class="alert alert-danger">Country is required
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label class="label floatLeft" for="municipality">{{ 'municipality.label' | translate
                            }}</label>
                        <div class="clearfix"></div>
                        <p-autoComplete id="municipality"
                                        class="form-control"
                                        name="municipality"
                                        field="name1"
                                        placeholder="Barcelona"
                                        ngcontrol="municipality"
                                        #municipality="ngModel"
                                        [(ngModel)]="lauMunicipality"
                                        [suggestions]="lausSuggestions"
                                        [size]="30"
                                        [minLength]="1"
                                        (keyup)="onKeyUp($event)"
                                        (completeMethod)="filterLaus($event)"
                                        required>
                        </p-autoComplete>
                        <div [hidden]="municipality.valid || municipality.pristine"
                             class="alert alert-danger">Municipality is
                            required
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>

            <div class="form-group">
                <div style="text-align: center !important">
                    <button type="button" class="btn btn-primary changePasswordModalNoTop"
                            (click)="closeModal()">{{
                        'cancel.button' | translate }}
                    </button>
                    <button type="button" class="btn btn-primary changePasswordModalNoTop"
                            [disabled]="!profileFormLegal.form.valid" (click)="saveSupplierChanges()">{{
                        'change' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </p-dialog>
</div>