<div class="first">
    <img id="first-background" src="assets/images/skyline.png" alt="">
    <div class="container-fluid header-fluid">

        <div class="contenedor row">
            <div class="col-xl-12">
                <img id="img-wifiLanding" src="assets/images/wifi_benef.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <img id="firstBackgroundBenefLanding" src="assets/images/copy-6.png">
    <div class="ui-g">
        <div class="ui-g-12">
            <h2 class="title-home">{{ 'benefLanding.title' | translate }}</h2>
        </div>
    </div>

    <div class="ui-g">
        <div class="ui-g-12">
            <div class="ui-g-6">
                <h3>{{ 'benefLanding.secondTitle' | translate }}</h3>
            </div>
        </div>
    </div>
    <img id="benefLandingThirdBackground" src="assets/images/copy-6.png">
    <div class="ui-g-12">
        <div class="ui-g-6">
            <p class="landingText">{{ 'benefLanding.elegibleText' | translate }}</p>
        <!--
            <p class="landingText">{{ 'benefLanding.elegibleText' | translate }}<b>{{
                'benefLanding.elegibleTextBold' | translate }}</b>{{ 'benefLanding.elegibleTextAfterBold' |
                translate
                }}<a href="#">{{ 'benefLanding.elegibleTextLink' | translate }}</a>{{
                'benefLanding.elegibleTextAfterLink' |
                translate }}</p>

          -->
        </div>
        <div class="ui-g-6">
            <img id="benefLandingSecondBackground" src="assets/images/copy-6.png">
            <p class="landingText">{{ 'benefLanding.elegibleText3' | translate }}</p>
            <!--
            <p class="landingText">{{ 'benefLanding.elegibleText2' | translate }}<b>{{
                'benefLanding.elegibleText2Bold' | translate }}</b>{{ 'benefLanding.elegibleText2AfterBold' |
                translate
                }}</p>
             -->
        </div>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-2"></div>
        <div class="ui-g-8">
            <p class="europeans">{{ 'benefLanding.proceed' | translate }}</p>
            <!--
            <p>{{'benefLanding.ecasmessage'| translate }}</p>
            -->
        </div>
        <div class="ui-g-2"></div>
    </div>

    <!--buttons-->
    <div id="navigation-buttons" class="form-group center">
        <div class="ui-g-12">
            <div class="ui-g-3 ui-sm-1 ui-md-2 ui-lg-3"></div>
            <div class="ui-g-6 ui-md-4 ui-lg-3 ui-xs-12 ui-sm-5">
                <a href="/#/home">
                    <button class="btn btn-primary cancel-button">
                        {{ 'benefLanding.no' | translate }}
                    </button>
                </a>
            </div>
            <!-- Next button -->
            <div class="ui-g-6 ui-md-4 ui-lg-3 ui-xs-12 ui-sm-5">
                <a href="/wifi4eu/#/beneficiary-registration">
                    <button class="btn btn-primary publish-button">
                        {{ 'benefLanding.yes' | translate }}
                    </button>
                </a>
            </div>
            <div class="ui-g-3 ui-md-2 ui-lg-3 hidden-sm-down"></div>
        </div>
    </div>
</div>
<div class="helpdesk-bottom">
    <helpdesk-form-component [portal]="beneficiary-registration"></helpdesk-form-component>
</div>

