<div class="first">
    <img id="first-background" src="assets/images/skyline.png" alt="">
    <div class="container-fluid header-fluid">

        <div class="contenedor row">
            <div class="col-sm-12">
                <img id="img-wifiLanding" src="assets/images/wifi_benef.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container rowMarginBottom">
    <img id="firstBackgroundBenefLanding" src="assets/images/copy-6.png">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="title-home">{{ 'benefLanding.title' | translate }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <h3>{{ 'benefLanding.secondTitle' | translate }}</h3>
            </div>
        </div>
    </div>
    <img id="benefLandingThirdBackground" src="assets/images/copy-6.png">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <p class="landingText">{{ 'benefLanding.elegibleText' | translate }}</p>
            </div>
            <div class="col-sm-6">
                <img id="benefLandingSecondBackground" src="assets/images/copy-6.png">
                <p class="landingText">{{ 'benefLanding.elegibleText3' | translate }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p class="europeans">{{ 'benefLanding.proceed' | translate }}</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <!--buttons-->
    <div id="navigation-buttons supplier" class="form-group center row">
        <div class="col-lg-2"></div>
        <div class="col-sm-6 col-lg-4">
            <a href="/#/home">
                <button class="btn btn-primary cancel-button">
                    {{ 'shared.no' | translate }}
                </button>
            </a>
        </div>
        <!-- Next button -->
        <div class="col-sm-6 col-lg-4">
            <a href="/wifi4eu/#/beneficiary-registration" (click)="storeRedirectionCookie()">
                <button class="btn btn-primary publish-button">
                    {{ 'shared.yes' | translate }}
                </button>
            </a>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

