<div *ngIf="municipality">
    <div class="container">
        <div id="step2-title" class="row">
            <div class="col-sm-6">
                <div id="component-title">
                    <p class="beneficiaryTitle labelModal">
                        {{ 'accessPoint.title' | translate }}</p>
                    <p>{{ 'benef.installationDesc' | translate}}</p>
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>

        <div class="text-center" id="success">
            <p class="beneficiaryTitle marginTop">
        </div>

        <div class="header">
            <p>{{ 'shared.beneficiary.label' | translate}} : <b>{{municipality.name}}</b></p>
        </div>

        <div class="results">
            <p-dataTable [value]="installationSites" [rows]="searchParametersService.parameters.delta"
                         [paginator]="true" [rowsPerPageOptions]="[5,10,20]"
                         [totalRecords]="totalResults" [first]="searchParametersService.parameters.page"
                         [lazy]="true"
                         (onLazyLoad)="onPage($event)">
                <p-column field="id" header="{{'shared.number.label' | translate }}" sortable="true">
                </p-column>
                <p-column field="name" header="{{'installationReport.siteName' | translate }}"
                          sortable="true"></p-column>
                <p-column field="domainName" header="{{'installationReport.domainName' | translate }}"
                          sortable="true"></p-column>
                <p-column header="{{'shared.details' | translate }}">
                    <template pTemplate="body" let-i="rowIndex" let-installationSite="rowData">
                        <div class="my-center-text">
                            <button iconClass="fas fa-eye" (click)="goToDetails(i)"
                                    routerLinkActive="active">{{ 'shared.view' | translate }}
                            </button>
                        </div>
                    </template>
                </p-column>
                <p-column header="{{'installationReport.accessPoint' | translate }}">
                    <template pTemplate="body" let-i="rowIndex" let-installationSite="rowData">
                        <div class=" my-center-text ">
                            <button iconClass="fas fa-list-ul" (click)="goToList(i)"
                                    routerLinkActive="active">{{ 'installationReport.goToAccessPoint' | translate }}
                            </button>
                        </div>
                    </template>
                </p-column>

                <template pTemplate="emptymessage">
                    {{'installationReport.noBeneficiarySelected' | translate}}
                </template>
            </p-dataTable>
        </div>
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <button class="btn btn-primary cancel-button">{{
                    'benef.requestRevision' | translate }}
                </button>
                <button class="btn btn-primary publish-button"
                        (click)="openConfirmInstallation()"
                        [disabled]="isReportSent">{{
                    'installationReport.confirmInstallation' | translate }}
                </button>
                <p>{{ 'installationReport.confirmationText' | translate}}</p>
            </div>


        </div>

        <p-dialog [(visible)]="openModal" id="confirmInstallation">
            <!--<uxModalBody>-->
            <div class="text-center">
                <p class="beneficiaryTitle">{{'installationReport.confirmText' | translate:{beneficiarySel:
                    this.municipality.name}
                    }}</p>
                <p>{{'installationReport.confirmTextInform' | translate}}</p>
                <div class="checkBoxContainer">
                    <div class="ui-g" style="text-align: left;">
                        <span class="ui-lg-1"></span>
                        <div class="ui-g-12 ui-md-12 ui-lg-10" style="text-align: left;">
                            <p-checkbox name="confirmChecks" binary="true"
                                        label=" {{ 'installationReport.firstCheckBox' | translate}}"
                                        [(ngModel)]="legalChecks[0]"></p-checkbox>

                        </div>
                        <span class="ui-lg-1"></span>
                    </div>
                    <div class="ui-g" style="text-align: left;">
                        <span class="ui-lg-1"></span>
                        <div class="ui-g-12 ui-md-12 ui-lg-10" style="text-align: left;">
                            <p-checkbox name="confirmChecks" binary="true"
                                        label=" {{ 'installationReport.secondCheckBox' | translate }}"
                                        [(ngModel)]="legalChecks[1]"></p-checkbox>
                        </div>
                        <span class="ui-lg-1"></span></div>
                    <div class="ui-g" style="text-align: left;">
                        <span class="ui-lg-1"></span>
                        <div class="ui-g-12 ui-md-12 ui-lg-10" style="text-align: left;">
                            <p-checkbox name="confirmChecks" binary="true"
                                        label=" {{ 'installationReport.thirdCheckBox' | translate }}"
                                        [(ngModel)]="legalChecks[2]"></p-checkbox>
                        </div>
                        <span class="ui-lg-1"></span>
                    </div>
                </div>
            </div>
            <div class="row center">
                <div class="col-sm-6">
                    <button class="btn btn-primary changePassword cancel-button"
                            (click)="closeConfirmInstallation()">
                        {{'shared.close' | translate }}
                    </button>
                </div>

                <div class="col-sm-6">

                    <button class="btn btn-primary changePassword confirm-button"
                            [disabled]=" !legalChecks[0] || !legalChecks[1] || !legalChecks[2]">{{
                        'shared.confirm'
                        |
                        translate
                        }}
                    </button>
                </div>
            </div>
        </p-dialog>
        <!--<update-installation-site [installationSite]='null'></update-installation-site>-->
    </div>
</div>