<div class="clearfix"></div>
<div class="jumbotron mb-3" style="background-color: transparent;">
  <div class="container center">
    <p class="center beneficiaryTitle">{{ 'dgConn.duplicatedBeneficiary.title' | translate }}</p>
  </div>
</div>
<div class="container center">
  <div class="panel-dg panel-padding panel-input">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
          <input type="text" [(ngModel)]="inputSearch" (keyup.enter)="filterData(inputSearch)" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-primary" (click)="filterData(inputSearch)" type="button">{{ 'shared.search.button' | translate }}</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-dg">
    <p-dataTable #tableBeneficiary [rowsPerPageOptions]="rowsPerPageOptions" [totalRecords]="customRegistrationList.length" [value]="customRegistrationList"
      [rows]="numberRowsTable" [paginator]="true">
      <p-column field="municipality.name" [sortable]="true" header="{{ 'shared.municipality.label' | translate }}" styleClass="text-center"></p-column>
      <p-column field="municipality.country" [sortable]="true" header="{{ 'shared.country.label' | translate }}" styleClass="text-center"></p-column>
      <p-column field="municipality.addressFull" [sortable]="true" header="{{ 'address.lau' | translate }}" styleClass="text-center"></p-column>
      <p-column field="municipality.postalCode" [sortable]="true" header="{{ 'shared.postal-code.label' | translate }}" styleClass="text-center"></p-column>
      <p-column  field="user.userFull" [sortable]="true" header="{{ 'dgConn.user.label' | translate }}" styleClass="text-center separator">
        <ng-template let-customBen="rowData" pTemplate="body">
          <span>{{ customBen.user.name + ' ' + customBen.user.surname }}</span>
        </ng-template>
      </p-column>
      <p-column field="registration.status" header="{{ 'dgConn.status' | translate }}" styleClass="text-center separator" [sortable]="true">
        <ng-template let-customBen="rowData" pTemplate="body">
          <span class="badge" [class.badge-warning]="customBen['registration']['status'] == 0" [class.badge-fail]="customBen['registration']['status'] == 1"
            [class.badge-success]="customBen['registration']['status'] == 2">
            <span *ngIf="customBen['registration']['status'] == 0">{{ 'dgConn.issueStatus.pending' | translate }}</span>
            <span *ngIf="customBen['registration']['status'] == 1">DUPLICATED</span>
            <span *ngIf="customBen['registration']['status'] == 2">{{ 'dgConn.issueStatus.resolved' | translate }}</span>
          </span>
        </ng-template>
      </p-column>
      <footer>
        <div style="position: absolute; bottom: 25px; left: 20px;">
          <span>Total records: {{tableBeneficiary.totalRecords}} </span>
        </div>
      </footer>
    </p-dataTable>
  </div>
</div>