<div class="container">
    <div class="ui-g-12 center" style="margin-top: 1em;">
        <p class="beneficiaryTitle labelModal">{{'supplier.myInstallation.title' | translate}}</p>
        <p class="offset-md-1 col-md-10 left">{{'supplier.myInstallation.subTitle' | translate}}</p>
    </div>
</div>

<div class="container panel-dg pt-2">
    <div class="ui-g-12">
        <p-dataTable #tableBeneficiaries [value]="beneficiaryList" [responsive]="true" [rows]="rowsSelected"
            [paginator]="true" [rowsPerPageOptions]="rowsPerOptions" [totalRecords]="totalResults" [first]="page"
            [lazy]="true" (onLazyLoad)="onPage($event)">
            <p-column field="country" sortable="true" header="{{'shared.country.label' | translate}}">
                <ng-template let-row="rowData" pTemplate="body">
                    {{ row.country | slice:0:1 | uppercase }}{{row.country | slice:1:row.country.length | lowercase }}
                </ng-template>
            </p-column>
            <p-column field="name" sortable="true" header="{{'shared.municipality.label' | translate}}"></p-column>
            <p-column field="selectSupplierDate" sortable="true" header="{{'supplier.myInstallation.dateReceived' | translate}}">
                <ng-template let-row="rowData" pTemplate="body">
                    <span *ngIf="row.selectSupplierDate">{{ row.selectSupplierDate | date:'dd/MM/yyyy HH:mm' }}</span>
                </ng-template>
            </p-column>
            <p-column header="{{'suppRegistration.bankAccount.bankAccount' | translate}}">
                <ng-template let-row="rowData" pTemplate="body">
                    <button class="btn btn-primary" [disabled]='!bankAccounts || bankAccounts.length == 0' (click)="selectBankAccount(row, row.bankAccountId)">
                        {{'supplier.myInstallation.selectBank' | translate}}</button>
                </ng-template>
            </p-column>
            <p-column header="{{'benef.installationTitle' | translate}}">
                <ng-template let-row="rowData" pTemplate="body">
                    <button class="btn btn-primary">{{'supplier.myInstallation.installationReportBtn'
                        | translate}} </button>
                </ng-template>
            </p-column>
            <footer>
                <div style="position: absolute; bottom: 25px; left: 20px;">
                    <span *ngIf="!firstDataDownload">
                        {{ 'shared.totalRecords' | translate }}: {{totalResults}}
                    </span>
                    <span *ngIf="firstDataDownload">
                        {{ 'shared.loading.modal.title' | translate }}
                        <i [@enterSpinner] class="fa fa-spinner loading-icon"></i>
                    </span>
                </div>
            </footer>
        </p-dataTable>
    </div>
</div>

<p-dialog [(visible)]="displaySelectBankAccount" [modal]="true" [responsive]="true" [resizable]="false" [draggable]="false"
    [closable]="false">
    <h1 class="beneficiaryMayorModal">{{'supplier.myInstallation.selectBank' | translate}}</h1>
    <p class="ModalpConfirmation">{{'supplier.myInstallation.selectBankSubtitle' | translate}}</p>
    <form #selectBankForm="ngForm" (submit)="confirmAttribute=true; displaySelectBankAccount=false;">
        <div class="offset-lg-2 modal-body mb-2">
            <div *ngFor="let iban of bankAccounts; let i = index">
                <label for="bankAccount_{{iban.id}}">
                    <input id="bankAccount_{{iban.id}}" [value]="iban.id" type="radio" name="bankAccounts" [(ngModel)]="selectedBankAccount" />
                    {{'suppRegistration.bankAccount.bankAccount' | translate}} {{i}} - {{iban.accountName}}:
                    {{iban.iban}}
                </label>
            </div>
        </div>
        <div class="col-sm-12 center">
            <div class="offset-lg-2 col-sm-6 col-g-6 col-md-6 col-lg-4">
                <button (click)="closeModal()" type="button" class="btn btn-primary publish-button">{{
                    'shared.cancel.button' |
                    translate }} </button>
            </div>
            <div class="col-sm-6 col-g-6 col-md-6 col-lg-4">
                <button type="submit" class="btn btn-primary publish-button" [disabled]="!selectedBankAccount || beneficiaryToModify.bankAccountId == selectedBankAccount">
                    {{ 'shared.select.text' | translate }}
                </button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog [(visible)]="confirmAttribute" [modal]="true" [responsive]="true" [resizable]="false" [draggable]="false"
    [closable]="false">
    <div class="offset-lg-2 modal-body mb-2">
        <p>{{'supplier.myInstallation.selectBankConfirmation'|translate}}</p>
    </div>

    <div class="col-sm-12 center">
        <div class="offset-lg-2 col-sm-6 col-g-6 col-md-6 col-lg-4">
            <button (click)="closeModal()" type="button" class="btn btn-primary publish-button">{{
                'shared.cancel.button' |
                translate }} </button>
        </div>
        <div class="col-sm-6 col-g-6 col-md-6 col-lg-4">
            <button type="submit" (click)="selectBankAccountSubmit()" class="btn btn-primary publish-button">
                {{ 'shared.select.text' | translate }}
            </button>
        </div>
    </div>
</p-dialog>