<!-- Competition & user registration status -->
<div id="upper-block" class="ui-g-12 center">
<!--     <div *ngIf="voucherCompetitionState == 0 || voucherCompetitionState == 1" class="ui-g-12">
        <i class="fa fa-check-circle success-failure-icon" style="color: green" aria-hidden="true"></i>
        <br>
        <br>
        <h2 class="beneficiaryTitle">{{ 'shared.submitregistration.success.title' | translate }}</h2>
        <br>
        <success-component status="shared.submitregistration.success.title"></success-component>
    </div>
    <div *ngIf="voucherCompetitionState == 2" class="ui-g-12">
        <i class="fa fa-info-circle success-failure-icon" style="color: #0074CA" aria-hidden="true"></i>
        <br>
        <br>
        <h2 class="beneficiaryTitle">{{ 'benefPortal.voucher.statusmessage4' | translate }}</h2>
        <success-component status="benefPortal.voucher.apply.title"></success-component>
    </div>
    <div *ngIf="voucherCompetitionState == 3" class="ui-g-12">
        <i class="fa fa-check-circle success-failure-icon" style="color: green" aria-hidden="true"></i>
        <br>
        <br>
        <h2 class="beneficiaryTitle offset-lg-2 ui-lg-8 ui-g-12">
            {{ 'benefPortal.voucher.statusmessage5' | translate }}
        </h2>
    </div> -->
    <div class="ui-g-12">
        <h2 class="beneficiaryTitle">{{ 'benefPortal.myVoucher.title.text' | translate }}</h2>
        <p class="text-justify col-xs-12 offset-xs-0 col-md-8 offset-md-2 col-lg-6 offset-lg-3">{{ 'benefPortal.myVoucher.title.subtext' | translate }}</p>
    </div>
</div>

<!-- Datatable and Actions -->
<div id="middle-block" class="ui-g-12 center" style="background-color: #EAEEF2;">
<!--     <h2 *ngIf="voucherCompetitionState != 1" class="beneficiaryTitle marginTop">
        {{ 'itemMenu.appPortal' | translate }}
    </h2>
    <h2 *ngIf="voucherCompetitionState == 1" class="beneficiaryTitle marginTop">
        {{ 'benefPortal.voucher.timeleft.title' | translate }}
    </h2>
    <p *ngIf="voucherCompetitionState == 0">
        {{ 'benefPortal.voucher.step2' | translate }}
    </p>
    <p *ngIf="voucherCompetitionState == 1">
        {{ 'benefPortal.voucher.timeleft.subtitle' | translate:{date:dateNumber,hour:hourNumber} }}
    </p>
    <p *ngIf="voucherCompetitionState == 2 || voucherCompetitionState == 3">
        {{ 'benefPortal.voucher.counterSubtitle' | translate:{date:dateNumber,hour:hourNumber} }}
    </p>
    <timer-component *ngIf="voucherCompetitionState == 1" class="offset-lg-3 ui-lg-6 ui-g-12" (timerEvent)="openApplyForVoucher()"
        [expirationTimestamp]="currentCall.startDate">
    </timer-component> -->
    
<!--     <div *ngFor="let registration of registrations">
        {{ registration.id }}
    </div>
    <div *ngFor="let municipality of municipalities">
        {{ municipality.id }}
    </div> -->

    <div class="ui-g-12 ui-md-10 offset-md-1">
        <div class="marginTop registrationPanel">
            
            <p-dataTable class="my-voucher-datatable" [value]="municipalities" [responsive]="true">
                <p-headerColumnGroup>
                    <p-row>
                        <p-column header="{{ 'benefPortal.myVoucher.datatable.text' | translate }}" colspan="4"></p-column>
                    </p-row>
                    <p-row>
                        <p-column header="{{ 'shared.municipality.label' | translate }}" [sortable]="true"></p-column>
                        <p-column header="{{ 'benefPortal.myVoucher.datatable.action1' | translate }}"></p-column>
                        <p-column header="{{ 'benefPortal.myVoucher.datatable.action2' | translate }}"></p-column>
                        <p-column header="{{ 'benefPortal.myVoucher.datatable.action3' | translate }}"></p-column>
                    </p-row>
                </p-headerColumnGroup>

                <p-column header="{{ 'shared.municipality.label' | translate }}" styleClass="text-center">
                    <template pTemplate="body" let-municipality="rowData" let-i="rowIndex">
                        <div class="beneficiarRegistrationCheck">
                            <div class="align-self-center" style="margin-right: 6px;">
                                <img alt="" class="municipality-icon" src="assets/images/account-balance-material-icons-regular.png">
                            </div>
                            <div  class="align-self-center" style="line-height: 24px;">
                                <!-- <a (click)="goToDocuments(i)">{{municipality.name}}</a> -->
                                <span>{{ municipality.name }}</span> 
                            </div>
                        </div>
                    </template>
                </p-column>

                <p-column field="" header="{{ 'benefPortal.myVoucher.datatable.action' | translate }} 1" styleClass="text-center">
                    <template pTemplate="body" let-municipality="rowData" let-i="rowIndex">
                        <div *ngIf="grantAgreementDates[i]" class="beneficiarRegistrationCheck"> 
                            <div>
                                <div class="align-self-center ui-g-12 ui-md-2 ui-lg-1">
                                    <i class="fa fa-calendar-check-o municipality-name" aria-hidden="true"></i>
                                </div>
                                <div class="align-self-center ui-g-12 ui-md-10 ui-lg-11">
                                    <span>{{ 'benefPortal.myVoucher.datatable.grantAgreement' | translate }} {{ grantAgreementDates[i] }}.</span>
                                    <span><a (click)="agreementDetails(i)" class="municipality-name">{{ 'shared.link.seeDetails' | translate }}</a></span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!grantAgreementDates[i]" class="align-self-center">
                            <button class="btn btn-primary text-adjust" id="voucherButton" (click)="signGrantAgreement(i)">
                                {{ 'benefPortal.myVoucher.datatable.signGrantAgreement' | translate }}
                            </button>
                        </div>
                    </template>
                </p-column>
                
                <p-column field="" header="{{ 'benefPortal.myVoucher.datatable.action2' | translate }}" styleClass="text-center">
                    <template pTemplate="body" let-municipality="rowData" let-i="rowIndex">
                        <div class="beneficiarRegistrationCheck">

                            <!-- Before signing grant agreement - button select supplier shown but disabled -->
                            <div *ngIf="!applications[i].supplierId && !hasSigned[i]" class="align-self-center">
                                <button class="btn btn-primary text-adjust" id="voucherButton" (click)="selectWifiInstallation(i)" [disabled]="true">
                                    {{ 'benefPortal.selectSupplier.details.title' | translate }}
                                </button>
                            </div>
                            
                            <!-- Grant agreement signed - waiting for INEA countersignature -->
                            <div *ngIf="hasSigned[i] && !hasSigned[i].dateCounterSignature" class="left">
                                <span>
                                    {{ 'benefPortal.myVoucher.waitingCommission' | translate }}
                                </span>
                            </div>

                            <!-- Grant agreement signed - has INEA countersignature -->
                            <div *ngIf="hasSigned[i] && hasSigned[i].dateCounterSignature" class="left">
                                <!-- Selects a supplier for the first time -->
                                <div *ngIf="!applications[i].supplierId">
                                    <button class="btn btn-primary text-adjust" id="voucherButton" (click)="selectWifiInstallation(i)">
                                        {{ 'benefPortal.selectSupplier.details.title' | translate }}
                                    </button>
                                </div>
                                <!-- Has already selected a supplier -->
                                <div *ngIf="applications[i].supplierId" class="">
                                    <div class="align-self-center ui-g-12 ui-md-2 ui-lg-1">
                                        <i class="fa fa-wifi municipality-name" aria-hidden="true"></i>
                                    </div>
                                    <div class="align-self-center ui-g-12 ui-md-10 ui-lg-11">
                                        <span>{{ 'benefPortal.selectSupplier.feedback.selected' | translate }} {{ applications[i].selectSupplierDate | date:'dd-MM-yyyy' }}.</span>
                                        <span><a (click)="supplierDetails(i)" class="municipality-name">{{ 'shared.link.seeDetails' | translate }}</a></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </template>
                </p-column>

                <p-column field="" header="{{ 'benefPortal.myVoucher.datatable.action3' | translate }}" styleClass="text-center">
                    <template pTemplate="body" let-municipality="rowData" let-i="rowIndex">
                        <div>
                            <button class="btn btn-primary text-adjust align-self-center confirm-network-button" id="voucherButton" (click)="confirmInstallation()" [disabled]="!registrations[i].installationSiteSubmission || registrations[i].installationSiteConfirmation">
                                {{ 'benefPortal.myVoucher.datatable.confirmInstallation' | translate }}
                            </button>
                        </div>
                    </template>
                </p-column>

            </p-dataTable>
            
        </div>
    </div>
</div>


<p-dialog [(visible)]="showPermissionsModal" [modal]="true" [responsive]="true"
          [resizable]="false" [draggable]="false" [closable]="false" [closeOnEscape]="false">
    <p class="ModalpConfirmation">{{'benefPortal.grantAgreement.permissionsWarning.description' | translate }}</p>
    <p></p>
    <div class="form-group row">
        <div class="col-lg-2"></div>
        <div class="col-sm-6 col-lg-4" style="text-align: center !important">
        </div>
        <div class="col-sm-6 col-lg-4" style="text-align: center !important">
            <button type="submit" class="btn btn-primary publish-button" (click)="closeModal()">
                {{ 'shared.confirm.button' | translate }}
            </button>
        </div>
        <div class="col-lg-2"></div>
    </div>
</p-dialog>