voucher competition state is {{ voucherCompetitionState }}

<!-- Competition & user registration status -->
<div id="upper-block" class="ui-g-12 center">
<!--     <div *ngIf="voucherCompetitionState == 0 || voucherCompetitionState == 1" class="ui-g-12">
        <i class="fa fa-check-circle success-failure-icon" style="color: green" aria-hidden="true"></i>
        <br>
        <br>
        <h2 class="beneficiaryTitle">{{ 'shared.submitregistration.success.title' | translate }}</h2>
        <br>
        <success-component status="shared.submitregistration.success.title"></success-component>
    </div>
    <div *ngIf="voucherCompetitionState == 2" class="ui-g-12">
        <i class="fa fa-info-circle success-failure-icon" style="color: #0074CA" aria-hidden="true"></i>
        <br>
        <br>
        <h2 class="beneficiaryTitle">{{ 'benefPortal.voucher.statusmessage4' | translate }}</h2>
        <success-component status="benefPortal.voucher.apply.title"></success-component>
    </div>
    <div *ngIf="voucherCompetitionState == 3" class="ui-g-12">
        <i class="fa fa-check-circle success-failure-icon" style="color: green" aria-hidden="true"></i>
        <br>
        <br>
        <h2 class="beneficiaryTitle offset-lg-2 ui-lg-8 ui-g-12">
            {{ 'benefPortal.voucher.statusmessage5' | translate }}
        </h2>
    </div> -->
    <div *ngIf="voucherCompetitionState == 3" class="ui-g-12">
        <h2 class="beneficiaryTitle">{{ 'benefPortal.myVoucher.title.text' | translate }}</h2>
        <p class="text-justify col-xs-8 offset-xs-2 col-lg-6 offset-lg-3">{{ 'benefPortal.myVoucher.title.subtext' | translate }}</p>
    </div>
</div>

<!-- Timer & "Apply For Voucher" -->
<div id="middle-block" class="ui-g-12 center" style="background-color: #EAEEF2;">
<!--     <h2 *ngIf="voucherCompetitionState != 1" class="beneficiaryTitle marginTop">
        {{ 'itemMenu.appPortal' | translate }}
    </h2>
    <h2 *ngIf="voucherCompetitionState == 1" class="beneficiaryTitle marginTop">
        {{ 'benefPortal.voucher.timeleft.title' | translate }}
    </h2>
    <p *ngIf="voucherCompetitionState == 0">
        {{ 'benefPortal.voucher.step2' | translate }}
    </p>
    <p *ngIf="voucherCompetitionState == 1">
        {{ 'benefPortal.voucher.timeleft.subtitle' | translate:{date:dateNumber,hour:hourNumber} }}
    </p>
    <p *ngIf="voucherCompetitionState == 2 || voucherCompetitionState == 3">
        {{ 'benefPortal.voucher.counterSubtitle' | translate:{date:dateNumber,hour:hourNumber} }}
    </p>
    <timer-component *ngIf="voucherCompetitionState == 1" class="offset-lg-3 ui-lg-6 ui-g-12" (timerEvent)="openApplyForVoucher()"
        [expirationTimestamp]="currentCall.startDate">
    </timer-component> -->
    <div class="ui-g-12 ui-md-10 offset-md-1">
        <div class="marginTop registrationPanel">
            
            <p-dataTable [value]="municipalities">
                <p-headerColumnGroup>
                    <p-row>
                        <p-column header="{{ 'benefPortal.myVoucher.datatable.text' | translate }}" colspan="4"></p-column>
                    </p-row>
                    <p-row>
                        <p-column header="{{ 'shared.municipality.label' | translate }}" [sortable]="true"></p-column>
                        <p-column header="{{ 'benefPortal.myVoucher.datatable.action' | translate }} 1"></p-column>
                        <p-column header="{{ 'benefPortal.myVoucher.datatable.action' | translate }} 2"></p-column>
                        <p-column header="{{ 'benefPortal.myVoucher.datatable.action' | translate }} 3"></p-column>
                    </p-row>
                </p-headerColumnGroup>

                <p-column field="name" styleClass="label text-center">
                    <template pTemplate="body" let-municipality="rowData" let-i="rowIndex">
                        <span>
                            <img alt="" class="municipality-icon" src="assets/images/account-balance-material-icons-regular.png">
                            <a (click)="goToDocuments(i)">
                                <span class="municipality-name">{{municipality.name}}</span>
                            </a>
                        </span>
                    </template>
                </p-column>

            </p-dataTable>

            <hr>
            <hr>

            <p-dataTable [value]="municipalities">
                <p-headerColumnGroup>
                        
                </p-headerColumnGroup>
                
                <p-column field="name" header="{{ 'shared.municipality.label' | translate }}" [sortable]="true" styleClass="label text-center">
                    <template pTemplate="body" let-municipality="rowData" let-i="rowIndex">
                        <span>
                            <img alt="" class="municipality-icon" src="assets/images/account-balance-material-icons-regular.png">
                            <a (click)="goToDocuments(i)">
                                <span class="municipality-name">{{municipality.name}}</span>
                            </a>
                        </span>
                    </template>
                </p-column>

                <p-column header="" styleClass="label text-center">
                    <template pTemplate="body" let-municipality="rowData" let-i="rowIndex">
                        <button *ngIf="!docsOpen[i]" class="btn btn-primary" id="muncicipalityButton"
                                (click)="goToDocuments(i)">{{ 'shared.uploadDocuments' | translate}}
                        </button>
                        <span *ngIf="docsOpen[i]">
                            <i class="fa fa-check" aria-hidden="true" style="color: #298B59"></i>
                          <span>{{ 'shared.documentsUploaded' | translate:{date:uploadDate[i],time:uploadHour[i]} }}</span>
                        </span>
                    </template>
                </p-column>

                <p-column header="" styleClass="label text-center">
                    <template pTemplate="body" let-municipality="rowData" let-i="rowIndex">
                        <div *ngIf="voucherCompetitionState == 2">
                            <button class="btn btn-primary" id="voucherButton" (click)="applyForVoucher(i, $event)" *ngIf="!applications[i]" [disabled]="loadingButtons[i] || voucherCompetitionState == 0 || voucherCompetitionState == 1 || !docsOpen[i]">
                                {{ 'benefPortal.voucher.applyforvoucher' | translate }}
                            </button>
                            <span *ngIf="applications[i]">
                                <i class="fa fa-check" aria-hidden="true" style="color: #298B59"></i>
                                {{ 'benefPortal.voucher.applied' | translate }}
                            </span>
                        </div>
                        <div *ngIf="voucherCompetitionState == 5">
                            <button class="btn btn-primary text-adjust" id="voucherButton" (click)="selectWifiInstallation()">
                                {{ 'benefPortal.selectSupplier.details.title' | translate }}
                            </button>
                        </div>
                        <div *ngIf="voucherCompetitionState == 6">
                            <span class="subtitle-discover text-adjust pull-right">
                                <i class="fas fa-wifi" aria-hidden="true" style="color: #298B59"></i>
                                {{ 'benefPortal.selectSupplier.feedback.selected' | translate }} {{ displayedDate }}
                            </span>
                        </div>

                    </template>
                </p-column>

            </p-dataTable>
        </div>
    </div>
</div>