<!-- Title -->
<div id="step2-title" class="ui-g">
    <div class="ui-g-12 center">
        <div id="component-title">
            <h3 class="beneficiaryTitle labelModal">{{ 'registration.entity.title' | translate }}</h3>
        </div>
    </div>
</div>
<!-- Instructions -->
<div id="step2-instructions" class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-12 center">
        <div id="component-subtitle">
            <h6>{{ 'registration.step1.instructions' | translate }}</h6>
        </div>
    </div>
</div>

<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g-2"></div>
        <div class="ui-g-8">
            <div *ngIf="!multipleMunicipalities">
                <label>
                    <input type="checkbox" (click)="fillMayorData()">
                    {{"beneficiaryRegistration.sameDetails" | translate}}
                </label>
            </div>
        </div>
        <div class="ui-g-2"></div>
    </div>
</div>
<ng-container>
    <form #entityForm="ngForm" (submit)="submit()">
        <div class="form-group ui-g">
            <div class="ui-g-12">
                <div class="ui-g-2"></div>
                <div class="ui-g-8">
                    <div>
                        <label class="label floatLeft" for="name">{{ 'name.label' | translate }}</label>
                        <input id="name" type="text" class="form-control paddingInput" name="name"
                               [disabled]="imMayor" [(ngModel)]="initialUser.name" required>
                    </div>
                </div>
                <div class="ui-lg-2"></div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-2"></div>
                <div class="ui-g-8">
                    <div class="form-group">
                        <label class="label floatLeft" for="surname">{{ 'surname.label' | translate }}</label>
                        <input id="surname" type="text" class="form-control paddingInput" name="surname"
                               [disabled]="imMayor" [(ngModel)]="initialUser.surname" required>
                    </div>
                </div>
                <div class="ui-lg-2"></div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-2"></div>
                <div class="ui-g-4">
                    <label class="label floatLeft" for="address">{{ 'address.label' | translate }}</label>
                    <input id="address" type="text" class="form-control paddingInput" name="address"
                           [disabled]="imMayor" [(ngModel)]="initialUser.address" required>
                </div>
                <div class="ui-g-2">
                    <label class="label floatLeft" for="addressNum">
                        {{ 'number.label' | translate }}
                    </label>
                    <input type="number" class="form-control paddingInput"
                           id="addressNum" name="addressNum" [disabled]="imMayor" [(ngModel)]="initialUser.addressNum" required>
                </div>
                <div class="ui-g-2"></div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-2"></div>
                <div class="ui-g-8">
                    <label class="label floatLeft" for="postalCode">
                        {{ 'postal-code.label' | translate }}
                    </label>
                    <input type="text" class="form-control paddingInput"
                           id="postalCode" name="postalCode" [disabled]="imMayor" [(ngModel)]="initialUser.postalCode"
                           required>
                </div>
                <div class="ui-g-2"></div>
            </div>


            <!-- Mayor email -->
            <div class="ui-g-12">
                <div class="ui-g-2"></div>
                <div class="ui-g-8">
                    <div id="mayor-email">
                        <label class="label floatLeft">{{ 'emailMayor.label' | translate }}</label>
                        <input class="form-control paddingInput" type="email" id="email" name="email"
                               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [disabled]="imMayor"
                               [(ngModel)]="initialUser.email" (input)="checkEmailsMatch()" required>
                        <label class="field-desc" style="margin-top: 10px;color: gray;">{{ 'email.fielddesc' | translate }}</label>
                    </div>

                </div>
                <div class="ui-g-2"></div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-2"></div>
                <div class="ui-g-8">
                    <!-- Mayor confirmation email -->
                    <div id="mayor-confirm-email">
                        <label class="label floatLeft">{{ 'confirmemailMayor.label' | translate }}</label>
                        <input class="form-control paddingInput" type="email" id="repeatEmail" name="repeatEmail"
                               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [disabled]="imMayor"
                               [(ngModel)]="repeatEmail" (input)="checkEmailsMatch()" (paste)="preventPaste()" required>
                    </div>
                </div>
                <div class="ui-g-2"></div>
            </div>
        </div>

        <div id="navigation-buttons" class="form-group ui-g center">
            <div class="ui-lg-3"></div>
            <div class="ui-g-6 ui-md-6 ui-lg-3">
                <button type="button" class="btn btn-primary cancel-button" (click)="back()">
                    {{ 'back.button' | translate }}
                </button>
            </div>
            <div class="ui-g-6 ui-md-6 ui-lg-3">
                <button type="submit" class="btn btn-primary publish-button"
                        [disabled]="!imMayor && (!entityForm.valid || !userEmailMatches)">
                    {{ 'next.button' | translate }}
                </button>
            </div>
            <div class="ui-lg-3"></div>
        </div>
    </form>
</ng-container>