<div class="container">
    <div class="ui-g-12" style="margin-top: 1em;">
        <a class="link-label" routerLink=".." routerLinkActive="active">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> {{'shared.back.button' | translate}}
        </a>
        <p class="beneficiaryTitle">My registration (Editing mode)</p>
        <p>Edit your company information here.</p>
    </div>
    <form *ngIf="supplier" #editProfileForm="ngForm">
        <div class="ui-g-12">
            <hr class="genericHr" />
            <p class="beneficiaryTitle" style="font-size: 18px;">Company information</p>
            <div class="form-group ui-g-4 ui-lg-4 ui-md-8 ui-sm-12">
                <label for="name">{{ 'suppRegistration.company.name' | translate }}</label><br>
                <input id="name" type="text" name="name" class="form-control"
                       [(ngModel)]="supplier.name" required>
            </div>
            <br>
            <div class="form-group ui-g-4 ui-lg-4 ui-md-8 ui-sm-12">
                <label for="address">{{ 'suppRegistration.legal.address' | translate }}</label><br>
                <input id="address" type="text" name="address" class="form-control"
                       [(ngModel)]="supplier.address" required>
            </div>
            <br>
            <div class="form-group ui-g-4 ui-lg-4 ui-md-8 ui-sm-12">
                <label for="vat">{{ 'suppRegistration.vat.label' | translate }}</label><br>
                <input id="vat" type="text" name="vat" class="form-control"
                       [(ngModel)]="supplier.vat" required>
            </div>
            <br>
            <div class="form-group ui-g-4 ui-lg-4 ui-md-8 ui-sm-12">
                <label for="website">{{ 'suppRegistration.company.web' | translate }}</label><br>
                <input id="website" type="text" name="website" class="form-control"
                       [(ngModel)]="supplier.website" [pattern]="websitePattern">
            </div>
            <br>
            <div class="form-group ui-g-4 ui-lg-4 ui-md-8 ui-sm-12">
                <label for="logo">{{ 'suppRegistration.company.logo' | translate }}</label><br>
                <label *ngIf="!supplier.logo" id="logo" class="uploadLogoLabel">
                    <i class="fa fa-upload" style="margin-right: 1em;"></i> Upload your company logo
                    <input #logoInput type="file" (change)="changeLogo($event)" accept="image/png,image/jpeg">
                </label>
                <label *ngIf="supplier.logo" id="logo" class="uploadLogoLabel">
                    <i class="fa fa-sync-alt" style="margin-right: 1em;"></i> Change company logo
                </label>
            </div>
        </div>
        <div class="ui-g-12">
            <hr class="genericHr" />
            <p class="beneficiaryTitle" style="font-size: 18px;">Contact details</p>
            <div class="form-group ui-g-3 ui-lg-3 ui-md-8 ui-sm-12">
                <label for="contactName">{{ 'shared.name.label' | translate }}</label><br>
                <input id="contactName" type="text" name="contactName" class="form-control"
                       [(ngModel)]="supplier.contactName" required>
            </div>
            <br>
            <div class="form-group ui-g-3 ui-lg-3 ui-md-8 ui-sm-12">
                <label for="contactSurname">{{ 'shared.surname.label' | translate }}</label><br>
                <input id="contactSurname" type="text" name="contactSurname" class="form-control"
                       [(ngModel)]="supplier.contactSurname" required>
            </div>
            <br>
            <div class="form-group ui-g-8 ui-lg-8 ui-md-12 ui-sm-12">
                <label for="contactPhoneNumber">{{ 'suppRegistration.phone.number' | translate }}</label><br>
                <input id="contactPhonePrefix" type="text" name="contactPhonePrefix" class="form-control ui-g-2 ui-sm-4"
                       style="margin-right: 1em;" [(ngModel)]="supplier.contactPhonePrefix" required>
                <input id="contactPhoneNumber" type="text" name="contactPhoneNumber" class="form-control ui-g-3 ui-sm-7"
                       [(ngModel)]="supplier.contactPhoneNumber" required>
                <br>
                <label for="contactPhonePrefix" class="ui-g-2 ui-sm-4" style="font-size: 70%;color: #8f8f8f;">
                    {{ 'suppRegistration.prefix.number' | translate }}
                </label>
            </div>
        </div>
        <div class="ui-g-12">
            <hr class="genericHr" />
            <p class="beneficiaryTitle" style="font-size: 18px;">{{ 'suppRegistration.entity.support' | translate }}</p>
            <div class="form-group ui-g-12" *ngIf="geographicalScopeLoaded">
                <div>
                    <div class="ui-g-4 ui-lg-4 ui-md-12 ui-sm-12">
                        <label>
                            Select the country(ies) where you operate
                        </label>
                        <br>
                        <p-multiSelect id="selectCountry" #selectCountry name="selectCountry"
                                       defaultLabel="{{ 'shared.choose.label' | translate }}"
                                       [options]="countryOptions" [(ngModel)]="selectedCountries">
                        </p-multiSelect>
                    </div>
                    <div class="ui-g-8 ui-lg-8 ui-md-12 ui-sm-12">
                        <label>
                            Choose one or more areas in this country
                        </label>
                        <br>
                        <p-tabView>
                            <p-tabPanel *ngFor="let country of selectedCountries; let i = index"
                                        header="{{country.label | slice:0:1 | uppercase }}{{country.label | slice:1:country.label.length | lowercase }}">
                                <p-multiSelect id="selectRegion" #selectRegion name="selectRegion"
                                               defaultLabel="{{ 'shared.choose.label' | translate }}"
                                               [options]="regionOptions[country.label]" [(ngModel)]="selectedRegions[country.label]">
                                </p-multiSelect>
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-12">
            <hr class="genericHr" />
            <div class="form-group" style="text-align: center;">
                <button type="button"
                        class="btn btn-primary whiteButton" style="margin-right: 0.5em;">
                    {{ 'shared.cancel.button' | translate }}
                </button>
                <button type="button" (click)="saveSupplierData()"
                        class="btn btn-primary blueButton" style="margin-left: 0.5em;">
                    Save
                </button>
            </div>
            <br style="margin-bottom: 2em;">
        </div>
    </form>
</div>