.whiteButton, .blueButton {
    min-width: 10em;
    font-size: 17px;
}

.uploadLogoLabel {
    font-size: 85%;
    color: #145ecb;
    margin-top: 1em;
    cursor: pointer;
}

.uploadLogoLabel:hover {
    color: #172586;
}