<div class="clearfix"></div>
<div class="container font">
    <div class="ui-g">
        <div class="ui-g-12">
            <p class="beneficiaryTitle">{{ 'company.name' | translate }}</p>
        </div>
    </div>


    <div class="ui-g-6">
        <hr class="beneficiaryHr">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g">
                    <div class="ui-g-10">
                        <p class="beneficiaryMayor">{{ 'contact.person' | translate }}</p>
                    </div>
                    <div class="ui-g-2">
                        <a (click)="displayContactModal()" class="edit"> <i class="fa fa-pencil"
                                                                            aria-hidden="true"></i> {{ 'edit.button' |
                            translate
                            }}
                        </a>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-4">
                        <p>{{ 'name.label' | translate }}</p>
                        <p>{{ 'surname.label' | translate }}</p>
                        <p>{{ 'phone.number' | translate }}</p>
                        <p>{{ 'email.label' | translate }}</p>
                    </div>
                    <div class="ui-g-8">
                        <p class="profileData"></p>
                        <p class="profileData"></p>
                        <p class="profileData"></p>
                        <p class="profileData"></p>
                    </div>
                </div>
                <hr class="beneficiaryHr">
            </div>

            <div class="ui-g-12">
                <div class="ui-g">
                    <div class="ui-g-10">
                        <p class="beneficiaryMayor">{{ 'company.details' | translate }}</p>
                    </div>
                    <div class="ui-g-2">
                        <a (click)="displayCompanyModal()"><i class="fa fa-pencil"
                                                              aria-hidden="true"></i> {{ 'edit.button' | translate }}
                        </a>
                    </div>
                </div>


                <div class="ui-g">
                    <div class="ui-g-4">
                        <p>{{ 'company.name' | translate }}</p>
                        <p>{{ 'legal.address' | translate }}</p>
                        <p>{{ 'vat.label' | translate }}</p>
                        <p>{{ 'bic.label' | translate }}</p>
                        <p>{{ 'logo.label' | translate }}</p>
                    </div>
                    <div class="ui-g-8">
                        <p class="profileData"></p>
                        <p class="profileData"></p>
                        <p class="profileData"></p>
                        <p class="profileData"></p>
                        <p class="profileData"></p>
                    </div>
                </div>
                <hr class="beneficiaryHr">
            </div>
            <div class="ui-g-12">
                <div class="ui-g">
                    <div class="ui-g-10">
                        <p class="beneficiaryMayor">{{ 'legalentity.label' | translate }}</p>
                    </div>
                    <div class="ui-g-2">
                        <a (click)="displayLegalModal()"><i class="fa fa-pencil"
                                                            aria-hidden="true"></i> {{ 'edit.button' | translate }}</a>
                    </div>
                </div>


                <div class="ui-g">
                    <div class="ui-g-4">
                        <p>{{ 'country.label' | translate }}</p>
                        <p>{{ 'municipality.label' | translate }}</p>

                    </div>
                    <div class="ui-g-8">
                        <p class="profileData"></p>
                        <p class="profileData"></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="ui-g">
                <div class="ui-g-4"></div>
                <div class="ui-g-8 button-content">
                    <p>{{ 'beneficiaryProfile.text' | translate }}</p>
                    <div style="text-align: center !important">
                        <button type="button" (click)="openModal()"
                                class="btn btn-primary changePassword">
                            {{'beneficiaryProfile.password' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MODALS BELOW-->

<div class="container font">
    <div class="ui-g-1"></div>
    <p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [resizable]="false"
              [draggable]="false" [closable]="true" [closeOnEscape]="true">
        <p class="beneficiaryMayorModal">{{'beneficiaryProfile.password' | translate }}</p>
        <form #profileForm="ngForm">
            <div class="form-group profileDialog">
                <label class="labelModal" for="currentPassword">{{ 'currentPassword.label' | translate }}</label>
                <input type="password" [(ngModel)]="supplierDetails.currentPassword"
                       class="form-control beneficiaryProfileI"
                       name="currentPassword"
                       ngcontrol="currentPassword"
                       #currentPassword="ngModel" required>
                <div [hidden]="currentPassword.valid || currentPassword.pristine"
                     class="alert alert-danger">{{
                    'password.required'
                    | translate }}
                </div>
                <a class="forgotPassword" routerLink="/forgot">Forgot password?</a><br>
                <label class="labelModal" for="newPassword">{{ 'password.label' | translate }}</label>
                <input type="password" [(ngModel)]="supplierDetails.newPassword"
                       class="form-control beneficiaryProfileI"
                       name="newPassword"
                       ngcontrol="newPassword"
                       #newPassword="ngModel" (keyup)="checkPassword()" required>
                <div [hidden]="newPassword.valid || newPassword.pristine"
                     class="alert alert-danger">{{
                    'password.required'
                    | translate }}
                </div>
                <label class="labelModal" for="repeatNewPassword">{{ 'confirmNewPassword.label' | translate }}</label>
                <input type="password" [(ngModel)]="supplierDetails.repeatNewPassword"
                       class="form-control beneficiaryProfileI"
                       name="repeatNewPassword" ngcontrol="repeatNewPassword"
                       #repeatNewPassword="ngModel" (keyup)="checkPassword()" required>
                <div [hidden]="repeatNewPassword.valid || repeatNewPassword.pristine"
                     class="alert alert-danger">{{'newPassword.required' | translate }}
                </div>
                <div class="form-group">
                    <div style="text-align: center !important">
                        <button type="submit" class="btn btn-primary changePasswordModalNoTop"
                                (click)="closeModal()">{{
                            'cancel.button' | translate }}
                        </button>
                        <button type="submit" class="btn btn-primary changePasswordModalNoTop"
                                [disabled]="!profileForm.form.valid || !checkPassword()">{{
                            'change' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </p-dialog>
</div>


<div class="container font">
    <div class="ui-g-1"></div>
    <p-dialog [(visible)]="displayCompany" [modal]="true" [responsive]="true" [resizable]="false"
              [draggable]="false" [closable]="true" [closeOnEscape]="true">
        <p class="beneficiaryMayor center">{{ 'company.details' | translate }}</p>
        <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="company">{{ 'company.name' | translate }}</label>
                        <input type="text" [(ngModel)]="supplierDetails.company"
                               class="form-control"
                               name="name" ngcontrol="company" #company="ngModel"
                               required>
                        <div [hidden]="company.valid || company.pristine"
                             class="alert alert-danger">{{'company.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="address">{{ 'legal.address' | translate
                            }}</label>
                        <input type="email" [(ngModel)]="supplierDetails.address"
                               class="form-control"
                               name="address" ngcontrol="address" #address="ngModel"
                               required>
                        <div [hidden]="address.valid || address.pristine"
                             class="alert alert-danger">{{'address.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="vat">{{ 'vat.label' | translate }}</label>
                        <input type="text" [(ngModel)]="supplierDetails.vat"
                               class="form-control"
                               name="vat" ngcontrol="vat" #vat="ngModel"
                               required>
                        <div [hidden]="vat.valid || vat.pristine"
                             class="alert alert-danger">{{'vat.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="bic">{{ 'bic.label' | translate }}</label>
                        <input type="text" [(ngModel)]="supplierDetails.bic"
                               class="form-control"
                               name="bic" ngcontrol="bic" #bic="ngModel"
                               required>
                        <div [hidden]="bic.valid || bic.pristine"
                             class="alert alert-danger">{{'bic.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="logo">{{ 'logo.label' | translate }}</label>
                        <input type="" [(ngModel)]="supplierDetails.logo"
                               class="form-control"
                               name="logo" ngcontrol="logo" #logo="ngModel"
                               required>
                        <div [hidden]="logo.valid || logo.pristine"
                             class="alert alert-danger">{{'logo.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group">
                <div style="text-align: center !important">
                    <button type="submit" class="btn btn-primary changePasswordModalNoTop"
                            (click)="closeModal()">{{
                        'cancel.button' | translate }}
                    </button>
                    <button type="" class="btn btn-primary changePasswordModalNoTop"
                            [disabled]="!profileForm.form.valid">{{
                        'change' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </p-dialog>
</div>

<div class="container font">
    <div class="ui-g-1"></div>
    <p-dialog [(visible)]="displayContact" [modal]="true" [responsive]="true" [resizable]="false"
              [draggable]="false" [closable]="true" [closeOnEscape]="true">
        <p class="beneficiaryMayor center">{{ 'contact.person' | translate }}</p>
        <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="name">{{ 'name.label' | translate }}</label>
                        <input type="text" [(ngModel)]="supplierDetails.name"
                               class="form-control"
                               name="name" ngcontrol="name" #name="ngModel"
                               required>
                        <div [hidden]="name.valid || name.pristine"
                             class="alert alert-danger">{{ 'name.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="surname">{{ 'surname.label' | translate
                            }}</label>
                        <input type="text" [(ngModel)]="supplierDetails.surname"
                               class="form-control"
                               name="surname" ngcontrol="surname" #surname="ngModel"
                               required>
                        <div [hidden]="surname.valid || surname.pristine"
                             class="alert alert-danger">{{ 'surname.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="phoneNumber">{{ 'phone.number' | translate }}</label>
                        <input type="text" [(ngModel)]="supplierDetails.phone"
                               class="form-control"
                               name="phoneNumber" ngcontrol="phoneNumber" #phoneNumber="ngModel"
                               required>
                        <div [hidden]="phoneNumber.valid || phoneNumber.pristine"
                             class="alert alert-danger">{{ 'phone.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="email">{{ 'email.label' | translate }}</label>
                        <input type="text" [(ngModel)]="supplierDetails.email"
                               class="form-control"
                               name="email" ngcontrol="email" #email="ngModel"
                               required>
                        <div [hidden]="email.valid || email.pristine"
                             class="alert alert-danger">{{ 'email.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group">
                <div style="text-align: center !important">
                    <button type="submit" class="btn btn-primary changePasswordModalNoTop"
                            (click)="closeModal()">{{
                        'cancel.button' | translate }}
                    </button>
                    <button type="" class="btn btn-primary changePasswordModalNoTop"
                            [disabled]="!profileForm.form.valid">{{
                        'change' | translate }}
                    </button>
                </div>
            </div>


        </form>
    </p-dialog>
</div>


<div class="container font">
    <div class="ui-g-1"></div>
    <p-dialog [(visible)]="displayLegal" [modal]="true" [responsive]="true" [resizable]="false"
              [draggable]="false" [closable]="true" [closeOnEscape]="true">
        <p class="beneficiaryMayor center">{{ 'legalentity.label' | translate }}</p>
        <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="country">{{ 'country.label' | translate }}</label>
                        <input type="text" [(ngModel)]="supplierDetails.country"
                               class="form-control"
                               name="country" ngcontrol="country" #country="ngModel"
                               required>
                        <div [hidden]="country.valid || country.pristine"
                             class="alert alert-danger">{{ 'country.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>
            <div class="form-group ui-g">
                <div class="ui-g-1"></div>
                <div class="ui-g-10">
                    <div class="form-group">
                        <label for="municipality">{{ 'municipality.label' | translate
                            }}</label>
                        <input type="email" [(ngModel)]="supplierDetails.municipality"
                               class="form-control"
                               name="municipality" ngcontrol="municipality" #municipality="ngModel"
                               required>
                        <div [hidden]="municipality.valid || municipality.pristine"
                             class="alert alert-danger">{{ 'municipality.required' | translate }}
                        </div>
                    </div>
                </div>
                <div class="ui-g-1"></div>
            </div>

            <div class="form-group">
                <div style="text-align: center !important">
                    <button type="submit" class="btn btn-primary changePasswordModalNoTop"
                            (click)="closeModal()">{{
                        'cancel.button' | translate }}
                    </button>
                    <button type="" class="btn btn-primary changePasswordModalNoTop"
                            [disabled]="!profileForm.form.valid">{{
                        'change' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </p-dialog>
</div>