<!-- Title -->
<div class="container">
    <div id="step2-title" class="ui-g">
        <div class="ui-g-12 center">
            <div id="component-title">
                <h3 class="beneficiaryTitle labelModal">
                    {{ 'benefRegistration.beneficiaryRegistration.step1.title' | translate }}
                </h3>
            </div>
        </div>
    </div>

    <form #registrationForm="ngForm" (submit)="submit()">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-2"></div>
                <div class="ui-g-8">
                    <!-- Country selection -->
                    <div class="form-group ui-g">
                        <div class="ui-g-12">
                            <label class="label" for="country">{{ 'shared.country.label' | translate }}</label>
                            <select [(ngModel)]="country" (ngModelChange)="selectCountry($event)" id="country" name="country" class="form-control" ng-options="option.value as option.name for option in typeOptions"
                                [disabled]="countries.length < 1">
                                <option disabled selected [ngValue]="null">
                                    {{ 'benefRegistration.registration.selectCountry' | translate }}
                                </option>
                                <option *ngFor="let currentCountry of countries" [ngValue]="currentCountry">
                                    {{currentCountry.label}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <hr class="genericHr">
                </div>
                <div class="ui-g-2"></div>
            </div>
        </div>

        <div id="represent-option" class="form-group ui-g">
            <!-- organizations.length > 0 -->
            <div class="ui-g-12">
                <!-- *ngIf="countrySelected" -->
                <div class="ui-g-2"></div>
                <div class="ui-g-8">
                    <!-- Organization selection -->
                    <div class="form-group ui-g">
                        <div class="ui-g-12">
                            <label class="label" for="organization">{{ 'benefRegistration.organization.label' | translate }}</label>
                            <select [(ngModel)]="organization" (ngModelChange)="selectOrganization($event)" id="organization" name="organization" class="form-control"
                                ng-options="option.value as option.name for option in typeOptions" [disabled]="!countrySelected">
                                <!--  [disabled]="organizations.length < 1" -->
                                <option disabled selected [ngValue]="null">
                                    {{'benefRegistration.registration.selectOrganisation' |translate}}
                                </option>
                                <option *ngIf="!noMunicipalityOrganization" ngValue="municipality"> {{ 'shared.municipality.label' | translate }}</option>
                                <option *ngFor="let currentOrganization of organizations" [ngValue]="currentOrganization">
                                    {{currentOrganization.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="ui-g-2"></div>
            </div>
        </div>

        <div id="navigation-buttons" class="form-group ui-g center">
            <div class="ui-lg-3"></div>
            <div class="ui-g-6 ui-md-6 ui-lg-3">
                <a href="/#/home" class="btn btn-primary cancel-button cancel-link">{{ 'shared.back.button' | translate }}
                </a>
            </div>
            <!-- Next button -->
            <div class="ui-g-6 ui-md-6 ui-lg-3">
                <button type="submit" id="navigate-step2" class="btn btn-primary publish-button" [disabled]="!registrationForm.valid || !countrySelected || !organizationSelected">
                    {{ 'shared.next.button' | translate }}
                </button>
            </div>
            <div class="ui-lg-3"></div>
        </div>
    </form>

</div>