<div *ngIf="!isEdit">

    <div *ngIf="isOrganization" class="ui-g-12">
        <span class="ui-g-4 ui-sm-12">{{'registration.nameOrganisation' | translate}}</span>
        <span class="ui-g-8 ui-sm-12">
            <b>{{organizationName}}</b>
        </span>
    </div>

    <div class="ui-g-12">
        <span class="ui-g-4 ui-sm-12">{{ 'shared.name.label' | translate }}</span>
        <span class="ui-g-8 ui-sm-12">
            <b>{{user?.name}}</b>
        </span>
    </div>
    <div class="ui-g-12">
        <span class="ui-g-4 ui-sm-12">{{ 'shared.surname.label' | translate }}</span>
        <span class="ui-g-8 ui-sm-12">
            <b>{{user?.surname}}</b>
        </span>
    </div>
    <div class="ui-g-12">
        <span class="ui-g-4 ui-sm-12">{{ 'benefRegistration.townHall.address' | translate }}</span>
        <span class="ui-g-8 ui-sm-12">
            <b>{{user?.address}}</b>
        </span>
    </div>
    <div class="ui-g-12">
        <span class="ui-g-4 ui-sm-12">{{ 'shared.number.label' | translate }}</span>
        <span class="ui-g-8 ui-sm-12">
            <b>{{user?.addressNum}}</b>
        </span>
    </div>
    <div class="ui-g-12">
        <span class="ui-g-4 ui-sm-12">{{ 'shared.postal-code.label' | translate }}</span>
        <span class="ui-g-8 ui-sm-12">
            <b>{{user?.postalCode}}</b>
        </span>
    </div>
    <div class="ui-g-12">
        <span class="ui-g-4 ui-sm-12">{{ 'suppRegistration.city.label' | translate }}</span>
        <span class="ui-g-8 ui-sm-12">
            <b>{{user?.city}}</b>
        </span>
    </div>
    <div class="ui-g-12">
        <span class="ui-g-4 ui-sm-12">{{ 'shared.country.label' | translate }}</span>
        <span class="ui-g-8 ui-sm-12">
            <b>{{user?.country}}</b>
        </span>
    </div>
    <div class="ui-g-12">
        <span class="ui-g-4 ui-sm-12">{{ 'shared.email.label' | translate }}</span>
        <span class="ui-g-8 ui-sm-12">
            <b>{{user?.email}}</b>
        </span>
    </div>
</div>
<div *ngIf="isEdit">
    <div class="row" *ngIf="isOrganization">
        <div class="offset-sm-2 col-sm-8">
            <p>{{ 'registration.nameOrganisation' | translate }}</p>
        </div>
    </div>
    <div class="row" *ngIf="isOrganization">
        <div class="offset-sm-2 col-sm-8">
            <input id="organizationName" type="text" [(ngModel)]="organizationName" class="form-control" name="organizationName" ngcontrol="organizationName"
                #associationName="ngModel" maxlength="255" (ngModelChange)="onChangesOrganization($event)" required>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <p>{{ 'shared.name.label' | translate }}</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <input id="name_user" type="text" [(ngModel)]="user.name" class="form-control" name="name_user" ngcontrol="name_user" #name_user="ngModel"
                maxlength="255" (ngModelChange)="onChangesUser()" [disabled]="user.type == -1" required>
            <div [hidden]="name_user.valid || name_user.pristine" class="alert alert-danger">
                {{ 'shared.name.required' | translate }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <p>{{ 'shared.surname.label' | translate }}</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <input id="surname_user" type="text" [(ngModel)]="user.surname" class="form-control" name="surname_user" ngcontrol="surname_user"
                #surname_user="ngModel" maxlength="255" (ngModelChange)="onChangesUser()" [disabled]="user.type == -1" required>
            <div [hidden]="surname_user.valid || surname_user.pristine" class="alert alert-danger">
                {{ 'shared.surname.required' | translate }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <p>{{ 'benefRegistration.townHall.address' | translate }}</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <input id="address_user" type="text" [(ngModel)]="user.address" class="form-control" name="address_user" ngcontrol="address_user"
                #address_user="ngModel" maxlength="255" (ngModelChange)="onChangesUser()" [disabled]="user.type == -1" required>
            <div [hidden]="address_user.valid || address_user.pristine" class="alert alert-danger">
                {{ 'shared.address.required' | translate }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <p>{{ 'shared.number.label' | translate }}</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <input id="addressNum_user" type="text" [(ngModel)]="user.addressNum" class="form-control" name="addressNum_user" ngcontrol="addressNum_user"
                #addressNum_user="ngModel" maxlength="255" (ngModelChange)="onChangesUser()" [disabled]="user.type == -1" required>
            <div [hidden]="addressNum_user.valid || addressNum_user.pristine" class="alert alert-danger">
                {{ 'shared.address.required' | translate }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <p>{{ 'shared.postal-code.label' | translate }}</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <input id="postalCode_user" type="text" [(ngModel)]="user.postalCode" class="form-control" name="postalCode_user" ngcontrol="postalCode_user"
                #postalCode_user="ngModel" maxlength="255" (ngModelChange)="onChangesUser()" [disabled]="user.type == -1" required>
            <div [hidden]="postalCode_user.valid || postalCode_user.pristine" class="alert alert-danger">
                {{ 'shared.address.required' | translate }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <p>{{ 'suppRegistration.city.label' | translate }}</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <input id="city_user" type="text" [(ngModel)]="user.city" class="form-control" name="city_user" ngcontrol="city_user" #city_user="ngModel"
                maxlength="255" (ngModelChange)="onChangesUser()" [disabled]="user.type == -1" required>
            <div [hidden]="city_user.valid || city_user.pristine" class="alert alert-danger">
                {{ 'shared.address.required' | translate }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <p>{{ 'shared.country.label' | translate }}</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <select [(ngModel)]="user.country" (ngModelChange)="onChangesUser()" id="country_user" name="country_user" class="form-control"
                ng-options="option.value as option.name for option in typeOptions" #country_user="ngModel" [disabled]="countries.length < 1 || user.type == -1">
                <option disabled selected [ngValue]="null">
                    {{ 'benefRegistration.registration.selectCountry' | translate }}
                </option>
                <option *ngFor="let currentCountry of countries" [ngValue]="currentCountry.label">
                    {{currentCountry.label}}
                </option>
            </select>
            <div [hidden]="country_user.valid || country_user.pristine" class="alert alert-danger">
                {{ 'shared.address.required' | translate }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <p>{{ 'shared.email.label' | translate }}</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <span>
                <b>{{user?.email}}</b>
            </span>
        </div>
    </div>
</div>