<!--
            <div *ngIf="isOrganisation" class="ui-g-12">
                <span class="ui-g-4 ui-sm-12">Organisations name</span>
                <span class="ui-g-8 ui-sm-12"><b>-</b></span>
            </div>
            -->
<div class="ui-g-12">
    <span class="ui-g-4 ui-sm-12">{{ 'shared.name.label' | translate }}</span>
    <span class="ui-g-8 ui-sm-12">
        <b>{{user?.name}}</b>
    </span>
</div>
<div class="ui-g-12">
    <span class="ui-g-4 ui-sm-12">{{ 'shared.surname.label' | translate }}</span>
    <span class="ui-g-8 ui-sm-12">
        <b>{{user?.surname}}</b>
    </span>
</div>
<div class="ui-g-12">
    <span class="ui-g-4 ui-sm-12">{{ 'benefPortal.granAgreement.addressLabel' | translate }}</span>
    <span class="ui-g-8 ui-sm-12">
        <b>{{user?.address}}</b>
    </span>
</div>
<div class="ui-g-12">
    <span class="ui-g-4 ui-sm-12">{{ 'shared.number.label' | translate }}</span>
    <span class="ui-g-8 ui-sm-12">
        <b>{{user?.addressNum}}</b>
    </span>
</div>
<div class="ui-g-12">
    <span class="ui-g-4 ui-sm-12">{{ 'shared.postal-code.label' | translate }}</span>
    <span class="ui-g-8 ui-sm-12">
        <b>{{user?.postalCode}}</b>
    </span>
</div>
<div class="ui-g-12">
    <span class="ui-g-4 ui-sm-12">{{ 'suppRegistration.city.label' | translate }}</span>
    <span class="ui-g-8 ui-sm-12">
        <b>{{user?.city}}</b>
    </span>
</div>
<div class="ui-g-12">
    <span class="ui-g-4 ui-sm-12">{{ 'dgConn.beneficiaries.country' | translate }}</span>
    <span class="ui-g-8 ui-sm-12">
        <b>{{user?.country}}</b>
    </span>
</div>
<div class="ui-g-12">
    <span class="ui-g-4 ui-sm-12">{{ 'shared.email.label' | translate }}</span>
    <span class="ui-g-8 ui-sm-12">
        <b>{{user?.email}}</b>
    </span>
</div>