<div class="container" *ngIf="municipality">
    <div class="row" *ngIf="registration">
        <div style="display: flex; padding-top: 2em;">
            <div class="ui-g-12" style="margin-top: 1em; font-size: 16px; width: none !important;">
                <a class="link-label" (click)="confirmClose()">
                    <i class="fa fa-long-arrow-left fa-2" aria-hidden="true"></i> {{ 'shared.back.button' | translate }}
                </a>
            </div>
            <div class="ui-g-12 center">
                <div class="ui-md-12" style="float: right;">
                    <ux-alert *ngIf="registration.allFilesFlag != 1" class="documents-info" iconClass="fa fa-exclamation-circle alert-icon">
                        {{ 'shared.statusLabel' | translate}} {{ 'shared.statusUploadDocs' | translate}}
                    </ux-alert>
                    <ux-alert *ngIf="registration.allFilesFlag == 1" class="documents-info" iconClass="fa fa-exclamation-circle alert-icon">
                        {{ 'shared.statusLabel' | translate}}{{ 'shared.statusDocsUploaded' | translate}}
                    </ux-alert>
                </div>
            </div>
        </div>
    </div>
    <div id="step2-title" class="row">
        <div class="col-sm-6">
            <div id="component-title">
                <h3 class="beneficiaryTitle labelModal">
                    {{ 'shared.municipality.label' | translate }} {{ municipality.name}}
                </h3>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3 class="beneficiaryTitle labelModal">
                {{ 'shared.supportingDocuments' | translate }}
            </h3>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="labelModal">
                {{ 'shared.supportingDocuments.info' | translate }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="labelModal">
                {{ 'shared.supportingDocuments.info2' | translate }}
            </p>
        </div>
    </div>

    <form #legalForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="municipality && user" style="display: grid;">
        <div style="padding-left: 5em; padding-right:5em;">

            <div class="row">
                <p class="labelModal profileData">
                    {{ 'shared.supportingDocuments.provide' | translate }}
                </p>
            </div>

            <div class="row">
                <div class="col-offset-12">
                    <label class="label" style="margin-top: 1.2em !important;" for="document1" [innerHTML]="'benefPortal.request.additionalInfo.doc1.label' | translate"></label>
                </div>

                <div class="col-offset-12">
                    <div class="left">
                        <div class="fileUpload btn btn-primary">
                            <span>{{ 'benefDocs.copyMayorsID' | translate }}</span>
                            <input #document1 id="document1" name="document1" (change)="uploadFile($event, 0)" type="file" class="upload" accept=".png, .jpg, .pdf"
                            />
                        </div>
                    </div>
                    <span class="ui-g-12" *ngIf="registration">
                        <span *ngIf="!registration.legalFile1Size && !doc1">
                            <img src="..\..\..\assets\images\hoja-id-card.png" srcset="..\..\..\assets\images\hoja-id-card@2x.png 2x, ..\..\..\assets\images\hoja-id-card@3x.png 3x"
                                class="hoja-ID-card">
                            <span class="attachment-label">{{ 'shared.supportingDocuments.noAttached' | translate }}</span>
                        </span>
                        <span *ngIf="registration.legalFile1Size && !documentUrls[0]">
                            <img src="..\..\..\assets\images\hoja-id-card.png" srcset="..\..\..\assets\images\hoja-id-card@2x.png 2x, ..\..\..\assets\images\hoja-id-card@3x.png 3x"
                                class="hoja-ID-card">
                            <div style="display: table-cell;">
                                <i class="fa fa-paperclip"></i>
                                <span>fileName1</span>
                                <a class="link-label" style="pointer-events:none; cursor: default; opacity: 0.6;">
                                    <i class="fa fa-trash"></i> {{ 'shared.remove.label' | translate}}</a> |
                                <a class="link-label" href="{{fileURL}}{{registration.id}}/1" target="_blank">
                                    <i class="fa fa-download" aria-hidden="true"></i> {{ 'shared.download' | translate }}
                                </a>
                                <span class="attachment-label">
                                    <br />{{ 'shared.supportingDocuments.attachment' | translate }}</span>
                            </div>
                        </span>


                        <span *ngIf="documentUrls[0]">
                            <img src="..\..\..\assets\images\hoja-id-card.png" srcset="..\..\..\assets\images\hoja-id-card@2x.png 2x, ..\..\..\assets\images\hoja-id-card@3x.png 3x"
                                class="hoja-ID-card"> {{ 'shared.supportingDocuments.attachment' | translate }}
                            <i class="fa fa-paperclip"></i>
                            <span>{{documentFiles[0]?.name}}</span>
                            <a sclass="link-label" (click)="removeFile(0)">
                                <i class="fa fa-trash"></i> {{ 'shared.remove.label' | translate}}</a>
                            <a class="link-label" href="{{documentUrls[0]}}" target="_blank" download="{{documentFiles[0]?.name}}">
                                <i class="fa fa-download" aria-hidden="true"></i> {{ 'shared.download' | translate }}</a>
                        </span>
                    </span>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr class="beneficiaryHr marginHr">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-offset-12">
                    <label class="label" for="document3" [innerHTML]="'benefPortal.request.additionalInfo.doc2.label' | translate"></label>
                </div>
                <div class="col-offset-12">

                    <div class="left">
                        <div class="fileUpload btn btn-primary">
                            <span>{{ 'benefDocs.proofNomination' | translate }}</span>
                            <input #document2 id="document3" name="document2" (change)="uploadFile($event, 2)" type="file" class="upload" accept=".png, .jpg, .pdf"
                            />
                        </div>
                    </div>
                    <span class="ui-g-12" *ngIf="registration">
                        <span *ngIf="!registration.legalFile3Size && !doc3">
                            <img src="..\..\..\assets\images\hoja.svg" class="hoja-ID-card">
                            <span class="attachment-label">{{ 'shared.supportingDocuments.noAttached' | translate }}</span>
                        </span>
                        <span *ngIf="registration.legalFile3Size && !documentUrls[2]">
                            <img src="..\..\..\assets\images\hoja.svg" class="hoja-ID-card">
                            <div style="display: table-cell;">
                                <i class="fa fa-paperclip"></i>
                                <span>fileName2</span>
                                <a class="link-label" style="pointer-events:none; cursor: default; opacity: 0.6;">
                                    <i class="fa fa-trash"></i> {{ 'shared.remove.label' | translate}}</a> |
                                <a class="link-label" href="{{fileURL}}{{registration.id}}/3" target="_blank">
                                    <i class="fa fa-download" aria-hidden="true"></i> {{ 'shared.download' | translate }}</a>
                                <span class="attachment-label">
                                    <br />{{ 'shared.supportingDocuments.attachment' | translate }}</span>
                            </div>
                        </span>
                        <span *ngIf="documentUrls[2]">
                            <img src="..\..\..\assets\images\hoja.svg" class="hoja-ID-card">
                            <i class="fa fa-paperclip"></i>
                            <span>{{documentFiles[2]?.name}}</span>
                            <a class="link-label" (click)="removeFile(2)">
                                <i class="fa fa-trash"></i> {{ 'shared.remove.label' | translate}}</a>
                            <a class="link-label" href="{{documentUrls[2]}}" target="_blank" download="{{documentFiles[2]?.name}}">
                                <i class="fa fa-download" aria-hidden="true"></i> {{ 'shared.download' | translate }}</a>
                        </span>
                    </span>
                </div>
            </div>

            <div class="row" *ngIf="!isMayor">

                <div class="row">
                    <div class="col-sm-12">
                        <hr class="beneficiaryHr marginHr">
                    </div>
                </div>

                <p class="labelModal profileData">
                    {{ 'shared.supportingDocuments.provide.optional' | translate }}
                </p>

                <div class="col-offset-12">
                    <label class="label" for="document2" [innerHTML]="'benefPortal.request.additionalInfo.doc3.label' | translate"></label>
                </div>
                <div class="col-offset-12">
                    <div class="left">
                        <div class="fileUpload btn btn-primary">
                            <span>{{ 'benefDocs.copyYourID' | translate }}</span>
                            <input #document3 id="document3" name="document3" (change)="uploadFile($event, 1)" type="file" class="upload" accept=".png, .jpg, .pdf"
                            />
                        </div>
                    </div>
                    <span class="ui-g-12" *ngIf="registration">
                        <span *ngIf="!registration.legalFile2Size && !doc2">
                            <img src="..\..\..\assets\images\hoja-id-card.png" srcset="..\..\..\assets\images\hoja-id-card@2x.png 2x, ..\..\..\assets\images\hoja-id-card@3x.png 3x"
                                class="hoja-ID-card">
                            <span class="attachment-label">{{ 'shared.supportingDocuments.noAttached' | translate }}</span>
                        </span>
                        <span *ngIf="registration.legalFile2Size && !documentUrls[1]">
                            <img src="..\..\..\assets\images\hoja-id-card.png" class="hoja-ID-card">
                            <div style="display: table-cell;">
                                <i class="fa fa-paperclip"></i>
                                <span>fileName3</span>
                                <a class="link-label" style="pointer-events:none; cursor: default; opacity: 0.6;">
                                    <i class="fa fa-trash"></i> {{ 'shared.remove.label' | translate}}</a> |
                                <a class="link-label" href="{{fileURL}}{{registration.id}}/2" target="_blank">
                                    <i class="fa fa-download" aria-hidden="true"></i> {{ 'shared.download' | translate }}</a>
                                <span class="attachment-label">
                                    <br />{{ 'shared.supportingDocuments.attachment' | translate }}</span>
                            </div>
                        </span>
                        <span *ngIf="documentUrls[1]">
                            <img src="..\..\..\assets\images\hoja-id-card.png" class="hoja-ID-card">
                            <i class="fa fa-paperclip"></i>
                            <span>{{documentFiles[1]?.name}}</span>
                            <a class="link-label" (click)="removeFile(1)">
                                <i class="fa fa-trash"></i> {{ 'shared.remove.label' | translate}}</a>
                            <a class="link-label" href="{{documentUrls[1]}}" target="_blank" download="{{documentFiles[1]?.name}}">
                                <i class="fa fa-download" aria-hidden="true"></i> {{ 'shared.download' | translate }}</a>
                        </span>
                    </span>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <hr class="beneficiaryHr marginHr">
                    </div>
                </div>

                <div class="col-offset-12">
                    <label class="label" for="document4" [innerHTML]="'benefPortal.request.additionalInfo.doc4.label' | translate"></label>
                </div>
                <div class="col-offset-12">
                    <div class="left">
                        <div class="fileUpload btn btn-primary">
                            <span>{{ 'benefDocs.authorisedSign' | translate }}</span>
                            <input #document4 id="document4" name="document4" (change)="uploadFile($event, 3)" type="file" class="upload" accept=".png, .jpg, .pdf"
                            />
                        </div>
                    </div>
                    <span class="ui-g-12" *ngIf="registration">
                        <span *ngIf="!registration.legalFile4Size && !doc4">
                            <img src="..\..\..\assets\images\hoja.svg" class="hoja-ID-card">
                            <span class="attachment-label">{{ 'shared.supportingDocuments.noAttached' | translate }}</span>
                        </span>
                        <span *ngIf="registration.legalFile4Size && !documentUrls[3]">
                            <img src="..\..\..\assets\images\hoja.svg" class="hoja-ID-card">
                            <div style="display: table-cell;">
                                <i class="fa fa-paperclip"></i>
                                <span>fileName4</span>
                                <a class="link-label" style="pointer-events:none; cursor: default; opacity: 0.6;">
                                    <i class="fa fa-trash"></i> {{ 'shared.remove.label' | translate}}</a> |
                                <a class="link-label" href="{{fileURL}}{{registration.id}}/4" target="_blank">
                                    <i class="fa fa-download" aria-hidden="true"></i> {{ 'shared.download' | translate }}</a>
                                <span class="attachment-label">
                                    <br />{{ 'shared.supportingDocuments.attachment' | translate }}</span>
                            </div>
                        </span>
                        <span *ngIf="documentUrls[3]">
                            <img src="..\..\..\assets\images\hoja.svg" class="hoja-ID-card">
                            <i class="fa fa-paperclip"></i>
                            <span>{{documentFiles[3]?.name}}</span>
                            <a class="link-label" (click)="removeFile(3)">
                                <i class="fa fa-trash"></i> {{ 'shared.remove.label' | translate}}</a>
                            <a class="link-label" href="{{documentUrls[3]}}" target="_blank" download="{{documentFiles[3]?.name}}">
                                <i class="fa fa-download" aria-hidden="true"></i> {{ 'shared.download' | translate }}</a>
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <hr class="beneficiaryHr marginHr">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 beneficiaryTitle center" style="padding-bottom:1em;">
                <p>{{ 'shared.supportingDocuments.confirmation.label' | translate }}</p>
            </div>
        </div>
        <div class="form-group ui-g">
            <div class="ui-lg-3"></div>
            <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
                <button type="button" (click)="confirmClose()" class="btn btn-primary cancel-button" [disabled]="!legalForm.form.valid || !filesUploaded">{{ 'shared.cancel.button' | translate }}
                </button>
            </div>
            <div class="ui-g-6 ui-md-6 ui-lg-3" style="text-align: center !important">
                <button type="submit" class="btn btn-primary publish-button" [disabled]="!legalForm.form.valid || !filesUploaded">
                    {{ 'shared.confirm.button' | translate }}
                </button>
            </div>
            <div class="ui-lg-3"></div>
        </div>
    </form>

    <p-dialog [(visible)]="displayConfirmClose">
        <div class="form-group ui-g">
            <div class="col-sm-12 center" style="padding-bottom:1em; color: #004494; font-size:20px; font-weight: bold;">
                <span>{{ 'shared.supportingDocuments.leavePage.title' | translate}}</span>
            </div>
            <span style="line-height: 1.25; padding-bottom: 3em; padding-left: 2em; padding-right: 2em; font-size: 16px;">{{ 'shared.supportingDocuments.leavePage.body' | translate}}</span>
            <div class="ui-lg-2"></div>
            <div class="ui-g-6 ui-md-6 ui-lg-4" style="text-align: center !important">
                <button (click)="cancelBack()" class="btn btn-primary publish-button">{{ 'shared.no' | translate }}
                </button>
            </div>
            <div class="ui-g-6 ui-md-6 ui-lg-4" style="text-align: center !important">
                <a routerLink="../.." routerLinkActive="active">
                    <button type="button" class="btn btn-primary cancel-button">
                        {{ 'shared.yes' | translate }}
                    </button>
                </a>
            </div>

            <div class="ui-lg-2"></div>
        </div>
    </p-dialog>

    <p-dialog [(visible)]="displayConfirmingData" [modal]="true" [responsive]="true" [resizable]="false" [draggable]="false"
        [closable]="false" [closeOnEscape]="false">
        <p class="ModalLoaderDots">
            <span>.</span>
            <span>.</span>
            <span>.</span>
        </p>
        <h1 class="Modalh1Confirmation">{{ 'shared.loading.modal.title' | translate }}</h1>
        <p class="ModalpConfirmation">{{ 'shared.loading.modal.title3' | translate }}</p>
    </p-dialog>
    <helpdesk-form-component portal="beneficiary-additional-info"></helpdesk-form-component>
</div>