<div [ngSwitch]="voucherCompetitionState">
    <!-- no competition created, display warning -->
    <div *ngSwitchCase="0">
        <success-component emailConfirmation="true" [email]="user.email"></success-component>
        <hr class="beneficiaryHr">
        <div class="ui-g-12">
            <span class="ui-g-2"></span>
            <ux-alert class="ui-g-8" styleClass="alert-info">
                {{ 'voucher.noCompetitionPart1' | translate}}<b>{{ 'voucher.noCompetitionPart2' | translate}}</b>
            </ux-alert>
            <span class="ui-g-2"></span>
        </div>
        <div class="center">
            <img src="assets/images/notification.png" alt="">
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4"></div>
            <div class="ui-g-4">
                <p class="labelModal">{{ 'voucher.emailNotification' | translate}}</p>
            </div>
            <div class="ui-g-4"></div>
        </div>
    </div>
    <!-- no competition active, display timer -->
    <div *ngSwitchCase="1">
        <success-component emailConfirmation="true" [email]="user.email"></success-component>
        <hr class="beneficiaryHr">
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8 beneficiaryMayor">{{ 'voucher.whats.next' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <span class="ui-g-8">{{ 'voucher.steps' | translate}}</span>
            <span class="ui-g-2"></span>
        </div>
        <div class="ui-g-12 center">
            <div class="ui-g-3">
                <img src="assets/images/apply.png" alt="">
                <p><span class="dotSteps">1.</span>{{ 'voucher.step1' | translate}}</p>
            </div>
            <div class="ui-g-3">
                <img src="assets/images/supplier.png" alt="">
                <p><span class="dotSteps">2.</span>{{ 'voucher.step2' | translate}}</p>
            </div>
            <div class="ui-g-3">
                <img src="assets/images/check.png" alt="">
                <p><span class="dotSteps">3.</span>{{ 'voucher.step3' | translate}}</p>
            </div>
            <div class="ui-g-3">
                <img src="assets/images/voucher.png" alt="">
                <p><span class="dotSteps">4.</span>{{ 'voucher.step4' | translate}}</p>
            </div>
        </div>

        <hr class="beneficiaryHr">
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8 beneficiaryMayor">{{ 'voucher.timeleft.title' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <span class="ui-g-8">{{ 'voucher.timeleft.subtitle' | translate}}</span>
            <span class="ui-g-2"></span>
        </div>
        <br>
        <div class="ui-g-12">
            <timer-component (timerEvent)="checkIfAlreadyApplied()"
                             [expirationTimestamp]="currentCall.startDate"></timer-component>
        </div>
        <br><br>
        <div class="ui-g-12 center">
            <span class="ui-g-4"></span>
            <button class="btn btn-primary ui-g-4" disabled>{{ 'voucher.applyforvoucher' | translate}}</button>
            <span class="ui-g-4"></span>
        </div>
    </div>
    <!-- competition Open, display apply button -->
    <div *ngSwitchCase="2">
        <success-component emailConfirmation="true" [email]="user.email"></success-component>
        <hr class="beneficiaryHr">
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <ux-alert class="ui-g-8" styleClass="alert-info">{{ 'voucher.statusmessage4' | translate}}</ux-alert>
            <span class="ui-g-2"></span>
        </div>
        <br>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8">{{ 'voucher.apply.title' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <span class="ui-g-8">{{ 'voucher.apply.subtitle' | translate}}</span>
            <span class="ui-g-2"></span>
        </div>
        <br><br>
        <div class="ui-g-12 center">
            <span class="ui-g-4"></span>
            <button class="btn btn-primary ui-g-4" (click)="applyForVoucher()">
                {{ 'voucher.applyforvoucher' | translate}}
            </button>
            <span class="ui-g-4"></span>
        </div>
    </div>
    <!-- user has applied for voucher -->
    <div *ngSwitchCase="3">
        <success-component emailConfirmation="true" [email]="user.email"></success-component>
        <hr class="beneficiaryHr">
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <ux-alert class="ui-g-8" styleClass="alert-success">{{ 'voucher.statusmessage5' | translate}}</ux-alert>
            <span class="ui-g-2"></span>
        </div>
        <br>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8">{{ 'voucher.alreadyapplied' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>
        <br><br>
        <div class="ui-g-12 center">
            <span class="ui-g-4"></span>
            <button class="btn btn-primary ui-g-4" (click)="applyForVoucher()" [disabled]="allApplied || loadingButtons[0]">
                {{ 'voucher.applyforvoucher' | translate}}
            </button>
            <span class="ui-g-4"></span>
        </div>
    </div>
    <!-- user has been awarded and can select a supplier -->
    <!--
        <select-supplier-component *ngSwitchCase="4" [publicationId]="currentCall.callId"
                               [myMunicipality]="myMunicipality"></select-supplier-component>
    -->
    <!-- a problem occurred -->
    <div *ngSwitchCase="-1">
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <ux-alert class="ui-g-8" styleClass="alert-danger">{{ 'voucher.statusmessage3' | translate}}</ux-alert>
            <span class="ui-g-2"></span>
        </div>
        <br>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8">{{ 'voucher.rejectedtitle' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <span class="ui-g-8">{{errorCause | translate}}</span>
            <span class="ui-g-2"></span>
        </div>
        <br><br>
        <div class="ui-g-12 center">
            <span class="ui-g-4"></span>
            <span class="ui-g-4">{{ 'voucher.tryagain' | translate}}</span>
            <span class="ui-g-4"></span>
        </div>
        <div class="ui-g-12 center">
            <span class="ui-g-4"></span>
            <button class="btn btn-primary ui-g-4" routerLink="/home" routerLinkActive="active">
                {{ 'voucher.backhome' | translate}}
            </button>
            <span class="ui-g-4"></span>
        </div>
    </div>
    <p-dialog [(visible)]="displayRegistrationSelect" [modal]="true" [responsive]="true"
              [resizable]="false" [draggable]="false" [closable]="true" [closeOnEscape]="true">
        <h2 class="beneficiaryTitle">{{ 'beneficiary.registrations' | translate }}</h2><br><br>
        <div class="ui-g-12 registrationPanel" *ngFor="let municipality of municipalities; let i = index">
            <div class="ui-g-12">
                <span class="beneficiaryMayor">{{ 'beneficiary.registrationNumber' | translate }} #{{registrations[i].id}}</span>
            </div>
            <hr class="beneficiaryHr">
            <div class="ui-g-12">
                <span class="beneficiaryMayor">{{ 'legalentity.label' | translate }}</span>
            </div>
            <div class="ui-g-4">
                <p>{{ 'country.label' | translate }}</p>
                <p>{{ 'municipality.label' | translate }}</p>
                <p>{{ 'address.label' | translate }}</p>
                <p>{{ 'number.label' | translate }}</p>
                <p>{{ 'postal-code.label' | translate }}</p>
            </div>
            <div class="ui-g-8">
                <p class="profileData">{{municipality.country}}</p>
                <p class="profileData">{{municipality.name}}</p>
                <p class="profileData">{{municipality.address}}</p>
                <p class="profileData">{{municipality.addressNum}}</p>
                <p class="profileData">{{municipality.postalCode}}</p>
            </div>
            <div class="ui-g-12">
                <span class="beneficiaryMayor">{{ 'mayor.details' | translate }}</span>
            </div>
            <div class="ui-g-4">
                <p>{{ 'name.label' | translate }}</p>
                <p>{{ 'surname.label' | translate }}</p>
                <p>{{ 'email.label' | translate }}</p>
            </div>
            <div class="ui-g-8">
                <p class="profileData">{{mayors[i].name}}</p>
                <p class="profileData">{{mayors[i].surname}}</p>
                <p class="profileData">{{mayors[i].email}}</p>
            </div>
            <div class="ui-g-12 center">
                <button type="button" class="btn btn-primary offset-lg-6"
                        (click)="sendApplication(i)" [disabled]="applications[i] || loadingButtons[i]">
                    {{ 'voucher.applyforvoucher' | translate }}</button>
            </div>
        </div>
    </p-dialog>
</div>