<div id="map">
</div>

<div class="marginTopStats"></div>
<div class="row tableTitle">
    <div class="col-md-10">
        <h2 class="h2Table">{{ 'dgConn.report1.title' | translate }}</h2>
    </div>
    <div class="col-md-2">
        <a (click)="addNewElement()" class="edit editTable"><i class="fa fa-download" aria-hidden="true"></i>{{'dgConn.stats.downloadData' | translate }}</a>
    </div>
</div>
<p-dataTable [value]="tableData" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
    <p-column field="name" header="{{ 'helpdesk.memberState' | translate }}" [sortable]="true"></p-column>
    <p-column field="municipalities" header="{{ 'dgConn.applications' | translate }}" [sortable]="true"></p-column>
    <p-column field="requests" header="{{ 'dgConn.verifications' | translate }}" [sortable]="true"></p-column>
    <p-column field="awarded" header="{{ 'dgConn.voucher.dashboard' | translate }}" [sortable]="true"></p-column>
</p-dataTable>