<div class="clearfix"></div>
<div class="container">
    <br>
    <h2 class="beneficiaryTitle">{{ 'discussionForum.title' | translate }}</h2>
    <br>
    <p-dataTable [value]="" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
        <p-column field="event" header="Municipality" [sortable]="true"></p-column>
        <p-column field="startDate" header="Nº Members"></p-column>
        <p-column field="startDate" header="Message"></p-column>
        <p-column field="startDate" header="Nº Messages"></p-column>
        <p-column field="startDate" header="Mediation"></p-column>
        <p-column field="startDate" header="Support"></p-column>

    </p-dataTable>

</div>