<timeline-component></timeline-component>
<div class="clearfix"></div>
<div class="container">
    <div class="marginTop">
        <a class="edit" href=""><i class="fa fa-arrow-left" aria-hidden="true"></i> {{ 'municipalities.list' |
            translate }}</a>
        <div class="marginTopCountdown">
            <p class="subtitle-home">{{ 'municipality.label' | translate }} 1</p>
            <p class="edit"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ 'about.municipality' |
                translate }}</p>
        </div>
    </div>
    <div class="subTitleCountdown">
        <p>{{ 'bidding.countdown' | translate }}</p>
    </div>
    <div class="ui-g-12 whiteNoInline">
        <p>{{ 'nip.countdown' | translate }}:<strong> {{bidding.nip}}</strong></p>
        <p>{{ 'outdoor.access' | translate }}:<strong> {{bidding.outdoorPrice}}</strong></p>
        <p>{{ 'indoor.access' | translate }}:<strong> {{bidding.indoorPrice}}</strong></p>
    </div>

    <div class="clearfix"></div>
    <div class="subTitleCountdown">
        <p>{{ 'invoicing.label' | translate }}</p>
        <div class="descriptionCountdown">
            <p>{{ 'invoicing.installed' | translate }}</p>
        </div>
    </div>
    <div class="marginTop countdownTable">
        <p-dataTable [value]="installations" [(selection)]="selectedInstallations" [rows]="10" [paginator]="true"
                     [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100]" [globalFilter]="gb">
            <p-column field="portal" header="{{ 'accesPoint.name' | translate }}" [sortable]="false"></p-column>
            <p-column field="portal" header="{{ 'sn.countdown' | translate }}" [sortable]="true"></p-column>
            <p-column field="portal" header="{{ 'product.number' | translate }}" [sortable]="false"></p-column>
            <p-column field="portal" header="{{ 'product.model' | translate }}" [sortable]="true"></p-column>

        </p-dataTable>
    </div>

</div>
