<div class="clearfix"></div>
<div class="container">
    <div class="ui-lg-1"></div>
    <div class="ui-g-12 ui-md-12 ui-lg-10 center">
        <div class="ui-g-12 ui-md-12 ui-lg-12 center">
            <div id="component-title">
                <h3 class="beneficiaryTitle labelModal">{{ 'registration.review.title' | translate }}</h3>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12 center">
            <div id="component-subtitle">
                <h6>{{ 'registration.step3.instructions' | translate }}</h6>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12 center">
            <div id="representantive_details" class="ui-g-12" *ngIf="selection[1]">
                <hr>
                <span class="ui-lg-1"></span>
                <span class="ui-g-12 ui-md-12 ui-lg-10" style="text-align: left;">
                    <h3 class="ui-g-12 ui-md-12 ui-lg-11">{{ 'representativedetails.title' | translate }}</h3>
                    <a class="ui-lg-1" (click)="editStep(2)">{{ 'edit.button' | translate }} <span
                            class="glyphicon glyphicon-pencil"></span></a>
                    <div>
                      <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'treatment.label' | translate }}</span>
                      <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{beneficiaryDTO.representativeDTO.treatment}}</b></span>
                    </div>
                    <div>
                      <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'name.label' | translate }}</span>
                      <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{beneficiaryDTO.representativeDTO.name}}</b></span>
                    </div>
                    <div>
                      <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'surname.label' | translate }}</span>
                      <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{beneficiaryDTO.representativeDTO.surname}}</b></span>
                    </div>
                    <div>
                      <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'role.label' | translate }}</span>
                      <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{beneficiaryDTO.representativeDTO.municipalityRole}}</b></span>
                    </div>
                    <div>
                      <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'email.label' | translate }}</span>
                      <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{beneficiaryDTO.representativeDTO.mayorRepeatEmail}}</b></span>
                    </div>
                </span>
                <span class="ui-lg-1"></span>
            </div>
            <div id="mayor_details" class="ui-g-12 ui-md-12 ui-lg-12">
                <hr>
                <span class="ui-lg-1"></span>
                <span class="ui-g-12 ui-md-12 ui-lg-10" style="text-align: left;">
                    <h3 class="ui-g-11 ui-md-11 ui-lg-11">{{ 'mayordetails.title' | translate }}</h3>
                    <a class="ui-g-1 ui-md-1 ui-lg-1" (click)="editStep(2)">{{ 'edit.button' | translate }} <span
                            class="glyphicon glyphicon-pencil"></span></a>
                    <div>
                      <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'treatment.label' | translate }}</span>
                      <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{beneficiaryDTO.mayorDTO.treatment}}</b></span>
                    </div>
                    <div>
                      <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'name.label' | translate }}</span>
                      <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{beneficiaryDTO.mayorDTO.name}}</b></span>
                    </div>
                    <div>
                      <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'surname.label' | translate }}</span>
                      <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{beneficiaryDTO.mayorDTO.surname}}</b></span>
                    </div>
                    <div>
                      <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'email.label' | translate }}</span>
                      <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{beneficiaryDTO.mayorDTO.email}}</b></span>
                    </div>
                </span>
                <span class="ui-lg-1"></span>
            </div>
            <div id="entity_details" class="ui-g-12">
                <hr>
                <span class="ui-lg-1"></span>
                <span class="ui-g-12 ui-md-12 ui-lg-10" style="text-align: left;">
                <h3 class="ui-g-11 ui-md-11 ui-lg-11">{{ 'legalentity.label' | translate }}</h3>
                <a class="ui-g-1 ui-md-1 ui-lg-1" (click)="editStep(1)">{{ 'edit.button' | translate }} <span
                        class="glyphicon glyphicon-pencil"></span></a>
                <div>
                    <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'country.label' | translate }}</span>
                    <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{nutsDTO.name}}</b></span>
                </div>
                <div>
                    <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'municipality.label' | translate }}</span>
                    <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{lausDTO.name1}}</b></span>
                </div>
                <div>
                    <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'address.label' | translate }}</span>
                    <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{beneficiaryDTO.legalEntityDTO.address}}</b></span>
                </div>
                <div>
                    <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'number.label' | translate }}</span>
                    <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{beneficiaryDTO.legalEntityDTO.addressNum}}</b></span>
                </div>
                <div>
                    <span class="ui-g-12 ui-md-12 ui-lg-4">{{ 'postal-code.label' | translate }}</span>
                    <span class="ui-g-12 ui-md-12 ui-lg-8"><b>{{beneficiaryDTO.legalEntityDTO.postalCode}}</b></span>
                </div>
            </span>
                <span class="ui-lg-1"></span>
            </div>
            <div id="confirm_checkboxes" class="ui-g-12 ui-md-12 ui-lg-12">
                <hr>
                <div class="ui-g-12 ui-md-12 ui-lg-12 checkbox" style="text-align: left;">
                    <span class="ui-lg-3"></span>
                    <label class="ui-g-12 ui-md-12 ui-lg-6" for="check_1"><input type="checkbox" id="check_1"
                                                                                 [(ngModel)]="checkboxes[0]">
                        {{ 'preview.registration.check1' | translate }}</label>
                    <span class="ui-lg-3"></span>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12" style="text-align: left;">
                    <span class="ui-lg-3"></span>
                    <label class="ui-g-12 ui-md-12 ui-lg-6" for="check_2"><input type="checkbox" id="check_2"
                                                                                 [(ngModel)]="checkboxes[1]">
                        {{ 'preview.registration.check2' | translate }}</label>
                    <span class="ui-lg-3"></span>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12" style="text-align: left;">
                    <span class="ui-lg-3"></span>
                    <label class="ui-g-12 ui-md-12 ui-lg-6" for="check_3"><input type="checkbox" id="check_3"
                                                                                 [(ngModel)]="checkboxes[2]">
                        {{ 'preview.registration.check3' | translate }}</label>
                    <span class="ui-lg-3"></span>
                </div>
            </div>
            <div id="captcha" class="ui-g-12 ui-md-12 ui-lg-12">
                <span class="ui-md-3 ui-g-3 ui-lg-3"></span>
                <ng2-google-recaptcha class="ui-g-12 ui-md-3 ui-lg-6"
                                      siteKey="6LfUthYUAAAAAHdHO9HpCUyptQdYGXXQIFx9Y8zu"
                                      (onCaptchaComplete)="onCaptchaComplete($event)"></ng2-google-recaptcha>
                <span class="ui-md-3 ui-g-3 ui-lg-3"></span>
            </div>
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <div id="navigation-buttons" class="form-group ui-g-12">
                    <div class="ui-lg-3"></div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center !important">
                        <button class="btn btn-primary cancel-button">{{ 'cancel.button' | translate }}</button>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center !important">
                        <button type="submit" class="btn btn-primary publish-button publish-buttonReview"
                                (click)="modal.open()"
                                [disabled]="!checkboxes[0] || !checkboxes[1] || !checkboxes[2] || !successCaptcha">
                            {{'submitregistration.button' | translate }}
                        </button>
                    </div>
                    <div class="ui-lg-3"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="ui-g-1"></div>
    <modal #modal *ngIf="displayConfirmingData">
        <modal-header [show-close]="true">
        </modal-header>
        <modal-body>
            <p class="ModalLoaderDots"><span>.</span><span>.</span><span>.</span></p>
            <h1 class="Modalh1Confirmation">Confirming Data, please wait...</h1>
            <p class="ModalpConfirmation">Your registration to Wifi4EU is in the process of being submitted.<br>Please
                don't
                close this window.</p>
        </modal-body>
        <modal-footer></modal-footer>
    </modal>
</div>
