<div class="ui-g-12 center">
    <div class="ui-g-12 center">
        <span class="ui-g-4"></span>
        <span class="ui-g-4" style="background: #fbfbfb;box-shadow: 0px 1px 2px #888888;">
            <div class="ui-g-12 center">
                <span class="ui-g-3" style="font-size: 150%;color: darkblue;">{{days}}</span>
                <span class="ui-g-3" style="font-size: 150%;color: darkblue;">{{hours}}</span>
                <span class="ui-g-3" style="font-size: 150%;color: darkblue;">{{minutes}}</span>
                <span class="ui-g-3" style="font-size: 150%;color: darkblue;">{{seconds}}</span>
            </div>
            <div class="ui-g-12 center">
                <span class="ui-g-3">{{ 'benefPortal.voucher.days' | translate}}</span>
                <span class="ui-g-3">{{ 'benefPortal.voucher.hours' | translate}}</span>
                <span class="ui-g-3">{{ 'benefPortal.voucher.minutes' | translate}}</span>
                <span class="ui-g-3">{{ 'benefPortal.voucher.seconds' | translate}}</span>
            </div>
        </span>
        <span class="ui-g-4"></span>
    </div>
</div>