<div [ngSwitch]="voucherCompetitionState">
    <!-- no competition created, display warning -->
    <div *ngSwitchCase="0">
        <div class="ui-g-12">
            <span class="ui-g-2"></span>
            <ux-alert class="ui-g-8" styleClass="alert-info"></ux-alert>
            <span class="ui-g-2"></span>
        </div>
        <div class="center">
            <img src="assets/images/notification.png" alt="">
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4"></div>
            <div class="ui-g-4">
                <p class="labelModal">{{ 'benefPortal.voucher.emailNotification' | translate}}</p>
            </div>
            <div class="ui-g-4"></div>
        </div>

        <hr class="beneficiaryHr">
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8 beneficiaryMayor">{{ 'benefPortal.voucher.whats.next' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8">{{ 'benefPortal.voucher.steps' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>
        <div class="ui-g-12 center">
            <div class="ui-g-3"></div>
            <div class="ui-g-2">
                <img src="assets/images/apply.png" alt="">
                <p><span class="dotSteps">1.</span> {{ 'suppPortal.voucher.supplierStep1' | translate}}</p>
            </div>
            <div class="ui-g-2">
                <img src="assets/images/supplier.png" alt="">
                <p><span class="dotSteps">2.</span> {{ 'suppPortal.voucher.supplierStep2' | translate}}</p>
            </div>
            <div class="ui-g-2">
                <img src="assets/images/notificationVoucher.png" alt="">
                <p><span class="dotSteps">3.</span> {{ 'suppPortal.voucher.supplierStep3' | translate}}</p>
            </div>
            <div class="ui-g-3"></div>
        </div>
    </div>
    <!-- no competition active, display timer -->
    <div *ngSwitchCase="1">
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8 beneficiaryMayor">{{ 'benefPortal.voucher.timeleft.title' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>

        <br>
        <div class="ui-g-12 center">
            <timer-component (timerEvent)="checkIfSelected()"
                             [expirationTimestamp]="currentCall.startDate"></timer-component>
        </div>

        <hr class="beneficiaryHr">
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8 beneficiaryMayor">{{ 'benefPortal.voucher.whats.next' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8">{{ 'benefPortal.voucher.steps' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>
        <div class="ui-g-12 center">
            <div class="ui-g-3"></div>
            <div class="ui-g-2">
                <img src="assets/images/apply.png" alt="">
                <p><span class="dotSteps">1.</span> {{ 'suppPortal.voucher.supplierStep1' | translate}}</p>
            </div>
            <div class="ui-g-2">
                <img src="assets/images/supplier.png" alt="">
                <p><span class="dotSteps">2.</span> {{ 'suppPortal.voucher.supplierStep2' | translate}}</p>
            </div>
            <div class="ui-g-2">
                <img src="assets/images/notificationVoucher.png" alt="">
                <p><span class="dotSteps">3.</span> {{ 'suppPortal.voucher.supplierStep3' | translate}}</p>
            </div>
            <div class="ui-g-3"></div>
        </div>
    </div>
    <!-- competition Open, display info -->
    <div *ngSwitchCase="2">
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <ux-alert class="ui-g-8" styleClass="alert-info">{{ 'benefPortal.voucher.statusmessage4' | translate}}
            </ux-alert>
            <span class="ui-g-2"></span>
        </div>
        <br>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8 beneficiaryMayor">{{ 'suppPortal.voucher.competition' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <span class="ui-g-8">{{ 'suppPortal.voucher.competition.desc' | translate}}</span>
            <span class="ui-g-2"></span>
        </div>

        <hr class="beneficiaryHr">
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8 beneficiaryMayor">{{ 'benefPortal.voucher.whats.next' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <h2 class="ui-g-8">{{ 'benefPortal.voucher.steps' | translate}}</h2>
            <span class="ui-g-2"></span>
        </div>
        <div class="ui-g-12 center">
            <div class="ui-g-3"></div>
            <div class="ui-g-2">
                <img src="assets/images/apply.png" alt="">
                <p><span class="dotSteps">1.</span> {{ 'suppPortal.voucher.supplierStep1' | translate}}</p>
            </div>
            <div class="ui-g-2">
                <img src="assets/images/supplier.png" alt="">
                <p><span class="dotSteps">2.</span> {{ 'suppPortal.voucher.supplierStep2' | translate}}</p>
            </div>
            <div class="ui-g-2">
                <img src="assets/images/notificationVoucher.png" alt="">
                <p><span class="dotSteps">3.</span> {{ 'suppPortal.voucher.supplierStep3' | translate}}</p>
            </div>
            <div class="ui-g-3"></div>
        </div>
    </div>
    <!-- Someone has selected you as their supplier, display  -->
    <supplier-municipalities-component *ngSwitchCase="3"></supplier-municipalities-component>
    <!-- a problem occurred -->
    <div *ngSwitchCase="-1">
        <div class="ui-g-12 center">
            <span class="ui-g-2"></span>
            <ux-alert class="ui-g-8" styleClass="alert-danger">{{errorCause | translate}}</ux-alert>
            <span class="ui-g-2"></span>
        </div>
        <br>
        <div class="ui-g-12 center">
            <span class="ui-g-4"></span>
            <button class="btn btn-primary ui-g-4" routerLink="/home" routerLinkActive="active">
                {{ 'benefPortal.voucher.backhome' | translate}}
            </button>
            <span class="ui-g-4"></span>
        </div>
    </div>
</div>