<div class="container">
    <div class="ui-g-12" style="margin-top: 1em; font-size: 14px;">
        <a class="link-label" (click)="goBack()">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i> {{ 'shared.back.button' | translate }}
        </a>
    </div>
    <div class="ui-g-12">
        <p *ngIf="supplier">
            <span class="beneficiaryTitle">
                <span>{{supplier.name}}</span>
            </span>
            <span class="badge badge-success" *ngIf="!supplier.status">
                {{ 'dgConn.beneficiaries.registered' | translate | uppercase }}
            </span>
            <span class="badge badge-fail" *ngIf="supplier.status">
                {{ 'dgConn.badge.invalid' | translate | uppercase }}
            </span>
        </p>
        <p *ngIf="loadingData">
            <i [@enterSpinner] class="fa fa-spinner loading-icon"></i>
        </p>
        <p *ngIf="!supplier && !loadingData">
            {{ 'dgConn.supplierDetails.noneFound' | translate }}
        </p>
        <p *ngIf="supplier && !loadingData">
            {{ 'dgConn.supplierDetails.desc' | translate }}
        </p>
    </div>

    <div *ngIf="supplier">
        <hr class="ui-g-12 dgConnDetailsHr">
        <div class="ui-g-12">
            <div class="row applicantDetailsPanel">
                <span class="right">
                    <button type="button" class="btn redButton" (click)="displayInvalidateModal(true)"
                            [disabled]="supplier.status == 1">
                        {{ 'dgConn.supplierDetails.invalidateSupplier' | translate }}
                    </button>
                </span>
            </div>
            <div class="row applicantDetailsPanel">
                <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12">
                    <p class="applicantDetailsNoMargin municipality-name profileData">
                        <span class="ui-g-12">{{ 'suppRegistration.company.details' | translate }}</span>
                    </p>
                    <p class="applicantDetailsNoMargin ui-g-12" style="padding: 0em;">
                        <span class="ui-g-5">{{ 'suppRegistration.company.name' | translate }}</span>
                        <span class="ui-g-7 profileData">{{ supplier.name }}</span>
                    </p>
                    <p class="applicantDetailsNoMargin ui-g-12" style="padding: 0em;">
                        <span class="ui-g-5">{{ 'suppRegistration.legal.address' | translate }}</span>
                        <span class="ui-g-7 profileData">{{ supplier.address }}</span>
                    </p>
                    <p class="applicantDetailsNoMargin ui-g-12" style="padding: 0em;">
                        <span class="ui-g-5">{{ 'suppRegistration.vat.label' | translate }}</span>
                        <span class="ui-g-7 profileData">{{ supplier.vat }}</span>
                    </p>
                    <p class="applicantDetailsNoMargin ui-g-12" style="padding: 0em;" *ngIf="supplier.website">
                        <span class="ui-g-5">{{ 'suppRegistration.company.web' | translate }}</span>
                        <span class="ui-g-7 profileData">{{ supplier.website }}</span>
                    </p>
                    <p class="applicantDetailsNoMargin ui-g-12" style="padding: 0em;" *ngIf="supplier.logo">
                        <span class="ui-g-5">{{ 'suppRegistration.company.logo' | translate }}</span>
                        <span class="ui-g-7 profileData"><img [src]="supplier.logo" height="50"></span>
                    </p>
                </div>


                <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12">
                    <div *ngFor="let user of supplier.users; let i = index">
                        <p class="applicantDetailsNoMargin municipality-name profileData">
                            <span class="ui-g-12">{{ 'suppRegistration.contact.person' | translate }}  {{i+1}}</span>
                        </p>
                        <p class="applicantDetailsNoMargin ui-g-12" style="padding: 0em;">
                            <span class="ui-g-6">{{ 'suppRegistration.name.label' | translate }}</span>
                            <span class="ui-g-6 profileData">{{ user.name }}</span>
                        </p>
                        <p class="applicantDetailsNoMargin ui-g-12" style="padding: 0em;">
                            <span class="ui-g-6">{{ 'suppRegistration.surname.label' | translate }}</span>
                            <span class="ui-g-6 profileData">{{ user.surname }}</span>
                        </p>
                        <p class="applicantDetailsNoMargin ui-g-12" style="padding: 0em;">
                            <span class="ui-g-6">{{ 'suppRegistration.email.label' | translate }}</span>
                            <span class="ui-g-6 profileData">{{ user.email }}</span>
                        </p>
                        <p class="applicantDetailsNoMargin ui-g-12" style="padding: 0em;">
                            <span class="ui-g-6">{{ 'suppRegistration.phone.number' | translate }}</span>
                            <span class="ui-g-6 profileData">{{ user.phone_prefix }}{{ user.phone_number }}</span>
                        </p>
                        <br><br>
                    </div>  
                </div>




            </div>
            <br>
        </div>
        
        <div *ngIf="similarSuppliers.length > 0">
            <hr class="ui-g-12 dgConnDetailsHr">
            <div class="ui-g-12">
                <p>
                    <span class="beneficiaryTitle">
                        {{ 'dgConn.dupplicatedSuppliers.label' | translate }}
                    </span>
                </p>
                <p>{{ 'dgConn.dupplicatedSuppliers.desc' | translate }}</p>
            </div>
            <div *ngFor="let similarSupplier of similarSuppliers; let i = index">
                <div class="ui-g-12">
                    <div class="row applicantDetailsPanel">
                    <span class="right">
                        <button type="button" class="btn redButton" (click)="displayInvalidateModal(false, i)"
                                [disabled]="similarSupplier.status == 1">
                            {{ 'dgConn.supplierDetails.invalidateSupplier' | translate }}
                        </button>
                    </span>
                    </div>
                    <div class="row applicantDetailsPanel">
                        <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12">
                            <p class="applicantDetailsNoMargin municipality-name profileData">
                                <span class="ui-g-12">{{ 'suppRegistration.company.details' | translate }}</span>
                            </p>
                            <p class="applicantDetailsNoMargin ui-g-12" style="padding: 0em;">
                                <span class="ui-g-5">{{ 'suppRegistration.company.name' | translate }}</span>
                                <span class="ui-g-7 profileData">{{ similarSupplier.name }}</span>
                            </p>
                            <p class="applicantDetailsNoMargin ui-g-12" style="padding: 0em;">
                                <span class="ui-g-5">{{ 'suppRegistration.legal.address' | translate }}</span>
                                <span class="ui-g-7 profileData">{{ similarSupplier.address }}</span>
                            </p>
                            <p class="applicantDetailsNoMargin ui-g-12" style="padding: 0em;">
                                <span class="ui-g-5">{{ 'suppRegistration.vat.label' | translate }}</span>
                                <span class="ui-g-7 profileData">{{ similarSupplier.vat }}</span>
                            </p>
                            <p class="applicantDetailsNoMargin ui-g-12" style="padding: 0em;">
                                <span class="ui-g-5">{{ 'suppRegistration.bank.account' | translate }}</span>
                                <span class="ui-g-7 profileData">{{ similarSupplier.accountNumber }}</span>
                            </p>
                            <p class="applicantDetailsNoMargin ui-g-12" style="padding: 0em;"
                               *ngIf="similarSupplier.website">
                                <span class="ui-g-5">{{ 'suppRegistration.company.web' | translate }}</span>
                                <span class="ui-g-7 profileData">{{ similarSupplier.website }}</span>
                            </p>
                            <p class="applicantDetailsNoMargin ui-g-12" style="padding: 0em;"
                               *ngIf="similarSupplier.logo">
                                <span class="ui-g-5">{{ 'suppRegistration.company.logo' | translate }}</span>
                                <span class="ui-g-7 profileData"><img [src]="similarSupplier.logo" height="50"></span>
                            </p>
                        </div>
                        <div class="ui-g-6 ui-lg-6 ui-md-12 ui-sm-12">
                            <p class="applicantDetailsNoMargin municipality-name profileData">
                                <span class="ui-g-12">{{ 'suppRegistration.contact.person' | translate }}</span>
                            </p>
                            <p class="applicantDetailsNoMargin">
                                <span class="ui-g-6">{{ 'suppRegistration.name.label' | translate }}</span>
                                <span class="ui-g-6 profileData">{{ similarSupplier.contactName }}</span>
                            </p>
                            <p class="applicantDetailsNoMargin">
                                <span class="ui-g-6">{{ 'suppRegistration.surname.label' | translate }}</span>
                                <span class="ui-g-6 profileData">{{ similarSupplier.contactSurname }}</span>
                            </p>
                            <p class="applicantDetailsNoMargin">
                                <span class="ui-g-6">{{ 'suppRegistration.email.label' | translate }}</span>
                                <span class="ui-g-6 profileData">{{ similarSupplier.contactEmail }}</span>
                            </p>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="ui-g-12">
              <div class="paginator" style="position: relative;">
                <p-paginator class="paginator-panel" [first]="page * pageSize" [rows]="pageSize" totalRecords="{{totalRecords}}" #paginator (onPageChange)="paginateSimilarSuppliers($event)" [rowsPerPageOptions]="itemsPerPageSelector"></p-paginator>
                <div class="totalRecords" style="position: absolute; top: 50%; transform: translateY(-50%)">
                    <span style="color: #929292;">{{ 'dgConn.totalRecords' | translate }}: {{totalRecords}} </span>
                </div>
              </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
<div class="container font">
    <p-dialog [(visible)]="displayInvalidate" [modal]="true" [responsive]="true" [resizable]="false"
              [draggable]="false" [closable]="true" [closeOnEscape]="false" (onAfterHide)="closeModal()">
        <form (ngSubmit)="invalidateSupplier()" #invalidateConfirmationForm="ngForm">
            <div class="ui-g-12 center">
                <h2 class="beneficiaryMayor">Do you really want to invalidate this registration?</h2>
            </div>
            <div class="ui-g-12 center">
                <div class="ui-g-6">
                    <button type="button" class="btn btn-primary cancel-button"
                            [disabled]="processingRequest" (click)="closeModal()">
                        {{ 'shared.no' | translate }}
                    </button>
                </div>
                <div class="ui-g-6">
                    <button type="submit" class="btn btn-primary publish-button"
                            [disabled]="processingRequest">
                        {{ 'shared.yes' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </p-dialog>
</div>