<div class="ui-g-1"></div>
<div class="ui-g-10">
    <div class="ui-g-12 center">
        Problems with your registration? Please click here to <a (click)="expanded = true">contact the Help-Desk</a>
    </div>
    <div id="helpdesk-form" class="ui-g-12" [hidden]="!expanded">
        <br>
        <hr class="ui-g-12 center">
        <br>
        <div class="ui-g-1"></div>
        <form class="ui-g-10" (ngSubmit)="sendIssue()" #issueForm="ngForm">
            <label for="problem_type">Select type of problem from the list</label><br>
            <select class="form-control" name="problem_type" id="problem_type" [(ngModel)]="helpdeskIssue.topic"
                    required>
                <option value="Login">Login</option>
                <option value="Registration">Registration</option>
                <option value="Password">Password</option>
                <option value="Other">Other</option>
            </select><br><br>
            <label for="problem_desc">Describe the problem</label><br>
            <textarea id="problem_desc" name="problem_desc" class="ui-g-12" [(ngModel)]="helpdeskIssue.issueSummary"
                      required></textarea><br><br>
            <label for="from">Your email</label><br>
            <input id="from" class="ui-g-12" type="email" name="from" #from="ngModel" [(ngModel)]="helpdeskIssue.from"
                   required><br><br>
            <label for="problem_country">Country</label><br>
            <select class="form-control" name="problem_country" id="problem_country"
                    [(ngModel)]="helpdeskIssue.memberState">
                <option selected disabled>Select</option>
                <option *ngFor="let nut of nuts" [value]="nut.name">{{nut.name}}</option>
            </select><br><br>
            <div class="form-group ui-g">
                <div class="ui-g-4"></div>
                <div class="ui-g-2" style="text-align: center !important">
                    <button type="button" class="btn">{{ 'cancel.button' | translate }}</button>
                </div>
                <div class="ui-g-2" style="text-align: center !important">
                    <button type="submit" class="btn btn-primary" [disabled]="!issueForm.form.valid">Send message
                    </button>
                </div>
                <div class="ui-g-4"></div>
            </div>
        </form>
        <div class="ui-g-1"></div>
    </div>
</div>
<div class="ui-g-1"></div>