<form (ngSubmit)="onSubmit()" #loginForm="ngForm">

    <h3 class="center beneficiaryTitle labelModal">{{ 'shared.login.title' | translate }}</h3>

    <div class="form-group ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" [(ngModel)]="userDTO.email"
                       class="form-control"
                       name="email" ngcontrol="email"
                       #email="ngModel" required>
                <div [hidden]="email.valid || email.pristine"
                     class="alert alert-danger">Email is
                    required
                </div>
            </div>
        </div>
        <div class="ui-lg-3"></div>
    </div>
    <div class="form-group ui-g">
        <div class="ui-lg-3"></div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="form-group">
                <label class="label" for="password">Password</label>
                <input type="password"
                       [(ngModel)]="userDTO.password"
                       class="form-control"
                       name="password" ngcontrol="password"
                       #password="ngModel" required>
                <div [hidden]="password.valid || password.pristine"
                     class="alert alert-danger">Password is
                    required
                </div>
            </div>
        </div>
        <div class="ui-lg-3"></div>
    </div>
    <div class="form-group ui-g">
        <div class="ui-g-4"></div>
        <div class="ui-g-4" style="text-align: center !important">
            <button type="submit" class="btn btn-primary publish-button"
                    [disabled]="!loginForm.form.valid">Login
            </button>
        </div>
        <div class="ui-g-4"></div>
    </div>
</form>
<p-dialog [(visible)]="displayConfirmingData" [modal]="true" [responsive]="true"
          [resizable]="false"
          [draggable]="false" [closable]="false" [closeOnEscape]="false">
    <p class="ModalLoaderDots"><span>.</span><span>.</span><span>.</span></p>
    <h1 class="Modalh1Confirmation">Confirming Data, please wait...</h1>
    <p class="ModalpConfirmation">Your registration to Wifi4EU is in the process
        of being submitted.<br>Please don't
        close this window.</p>
</p-dialog>