<div class="ui-g">
    <div class="ui-g-12 center" style="text-align: center !important">
        <i class="zmdi zmdi-close-circle fa-3x"></i><br>
        <h2>{{ 'shared.submitregistration.failure.title' | translate }}</h2>
        <br>
        <p>{{ 'shared.submitregistration.failure.text.part1' | translate }}</p>
        <br>
        <button class="btn btn-primary" routerLink="/home" routerLinkActive="active">{{ 'shared.backtohome.button' |
            translate}}
        </button>
    </div>
</div>